/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ReportBrandDataV30ApiService ReportBrandDataV30Api service
type ReportBrandDataV30ApiService service

type ApiOpenApiV30ReportBrandDataGetRequest struct {
	ctx            context.Context
	ApiService     *ReportBrandDataV30ApiService
	advertiserId   *int64
	dataReportType *ReportBrandDataV30DataReportType
	startTime      *string
	endTime        *string
	timeDimension  *ReportBrandDataV30TimeDimension
	pageType       *ReportBrandDataV30PageType
	filter         *ReportBrandDataV30Filter
	metrics        *[]string
	page           *ReportBrandDataV30Page
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) DataReportType(dataReportType ReportBrandDataV30DataReportType) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.dataReportType = &dataReportType
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) StartTime(startTime string) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.startTime = &startTime
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) EndTime(endTime string) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.endTime = &endTime
	return r
}

// 按时间维度拆分
func (r *ApiOpenApiV30ReportBrandDataGetRequest) TimeDimension(timeDimension ReportBrandDataV30TimeDimension) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.timeDimension = &timeDimension
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) PageType(pageType ReportBrandDataV30PageType) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.pageType = &pageType
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) Filter(filter ReportBrandDataV30Filter) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.filter = &filter
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) Metrics(metrics []string) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.metrics = &metrics
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) Page(page ReportBrandDataV30Page) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) Execute() (*ReportBrandDataV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ReportBrandDataGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ReportBrandDataGetRequest) WithLog(enable bool) *ApiOpenApiV30ReportBrandDataGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ReportBrandDataGet Method for OpenApiV30ReportBrandDataGet

查询品牌自助2.0数据报表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ReportBrandDataGetRequest
*/
func (a *ReportBrandDataV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ReportBrandDataGetRequest {
	return &ApiOpenApiV30ReportBrandDataGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportBrandDataV30Response
func (a *ReportBrandDataV30ApiService) getExecute(r *ApiOpenApiV30ReportBrandDataGetRequest) (*ReportBrandDataV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ReportBrandDataV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/report/brand/data/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.dataReportType == nil {
		return localVarReturnValue, nil, ReportError("dataReportType is required and must be specified")
	}
	if r.startTime == nil {
		return localVarReturnValue, nil, ReportError("startTime is required and must be specified")
	}
	if r.endTime == nil {
		return localVarReturnValue, nil, ReportError("endTime is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "data_report_type", r.dataReportType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	if r.timeDimension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_dimension", r.timeDimension)
	}
	if r.pageType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_type", r.pageType)
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter)
	}
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
