/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaAlbumCreateV30ApiService DpaAlbumCreateV30Api service
type DpaAlbumCreateV30ApiService service

type ApiOpenApiV30DpaAlbumCreatePostRequest struct {
	ctx                      context.Context
	ApiService               *DpaAlbumCreateV30ApiService
	dpaAlbumCreateV30Request *DpaAlbumCreateV30Request
}

func (r *ApiOpenApiV30DpaAlbumCreatePostRequest) DpaAlbumCreateV30Request(dpaAlbumCreateV30Request DpaAlbumCreateV30Request) *ApiOpenApiV30DpaAlbumCreatePostRequest {
	r.dpaAlbumCreateV30Request = &dpaAlbumCreateV30Request
	return r
}

func (r *ApiOpenApiV30DpaAlbumCreatePostRequest) Execute() (*DpaAlbumCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DpaAlbumCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaAlbumCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaAlbumCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30DpaAlbumCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaAlbumCreatePost Method for OpenApiV30DpaAlbumCreatePost

上传短剧信息，创建短剧

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaAlbumCreatePostRequest
*/
func (a *DpaAlbumCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DpaAlbumCreatePostRequest {
	return &ApiOpenApiV30DpaAlbumCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaAlbumCreateV30Response
func (a *DpaAlbumCreateV30ApiService) postExecute(r *ApiOpenApiV30DpaAlbumCreatePostRequest) (*DpaAlbumCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaAlbumCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/album/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dpaAlbumCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
