/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// OcProjectMaterialGetV30ApiService OcProjectMaterialGetV30Api service
type OcProjectMaterialGetV30ApiService service

type ApiOpenApiV30OcProjectMaterialGetGetRequest struct {
	ctx          context.Context
	ApiService   *OcProjectMaterialGetV30ApiService
	advertiserId *int64
	projectId    *int64
	filtering    *OcProjectMaterialGetV30Filtering
	page         *int64
	pageSize     *int64
}

func (r *ApiOpenApiV30OcProjectMaterialGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30OcProjectMaterialGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV30OcProjectMaterialGetGetRequest) ProjectId(projectId int64) *ApiOpenApiV30OcProjectMaterialGetGetRequest {
	r.projectId = &projectId
	return r
}

// 过滤器
func (r *ApiOpenApiV30OcProjectMaterialGetGetRequest) Filtering(filtering OcProjectMaterialGetV30Filtering) *ApiOpenApiV30OcProjectMaterialGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30OcProjectMaterialGetGetRequest) Page(page int64) *ApiOpenApiV30OcProjectMaterialGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30OcProjectMaterialGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30OcProjectMaterialGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30OcProjectMaterialGetGetRequest) Execute() (*OcProjectMaterialGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30OcProjectMaterialGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30OcProjectMaterialGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30OcProjectMaterialGetGetRequest) WithLog(enable bool) *ApiOpenApiV30OcProjectMaterialGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30OcProjectMaterialGetGet Method for OpenApiV30OcProjectMaterialGetGet

获取投放项目下素材

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30OcProjectMaterialGetGetRequest
*/
func (a *OcProjectMaterialGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30OcProjectMaterialGetGetRequest {
	return &ApiOpenApiV30OcProjectMaterialGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OcProjectMaterialGetV30Response
func (a *OcProjectMaterialGetV30ApiService) getExecute(r *ApiOpenApiV30OcProjectMaterialGetGetRequest) (*OcProjectMaterialGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *OcProjectMaterialGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/oc_project/material/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.projectId == nil {
		return localVarReturnValue, nil, ReportError("projectId is required and must be specified")
	}
	if *r.projectId < 1 {
		return localVarReturnValue, nil, ReportError("projectId must be greater than 1")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
