/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BudgetGroupDeleteV30ApiService BudgetGroupDeleteV30Api service
type BudgetGroupDeleteV30ApiService service

type ApiOpenApiV30BudgetGroupDeletePostRequest struct {
	ctx                         context.Context
	ApiService                  *BudgetGroupDeleteV30ApiService
	budgetGroupDeleteV30Request *BudgetGroupDeleteV30Request
}

func (r *ApiOpenApiV30BudgetGroupDeletePostRequest) BudgetGroupDeleteV30Request(budgetGroupDeleteV30Request BudgetGroupDeleteV30Request) *ApiOpenApiV30BudgetGroupDeletePostRequest {
	r.budgetGroupDeleteV30Request = &budgetGroupDeleteV30Request
	return r
}

func (r *ApiOpenApiV30BudgetGroupDeletePostRequest) Execute() (*BudgetGroupDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BudgetGroupDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BudgetGroupDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BudgetGroupDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30BudgetGroupDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BudgetGroupDeletePost Method for OpenApiV30BudgetGroupDeletePost

删除预算组，删除后关联的项目不受影响，继续以项目预算进行推广

- 预算组删除后不可恢复、不可见
- 预算组内无项目、项目均为已删除时，才支持删除预算组

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BudgetGroupDeletePostRequest
*/
func (a *BudgetGroupDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BudgetGroupDeletePostRequest {
	return &ApiOpenApiV30BudgetGroupDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BudgetGroupDeleteV30Response
func (a *BudgetGroupDeleteV30ApiService) postExecute(r *ApiOpenApiV30BudgetGroupDeletePostRequest) (*BudgetGroupDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BudgetGroupDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/budget_group/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.budgetGroupDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
