/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// IdTypeGetV10ApiService IdTypeGetV10Api service
type IdTypeGetV10ApiService service

type ApiOpenApiV10IdTypeGetGetRequest struct {
	ctx        context.Context
	ApiService *IdTypeGetV10ApiService
	entityId   *string
	extra      *map[string]string
}

// 实体Id（必填）
func (r *ApiOpenApiV10IdTypeGetGetRequest) EntityId(entityId string) *ApiOpenApiV10IdTypeGetGetRequest {
	r.entityId = &entityId
	return r
}

// 扩展字段（选填）
func (r *ApiOpenApiV10IdTypeGetGetRequest) Extra(extra map[string]string) *ApiOpenApiV10IdTypeGetGetRequest {
	r.extra = &extra
	return r
}

func (r *ApiOpenApiV10IdTypeGetGetRequest) Execute() (*IdTypeGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10IdTypeGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10IdTypeGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10IdTypeGetGetRequest) WithLog(enable bool) *ApiOpenApiV10IdTypeGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10IdTypeGetGet Method for OpenApiV10IdTypeGetGet

给定一个ID, 识别出ID对应的类型

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10IdTypeGetGetRequest
*/
func (a *IdTypeGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10IdTypeGetGetRequest {
	return &ApiOpenApiV10IdTypeGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IdTypeGetV10Response
func (a *IdTypeGetV10ApiService) getExecute(r *ApiOpenApiV10IdTypeGetGetRequest) (*IdTypeGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *IdTypeGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/id_type/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.entityId == nil {
		return localVarReturnValue, nil, ReportError("entityId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "entity_id", r.entityId)
	if r.extra != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extra", r.extra)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
