/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DmpDataSourceUpdateV2ApiService DmpDataSourceUpdateV2Api service
type DmpDataSourceUpdateV2ApiService service

type ApiOpenApi2DmpDataSourceUpdatePostRequest struct {
	ctx                          context.Context
	ApiService                   *DmpDataSourceUpdateV2ApiService
	dmpDataSourceUpdateV2Request *DmpDataSourceUpdateV2Request
}

func (r *ApiOpenApi2DmpDataSourceUpdatePostRequest) DmpDataSourceUpdateV2Request(dmpDataSourceUpdateV2Request DmpDataSourceUpdateV2Request) *ApiOpenApi2DmpDataSourceUpdatePostRequest {
	r.dmpDataSourceUpdateV2Request = &dmpDataSourceUpdateV2Request
	return r
}

func (r *ApiOpenApi2DmpDataSourceUpdatePostRequest) Execute() (*DmpDataSourceUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2DmpDataSourceUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2DmpDataSourceUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2DmpDataSourceUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2DmpDataSourceUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2DmpDataSourceUpdatePost Method for OpenApi2DmpDataSourceUpdatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2DmpDataSourceUpdatePostRequest
*/
func (a *DmpDataSourceUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2DmpDataSourceUpdatePostRequest {
	return &ApiOpenApi2DmpDataSourceUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DmpDataSourceUpdateV2Response
func (a *DmpDataSourceUpdateV2ApiService) postExecute(r *ApiOpenApi2DmpDataSourceUpdatePostRequest) (*DmpDataSourceUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DmpDataSourceUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/dmp/data_source/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dmpDataSourceUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
