/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanAdGetV10ApiService QianchuanAdGetV10Api service
type QianchuanAdGetV10ApiService service

type ApiOpenApiV10QianchuanAdGetGetRequest struct {
	ctx              context.Context
	ApiService       *QianchuanAdGetV10ApiService
	advertiserId     *int64
	filtering        *QianchuanAdGetV10Filtering
	requestAwemeInfo *int64
	page             *int32
	pageSize         *int32
}

func (r *ApiOpenApiV10QianchuanAdGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanAdGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanAdGetGetRequest) Filtering(filtering QianchuanAdGetV10Filtering) *ApiOpenApiV10QianchuanAdGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV10QianchuanAdGetGetRequest) RequestAwemeInfo(requestAwemeInfo int64) *ApiOpenApiV10QianchuanAdGetGetRequest {
	r.requestAwemeInfo = &requestAwemeInfo
	return r
}

func (r *ApiOpenApiV10QianchuanAdGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanAdGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV10QianchuanAdGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV10QianchuanAdGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanAdGetGetRequest) Execute() (*QianchuanAdGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanAdGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanAdGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanAdGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanAdGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanAdGetGet Method for OpenApiV10QianchuanAdGetGet

用于获取千川广告账户下创建的计划列表（不含创意部分） 默认可以拉取全部计划详情，可以通过过滤拉取部分计划

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanAdGetGetRequest
*/
func (a *QianchuanAdGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanAdGetGetRequest {
	return &ApiOpenApiV10QianchuanAdGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanAdGetV10Response
func (a *QianchuanAdGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanAdGetGetRequest) (*QianchuanAdGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanAdGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/ad/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.requestAwemeInfo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request_aweme_info", r.requestAwemeInfo)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
