/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsJointBidCreateV30ApiService ToolsJointBidCreateV30Api service
type ToolsJointBidCreateV30ApiService service

type ApiOpenApiV30ToolsJointBidCreatePostRequest struct {
	ctx                           context.Context
	ApiService                    *ToolsJointBidCreateV30ApiService
	toolsJointBidCreateV30Request *ToolsJointBidCreateV30Request
}

func (r *ApiOpenApiV30ToolsJointBidCreatePostRequest) ToolsJointBidCreateV30Request(toolsJointBidCreateV30Request ToolsJointBidCreateV30Request) *ApiOpenApiV30ToolsJointBidCreatePostRequest {
	r.toolsJointBidCreateV30Request = &toolsJointBidCreateV30Request
	return r
}

func (r *ApiOpenApiV30ToolsJointBidCreatePostRequest) Execute() (*ToolsJointBidCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ToolsJointBidCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsJointBidCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsJointBidCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30ToolsJointBidCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsJointBidCreatePost Method for OpenApiV30ToolsJointBidCreatePost

创建联合出价工具

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsJointBidCreatePostRequest
*/
func (a *ToolsJointBidCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ToolsJointBidCreatePostRequest {
	return &ApiOpenApiV30ToolsJointBidCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsJointBidCreateV30Response
func (a *ToolsJointBidCreateV30ApiService) postExecute(r *ApiOpenApiV30ToolsJointBidCreatePostRequest) (*ToolsJointBidCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsJointBidCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/joint_bid/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsJointBidCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
