/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// SharedWalletWalletAdvOperationLogGetV30ApiService SharedWalletWalletAdvOperationLogGetV30Api service
type SharedWalletWalletAdvOperationLogGetV30ApiService service

type ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest struct {
	ctx         context.Context
	ApiService  *SharedWalletWalletAdvOperationLogGetV30ApiService
	accountId   *int64
	accountType *SharedWalletWalletAdvOperationLogGetV30AccountType
	walletId    *int64
	filtering   *SharedWalletWalletAdvOperationLogGetV30Filtering
	page        *int64
	pageSize    *int64
}

func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	r.accountId = &accountId
	return r
}

// 账号类型，代理商/直客
func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) AccountType(accountType SharedWalletWalletAdvOperationLogGetV30AccountType) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	r.accountType = &accountType
	return r
}

// 操作的目标
func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) WalletId(walletId int64) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	r.walletId = &walletId
	return r
}

// 过滤条件
func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) Filtering(filtering SharedWalletWalletAdvOperationLogGetV30Filtering) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码
func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) Page(page int64) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	r.page = &page
	return r
}

// 每页数量
func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) Execute() (*SharedWalletWalletAdvOperationLogGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) WithLog(enable bool) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30SharedWalletWalletAdvOperationLogGetGet Method for OpenApiV30SharedWalletWalletAdvOperationLogGetGet

查询ADV粒度的共享钱包操作记录

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest
*/
func (a *SharedWalletWalletAdvOperationLogGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest {
	return &ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SharedWalletWalletAdvOperationLogGetV30Response
func (a *SharedWalletWalletAdvOperationLogGetV30ApiService) getExecute(r *ApiOpenApiV30SharedWalletWalletAdvOperationLogGetGetRequest) (*SharedWalletWalletAdvOperationLogGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *SharedWalletWalletAdvOperationLogGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/shared_wallet/wallet_adv_operation_log/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.walletId == nil {
		return localVarReturnValue, nil, ReportError("walletId is required and must be specified")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if *r.page < 1 {
		return localVarReturnValue, nil, ReportError("page must be greater than 1")
	}
	if *r.page > 10000 {
		return localVarReturnValue, nil, ReportError("page must be less than 10000")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}
	if *r.pageSize < 10 {
		return localVarReturnValue, nil, ReportError("pageSize must be greater than 10")
	}
	if *r.pageSize > 100 {
		return localVarReturnValue, nil, ReportError("pageSize must be less than 100")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
