/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarDemandCreateAssignV2ApiService StarDemandCreateAssignV2Api service
type StarDemandCreateAssignV2ApiService service

type ApiOpenApi2StarDemandCreateAssignPostRequest struct {
	ctx                             context.Context
	ApiService                      *StarDemandCreateAssignV2ApiService
	starDemandCreateAssignV2Request *StarDemandCreateAssignV2Request
}

func (r *ApiOpenApi2StarDemandCreateAssignPostRequest) StarDemandCreateAssignV2Request(starDemandCreateAssignV2Request StarDemandCreateAssignV2Request) *ApiOpenApi2StarDemandCreateAssignPostRequest {
	r.starDemandCreateAssignV2Request = &starDemandCreateAssignV2Request
	return r
}

func (r *ApiOpenApi2StarDemandCreateAssignPostRequest) Execute() (*StarDemandCreateAssignV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2StarDemandCreateAssignPostRequest) AccessToken(accessToken string) *ApiOpenApi2StarDemandCreateAssignPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarDemandCreateAssignPostRequest) WithLog(enable bool) *ApiOpenApi2StarDemandCreateAssignPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarDemandCreateAssignPost Method for OpenApi2StarDemandCreateAssignPost

指派需求创建

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarDemandCreateAssignPostRequest
*/
func (a *StarDemandCreateAssignV2ApiService) Post(ctx context.Context) *ApiOpenApi2StarDemandCreateAssignPostRequest {
	return &ApiOpenApi2StarDemandCreateAssignPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarDemandCreateAssignV2Response
func (a *StarDemandCreateAssignV2ApiService) postExecute(r *ApiOpenApi2StarDemandCreateAssignPostRequest) (*StarDemandCreateAssignV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarDemandCreateAssignV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/demand/create_assign/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.starDemandCreateAssignV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
