/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FileImageDeleteV30ApiService FileImageDeleteV30Api service
type FileImageDeleteV30ApiService service

type ApiOpenApiV30FileImageDeletePostRequest struct {
	ctx                       context.Context
	ApiService                *FileImageDeleteV30ApiService
	fileImageDeleteV30Request *FileImageDeleteV30Request
}

func (r *ApiOpenApiV30FileImageDeletePostRequest) FileImageDeleteV30Request(fileImageDeleteV30Request FileImageDeleteV30Request) *ApiOpenApiV30FileImageDeletePostRequest {
	r.fileImageDeleteV30Request = &fileImageDeleteV30Request
	return r
}

func (r *ApiOpenApiV30FileImageDeletePostRequest) Execute() (*FileImageDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30FileImageDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30FileImageDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30FileImageDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30FileImageDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30FileImageDeletePost Method for OpenApiV30FileImageDeletePost

通过此接口，用户可以批量删除广告主下创意素材库的图片。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30FileImageDeletePostRequest
*/
func (a *FileImageDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30FileImageDeletePostRequest {
	return &ApiOpenApiV30FileImageDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileImageDeleteV30Response
func (a *FileImageDeleteV30ApiService) postExecute(r *ApiOpenApiV30FileImageDeletePostRequest) (*FileImageDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FileImageDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/file/image/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.fileImageDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
