/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanKeywordCheckV10ApiService QianchuanKeywordCheckV10Api service
type QianchuanKeywordCheckV10ApiService service

type ApiOpenApiV10QianchuanKeywordCheckPostRequest struct {
	ctx                             context.Context
	ApiService                      *QianchuanKeywordCheckV10ApiService
	qianchuanKeywordCheckV10Request *QianchuanKeywordCheckV10Request
}

func (r *ApiOpenApiV10QianchuanKeywordCheckPostRequest) QianchuanKeywordCheckV10Request(qianchuanKeywordCheckV10Request QianchuanKeywordCheckV10Request) *ApiOpenApiV10QianchuanKeywordCheckPostRequest {
	r.qianchuanKeywordCheckV10Request = &qianchuanKeywordCheckV10Request
	return r
}

func (r *ApiOpenApiV10QianchuanKeywordCheckPostRequest) Execute() (*QianchuanKeywordCheckV10Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV10QianchuanKeywordCheckPostRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanKeywordCheckPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanKeywordCheckPostRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanKeywordCheckPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanKeywordCheckPost Method for OpenApiV10QianchuanKeywordCheckPost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanKeywordCheckPostRequest
*/
func (a *QianchuanKeywordCheckV10ApiService) Post(ctx context.Context) *ApiOpenApiV10QianchuanKeywordCheckPostRequest {
	return &ApiOpenApiV10QianchuanKeywordCheckPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanKeywordCheckV10Response
func (a *QianchuanKeywordCheckV10ApiService) postExecute(r *ApiOpenApiV10QianchuanKeywordCheckPostRequest) (*QianchuanKeywordCheckV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanKeywordCheckV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/keyword/check/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.qianchuanKeywordCheckV10Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
