/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpStarTaskListV30ApiService ToolsEbpStarTaskListV30Api service
type ToolsEbpStarTaskListV30ApiService service

type ApiOpenApiV30ToolsEbpStarTaskListGetRequest struct {
	ctx            context.Context
	ApiService     *ToolsEbpStarTaskListV30ApiService
	accountId      *int64
	startDate      *string
	endDate        *string
	accountType    *ToolsEbpStarTaskListV30AccountType
	starTaskSource *ToolsEbpStarTaskListV30StarTaskSource
	filtering      *ToolsEbpStarTaskListV30Filtering
	orderField     *string
	orderType      *ToolsEbpStarTaskListV30OrderType
	page           *int32
	pageSize       *int32
}

func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.accountId = &accountId
	return r
}

// 查询起始日期
func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) StartDate(startDate string) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.startDate = &startDate
	return r
}

// 查询结束日期
func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) EndDate(endDate string) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.endDate = &endDate
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) AccountType(accountType ToolsEbpStarTaskListV30AccountType) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.accountType = &accountType
	return r
}

// 创建来源，允许值： MY_CREATIONS 归属组织管理 SHARING 组织被共享
func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) StarTaskSource(starTaskSource ToolsEbpStarTaskListV30StarTaskSource) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.starTaskSource = &starTaskSource
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) Filtering(filtering ToolsEbpStarTaskListV30Filtering) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.filtering = &filtering
	return r
}

// 排序字段
func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) OrderField(orderField string) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.orderField = &orderField
	return r
}

// 排序方式
func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) OrderType(orderType ToolsEbpStarTaskListV30OrderType) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.orderType = &orderType
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) Page(page int32) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) PageSize(pageSize int32) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) Execute() (*ToolsEbpStarTaskListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpStarTaskListGet Method for OpenApiV30ToolsEbpStarTaskListGet

获取EBP星广联投任务列表和数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpStarTaskListGetRequest
*/
func (a *ToolsEbpStarTaskListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpStarTaskListGetRequest {
	return &ApiOpenApiV30ToolsEbpStarTaskListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpStarTaskListV30Response
func (a *ToolsEbpStarTaskListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpStarTaskListGetRequest) (*ToolsEbpStarTaskListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpStarTaskListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/star_task/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	}
	if r.starTaskSource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "star_task_source", r.starTaskSource)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
