/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// NativeAnchorDeleteV30ApiService NativeAnchorDeleteV30Api service
type NativeAnchorDeleteV30ApiService service

type ApiOpenApiV30NativeAnchorDeletePostRequest struct {
	ctx                          context.Context
	ApiService                   *NativeAnchorDeleteV30ApiService
	nativeAnchorDeleteV30Request *NativeAnchorDeleteV30Request
}

func (r *ApiOpenApiV30NativeAnchorDeletePostRequest) NativeAnchorDeleteV30Request(nativeAnchorDeleteV30Request NativeAnchorDeleteV30Request) *ApiOpenApiV30NativeAnchorDeletePostRequest {
	r.nativeAnchorDeleteV30Request = &nativeAnchorDeleteV30Request
	return r
}

func (r *ApiOpenApiV30NativeAnchorDeletePostRequest) Execute() (*NativeAnchorDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30NativeAnchorDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30NativeAnchorDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30NativeAnchorDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30NativeAnchorDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30NativeAnchorDeletePost Method for OpenApiV30NativeAnchorDeletePost

删除原生锚点

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30NativeAnchorDeletePostRequest
*/
func (a *NativeAnchorDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30NativeAnchorDeletePostRequest {
	return &ApiOpenApiV30NativeAnchorDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NativeAnchorDeleteV30Response
func (a *NativeAnchorDeleteV30ApiService) postExecute(r *ApiOpenApiV30NativeAnchorDeletePostRequest) (*NativeAnchorDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *NativeAnchorDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/native_anchor/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.nativeAnchorDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
