/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ReportRtaGetV2ApiService ReportRtaGetV2Api service
type ReportRtaGetV2ApiService service

type ApiOpenApi2ReportRtaGetGetRequest struct {
	ctx             context.Context
	ApiService      *ReportRtaGetV2ApiService
	advertiserId    *int64
	endDate         *string
	orderField      *ReportRtaGetV2OrderField
	orderType       *ReportRtaGetV2OrderType
	page            *int64
	pageSize        *int64
	reportType      *ReportRtaGetV2ReportType
	startDate       *string
	timeGranularity *ReportRtaGetV2TimeGranularity
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2ReportRtaGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) EndDate(endDate string) *ApiOpenApi2ReportRtaGetGetRequest {
	r.endDate = &endDate
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) OrderField(orderField ReportRtaGetV2OrderField) *ApiOpenApi2ReportRtaGetGetRequest {
	r.orderField = &orderField
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) OrderType(orderType ReportRtaGetV2OrderType) *ApiOpenApi2ReportRtaGetGetRequest {
	r.orderType = &orderType
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) Page(page int64) *ApiOpenApi2ReportRtaGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) PageSize(pageSize int64) *ApiOpenApi2ReportRtaGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) ReportType(reportType ReportRtaGetV2ReportType) *ApiOpenApi2ReportRtaGetGetRequest {
	r.reportType = &reportType
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) StartDate(startDate string) *ApiOpenApi2ReportRtaGetGetRequest {
	r.startDate = &startDate
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) TimeGranularity(timeGranularity ReportRtaGetV2TimeGranularity) *ApiOpenApi2ReportRtaGetGetRequest {
	r.timeGranularity = &timeGranularity
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) Execute() (*ReportRtaGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2ReportRtaGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ReportRtaGetGetRequest) WithLog(enable bool) *ApiOpenApi2ReportRtaGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ReportRtaGetGet Method for OpenApi2ReportRtaGetGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ReportRtaGetGetRequest
*/
func (a *ReportRtaGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2ReportRtaGetGetRequest {
	return &ApiOpenApi2ReportRtaGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportRtaGetV2Response
func (a *ReportRtaGetV2ApiService) getExecute(r *ApiOpenApi2ReportRtaGetGetRequest) (*ReportRtaGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ReportRtaGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/report/rta/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.reportType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "report_type", r.reportType)
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	}
	if r.timeGranularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_granularity", r.timeGranularity)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
