/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdShopInfoUpdateV30ApiService AdShopInfoUpdateV30Api service
type AdShopInfoUpdateV30ApiService service

type ApiOpenApiV30AdShopInfoUpdatePostRequest struct {
	ctx                        context.Context
	ApiService                 *AdShopInfoUpdateV30ApiService
	adShopInfoUpdateV30Request *AdShopInfoUpdateV30Request
}

func (r *ApiOpenApiV30AdShopInfoUpdatePostRequest) AdShopInfoUpdateV30Request(adShopInfoUpdateV30Request AdShopInfoUpdateV30Request) *ApiOpenApiV30AdShopInfoUpdatePostRequest {
	r.adShopInfoUpdateV30Request = &adShopInfoUpdateV30Request
	return r
}

func (r *ApiOpenApiV30AdShopInfoUpdatePostRequest) Execute() (*AdShopInfoUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30AdShopInfoUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30AdShopInfoUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30AdShopInfoUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30AdShopInfoUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30AdShopInfoUpdatePost Method for OpenApiV30AdShopInfoUpdatePost

店铺信息更新

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30AdShopInfoUpdatePostRequest
*/
func (a *AdShopInfoUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30AdShopInfoUpdatePostRequest {
	return &ApiOpenApiV30AdShopInfoUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdShopInfoUpdateV30Response
func (a *AdShopInfoUpdateV30ApiService) postExecute(r *ApiOpenApiV30AdShopInfoUpdatePostRequest) (*AdShopInfoUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdShopInfoUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/ad/shop_info/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.adShopInfoUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
