/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueFormDeleteV2ApiService ClueFormDeleteV2Api service
type ClueFormDeleteV2ApiService service

type ApiOpenApi2ClueFormDeletePostRequest struct {
	ctx                     context.Context
	ApiService              *ClueFormDeleteV2ApiService
	clueFormDeleteV2Request *ClueFormDeleteV2Request
}

func (r *ApiOpenApi2ClueFormDeletePostRequest) ClueFormDeleteV2Request(clueFormDeleteV2Request ClueFormDeleteV2Request) *ApiOpenApi2ClueFormDeletePostRequest {
	r.clueFormDeleteV2Request = &clueFormDeleteV2Request
	return r
}

func (r *ApiOpenApi2ClueFormDeletePostRequest) Execute() (*ClueFormDeleteV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ClueFormDeletePostRequest) AccessToken(accessToken string) *ApiOpenApi2ClueFormDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueFormDeletePostRequest) WithLog(enable bool) *ApiOpenApi2ClueFormDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueFormDeletePost Method for OpenApi2ClueFormDeletePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueFormDeletePostRequest
*/
func (a *ClueFormDeleteV2ApiService) Post(ctx context.Context) *ApiOpenApi2ClueFormDeletePostRequest {
	return &ApiOpenApi2ClueFormDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueFormDeleteV2Response
func (a *ClueFormDeleteV2ApiService) postExecute(r *ApiOpenApi2ClueFormDeletePostRequest) (*ClueFormDeleteV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueFormDeleteV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/form/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.clueFormDeleteV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
