/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanCarouselAwemeGetV10ApiService QianchuanCarouselAwemeGetV10Api service
type QianchuanCarouselAwemeGetV10ApiService service

type ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanCarouselAwemeGetV10ApiService
	advertiserId *int64
	awemeId      *int64
	filtering    *QianchuanCarouselAwemeGetV10Filtering
	cursor       *int64
	count        *int64
	orderField   *QianchuanCarouselAwemeGetV10OrderField
	orderType    *QianchuanCarouselAwemeGetV10OrderType
}

func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 抖音号uid
func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	r.awemeId = &awemeId
	return r
}

func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) Filtering(filtering QianchuanCarouselAwemeGetV10Filtering) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) Cursor(cursor int64) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	r.cursor = &cursor
	return r
}

func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) Count(count int64) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	r.count = &count
	return r
}

// 排序字段
func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) OrderField(orderField QianchuanCarouselAwemeGetV10OrderField) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	r.orderField = &orderField
	return r
}

// 排序方式
func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) OrderType(orderType QianchuanCarouselAwemeGetV10OrderType) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	r.orderType = &orderType
	return r
}

func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) Execute() (*QianchuanCarouselAwemeGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanCarouselAwemeGetGet Method for OpenApiV10QianchuanCarouselAwemeGetGet

通过商品id获取抖音号下已有的图文素材，当前仅短视频带货支持，必须传商品id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest
*/
func (a *QianchuanCarouselAwemeGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest {
	return &ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanCarouselAwemeGetV10Response
func (a *QianchuanCarouselAwemeGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanCarouselAwemeGetGetRequest) (*QianchuanCarouselAwemeGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanCarouselAwemeGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/carousel/aweme/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.awemeId == nil {
		return localVarReturnValue, nil, ReportError("awemeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
