/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpWechatAppletListV30ApiService ToolsEbpWechatAppletListV30Api service
type ToolsEbpWechatAppletListV30ApiService service

type ApiOpenApiV30ToolsEbpWechatAppletListGetRequest struct {
	ctx                  context.Context
	ApiService           *ToolsEbpWechatAppletListV30ApiService
	accountId            *int64
	accountType          *ToolsEbpWechatAppletListV30AccountType
	assetManagementScope *ToolsEbpWechatAppletListV30AssetManagementScope
	filtering            *ToolsEbpWechatAppletListV30Filtering
	page                 *int64
	pageSize             *int64
}

func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	r.accountId = &accountId
	return r
}

// 操作账号类型
func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) AccountType(accountType ToolsEbpWechatAppletListV30AccountType) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) AssetManagementScope(assetManagementScope ToolsEbpWechatAppletListV30AssetManagementScope) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	r.assetManagementScope = &assetManagementScope
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) Filtering(filtering ToolsEbpWechatAppletListV30Filtering) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	r.filtering = &filtering
	return r
}

// 第X页
func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	r.page = &page
	return r
}

// 每页数量
func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) Execute() (*ToolsEbpWechatAppletListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpWechatAppletListGet Method for OpenApiV30ToolsEbpWechatAppletListGet

获取微信小程序列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpWechatAppletListGetRequest
*/
func (a *ToolsEbpWechatAppletListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest {
	return &ApiOpenApiV30ToolsEbpWechatAppletListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpWechatAppletListV30Response
func (a *ToolsEbpWechatAppletListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpWechatAppletListGetRequest) (*ToolsEbpWechatAppletListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpWechatAppletListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/wechat_applet/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.assetManagementScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_management_scope", r.assetManagementScope)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
