/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanAwemeUniPromotionOrderReportGetV10ApiService QianchuanAwemeUniPromotionOrderReportGetV10Api service
type QianchuanAwemeUniPromotionOrderReportGetV10ApiService service

type ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest struct {
	ctx             context.Context
	ApiService      *QianchuanAwemeUniPromotionOrderReportGetV10ApiService
	advertiserId    *int64
	startDate       *string
	endDate         *string
	timeGranularity *QianchuanAwemeUniPromotionOrderReportGetV10TimeGranularity
	filter          *QianchuanAwemeUniPromotionOrderReportGetV10Filter
	orderType       *QianchuanAwemeUniPromotionOrderReportGetV10OrderType
	orderField      *QianchuanAwemeUniPromotionOrderReportGetV10OrderField
	page            *int64
	pageSize        *QianchuanAwemeUniPromotionOrderReportGetV10PageSize
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 查询数据开始日期，例如2021-04-05，开始时间不可超过「当前日期-180天」
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) StartDate(startDate string) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.startDate = &startDate
	return r
}

// 查询数据结束日期，例如2021-04-05，日期跨度不能超过180天
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) EndDate(endDate string) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.endDate = &endDate
	return r
}

// 时间粒度 ，如果不传，返回查询日期内的聚合数据
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) TimeGranularity(timeGranularity QianchuanAwemeUniPromotionOrderReportGetV10TimeGranularity) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.timeGranularity = &timeGranularity
	return r
}

// 过滤条件
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) Filter(filter QianchuanAwemeUniPromotionOrderReportGetV10Filter) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.filter = &filter
	return r
}

// 排序类型
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) OrderType(orderType QianchuanAwemeUniPromotionOrderReportGetV10OrderType) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) OrderField(orderField QianchuanAwemeUniPromotionOrderReportGetV10OrderField) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.orderField = &orderField
	return r
}

// 页码，默认值：1
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) Page(page int64) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，允许值：10, 20, 50, 100，默认值：10
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) PageSize(pageSize QianchuanAwemeUniPromotionOrderReportGetV10PageSize) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) Execute() (*QianchuanAwemeUniPromotionOrderReportGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanAwemeUniPromotionOrderReportGetGet Method for OpenApiV10QianchuanAwemeUniPromotionOrderReportGetGet

获取随心推全域订单数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest
*/
func (a *QianchuanAwemeUniPromotionOrderReportGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest {
	return &ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanAwemeUniPromotionOrderReportGetV10Response
func (a *QianchuanAwemeUniPromotionOrderReportGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanAwemeUniPromotionOrderReportGetGetRequest) (*QianchuanAwemeUniPromotionOrderReportGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanAwemeUniPromotionOrderReportGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/aweme/uni_promotion/order/report/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	if r.timeGranularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_granularity", r.timeGranularity)
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
