/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// GoingGlobalUpdateV30ApiService GoingGlobalUpdateV30Api service
type GoingGlobalUpdateV30ApiService service

type ApiOpenApiV30GoingGlobalUpdatePostRequest struct {
	ctx                         context.Context
	ApiService                  *GoingGlobalUpdateV30ApiService
	goingGlobalUpdateV30Request *GoingGlobalUpdateV30Request
}

func (r *ApiOpenApiV30GoingGlobalUpdatePostRequest) GoingGlobalUpdateV30Request(goingGlobalUpdateV30Request GoingGlobalUpdateV30Request) *ApiOpenApiV30GoingGlobalUpdatePostRequest {
	r.goingGlobalUpdateV30Request = &goingGlobalUpdateV30Request
	return r
}

func (r *ApiOpenApiV30GoingGlobalUpdatePostRequest) Execute() (*GoingGlobalUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30GoingGlobalUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30GoingGlobalUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30GoingGlobalUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30GoingGlobalUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30GoingGlobalUpdatePost Method for OpenApiV30GoingGlobalUpdatePost

批量修改一键出海信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30GoingGlobalUpdatePostRequest
*/
func (a *GoingGlobalUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30GoingGlobalUpdatePostRequest {
	return &ApiOpenApiV30GoingGlobalUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GoingGlobalUpdateV30Response
func (a *GoingGlobalUpdateV30ApiService) postExecute(r *ApiOpenApiV30GoingGlobalUpdatePostRequest) (*GoingGlobalUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *GoingGlobalUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/going_global/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.goingGlobalUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
