/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsIsSupportUniversalGetV2ApiService ToolsIsSupportUniversalGetV2Api service
type ToolsIsSupportUniversalGetV2ApiService service

type ApiOpenApi2ToolsIsSupportUniversalGetGetRequest struct {
	ctx                context.Context
	ApiService         *ToolsIsSupportUniversalGetV2ApiService
	advertiserId       *int64
	landingType        *ToolsIsSupportUniversalGetV2LandingType
	externalAction     *ToolsIsSupportUniversalGetV2ExternalAction
	deepExternalAction *ToolsIsSupportUniversalGetV2DeepExternalAction
	deepBidType        *ToolsIsSupportUniversalGetV2DeepBidType
}

// 广告主id
func (r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 广告组推广目的, 详见【附录-推广目的类型】&lt;br&gt;允许值: &#x60;LINK&#x60;、&#x60;APP&#x60;、&#x60;QUICK_APP&#x60;、&#x60;DPA&#x60;、&#x60;GOODS&#x60;、&#x60;SHOP&#x60;、&#x60;AWEME&#x60;、&#x60;LIVE&#x60;
func (r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) LandingType(landingType ToolsIsSupportUniversalGetV2LandingType) *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest {
	r.landingType = &landingType
	return r
}

// 优化目标，可通过【获取优化目标】接口获取
func (r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) ExternalAction(externalAction ToolsIsSupportUniversalGetV2ExternalAction) *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest {
	r.externalAction = &externalAction
	return r
}

// 深度转化目标，可通过【获取优化目标】接口获取
func (r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) DeepExternalAction(deepExternalAction ToolsIsSupportUniversalGetV2DeepExternalAction) *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest {
	r.deepExternalAction = &deepExternalAction
	return r
}

// 深度优化方式，允许值详见【附录-深度优化方式】，对于每次付费的转化，深度优化类型需要设置为BID_PER_ACTION（每次付费出价）
func (r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) DeepBidType(deepBidType ToolsIsSupportUniversalGetV2DeepBidType) *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest {
	r.deepBidType = &deepBidType
	return r
}

func (r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) Execute() (*ToolsIsSupportUniversalGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) WithLog(enable bool) *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsIsSupportUniversalGetGet Method for OpenApi2ToolsIsSupportUniversalGetGet

本接口旨在帮助开发者判断相关创建条件（推广目的类型、预定义转化目标、深度转化目标、深度优化方式等）是否支持通投智选。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsIsSupportUniversalGetGetRequest
*/
func (a *ToolsIsSupportUniversalGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest {
	return &ApiOpenApi2ToolsIsSupportUniversalGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsIsSupportUniversalGetV2Response
func (a *ToolsIsSupportUniversalGetV2ApiService) getExecute(r *ApiOpenApi2ToolsIsSupportUniversalGetGetRequest) (*ToolsIsSupportUniversalGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsIsSupportUniversalGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/is_support_universal/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.landingType == nil {
		return localVarReturnValue, nil, ReportError("landingType is required and must be specified")
	}
	if r.externalAction == nil {
		return localVarReturnValue, nil, ReportError("externalAction is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "landing_type", r.landingType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "external_action", r.externalAction)
	if r.deepExternalAction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep_external_action", r.deepExternalAction)
	}
	if r.deepBidType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep_bid_type", r.deepBidType)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
