/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalImSendMsgV30ApiService LocalImSendMsgV30Api service
type LocalImSendMsgV30ApiService service

type ApiOpenApiV30LocalImSendMsgPostRequest struct {
	ctx                      context.Context
	ApiService               *LocalImSendMsgV30ApiService
	localImSendMsgV30Request *LocalImSendMsgV30Request
}

func (r *ApiOpenApiV30LocalImSendMsgPostRequest) LocalImSendMsgV30Request(localImSendMsgV30Request LocalImSendMsgV30Request) *ApiOpenApiV30LocalImSendMsgPostRequest {
	r.localImSendMsgV30Request = &localImSendMsgV30Request
	return r
}

func (r *ApiOpenApiV30LocalImSendMsgPostRequest) Execute() (*LocalImSendMsgV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalImSendMsgPostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalImSendMsgPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalImSendMsgPostRequest) WithLog(enable bool) *ApiOpenApiV30LocalImSendMsgPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalImSendMsgPost Method for OpenApiV30LocalImSendMsgPost

外部调用支持isv消息发送

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalImSendMsgPostRequest
*/
func (a *LocalImSendMsgV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalImSendMsgPostRequest {
	return &ApiOpenApiV30LocalImSendMsgPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalImSendMsgV30Response
func (a *LocalImSendMsgV30ApiService) postExecute(r *ApiOpenApiV30LocalImSendMsgPostRequest) (*LocalImSendMsgV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalImSendMsgV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/im/send/msg/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localImSendMsgV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
