/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EbpAdvertiserListV2ApiService EbpAdvertiserListV2Api service
type EbpAdvertiserListV2ApiService service

type ApiOpenApi2EbpAdvertiserListGetRequest struct {
	ctx                      context.Context
	ApiService               *EbpAdvertiserListV2ApiService
	enterpriseOrganizationId *int64
	accountSource            *EbpAdvertiserListV2AccountSource
	filtering                *EbpAdvertiserListV2Filtering
	page                     *int64
	pageSize                 *int64
}

func (r *ApiOpenApi2EbpAdvertiserListGetRequest) EnterpriseOrganizationId(enterpriseOrganizationId int64) *ApiOpenApi2EbpAdvertiserListGetRequest {
	r.enterpriseOrganizationId = &enterpriseOrganizationId
	return r
}

func (r *ApiOpenApi2EbpAdvertiserListGetRequest) AccountSource(accountSource EbpAdvertiserListV2AccountSource) *ApiOpenApi2EbpAdvertiserListGetRequest {
	r.accountSource = &accountSource
	return r
}

// 过滤器
func (r *ApiOpenApi2EbpAdvertiserListGetRequest) Filtering(filtering EbpAdvertiserListV2Filtering) *ApiOpenApi2EbpAdvertiserListGetRequest {
	r.filtering = &filtering
	return r
}

// 页码
func (r *ApiOpenApi2EbpAdvertiserListGetRequest) Page(page int64) *ApiOpenApi2EbpAdvertiserListGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApi2EbpAdvertiserListGetRequest) PageSize(pageSize int64) *ApiOpenApi2EbpAdvertiserListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2EbpAdvertiserListGetRequest) Execute() (*EbpAdvertiserListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2EbpAdvertiserListGetRequest) AccessToken(accessToken string) *ApiOpenApi2EbpAdvertiserListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2EbpAdvertiserListGetRequest) WithLog(enable bool) *ApiOpenApi2EbpAdvertiserListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2EbpAdvertiserListGet Method for OpenApi2EbpAdvertiserListGet

实时拉取EBP下账户列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2EbpAdvertiserListGetRequest
*/
func (a *EbpAdvertiserListV2ApiService) Get(ctx context.Context) *ApiOpenApi2EbpAdvertiserListGetRequest {
	return &ApiOpenApi2EbpAdvertiserListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EbpAdvertiserListV2Response
func (a *EbpAdvertiserListV2ApiService) getExecute(r *ApiOpenApi2EbpAdvertiserListGetRequest) (*EbpAdvertiserListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EbpAdvertiserListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/ebp/advertiser/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseOrganizationId == nil {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationId is required and must be specified")
	}
	if r.accountSource == nil {
		return localVarReturnValue, nil, ReportError("accountSource is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_organization_id", r.enterpriseOrganizationId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_source", r.accountSource)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
