/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanUniPromotionAuthorizableShopListV10ApiService QianchuanUniPromotionAuthorizableShopListV10Api service
type QianchuanUniPromotionAuthorizableShopListV10ApiService service

type ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanUniPromotionAuthorizableShopListV10ApiService
	advertiserId *int64
	awemeId      *int64
	filter       *QianchuanUniPromotionAuthorizableShopListV10Filter
	page         *int64
	pageSize     *int64
}

func (r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest {
	r.awemeId = &awemeId
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) Filter(filter QianchuanUniPromotionAuthorizableShopListV10Filter) *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest {
	r.filter = &filter
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) Page(page int64) *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) PageSize(pageSize int64) *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) Execute() (*QianchuanUniPromotionAuthorizableShopListV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanUniPromotionAuthorizableShopListGet Method for OpenApiV10QianchuanUniPromotionAuthorizableShopListGet

获取商品全域可授权店铺列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest
*/
func (a *QianchuanUniPromotionAuthorizableShopListV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest {
	return &ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanUniPromotionAuthorizableShopListV10Response
func (a *QianchuanUniPromotionAuthorizableShopListV10ApiService) getExecute(r *ApiOpenApiV10QianchuanUniPromotionAuthorizableShopListGetRequest) (*QianchuanUniPromotionAuthorizableShopListV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanUniPromotionAuthorizableShopListV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/uni_promotion/authorizable_shop/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.awemeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
