/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalReportAccountGetV30ApiService LocalReportAccountGetV30Api service
type LocalReportAccountGetV30ApiService service

type ApiOpenApiV30LocalReportAccountGetGetRequest struct {
	ctx             context.Context
	ApiService      *LocalReportAccountGetV30ApiService
	localAccountId  *int64
	startDate       *string
	endDate         *string
	metrics         *[]string
	timeGranularity *LocalReportAccountGetV30TimeGranularity
	orderType       *LocalReportAccountGetV30OrderType
	orderField      *string
	filtering       *LocalReportAccountGetV30Filtering
	page            *int64
	pageSize        *int64
}

func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 查询起始日期
func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) StartDate(startDate string) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.startDate = &startDate
	return r
}

// 查询结束日期
func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) EndDate(endDate string) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.endDate = &endDate
	return r
}

func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) Metrics(metrics []string) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.metrics = &metrics
	return r
}

func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) TimeGranularity(timeGranularity LocalReportAccountGetV30TimeGranularity) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.timeGranularity = &timeGranularity
	return r
}

// 排序方式
func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) OrderType(orderType LocalReportAccountGetV30OrderType) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段
func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) OrderField(orderField string) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.orderField = &orderField
	return r
}

// 过滤器
func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) Filtering(filtering LocalReportAccountGetV30Filtering) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码
func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) Page(page int64) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) Execute() (*LocalReportAccountGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalReportAccountGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalReportAccountGetGet Method for OpenApiV30LocalReportAccountGetGet

查询账户维度数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalReportAccountGetGetRequest
*/
func (a *LocalReportAccountGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalReportAccountGetGetRequest {
	return &ApiOpenApiV30LocalReportAccountGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalReportAccountGetV30Response
func (a *LocalReportAccountGetV30ApiService) getExecute(r *ApiOpenApiV30LocalReportAccountGetGetRequest) (*LocalReportAccountGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalReportAccountGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/report/account/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}
	if r.metrics == nil {
		return localVarReturnValue, nil, ReportError("metrics is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	if r.timeGranularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_granularity", r.timeGranularity)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics)
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
