/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpAssetAuthV30ApiService ToolsEbpAssetAuthV30Api service
type ToolsEbpAssetAuthV30ApiService service

type ApiOpenApiV30ToolsEbpAssetAuthPostRequest struct {
	ctx                         context.Context
	ApiService                  *ToolsEbpAssetAuthV30ApiService
	toolsEbpAssetAuthV30Request *ToolsEbpAssetAuthV30Request
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthPostRequest) ToolsEbpAssetAuthV30Request(toolsEbpAssetAuthV30Request ToolsEbpAssetAuthV30Request) *ApiOpenApiV30ToolsEbpAssetAuthPostRequest {
	r.toolsEbpAssetAuthV30Request = &toolsEbpAssetAuthV30Request
	return r
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthPostRequest) Execute() (*ToolsEbpAssetAuthV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthPostRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpAssetAuthPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthPostRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpAssetAuthPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpAssetAuthPost Method for OpenApiV30ToolsEbpAssetAuthPost

资产添加授权

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpAssetAuthPostRequest
*/
func (a *ToolsEbpAssetAuthV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ToolsEbpAssetAuthPostRequest {
	return &ApiOpenApiV30ToolsEbpAssetAuthPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpAssetAuthV30Response
func (a *ToolsEbpAssetAuthV30ApiService) postExecute(r *ApiOpenApiV30ToolsEbpAssetAuthPostRequest) (*ToolsEbpAssetAuthV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpAssetAuthV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/asset/auth/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsEbpAssetAuthV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
