/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaEbpProductListV30ApiService DpaEbpProductListV30Api service
type DpaEbpProductListV30ApiService service

type ApiOpenApiV30DpaEbpProductListGetRequest struct {
	ctx               context.Context
	ApiService        *DpaEbpProductListV30ApiService
	accountId         *int64
	accountType       *DpaEbpProductListV30AccountType
	productPlatformId *int64
	filtering         *DpaEbpProductListV30Filtering
	page              *int32
	pageSize          *int32
}

// 账户ID
func (r *ApiOpenApiV30DpaEbpProductListGetRequest) AccountId(accountId int64) *ApiOpenApiV30DpaEbpProductListGetRequest {
	r.accountId = &accountId
	return r
}

// 账户类型
func (r *ApiOpenApiV30DpaEbpProductListGetRequest) AccountType(accountType DpaEbpProductListV30AccountType) *ApiOpenApiV30DpaEbpProductListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30DpaEbpProductListGetRequest) ProductPlatformId(productPlatformId int64) *ApiOpenApiV30DpaEbpProductListGetRequest {
	r.productPlatformId = &productPlatformId
	return r
}

func (r *ApiOpenApiV30DpaEbpProductListGetRequest) Filtering(filtering DpaEbpProductListV30Filtering) *ApiOpenApiV30DpaEbpProductListGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30DpaEbpProductListGetRequest) Page(page int32) *ApiOpenApiV30DpaEbpProductListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30DpaEbpProductListGetRequest) PageSize(pageSize int32) *ApiOpenApiV30DpaEbpProductListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30DpaEbpProductListGetRequest) Execute() (*DpaEbpProductListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30DpaEbpProductListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaEbpProductListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaEbpProductListGetRequest) WithLog(enable bool) *ApiOpenApiV30DpaEbpProductListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaEbpProductListGet Method for OpenApiV30DpaEbpProductListGet

EBP获取通用版商品列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaEbpProductListGetRequest
*/
func (a *DpaEbpProductListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30DpaEbpProductListGetRequest {
	return &ApiOpenApiV30DpaEbpProductListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaEbpProductListV30Response
func (a *DpaEbpProductListV30ApiService) getExecute(r *ApiOpenApiV30DpaEbpProductListGetRequest) (*DpaEbpProductListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaEbpProductListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/ebp/product/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.productPlatformId == nil {
		return localVarReturnValue, nil, ReportError("productPlatformId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "product_platform_id", r.productPlatformId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
