/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpAssetAuthListV30ApiService ToolsEbpAssetAuthListV30Api service
type ToolsEbpAssetAuthListV30ApiService service

type ApiOpenApiV30ToolsEbpAssetAuthListGetRequest struct {
	ctx            context.Context
	ApiService     *ToolsEbpAssetAuthListV30ApiService
	accountId      *int64
	accountType    *ToolsEbpAssetAuthListV30AccountType
	assetType      *ToolsEbpAssetAuthListV30AssetType
	assetScope     *int64
	assetScopeType *ToolsEbpAssetAuthListV30AssetScopeType
	page           *int64
	pageSize       *int64
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) AccountType(accountType ToolsEbpAssetAuthListV30AccountType) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) AssetType(assetType ToolsEbpAssetAuthListV30AssetType) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	r.assetType = &assetType
	return r
}

// 资产范围ID 单个资产传资产ID 组织直连资产和组织以及子组织资产传BPID
func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) AssetScope(assetScope int64) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	r.assetScope = &assetScope
	return r
}

// 查询的资产范围类型 1-单个资产 2-组织直连资产 3-组织以及子组织资产
func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) AssetScopeType(assetScopeType ToolsEbpAssetAuthListV30AssetScopeType) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	r.assetScopeType = &assetScopeType
	return r
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) Execute() (*ToolsEbpAssetAuthListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpAssetAuthListGet Method for OpenApiV30ToolsEbpAssetAuthListGet

查询授权范围

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpAssetAuthListGetRequest
*/
func (a *ToolsEbpAssetAuthListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest {
	return &ApiOpenApiV30ToolsEbpAssetAuthListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpAssetAuthListV30Response
func (a *ToolsEbpAssetAuthListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpAssetAuthListGetRequest) (*ToolsEbpAssetAuthListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpAssetAuthListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/asset/auth/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.assetType == nil {
		return localVarReturnValue, nil, ReportError("assetType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "asset_type", r.assetType)
	if r.assetScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_scope", r.assetScope)
	}
	if r.assetScopeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_scope_type", r.assetScopeType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
