/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FilePlayableCreateV30ApiService FilePlayableCreateV30Api service
type FilePlayableCreateV30ApiService service

type ApiOpenApiV30FilePlayableCreatePostRequest struct {
	ctx                          context.Context
	ApiService                   *FilePlayableCreateV30ApiService
	filePlayableCreateV30Request *FilePlayableCreateV30Request
}

func (r *ApiOpenApiV30FilePlayableCreatePostRequest) FilePlayableCreateV30Request(filePlayableCreateV30Request FilePlayableCreateV30Request) *ApiOpenApiV30FilePlayableCreatePostRequest {
	r.filePlayableCreateV30Request = &filePlayableCreateV30Request
	return r
}

func (r *ApiOpenApiV30FilePlayableCreatePostRequest) Execute() (*FilePlayableCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30FilePlayableCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30FilePlayableCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30FilePlayableCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30FilePlayableCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30FilePlayableCreatePost Method for OpenApiV30FilePlayableCreatePost

创建试玩、直玩素材

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30FilePlayableCreatePostRequest
*/
func (a *FilePlayableCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30FilePlayableCreatePostRequest {
	return &ApiOpenApiV30FilePlayableCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FilePlayableCreateV30Response
func (a *FilePlayableCreateV30ApiService) postExecute(r *ApiOpenApiV30FilePlayableCreatePostRequest) (*FilePlayableCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FilePlayableCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/file/playable/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.filePlayableCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
