/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarCopyrightCreateV2ApiService StarCopyrightCreateV2Api service
type StarCopyrightCreateV2ApiService service

type ApiOpenApi2StarCopyrightCreatePostRequest struct {
	ctx                          context.Context
	ApiService                   *StarCopyrightCreateV2ApiService
	starCopyrightCreateV2Request *StarCopyrightCreateV2Request
}

func (r *ApiOpenApi2StarCopyrightCreatePostRequest) StarCopyrightCreateV2Request(starCopyrightCreateV2Request StarCopyrightCreateV2Request) *ApiOpenApi2StarCopyrightCreatePostRequest {
	r.starCopyrightCreateV2Request = &starCopyrightCreateV2Request
	return r
}

func (r *ApiOpenApi2StarCopyrightCreatePostRequest) Execute() (*StarCopyrightCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2StarCopyrightCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2StarCopyrightCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarCopyrightCreatePostRequest) WithLog(enable bool) *ApiOpenApi2StarCopyrightCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarCopyrightCreatePost Method for OpenApi2StarCopyrightCreatePost

客户创建版权内容

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarCopyrightCreatePostRequest
*/
func (a *StarCopyrightCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2StarCopyrightCreatePostRequest {
	return &ApiOpenApi2StarCopyrightCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarCopyrightCreateV2Response
func (a *StarCopyrightCreateV2ApiService) postExecute(r *ApiOpenApi2StarCopyrightCreatePostRequest) (*StarCopyrightCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarCopyrightCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/copyright/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.starCopyrightCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
