/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueFormDetailV2ApiService ClueFormDetailV2Api service
type ClueFormDetailV2ApiService service

type ApiOpenApi2ClueFormDetailGetRequest struct {
	ctx          context.Context
	ApiService   *ClueFormDetailV2ApiService
	advertiserId *int64
	instanceId   *int64
}

func (r *ApiOpenApi2ClueFormDetailGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2ClueFormDetailGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2ClueFormDetailGetRequest) InstanceId(instanceId int64) *ApiOpenApi2ClueFormDetailGetRequest {
	r.instanceId = &instanceId
	return r
}

func (r *ApiOpenApi2ClueFormDetailGetRequest) Execute() (*ClueFormDetailV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ClueFormDetailGetRequest) AccessToken(accessToken string) *ApiOpenApi2ClueFormDetailGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueFormDetailGetRequest) WithLog(enable bool) *ApiOpenApi2ClueFormDetailGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueFormDetailGet Method for OpenApi2ClueFormDetailGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueFormDetailGetRequest
*/
func (a *ClueFormDetailV2ApiService) Get(ctx context.Context) *ApiOpenApi2ClueFormDetailGetRequest {
	return &ApiOpenApi2ClueFormDetailGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueFormDetailV2Response
func (a *ClueFormDetailV2ApiService) getExecute(r *ApiOpenApi2ClueFormDetailGetRequest) (*ClueFormDetailV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueFormDetailV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/form/detail/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	if r.instanceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "instance_id", r.instanceId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
