/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EventManagerOptimizedGoalGetV30ApiService EventManagerOptimizedGoalGetV30Api service
type EventManagerOptimizedGoalGetV30ApiService service

type ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest struct {
	ctx                 context.Context
	ApiService          *EventManagerOptimizedGoalGetV30ApiService
	advertiserId        *int64
	landingType         *EventManagerOptimizedGoalGetV30LandingType
	adType              *EventManagerOptimizedGoalGetV30AdType
	deliveryMedium      *EventManagerOptimizedGoalGetV30DeliveryMedium
	multiDeliveryMedium *EventManagerOptimizedGoalGetV30MultiDeliveryMedium
	assetId             *int64
	packageName         *string
	appType             *EventManagerOptimizedGoalGetV30AppType
	appPromotionType    *EventManagerOptimizedGoalGetV30AppPromotionType
	marketingGoal       *EventManagerOptimizedGoalGetV30MarketingGoal
	quickAppId          *int64
	deliveryMode        *EventManagerOptimizedGoalGetV30DeliveryMode
	miniProgramId       *string
	microPromotionType  *EventManagerOptimizedGoalGetV30MicroPromotionType
	microAppInstanceId  *int64
	deliveryType        *EventManagerOptimizedGoalGetV30DeliveryType
}

// 广告主id
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 推广目的，允许值：APP 应用推广
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) LandingType(landingType EventManagerOptimizedGoalGetV30LandingType) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.landingType = &landingType
	return r
}

// 广告类型，允许值：ALL
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) AdType(adType EventManagerOptimizedGoalGetV30AdType) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.adType = &adType
	return r
}

// 资产类型，允许值：APP 应用
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) DeliveryMedium(deliveryMedium EventManagerOptimizedGoalGetV30DeliveryMedium) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.deliveryMedium = &deliveryMedium
	return r
}

func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) MultiDeliveryMedium(multiDeliveryMedium EventManagerOptimizedGoalGetV30MultiDeliveryMedium) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.multiDeliveryMedium = &multiDeliveryMedium
	return r
}

// 资产id
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) AssetId(assetId int64) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.assetId = &assetId
	return r
}

// 应用包名称，当asset_type为应用APP时，若asset_id不为空，生效asset_id；若asset_id为空且package_name不为空时，生效package_name
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) PackageName(packageName string) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.packageName = &packageName
	return r
}

// 应用类型，当asset_type为应用APP时必填 可选值：ANDROID 、IOS
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) AppType(appType EventManagerOptimizedGoalGetV30AppType) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.appType = &appType
	return r
}

// 子目标，支持： DOWNLOAD（应用下载）、LAUNCH（应用调起）、RESERVE（预约下载）
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) AppPromotionType(appPromotionType EventManagerOptimizedGoalGetV30AppPromotionType) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.appPromotionType = &appPromotionType
	return r
}

// 营销场景， 允许值：VIDEO_AND_IMAGE 短视频/图片 LIVE直播
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) MarketingGoal(marketingGoal EventManagerOptimizedGoalGetV30MarketingGoal) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.marketingGoal = &marketingGoal
	return r
}

// 快应用资产id
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) QuickAppId(quickAppId int64) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.quickAppId = &quickAppId
	return r
}

// 投放模式
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) DeliveryMode(deliveryMode EventManagerOptimizedGoalGetV30DeliveryMode) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.deliveryMode = &deliveryMode
	return r
}

func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) MiniProgramId(miniProgramId string) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.miniProgramId = &miniProgramId
	return r
}

func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) MicroPromotionType(microPromotionType EventManagerOptimizedGoalGetV30MicroPromotionType) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.microPromotionType = &microPromotionType
	return r
}

// 小程序资产id
func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) MicroAppInstanceId(microAppInstanceId int64) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.microAppInstanceId = &microAppInstanceId
	return r
}

func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) DeliveryType(deliveryType EventManagerOptimizedGoalGetV30DeliveryType) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.deliveryType = &deliveryType
	return r
}

func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) Execute() (*EventManagerOptimizedGoalGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) WithLog(enable bool) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30EventManagerOptimizedGoalGetGet Method for OpenApiV30EventManagerOptimizedGoalGetGet

OC_获取可用优化目标

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest
*/
func (a *EventManagerOptimizedGoalGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest {
	return &ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EventManagerOptimizedGoalGetV30Response
func (a *EventManagerOptimizedGoalGetV30ApiService) getExecute(r *ApiOpenApiV30EventManagerOptimizedGoalGetGetRequest) (*EventManagerOptimizedGoalGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EventManagerOptimizedGoalGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/event_manager/optimized_goal/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.landingType == nil {
		return localVarReturnValue, nil, ReportError("landingType is required and must be specified")
	}
	if r.adType == nil {
		return localVarReturnValue, nil, ReportError("adType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "landing_type", r.landingType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "ad_type", r.adType)
	if r.deliveryMedium != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_medium", r.deliveryMedium)
	}
	if r.multiDeliveryMedium != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "multi_delivery_medium", r.multiDeliveryMedium)
	}
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_id", r.assetId)
	}
	if r.packageName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "package_name", r.packageName)
	}
	if r.appType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app_type", r.appType)
	}
	if r.appPromotionType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app_promotion_type", r.appPromotionType)
	}
	if r.marketingGoal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marketing_goal", r.marketingGoal)
	}
	if r.quickAppId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "quick_app_id", r.quickAppId)
	}
	if r.deliveryMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_mode", r.deliveryMode)
	}
	if r.miniProgramId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mini_program_id", r.miniProgramId)
	}
	if r.microPromotionType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "micro_promotion_type", r.microPromotionType)
	}
	if r.microAppInstanceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "micro_app_instance_id", r.microAppInstanceId)
	}
	if r.deliveryType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_type", r.deliveryType)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
