/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanAwemeOrderGetV10ApiService QianchuanAwemeOrderGetV10Api service
type QianchuanAwemeOrderGetV10ApiService service

type ApiOpenApiV10QianchuanAwemeOrderGetGetRequest struct {
	ctx                  context.Context
	ApiService           *QianchuanAwemeOrderGetV10ApiService
	advertiserId         *int64
	filtering            *QianchuanAwemeOrderGetV10Filtering
	cursor               *int64
	count                *QianchuanAwemeOrderGetV10Count
	orderField           *QianchuanAwemeOrderGetV10OrderField
	orderCreateStartDate *string
	orderCreateEndDate   *string
}

// 千川广告主id
func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) Filtering(filtering QianchuanAwemeOrderGetV10Filtering) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码，默认值：0
func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) Cursor(cursor int64) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	r.cursor = &cursor
	return r
}

// 页面大小，允许值：10, 20, 50，默认值：10
func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) Count(count QianchuanAwemeOrderGetV10Count) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	r.count = &count
	return r
}

// 排序字段。默认升序
func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) OrderField(orderField QianchuanAwemeOrderGetV10OrderField) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	r.orderField = &orderField
	return r
}

// 计划创建开始时间，格式：\&quot;yyyy-mm-dd\&quot;
func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) OrderCreateStartDate(orderCreateStartDate string) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	r.orderCreateStartDate = &orderCreateStartDate
	return r
}

// 计划创建结束时间，与order_create_start_date搭配使用，格式：\&quot;yyyy-mm-dd\&quot;，时间跨度不能超过180天
func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) OrderCreateEndDate(orderCreateEndDate string) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	r.orderCreateEndDate = &orderCreateEndDate
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) Execute() (*QianchuanAwemeOrderGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanAwemeOrderGetGet Method for OpenApiV10QianchuanAwemeOrderGetGet

小店随心推订单列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanAwemeOrderGetGetRequest
*/
func (a *QianchuanAwemeOrderGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest {
	return &ApiOpenApiV10QianchuanAwemeOrderGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanAwemeOrderGetV10Response
func (a *QianchuanAwemeOrderGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanAwemeOrderGetGetRequest) (*QianchuanAwemeOrderGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanAwemeOrderGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/aweme/order/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderCreateStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_create_start_date", r.orderCreateStartDate)
	}
	if r.orderCreateEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_create_end_date", r.orderCreateEndDate)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
