/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueFormListV2ApiService ClueFormListV2Api service
type ClueFormListV2ApiService service

type ApiOpenApi2ClueFormListGetRequest struct {
	ctx          context.Context
	ApiService   *ClueFormListV2ApiService
	advertiserId *int64
	endTime      **string
	instanceIds  *[]int64
	isDel        *ClueFormListV2IsDel
	page         *int64
	pageSize     *int64
	startTime    **string
}

func (r *ApiOpenApi2ClueFormListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2ClueFormListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2ClueFormListGetRequest) EndTime(endTime *string) *ApiOpenApi2ClueFormListGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApi2ClueFormListGetRequest) InstanceIds(instanceIds []int64) *ApiOpenApi2ClueFormListGetRequest {
	r.instanceIds = &instanceIds
	return r
}

func (r *ApiOpenApi2ClueFormListGetRequest) IsDel(isDel ClueFormListV2IsDel) *ApiOpenApi2ClueFormListGetRequest {
	r.isDel = &isDel
	return r
}

func (r *ApiOpenApi2ClueFormListGetRequest) Page(page int64) *ApiOpenApi2ClueFormListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2ClueFormListGetRequest) PageSize(pageSize int64) *ApiOpenApi2ClueFormListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2ClueFormListGetRequest) StartTime(startTime *string) *ApiOpenApi2ClueFormListGetRequest {
	r.startTime = &startTime
	return r
}

func (r *ApiOpenApi2ClueFormListGetRequest) Execute() (*ClueFormListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ClueFormListGetRequest) AccessToken(accessToken string) *ApiOpenApi2ClueFormListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueFormListGetRequest) WithLog(enable bool) *ApiOpenApi2ClueFormListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueFormListGet Method for OpenApi2ClueFormListGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueFormListGetRequest
*/
func (a *ClueFormListV2ApiService) Get(ctx context.Context) *ApiOpenApi2ClueFormListGetRequest {
	return &ApiOpenApi2ClueFormListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueFormListV2Response
func (a *ClueFormListV2ApiService) getExecute(r *ApiOpenApi2ClueFormListGetRequest) (*ClueFormListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueFormListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/form/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.instanceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "instance_ids", r.instanceIds)
	}
	if r.isDel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_del", r.isDel)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
