/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ServeMarketCidVerifyTokenV10ApiService ServeMarketCidVerifyTokenV10Api service
type ServeMarketCidVerifyTokenV10ApiService service

type ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest struct {
	ctx        context.Context
	ApiService *ServeMarketCidVerifyTokenV10ApiService
}

func (r *ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest) Execute() (*ServeMarketCidVerifyTokenV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest) AccessToken(accessToken string) *ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest) WithLog(enable bool) *ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10ServeMarketCidVerifyTokenGet Method for OpenApiV10ServeMarketCidVerifyTokenGet

该接口用于校验首次Cid回传数据，校验token是否可用场景，不可用于业务系统

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest
*/
func (a *ServeMarketCidVerifyTokenV10ApiService) Get(ctx context.Context) *ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest {
	return &ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ServeMarketCidVerifyTokenV10Response
func (a *ServeMarketCidVerifyTokenV10ApiService) getExecute(r *ApiOpenApiV10ServeMarketCidVerifyTokenGetRequest) (*ServeMarketCidVerifyTokenV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ServeMarketCidVerifyTokenV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/serve_market/cid/verify_token/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
