/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsSiteFormsListV2ApiService ToolsSiteFormsListV2Api service
type ToolsSiteFormsListV2ApiService service

type ApiOpenApi2ToolsSiteFormsListGetRequest struct {
	ctx          context.Context
	ApiService   *ToolsSiteFormsListV2ApiService
	advertiserId *int64
	siteId       *int64
}

func (r *ApiOpenApi2ToolsSiteFormsListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2ToolsSiteFormsListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2ToolsSiteFormsListGetRequest) SiteId(siteId int64) *ApiOpenApi2ToolsSiteFormsListGetRequest {
	r.siteId = &siteId
	return r
}

func (r *ApiOpenApi2ToolsSiteFormsListGetRequest) Execute() (*ToolsSiteFormsListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ToolsSiteFormsListGetRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsSiteFormsListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsSiteFormsListGetRequest) WithLog(enable bool) *ApiOpenApi2ToolsSiteFormsListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsSiteFormsListGet Method for OpenApi2ToolsSiteFormsListGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsSiteFormsListGetRequest
*/
func (a *ToolsSiteFormsListV2ApiService) Get(ctx context.Context) *ApiOpenApi2ToolsSiteFormsListGetRequest {
	return &ApiOpenApi2ToolsSiteFormsListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsSiteFormsListV2Response
func (a *ToolsSiteFormsListV2ApiService) getExecute(r *ApiOpenApi2ToolsSiteFormsListGetRequest) (*ToolsSiteFormsListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsSiteFormsListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/site/forms/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site_id", r.siteId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
