/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdUdUpdateV2ApiService AdUdUpdateV2Api service
type AdUdUpdateV2ApiService service

type ApiOpenApi2AdUdUpdatePostRequest struct {
	ctx                 context.Context
	ApiService          *AdUdUpdateV2ApiService
	adUdUpdateV2Request *AdUdUpdateV2Request
}

func (r *ApiOpenApi2AdUdUpdatePostRequest) AdUdUpdateV2Request(adUdUpdateV2Request AdUdUpdateV2Request) *ApiOpenApi2AdUdUpdatePostRequest {
	r.adUdUpdateV2Request = &adUdUpdateV2Request
	return r
}

func (r *ApiOpenApi2AdUdUpdatePostRequest) Execute() (*AdUdUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2AdUdUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2AdUdUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdUdUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2AdUdUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdUdUpdatePost Method for OpenApi2AdUdUpdatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdUdUpdatePostRequest
*/
func (a *AdUdUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2AdUdUpdatePostRequest {
	return &ApiOpenApi2AdUdUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdUdUpdateV2Response
func (a *AdUdUpdateV2ApiService) postExecute(r *ApiOpenApi2AdUdUpdatePostRequest) (*AdUdUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdUdUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/ad/ud/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.adUdUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
