/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaDetailGetV2ApiService DpaDetailGetV2Api service
type DpaDetailGetV2ApiService service

type ApiOpenApi2DpaDetailGetGetRequest struct {
	ctx               context.Context
	ApiService        *DpaDetailGetV2ApiService
	advertiserId      *int64
	productPlatformId *int64
	filtering         *DpaDetailGetV2Filtering
	page              *int32
	pageSize          *int32
}

func (r *ApiOpenApi2DpaDetailGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2DpaDetailGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2DpaDetailGetGetRequest) ProductPlatformId(productPlatformId int64) *ApiOpenApi2DpaDetailGetGetRequest {
	r.productPlatformId = &productPlatformId
	return r
}

func (r *ApiOpenApi2DpaDetailGetGetRequest) Filtering(filtering DpaDetailGetV2Filtering) *ApiOpenApi2DpaDetailGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApi2DpaDetailGetGetRequest) Page(page int32) *ApiOpenApi2DpaDetailGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2DpaDetailGetGetRequest) PageSize(pageSize int32) *ApiOpenApi2DpaDetailGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2DpaDetailGetGetRequest) Execute() (*DpaDetailGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2DpaDetailGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2DpaDetailGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2DpaDetailGetGetRequest) WithLog(enable bool) *ApiOpenApi2DpaDetailGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2DpaDetailGetGet Method for OpenApi2DpaDetailGetGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2DpaDetailGetGetRequest
*/
func (a *DpaDetailGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2DpaDetailGetGetRequest {
	return &ApiOpenApi2DpaDetailGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaDetailGetV2Response
func (a *DpaDetailGetV2ApiService) getExecute(r *ApiOpenApi2DpaDetailGetGetRequest) (*DpaDetailGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaDetailGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/dpa/detail/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.productPlatformId == nil {
		return localVarReturnValue, nil, ReportError("productPlatformId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "product_platform_id", r.productPlatformId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
