/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EbpLevelGetV2ApiService EbpLevelGetV2Api service
type EbpLevelGetV2ApiService service

type ApiOpenApi2EbpLevelGetGetRequest struct {
	ctx                      context.Context
	ApiService               *EbpLevelGetV2ApiService
	enterpriseOrganizationId *int64
}

func (r *ApiOpenApi2EbpLevelGetGetRequest) EnterpriseOrganizationId(enterpriseOrganizationId int64) *ApiOpenApi2EbpLevelGetGetRequest {
	r.enterpriseOrganizationId = &enterpriseOrganizationId
	return r
}

func (r *ApiOpenApi2EbpLevelGetGetRequest) Execute() (*EbpLevelGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2EbpLevelGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2EbpLevelGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2EbpLevelGetGetRequest) WithLog(enable bool) *ApiOpenApi2EbpLevelGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2EbpLevelGetGet Method for OpenApi2EbpLevelGetGet

拉取EBP/团队层级关系

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2EbpLevelGetGetRequest
*/
func (a *EbpLevelGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2EbpLevelGetGetRequest {
	return &ApiOpenApi2EbpLevelGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EbpLevelGetV2Response
func (a *EbpLevelGetV2ApiService) getExecute(r *ApiOpenApi2EbpLevelGetGetRequest) (*EbpLevelGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EbpLevelGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/ebp/level/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseOrganizationId == nil {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_organization_id", r.enterpriseOrganizationId)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
