/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsIndustryGetV2ApiService ToolsIndustryGetV2Api service
type ToolsIndustryGetV2ApiService service

type ApiOpenApi2ToolsIndustryGetGetRequest struct {
	ctx        context.Context
	ApiService *ToolsIndustryGetV2ApiService
	level      *ToolsIndustryGetV2Level
	type_      *ToolsIndustryGetV2Type
}

func (r *ApiOpenApi2ToolsIndustryGetGetRequest) Level(level ToolsIndustryGetV2Level) *ApiOpenApi2ToolsIndustryGetGetRequest {
	r.level = &level
	return r
}

func (r *ApiOpenApi2ToolsIndustryGetGetRequest) Type_(type_ ToolsIndustryGetV2Type) *ApiOpenApi2ToolsIndustryGetGetRequest {
	r.type_ = &type_
	return r
}

func (r *ApiOpenApi2ToolsIndustryGetGetRequest) Execute() (*ToolsIndustryGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ToolsIndustryGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsIndustryGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsIndustryGetGetRequest) WithLog(enable bool) *ApiOpenApi2ToolsIndustryGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsIndustryGetGet Method for OpenApi2ToolsIndustryGetGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsIndustryGetGetRequest
*/
func (a *ToolsIndustryGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2ToolsIndustryGetGetRequest {
	return &ApiOpenApi2ToolsIndustryGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsIndustryGetV2Response
func (a *ToolsIndustryGetV2ApiService) getExecute(r *ApiOpenApi2ToolsIndustryGetGetRequest) (*ToolsIndustryGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsIndustryGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/industry/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.level != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "level", r.level)
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
