/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EventManagerShareV30ApiService EventManagerShareV30Api service
type EventManagerShareV30ApiService service

type ApiOpenApiV30EventManagerSharePostRequest struct {
	ctx                         context.Context
	ApiService                  *EventManagerShareV30ApiService
	eventManagerShareV30Request *EventManagerShareV30Request
}

func (r *ApiOpenApiV30EventManagerSharePostRequest) EventManagerShareV30Request(eventManagerShareV30Request EventManagerShareV30Request) *ApiOpenApiV30EventManagerSharePostRequest {
	r.eventManagerShareV30Request = &eventManagerShareV30Request
	return r
}

func (r *ApiOpenApiV30EventManagerSharePostRequest) Execute() (*EventManagerShareV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30EventManagerSharePostRequest) AccessToken(accessToken string) *ApiOpenApiV30EventManagerSharePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30EventManagerSharePostRequest) WithLog(enable bool) *ApiOpenApiV30EventManagerSharePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30EventManagerSharePost Method for OpenApiV30EventManagerSharePost

事件管理资产共享

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30EventManagerSharePostRequest
*/
func (a *EventManagerShareV30ApiService) Post(ctx context.Context) *ApiOpenApiV30EventManagerSharePostRequest {
	return &ApiOpenApiV30EventManagerSharePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EventManagerShareV30Response
func (a *EventManagerShareV30ApiService) postExecute(r *ApiOpenApiV30EventManagerSharePostRequest) (*EventManagerShareV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EventManagerShareV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/event_manager/share/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.eventManagerShareV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
