/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ShopBonusCreateV30ApiService ShopBonusCreateV30Api service
type ShopBonusCreateV30ApiService service

type ApiOpenApiV30ShopBonusCreatePostRequest struct {
	ctx                       context.Context
	ApiService                *ShopBonusCreateV30ApiService
	shopBonusCreateV30Request *ShopBonusCreateV30Request
}

func (r *ApiOpenApiV30ShopBonusCreatePostRequest) ShopBonusCreateV30Request(shopBonusCreateV30Request ShopBonusCreateV30Request) *ApiOpenApiV30ShopBonusCreatePostRequest {
	r.shopBonusCreateV30Request = &shopBonusCreateV30Request
	return r
}

func (r *ApiOpenApiV30ShopBonusCreatePostRequest) Execute() (*ShopBonusCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ShopBonusCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ShopBonusCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ShopBonusCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30ShopBonusCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ShopBonusCreatePost Method for OpenApiV30ShopBonusCreatePost

阿里健康根据SPI消息获知哪些商品可配置券后，对巨量回传具体配置优惠券的相关信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ShopBonusCreatePostRequest
*/
func (a *ShopBonusCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ShopBonusCreatePostRequest {
	return &ApiOpenApiV30ShopBonusCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ShopBonusCreateV30Response
func (a *ShopBonusCreateV30ApiService) postExecute(r *ApiOpenApiV30ShopBonusCreatePostRequest) (*ShopBonusCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ShopBonusCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/shop_bonus/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.shopBonusCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
