/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsRtaSetScopeV2ApiService ToolsRtaSetScopeV2Api service
type ToolsRtaSetScopeV2ApiService service

type ApiOpenApi2ToolsRtaSetScopePostRequest struct {
	ctx                       context.Context
	ApiService                *ToolsRtaSetScopeV2ApiService
	toolsRtaSetScopeV2Request *ToolsRtaSetScopeV2Request
}

func (r *ApiOpenApi2ToolsRtaSetScopePostRequest) ToolsRtaSetScopeV2Request(toolsRtaSetScopeV2Request ToolsRtaSetScopeV2Request) *ApiOpenApi2ToolsRtaSetScopePostRequest {
	r.toolsRtaSetScopeV2Request = &toolsRtaSetScopeV2Request
	return r
}

func (r *ApiOpenApi2ToolsRtaSetScopePostRequest) Execute() (*ToolsRtaSetScopeV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsRtaSetScopePostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsRtaSetScopePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsRtaSetScopePostRequest) WithLog(enable bool) *ApiOpenApi2ToolsRtaSetScopePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsRtaSetScopePost Method for OpenApi2ToolsRtaSetScopePost

设置广告账户下某个RTA策略的生效范围，设置一个新的RTA策略时，默认为停用状态，需要继续调用修改RTA策略状态

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsRtaSetScopePostRequest
*/
func (a *ToolsRtaSetScopeV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsRtaSetScopePostRequest {
	return &ApiOpenApi2ToolsRtaSetScopePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsRtaSetScopeV2Response
func (a *ToolsRtaSetScopeV2ApiService) postExecute(r *ApiOpenApi2ToolsRtaSetScopePostRequest) (*ToolsRtaSetScopeV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsRtaSetScopeV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/rta/set_scope/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsRtaSetScopeV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
