/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCampaignModifyV30ApiService BrandCampaignModifyV30Api service
type BrandCampaignModifyV30ApiService service

type ApiOpenApiV30BrandCampaignModifyPostRequest struct {
	ctx                           context.Context
	ApiService                    *BrandCampaignModifyV30ApiService
	brandCampaignModifyV30Request *BrandCampaignModifyV30Request
}

func (r *ApiOpenApiV30BrandCampaignModifyPostRequest) BrandCampaignModifyV30Request(brandCampaignModifyV30Request BrandCampaignModifyV30Request) *ApiOpenApiV30BrandCampaignModifyPostRequest {
	r.brandCampaignModifyV30Request = &brandCampaignModifyV30Request
	return r
}

func (r *ApiOpenApiV30BrandCampaignModifyPostRequest) Execute() (*BrandCampaignModifyV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandCampaignModifyPostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCampaignModifyPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCampaignModifyPostRequest) WithLog(enable bool) *ApiOpenApiV30BrandCampaignModifyPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCampaignModifyPost Method for OpenApiV30BrandCampaignModifyPost

品牌广告组下单后发起撤改

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCampaignModifyPostRequest
*/
func (a *BrandCampaignModifyV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandCampaignModifyPostRequest {
	return &ApiOpenApiV30BrandCampaignModifyPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCampaignModifyV30Response
func (a *BrandCampaignModifyV30ApiService) postExecute(r *ApiOpenApiV30BrandCampaignModifyPostRequest) (*BrandCampaignModifyV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCampaignModifyV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/campaign/modify/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandCampaignModifyV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
