/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanAdCreateV10ApiService QianchuanAdCreateV10Api service
type QianchuanAdCreateV10ApiService service

type ApiOpenApiV10QianchuanAdCreatePostRequest struct {
	ctx                         context.Context
	ApiService                  *QianchuanAdCreateV10ApiService
	qianchuanAdCreateV10Request *QianchuanAdCreateV10Request
}

func (r *ApiOpenApiV10QianchuanAdCreatePostRequest) QianchuanAdCreateV10Request(qianchuanAdCreateV10Request QianchuanAdCreateV10Request) *ApiOpenApiV10QianchuanAdCreatePostRequest {
	r.qianchuanAdCreateV10Request = &qianchuanAdCreateV10Request
	return r
}

func (r *ApiOpenApiV10QianchuanAdCreatePostRequest) Execute() (*QianchuanAdCreateV10Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV10QianchuanAdCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanAdCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanAdCreatePostRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanAdCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanAdCreatePost Method for OpenApiV10QianchuanAdCreatePost

计划创建接口

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanAdCreatePostRequest
*/
func (a *QianchuanAdCreateV10ApiService) Post(ctx context.Context) *ApiOpenApiV10QianchuanAdCreatePostRequest {
	return &ApiOpenApiV10QianchuanAdCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanAdCreateV10Response
func (a *QianchuanAdCreateV10ApiService) postExecute(r *ApiOpenApiV10QianchuanAdCreatePostRequest) (*QianchuanAdCreateV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanAdCreateV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/ad/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.qianchuanAdCreateV10Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
