/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanUniAwemeSuggestBudgetV10ApiService QianchuanUniAwemeSuggestBudgetV10Api service
type QianchuanUniAwemeSuggestBudgetV10ApiService service

type ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest struct {
	ctx           context.Context
	ApiService    *QianchuanUniAwemeSuggestBudgetV10ApiService
	advertiserId  *int64
	awemeId       *int64
	marketingGoal *QianchuanUniAwemeSuggestBudgetV10MarketingGoal
	productIds    *[]int64
	adId          *int64
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest {
	r.awemeId = &awemeId
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) MarketingGoal(marketingGoal QianchuanUniAwemeSuggestBudgetV10MarketingGoal) *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest {
	r.marketingGoal = &marketingGoal
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) ProductIds(productIds []int64) *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest {
	r.productIds = &productIds
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) AdId(adId int64) *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest {
	r.adId = &adId
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) Execute() (*QianchuanUniAwemeSuggestBudgetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanUniAwemeSuggestBudgetGet Method for OpenApiV10QianchuanUniAwemeSuggestBudgetGet

获取全域建议预算

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest
*/
func (a *QianchuanUniAwemeSuggestBudgetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest {
	return &ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanUniAwemeSuggestBudgetV10Response
func (a *QianchuanUniAwemeSuggestBudgetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanUniAwemeSuggestBudgetGetRequest) (*QianchuanUniAwemeSuggestBudgetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanUniAwemeSuggestBudgetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/uni_aweme/suggest/budget/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.awemeId == nil {
		return localVarReturnValue, nil, ReportError("awemeId is required and must be specified")
	}
	if r.marketingGoal == nil {
		return localVarReturnValue, nil, ReportError("marketingGoal is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "marketing_goal", r.marketingGoal)
	if r.productIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_ids", r.productIds)
	}
	if r.adId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ad_id", r.adId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
