/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsCommentHideV30ApiService ToolsCommentHideV30Api service
type ToolsCommentHideV30ApiService service

type ApiOpenApiV30ToolsCommentHidePostRequest struct {
	ctx                        context.Context
	ApiService                 *ToolsCommentHideV30ApiService
	toolsCommentHideV30Request *ToolsCommentHideV30Request
}

func (r *ApiOpenApiV30ToolsCommentHidePostRequest) ToolsCommentHideV30Request(toolsCommentHideV30Request ToolsCommentHideV30Request) *ApiOpenApiV30ToolsCommentHidePostRequest {
	r.toolsCommentHideV30Request = &toolsCommentHideV30Request
	return r
}

func (r *ApiOpenApiV30ToolsCommentHidePostRequest) Execute() (*ToolsCommentHideV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ToolsCommentHidePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsCommentHidePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsCommentHidePostRequest) WithLog(enable bool) *ApiOpenApiV30ToolsCommentHidePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsCommentHidePost Method for OpenApiV30ToolsCommentHidePost

@PM2

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsCommentHidePostRequest
*/
func (a *ToolsCommentHideV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ToolsCommentHidePostRequest {
	return &ApiOpenApiV30ToolsCommentHidePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsCommentHideV30Response
func (a *ToolsCommentHideV30ApiService) postExecute(r *ApiOpenApiV30ToolsCommentHidePostRequest) (*ToolsCommentHideV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsCommentHideV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/comment/hide/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsCommentHideV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
