/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AsyncTaskCreateV2ApiService AsyncTaskCreateV2Api service
type AsyncTaskCreateV2ApiService service

type ApiOpenApi2AsyncTaskCreatePostRequest struct {
	ctx                      context.Context
	ApiService               *AsyncTaskCreateV2ApiService
	asyncTaskCreateV2Request *AsyncTaskCreateV2Request
}

func (r *ApiOpenApi2AsyncTaskCreatePostRequest) AsyncTaskCreateV2Request(asyncTaskCreateV2Request AsyncTaskCreateV2Request) *ApiOpenApi2AsyncTaskCreatePostRequest {
	r.asyncTaskCreateV2Request = &asyncTaskCreateV2Request
	return r
}

func (r *ApiOpenApi2AsyncTaskCreatePostRequest) Execute() (*AsyncTaskCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2AsyncTaskCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2AsyncTaskCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AsyncTaskCreatePostRequest) WithLog(enable bool) *ApiOpenApi2AsyncTaskCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AsyncTaskCreatePost Method for OpenApi2AsyncTaskCreatePost

异步数据报表-创建异步任务

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AsyncTaskCreatePostRequest
*/
func (a *AsyncTaskCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2AsyncTaskCreatePostRequest {
	return &ApiOpenApi2AsyncTaskCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AsyncTaskCreateV2Response
func (a *AsyncTaskCreateV2ApiService) postExecute(r *ApiOpenApi2AsyncTaskCreatePostRequest) (*AsyncTaskCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AsyncTaskCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/async_task/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.asyncTaskCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
