/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalMarketPageListGetV30ApiService LocalMarketPageListGetV30Api service
type LocalMarketPageListGetV30ApiService service

type ApiOpenApiV30LocalMarketPageListGetGetRequest struct {
	ctx            context.Context
	ApiService     *LocalMarketPageListGetV30ApiService
	localAccountId *int64
	deliveryGoal   *LocalMarketPageListGetV30DeliveryGoal
	poiIds         *[]int64
	productIds     *[]int64
	page           *int64
	pageSize       *int64
}

func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) DeliveryGoal(deliveryGoal LocalMarketPageListGetV30DeliveryGoal) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	r.deliveryGoal = &deliveryGoal
	return r
}

// 门店id，当delivery_goal&#x3D;POI时，有效且必填
func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) PoiIds(poiIds []int64) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	r.poiIds = &poiIds
	return r
}

// 商品id，当delivery_goal&#x3D;PRODUCT时，有效且必填
func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) ProductIds(productIds []int64) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	r.productIds = &productIds
	return r
}

// 页码，默认值1
func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) Page(page int64) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，默认值20，最大值100
func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) Execute() (*LocalMarketPageListGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalMarketPageListGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalMarketPageListGetGet Method for OpenApiV30LocalMarketPageListGetGet

获取可用营销页列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalMarketPageListGetGetRequest
*/
func (a *LocalMarketPageListGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalMarketPageListGetGetRequest {
	return &ApiOpenApiV30LocalMarketPageListGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalMarketPageListGetV30Response
func (a *LocalMarketPageListGetV30ApiService) getExecute(r *ApiOpenApiV30LocalMarketPageListGetGetRequest) (*LocalMarketPageListGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalMarketPageListGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/market_page_list/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if *r.localAccountId < 1 {
		return localVarReturnValue, nil, ReportError("localAccountId must be greater than 1")
	}
	if r.deliveryGoal == nil {
		return localVarReturnValue, nil, ReportError("deliveryGoal is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_goal", r.deliveryGoal)
	if r.poiIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poi_ids", r.poiIds)
	}
	if r.productIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_ids", r.productIds)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
