/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsPreAuditSendV2ApiService ToolsPreAuditSendV2Api service
type ToolsPreAuditSendV2ApiService service

type ApiOpenApi2ToolsPreAuditSendPostRequest struct {
	ctx                        context.Context
	ApiService                 *ToolsPreAuditSendV2ApiService
	toolsPreAuditSendV2Request *ToolsPreAuditSendV2Request
}

func (r *ApiOpenApi2ToolsPreAuditSendPostRequest) ToolsPreAuditSendV2Request(toolsPreAuditSendV2Request ToolsPreAuditSendV2Request) *ApiOpenApi2ToolsPreAuditSendPostRequest {
	r.toolsPreAuditSendV2Request = &toolsPreAuditSendV2Request
	return r
}

func (r *ApiOpenApi2ToolsPreAuditSendPostRequest) Execute() (*ToolsPreAuditSendV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsPreAuditSendPostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsPreAuditSendPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsPreAuditSendPostRequest) WithLog(enable bool) *ApiOpenApi2ToolsPreAuditSendPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsPreAuditSendPost Method for OpenApi2ToolsPreAuditSendPost

通过此接口，用户可以对素材进行前置预审送审，提前获取素材可能的审核结果。
> 需要注意的是前置预审的结果和最终的素材的审核结果可能存在出入，前置预审结果仅供参考。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsPreAuditSendPostRequest
*/
func (a *ToolsPreAuditSendV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsPreAuditSendPostRequest {
	return &ApiOpenApi2ToolsPreAuditSendPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsPreAuditSendV2Response
func (a *ToolsPreAuditSendV2ApiService) postExecute(r *ApiOpenApi2ToolsPreAuditSendPostRequest) (*ToolsPreAuditSendV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsPreAuditSendV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/pre_audit/send/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsPreAuditSendV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
