/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpMaterialAuthListV30ApiService ToolsEbpMaterialAuthListV30Api service
type ToolsEbpMaterialAuthListV30ApiService service

type ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest struct {
	ctx          context.Context
	ApiService   *ToolsEbpMaterialAuthListV30ApiService
	accountId    *int64
	accountType  *ToolsEbpMaterialAuthListV30AccountType
	materialType *ToolsEbpMaterialAuthListV30MaterialType
	page         *int64
	pageSize     *int32
}

func (r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) AccountType(accountType ToolsEbpMaterialAuthListV30AccountType) *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) MaterialType(materialType ToolsEbpMaterialAuthListV30MaterialType) *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest {
	r.materialType = &materialType
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) PageSize(pageSize int32) *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) Execute() (*ToolsEbpMaterialAuthListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpMaterialAuthListGet Method for OpenApiV30ToolsEbpMaterialAuthListGet

查询ebp素材共享范围

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest
*/
func (a *ToolsEbpMaterialAuthListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest {
	return &ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpMaterialAuthListV30Response
func (a *ToolsEbpMaterialAuthListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpMaterialAuthListGetRequest) (*ToolsEbpMaterialAuthListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpMaterialAuthListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/material/auth/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	}
	if r.materialType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "material_type", r.materialType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
