/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FileVideoPauseV2ApiService FileVideoPauseV2Api service
type FileVideoPauseV2ApiService service

type ApiOpenApi2FileVideoPausePostRequest struct {
	ctx                     context.Context
	ApiService              *FileVideoPauseV2ApiService
	fileVideoPauseV2Request *FileVideoPauseV2Request
}

func (r *ApiOpenApi2FileVideoPausePostRequest) FileVideoPauseV2Request(fileVideoPauseV2Request FileVideoPauseV2Request) *ApiOpenApi2FileVideoPausePostRequest {
	r.fileVideoPauseV2Request = &fileVideoPauseV2Request
	return r
}

func (r *ApiOpenApi2FileVideoPausePostRequest) Execute() (*FileVideoPauseV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2FileVideoPausePostRequest) AccessToken(accessToken string) *ApiOpenApi2FileVideoPausePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2FileVideoPausePostRequest) WithLog(enable bool) *ApiOpenApi2FileVideoPausePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2FileVideoPausePost Method for OpenApi2FileVideoPausePost

暂停账户下的素材

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2FileVideoPausePostRequest
*/
func (a *FileVideoPauseV2ApiService) Post(ctx context.Context) *ApiOpenApi2FileVideoPausePostRequest {
	return &ApiOpenApi2FileVideoPausePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileVideoPauseV2Response
func (a *FileVideoPauseV2ApiService) postExecute(r *ApiOpenApi2FileVideoPausePostRequest) (*FileVideoPauseV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FileVideoPauseV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/file/video/pause/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.fileVideoPauseV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
