/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DiagnosisTaskAdvListV2ApiService DiagnosisTaskAdvListV2Api service
type DiagnosisTaskAdvListV2ApiService service

type ApiOpenApi2DiagnosisTaskAdvListGetRequest struct {
	ctx          context.Context
	ApiService   *DiagnosisTaskAdvListV2ApiService
	advertiserId *int64
	results      *[]*DiagnosisTaskAdvListV2Results
	status       *[]*DiagnosisTaskAdvListV2Status
	startTime    *int64
	endTime      *int64
	page         *int32
	pageSize     *int32
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) Results(results []*DiagnosisTaskAdvListV2Results) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	r.results = &results
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) Status(status []*DiagnosisTaskAdvListV2Status) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	r.status = &status
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) StartTime(startTime int64) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	r.startTime = &startTime
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) EndTime(endTime int64) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) Page(page int32) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) PageSize(pageSize int32) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) Execute() (*DiagnosisTaskAdvListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) AccessToken(accessToken string) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) WithLog(enable bool) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2DiagnosisTaskAdvListGet Method for OpenApi2DiagnosisTaskAdvListGet

Adv获取前测任务列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2DiagnosisTaskAdvListGetRequest
*/
func (a *DiagnosisTaskAdvListV2ApiService) Get(ctx context.Context) *ApiOpenApi2DiagnosisTaskAdvListGetRequest {
	return &ApiOpenApi2DiagnosisTaskAdvListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DiagnosisTaskAdvListV2Response
func (a *DiagnosisTaskAdvListV2ApiService) getExecute(r *ApiOpenApi2DiagnosisTaskAdvListGetRequest) (*DiagnosisTaskAdvListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DiagnosisTaskAdvListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/diagnosis_task/adv/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	if r.results != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "results", r.results)
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
