/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueCaInterfaceUpdateV2ApiService ClueCaInterfaceUpdateV2Api service
type ClueCaInterfaceUpdateV2ApiService service

type ApiOpenApi2ClueCaInterfaceUpdatePostRequest struct {
	ctx                            context.Context
	ApiService                     *ClueCaInterfaceUpdateV2ApiService
	clueCaInterfaceUpdateV2Request *ClueCaInterfaceUpdateV2Request
}

func (r *ApiOpenApi2ClueCaInterfaceUpdatePostRequest) ClueCaInterfaceUpdateV2Request(clueCaInterfaceUpdateV2Request ClueCaInterfaceUpdateV2Request) *ApiOpenApi2ClueCaInterfaceUpdatePostRequest {
	r.clueCaInterfaceUpdateV2Request = &clueCaInterfaceUpdateV2Request
	return r
}

func (r *ApiOpenApi2ClueCaInterfaceUpdatePostRequest) Execute() (*ClueCaInterfaceUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ClueCaInterfaceUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2ClueCaInterfaceUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueCaInterfaceUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2ClueCaInterfaceUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueCaInterfaceUpdatePost Method for OpenApi2ClueCaInterfaceUpdatePost

获客助手接口版更新

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueCaInterfaceUpdatePostRequest
*/
func (a *ClueCaInterfaceUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2ClueCaInterfaceUpdatePostRequest {
	return &ApiOpenApi2ClueCaInterfaceUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueCaInterfaceUpdateV2Response
func (a *ClueCaInterfaceUpdateV2ApiService) postExecute(r *ApiOpenApi2ClueCaInterfaceUpdatePostRequest) (*ClueCaInterfaceUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueCaInterfaceUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/ca/interface/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.clueCaInterfaceUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
