/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpPlayableListV30ApiService ToolsEbpPlayableListV30Api service
type ToolsEbpPlayableListV30ApiService service

type ApiOpenApiV30ToolsEbpPlayableListGetRequest struct {
	ctx          context.Context
	ApiService   *ToolsEbpPlayableListV30ApiService
	advertiserId *int64
	materialType *models.ToolsEbpPlayableListV30MaterialType
	filtering    *models.ToolsEbpPlayableListV30Filtering
	pageSize     *int64
	page         *int64
}

// 账户ID
func (r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ToolsEbpPlayableListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 素材类型
func (r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) MaterialType(materialType models.ToolsEbpPlayableListV30MaterialType) *ApiOpenApiV30ToolsEbpPlayableListGetRequest {
	r.materialType = &materialType
	return r
}

// 可选过滤参数
func (r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) Filtering(filtering models.ToolsEbpPlayableListV30Filtering) *ApiOpenApiV30ToolsEbpPlayableListGetRequest {
	r.filtering = &filtering
	return r
}

// 页面大小
func (r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpPlayableListGetRequest {
	r.pageSize = &pageSize
	return r
}

// 页码
func (r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpPlayableListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) Execute() (*models.ToolsEbpPlayableListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpPlayableListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpPlayableListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpPlayableListGet Method for OpenApiV30ToolsEbpPlayableListGet

获取账户可用的组织试玩/直玩素材

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpPlayableListGetRequest
*/
func (a *ToolsEbpPlayableListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpPlayableListGetRequest {
	return &ApiOpenApiV30ToolsEbpPlayableListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpPlayableListV30Response
func (a *ToolsEbpPlayableListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpPlayableListGetRequest) (*models.ToolsEbpPlayableListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.ToolsEbpPlayableListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/playable/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.materialType == nil {
		return localVarReturnValue, nil, ReportError("materialType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "material_type", r.materialType)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
