/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalProjectDeleteV30ApiService LocalProjectDeleteV30Api service
type LocalProjectDeleteV30ApiService service

type ApiOpenApiV30LocalProjectDeletePostRequest struct {
	ctx                          context.Context
	ApiService                   *LocalProjectDeleteV30ApiService
	localProjectDeleteV30Request *LocalProjectDeleteV30Request
}

func (r *ApiOpenApiV30LocalProjectDeletePostRequest) LocalProjectDeleteV30Request(localProjectDeleteV30Request LocalProjectDeleteV30Request) *ApiOpenApiV30LocalProjectDeletePostRequest {
	r.localProjectDeleteV30Request = &localProjectDeleteV30Request
	return r
}

func (r *ApiOpenApiV30LocalProjectDeletePostRequest) Execute() (*LocalProjectDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalProjectDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalProjectDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalProjectDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30LocalProjectDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalProjectDeletePost Method for OpenApiV30LocalProjectDeletePost

删除项目

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalProjectDeletePostRequest
*/
func (a *LocalProjectDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalProjectDeletePostRequest {
	return &ApiOpenApiV30LocalProjectDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalProjectDeleteV30Response
func (a *LocalProjectDeleteV30ApiService) postExecute(r *ApiOpenApiV30LocalProjectDeletePostRequest) (*LocalProjectDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalProjectDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/project/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localProjectDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
