/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ReportReportLiveRoomAudiencePortraitGetV30ApiService ReportReportLiveRoomAudiencePortraitGetV30Api service
type ReportReportLiveRoomAudiencePortraitGetV30ApiService service

type ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest struct {
	ctx          context.Context
	ApiService   *ReportReportLiveRoomAudiencePortraitGetV30ApiService
	advertiserId *int64
	dimension    *ReportReportLiveRoomAudiencePortraitGetV30Dimension
	filtering    *ReportReportLiveRoomAudiencePortraitGetV30Filtering
	startTime    *string
	endTime      *string
	fields       *[]string
	orderField   *string
	orderType    *ReportReportLiveRoomAudiencePortraitGetV30OrderType
	page         *int64
	pageSize     *int64
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) Dimension(dimension ReportReportLiveRoomAudiencePortraitGetV30Dimension) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.dimension = &dimension
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) Filtering(filtering ReportReportLiveRoomAudiencePortraitGetV30Filtering) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) StartTime(startTime string) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.startTime = &startTime
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) EndTime(endTime string) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) Fields(fields []string) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.fields = &fields
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) OrderField(orderField string) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.orderField = &orderField
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) OrderType(orderType ReportReportLiveRoomAudiencePortraitGetV30OrderType) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.orderType = &orderType
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) Page(page int64) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) Execute() (*ReportReportLiveRoomAudiencePortraitGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ReportReportLiveRoomAudiencePortraitGetGet Method for OpenApiV30ReportReportLiveRoomAudiencePortraitGetGet

直播间受众分析报表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest
*/
func (a *ReportReportLiveRoomAudiencePortraitGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest {
	return &ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportReportLiveRoomAudiencePortraitGetV30Response
func (a *ReportReportLiveRoomAudiencePortraitGetV30ApiService) getExecute(r *ApiOpenApiV30ReportReportLiveRoomAudiencePortraitGetGetRequest) (*ReportReportLiveRoomAudiencePortraitGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ReportReportLiveRoomAudiencePortraitGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/report/report/live_room/audience/portrait/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.dimension == nil {
		return localVarReturnValue, nil, ReportError("dimension is required and must be specified")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "dimension", r.dimension)
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
