/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarMcnGetAuthorListV2ApiService StarMcnGetAuthorListV2Api service
type StarMcnGetAuthorListV2ApiService service

type ApiOpenApi2StarMcnGetAuthorListGetRequest struct {
	ctx         context.Context
	ApiService  *StarMcnGetAuthorListV2ApiService
	starId      *int64
	authorId    *int64
	page        *int32
	pageSize    *int32
	developerId *int64
}

func (r *ApiOpenApi2StarMcnGetAuthorListGetRequest) StarId(starId int64) *ApiOpenApi2StarMcnGetAuthorListGetRequest {
	r.starId = &starId
	return r
}

func (r *ApiOpenApi2StarMcnGetAuthorListGetRequest) AuthorId(authorId int64) *ApiOpenApi2StarMcnGetAuthorListGetRequest {
	r.authorId = &authorId
	return r
}

func (r *ApiOpenApi2StarMcnGetAuthorListGetRequest) Page(page int32) *ApiOpenApi2StarMcnGetAuthorListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2StarMcnGetAuthorListGetRequest) PageSize(pageSize int32) *ApiOpenApi2StarMcnGetAuthorListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2StarMcnGetAuthorListGetRequest) DeveloperId(developerId int64) *ApiOpenApi2StarMcnGetAuthorListGetRequest {
	r.developerId = &developerId
	return r
}

func (r *ApiOpenApi2StarMcnGetAuthorListGetRequest) Execute() (*StarMcnGetAuthorListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarMcnGetAuthorListGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarMcnGetAuthorListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarMcnGetAuthorListGetRequest) WithLog(enable bool) *ApiOpenApi2StarMcnGetAuthorListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarMcnGetAuthorListGet Method for OpenApi2StarMcnGetAuthorListGet

机构承包-获取达人绑定关系

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarMcnGetAuthorListGetRequest
*/
func (a *StarMcnGetAuthorListV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarMcnGetAuthorListGetRequest {
	return &ApiOpenApi2StarMcnGetAuthorListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarMcnGetAuthorListV2Response
func (a *StarMcnGetAuthorListV2ApiService) getExecute(r *ApiOpenApi2StarMcnGetAuthorListGetRequest) (*StarMcnGetAuthorListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarMcnGetAuthorListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/mcn/get_author_list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	if r.authorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "author_id", r.authorId)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.developerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "developer_id", r.developerId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
