/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanUniPromotionBlockMaterialGetV10ApiService QianchuanUniPromotionBlockMaterialGetV10Api service
type QianchuanUniPromotionBlockMaterialGetV10ApiService service

type ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest struct {
	ctx           context.Context
	ApiService    *QianchuanUniPromotionBlockMaterialGetV10ApiService
	advertiserId  *int64
	awemeId       *int64
	marketingGoal *QianchuanUniPromotionBlockMaterialGetV10MarketingGoal
	mediaType     *QianchuanUniPromotionBlockMaterialGetV10MediaType
	productId     *[]int64
	filtering     *QianchuanUniPromotionBlockMaterialGetV10Filtering
	orderField    *QianchuanUniPromotionBlockMaterialGetV10OrderField
	cursor        *int64
}

func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 抖音号id
func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.awemeId = &awemeId
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) MarketingGoal(marketingGoal QianchuanUniPromotionBlockMaterialGetV10MarketingGoal) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.marketingGoal = &marketingGoal
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) MediaType(mediaType QianchuanUniPromotionBlockMaterialGetV10MediaType) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.mediaType = &mediaType
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) ProductId(productId []int64) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.productId = &productId
	return r
}

// 过滤器
func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) Filtering(filtering QianchuanUniPromotionBlockMaterialGetV10Filtering) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) OrderField(orderField QianchuanUniPromotionBlockMaterialGetV10OrderField) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.orderField = &orderField
	return r
}

// 页码游标值
func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) Cursor(cursor int64) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.cursor = &cursor
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) Execute() (*QianchuanUniPromotionBlockMaterialGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanUniPromotionBlockMaterialGetGet Method for OpenApiV10QianchuanUniPromotionBlockMaterialGetGet

获取全域可排除抖音视频列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest
*/
func (a *QianchuanUniPromotionBlockMaterialGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest {
	return &ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanUniPromotionBlockMaterialGetV10Response
func (a *QianchuanUniPromotionBlockMaterialGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanUniPromotionBlockMaterialGetGetRequest) (*QianchuanUniPromotionBlockMaterialGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanUniPromotionBlockMaterialGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/uni_promotion/block_material/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.awemeId == nil {
		return localVarReturnValue, nil, ReportError("awemeId is required and must be specified")
	}
	if r.marketingGoal == nil {
		return localVarReturnValue, nil, ReportError("marketingGoal is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "marketing_goal", r.marketingGoal)
	if r.mediaType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "media_type", r.mediaType)
	}
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
