/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsThirdSiteDeleteV2ApiService ToolsThirdSiteDeleteV2Api service
type ToolsThirdSiteDeleteV2ApiService service

type ApiOpenApi2ToolsThirdSiteDeletePostRequest struct {
	ctx                           context.Context
	ApiService                    *ToolsThirdSiteDeleteV2ApiService
	toolsThirdSiteDeleteV2Request *ToolsThirdSiteDeleteV2Request
}

func (r *ApiOpenApi2ToolsThirdSiteDeletePostRequest) ToolsThirdSiteDeleteV2Request(toolsThirdSiteDeleteV2Request ToolsThirdSiteDeleteV2Request) *ApiOpenApi2ToolsThirdSiteDeletePostRequest {
	r.toolsThirdSiteDeleteV2Request = &toolsThirdSiteDeleteV2Request
	return r
}

func (r *ApiOpenApi2ToolsThirdSiteDeletePostRequest) Execute() (*ToolsThirdSiteDeleteV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsThirdSiteDeletePostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsThirdSiteDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsThirdSiteDeletePostRequest) WithLog(enable bool) *ApiOpenApi2ToolsThirdSiteDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsThirdSiteDeletePost Method for OpenApi2ToolsThirdSiteDeletePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsThirdSiteDeletePostRequest
*/
func (a *ToolsThirdSiteDeleteV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsThirdSiteDeletePostRequest {
	return &ApiOpenApi2ToolsThirdSiteDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsThirdSiteDeleteV2Response
func (a *ToolsThirdSiteDeleteV2ApiService) postExecute(r *ApiOpenApi2ToolsThirdSiteDeletePostRequest) (*ToolsThirdSiteDeleteV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsThirdSiteDeleteV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/third_site/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsThirdSiteDeleteV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
