/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandAnchorListV30ApiService BrandAnchorListV30Api service
type BrandAnchorListV30ApiService service

type ApiOpenApiV30BrandAnchorListGetRequest struct {
	ctx          context.Context
	ApiService   *BrandAnchorListV30ApiService
	advertiserId *int64
	page         *BrandAnchorListV30Page
}

func (r *ApiOpenApiV30BrandAnchorListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30BrandAnchorListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV30BrandAnchorListGetRequest) Page(page BrandAnchorListV30Page) *ApiOpenApiV30BrandAnchorListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30BrandAnchorListGetRequest) Execute() (*BrandAnchorListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30BrandAnchorListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandAnchorListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandAnchorListGetRequest) WithLog(enable bool) *ApiOpenApiV30BrandAnchorListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandAnchorListGet Method for OpenApiV30BrandAnchorListGet

查询锚点

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandAnchorListGetRequest
*/
func (a *BrandAnchorListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30BrandAnchorListGetRequest {
	return &ApiOpenApiV30BrandAnchorListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandAnchorListV30Response
func (a *BrandAnchorListV30ApiService) getExecute(r *ApiOpenApiV30BrandAnchorListGetRequest) (*BrandAnchorListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandAnchorListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/anchor/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
