/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsClueGetV2ApiService ToolsClueGetV2Api service
type ToolsClueGetV2ApiService service

type ApiOpenApi2ToolsClueGetGetRequest struct {
	ctx           context.Context
	ApiService    *ToolsClueGetV2ApiService
	advertiserIds *[]int64
	startTime     *string
	endTime       *string
	page          *int32
	pageSize      *int32
	clueIds       *[]int64
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) AdvertiserIds(advertiserIds []int64) *ApiOpenApi2ToolsClueGetGetRequest {
	r.advertiserIds = &advertiserIds
	return r
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) StartTime(startTime string) *ApiOpenApi2ToolsClueGetGetRequest {
	r.startTime = &startTime
	return r
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) EndTime(endTime string) *ApiOpenApi2ToolsClueGetGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) Page(page int32) *ApiOpenApi2ToolsClueGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) PageSize(pageSize int32) *ApiOpenApi2ToolsClueGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) ClueIds(clueIds []int64) *ApiOpenApi2ToolsClueGetGetRequest {
	r.clueIds = &clueIds
	return r
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) Execute() (*ToolsClueGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsClueGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsClueGetGetRequest) WithLog(enable bool) *ApiOpenApi2ToolsClueGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsClueGetGet Method for OpenApi2ToolsClueGetGet

该接口用于获取广告主的飞鱼线索列表。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsClueGetGetRequest
*/
func (a *ToolsClueGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2ToolsClueGetGetRequest {
	return &ApiOpenApi2ToolsClueGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsClueGetV2Response
func (a *ToolsClueGetV2ApiService) getExecute(r *ApiOpenApi2ToolsClueGetGetRequest) (*ToolsClueGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsClueGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/clue/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_ids", r.advertiserIds)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.clueIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "clue_ids", r.clueIds)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
