/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// InvoiceApplyOrderListV30ApiService InvoiceApplyOrderListV30Api service
type InvoiceApplyOrderListV30ApiService service

type ApiOpenApiV30InvoiceApplyOrderListGetRequest struct {
	ctx                 context.Context
	ApiService          *InvoiceApplyOrderListV30ApiService
	accountId           *int64
	platform            *InvoiceApplyOrderListV30Platform
	invoiceDirections   *[]*InvoiceApplyOrderListV30InvoiceDirections
	invoiceTypes        *[]*InvoiceApplyOrderListV30InvoiceTypes
	invoiceStatuses     *[]*InvoiceApplyOrderListV30InvoiceStatuses
	invoiceApplySerials *[]string
	reverseStatuses     *[]*InvoiceApplyOrderListV30ReverseStatuses
	startDate           *string
	endDate             *string
	page                *int64
	pageSize            *int64
}

// 投放账户ID
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) AccountId(accountId int64) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.accountId = &accountId
	return r
}

// 业务线
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) Platform(platform InvoiceApplyOrderListV30Platform) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.platform = &platform
	return r
}

// 发票方向列表
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) InvoiceDirections(invoiceDirections []*InvoiceApplyOrderListV30InvoiceDirections) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.invoiceDirections = &invoiceDirections
	return r
}

// 发票类型列表
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) InvoiceTypes(invoiceTypes []*InvoiceApplyOrderListV30InvoiceTypes) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.invoiceTypes = &invoiceTypes
	return r
}

// 开票状态列表
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) InvoiceStatuses(invoiceStatuses []*InvoiceApplyOrderListV30InvoiceStatuses) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.invoiceStatuses = &invoiceStatuses
	return r
}

// 开票申请单编号列表
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) InvoiceApplySerials(invoiceApplySerials []string) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.invoiceApplySerials = &invoiceApplySerials
	return r
}

// 红冲状态列表
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) ReverseStatuses(reverseStatuses []*InvoiceApplyOrderListV30ReverseStatuses) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.reverseStatuses = &reverseStatuses
	return r
}

// 创建开票申请起始日期；格式 yyyy-MM-dd
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) StartDate(startDate string) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.startDate = &startDate
	return r
}

// 创建开票申请截止日期；格式 yyyy-MM-dd
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) EndDate(endDate string) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.endDate = &endDate
	return r
}

// 页码，最大1000
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) Page(page int64) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.page = &page
	return r
}

// 页容量，最大100
func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) Execute() (*InvoiceApplyOrderListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) WithLog(enable bool) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30InvoiceApplyOrderListGet Method for OpenApiV30InvoiceApplyOrderListGet

查询已提交的开票申请

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30InvoiceApplyOrderListGetRequest
*/
func (a *InvoiceApplyOrderListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30InvoiceApplyOrderListGetRequest {
	return &ApiOpenApiV30InvoiceApplyOrderListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InvoiceApplyOrderListV30Response
func (a *InvoiceApplyOrderListV30ApiService) getExecute(r *ApiOpenApiV30InvoiceApplyOrderListGetRequest) (*InvoiceApplyOrderListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *InvoiceApplyOrderListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/invoice/apply_order/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.platform == nil {
		return localVarReturnValue, nil, ReportError("platform is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform)
	if r.invoiceDirections != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoice_directions", r.invoiceDirections)
	}
	if r.invoiceTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoice_types", r.invoiceTypes)
	}
	if r.invoiceStatuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoice_statuses", r.invoiceStatuses)
	}
	if r.invoiceApplySerials != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoice_apply_serials", r.invoiceApplySerials)
	}
	if r.reverseStatuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reverse_statuses", r.reverseStatuses)
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
