/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ChargeVerifyGetV30ApiService ChargeVerifyGetV30Api service
type ChargeVerifyGetV30ApiService service

type ApiOpenApiV30ChargeVerifyGetGetRequest struct {
	ctx          context.Context
	ApiService   *ChargeVerifyGetV30ApiService
	ccAccountId  *int64
	accountId    *int64
	platform     *ChargeVerifyGetV30Platform
	requestId    *string
	chargeType   *ChargeVerifyGetV30ChargeType
	chargeSource *ChargeVerifyGetV30ChargeSource
	caller       *ChargeVerifyGetV30Caller
}

func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) CcAccountId(ccAccountId int64) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	r.ccAccountId = &ccAccountId
	return r
}

// 广告主ID
func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	r.accountId = &accountId
	return r
}

// 业务线
func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) Platform(platform ChargeVerifyGetV30Platform) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	r.platform = &platform
	return r
}

// 唯一请求参数
func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) RequestId(requestId string) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	r.requestId = &requestId
	return r
}

// 充值类型
func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) ChargeType(chargeType ChargeVerifyGetV30ChargeType) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	r.chargeType = &chargeType
	return r
}

// 充值来源
func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) ChargeSource(chargeSource ChargeVerifyGetV30ChargeSource) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	r.chargeSource = &chargeSource
	return r
}

// 请求方
func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) Caller(caller ChargeVerifyGetV30Caller) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	r.caller = &caller
	return r
}

func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) Execute() (*ChargeVerifyGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ChargeVerifyGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ChargeVerifyGetGet Method for OpenApiV30ChargeVerifyGetGet

校验广告主是否可以充值

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ChargeVerifyGetGetRequest
*/
func (a *ChargeVerifyGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ChargeVerifyGetGetRequest {
	return &ApiOpenApiV30ChargeVerifyGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ChargeVerifyGetV30Response
func (a *ChargeVerifyGetV30ApiService) getExecute(r *ApiOpenApiV30ChargeVerifyGetGetRequest) (*ChargeVerifyGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ChargeVerifyGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/charge/verify/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ccAccountId == nil {
		return localVarReturnValue, nil, ReportError("ccAccountId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.platform == nil {
		return localVarReturnValue, nil, ReportError("platform is required and must be specified")
	}
	if r.requestId == nil {
		return localVarReturnValue, nil, ReportError("requestId is required and must be specified")
	}
	if r.chargeType == nil {
		return localVarReturnValue, nil, ReportError("chargeType is required and must be specified")
	}
	if r.chargeSource == nil {
		return localVarReturnValue, nil, ReportError("chargeSource is required and must be specified")
	}
	if r.caller == nil {
		return localVarReturnValue, nil, ReportError("caller is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "cc_account_id", r.ccAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform)
	parameterAddToHeaderOrQuery(localVarQueryParams, "request_id", r.requestId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "charge_type", r.chargeType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "charge_source", r.chargeSource)
	parameterAddToHeaderOrQuery(localVarQueryParams, "caller", r.caller)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
