/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarComponentQueryLinkV2ApiService StarComponentQueryLinkV2Api service
type StarComponentQueryLinkV2ApiService service

type ApiOpenApi2StarComponentQueryLinkGetRequest struct {
	ctx             context.Context
	ApiService      *StarComponentQueryLinkV2ApiService
	starId          *int64
	componentStatus *int32
	page            *int32
	limit           *int32
	linkIds         *[]int64
	linkType        *int32
}

// 星图客户ID
func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) StarId(starId int64) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	r.starId = &starId
	return r
}

// 组件状态 0 &#x3D; 待送审 1 &#x3D; 有效 2 &#x3D;审核中 3 &#x3D; 审核失败 不传则为全部
func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) ComponentStatus(componentStatus int32) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	r.componentStatus = &componentStatus
	return r
}

// 分页页码 正整数，默认1
func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) Page(page int32) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	r.page = &page
	return r
}

// 页大小 正整数且≤50，默认10
func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) Limit(limit int32) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	r.limit = &limit
	return r
}

func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) LinkIds(linkIds []int64) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	r.linkIds = &linkIds
	return r
}

func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) LinkType(linkType int32) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	r.linkType = &linkType
	return r
}

func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) Execute() (*StarComponentQueryLinkV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarComponentQueryLinkGetRequest) WithLog(enable bool) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarComponentQueryLinkGet Method for OpenApi2StarComponentQueryLinkGet

常规组件查询

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarComponentQueryLinkGetRequest
*/
func (a *StarComponentQueryLinkV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarComponentQueryLinkGetRequest {
	return &ApiOpenApi2StarComponentQueryLinkGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarComponentQueryLinkV2Response
func (a *StarComponentQueryLinkV2ApiService) getExecute(r *ApiOpenApi2StarComponentQueryLinkGetRequest) (*StarComponentQueryLinkV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarComponentQueryLinkV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/component/query_link/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	if r.componentStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "component_status", r.componentStatus)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit)
	}
	if r.linkIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "link_ids", r.linkIds)
	}
	if r.linkType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "link_type", r.linkType)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
