/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CampaignCreateV2ApiService CampaignCreateV2Api service
type CampaignCreateV2ApiService service

type ApiOpenApi2CampaignCreatePostRequest struct {
	ctx                     context.Context
	ApiService              *CampaignCreateV2ApiService
	campaignCreateV2Request *CampaignCreateV2Request
}

func (r *ApiOpenApi2CampaignCreatePostRequest) CampaignCreateV2Request(campaignCreateV2Request CampaignCreateV2Request) *ApiOpenApi2CampaignCreatePostRequest {
	r.campaignCreateV2Request = &campaignCreateV2Request
	return r
}

func (r *ApiOpenApi2CampaignCreatePostRequest) Execute() (*CampaignCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2CampaignCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2CampaignCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2CampaignCreatePostRequest) WithLog(enable bool) *ApiOpenApi2CampaignCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2CampaignCreatePost Method for OpenApi2CampaignCreatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2CampaignCreatePostRequest
*/
func (a *CampaignCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2CampaignCreatePostRequest {
	return &ApiOpenApi2CampaignCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CampaignCreateV2Response
func (a *CampaignCreateV2ApiService) postExecute(r *ApiOpenApi2CampaignCreatePostRequest) (*CampaignCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CampaignCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/campaign/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.campaignCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
