/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsAigcMaterialGetV2ApiService ToolsAigcMaterialGetV2Api service
type ToolsAigcMaterialGetV2ApiService service

type ApiOpenApi2ToolsAigcMaterialGetGetRequest struct {
	ctx                 context.Context
	ApiService          *ToolsAigcMaterialGetV2ApiService
	advertiserId        *int64
	projectType         *models.ToolsAigcMaterialGetV2ProjectType
	productId           *int64
	productPlatformId   *int64
	uniqueProductId     *int64
	deliveryMedium      *models.ToolsAigcMaterialGetV2DeliveryMedium
	multiDeliveryMedium *models.ToolsAigcMaterialGetV2MultiDeliveryMedium
	awemeId             *string
	instanceId          *int64
	page                *int64
	pageSize            *int64
}

// 账户id
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) ProjectType(projectType models.ToolsAigcMaterialGetV2ProjectType) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.projectType = &projectType
	return r
}

// 商品id
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) ProductId(productId int64) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.productId = &productId
	return r
}

// 商品库id
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) ProductPlatformId(productPlatformId int64) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.productPlatformId = &productPlatformId
	return r
}

// 升级版商品id
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) UniqueProductId(uniqueProductId int64) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.uniqueProductId = &uniqueProductId
	return r
}

// 投放载体
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) DeliveryMedium(deliveryMedium models.ToolsAigcMaterialGetV2DeliveryMedium) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.deliveryMedium = &deliveryMedium
	return r
}

// 多投放载体
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) MultiDeliveryMedium(multiDeliveryMedium models.ToolsAigcMaterialGetV2MultiDeliveryMedium) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.multiDeliveryMedium = &multiDeliveryMedium
	return r
}

// 抖音号id
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) AwemeId(awemeId string) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.awemeId = &awemeId
	return r
}

// 小程序id
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) InstanceId(instanceId int64) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.instanceId = &instanceId
	return r
}

// 页码
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) Page(page int64) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) PageSize(pageSize int64) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) Execute() (*models.ToolsAigcMaterialGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) WithLog(enable bool) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsAigcMaterialGetGet Method for OpenApi2ToolsAigcMaterialGetGet

获取推荐AIGC素材

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsAigcMaterialGetGetRequest
*/
func (a *ToolsAigcMaterialGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2ToolsAigcMaterialGetGetRequest {
	return &ApiOpenApi2ToolsAigcMaterialGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsAigcMaterialGetV2Response
func (a *ToolsAigcMaterialGetV2ApiService) getExecute(r *ApiOpenApi2ToolsAigcMaterialGetGetRequest) (*models.ToolsAigcMaterialGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.ToolsAigcMaterialGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/aigc_material/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.projectType == nil {
		return localVarReturnValue, nil, ReportError("projectType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id", r.productId)
	}
	if r.productPlatformId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_platform_id", r.productPlatformId)
	}
	if r.uniqueProductId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unique_product_id", r.uniqueProductId)
	}
	if r.deliveryMedium != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_medium", r.deliveryMedium)
	}
	if r.multiDeliveryMedium != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "multi_delivery_medium", r.multiDeliveryMedium)
	}
	if r.awemeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	}
	if r.instanceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "instance_id", r.instanceId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "project_type", r.projectType)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
