/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpVideoAttributesListV30ApiService ToolsEbpVideoAttributesListV30Api service
type ToolsEbpVideoAttributesListV30ApiService service

type ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest struct {
	ctx                         context.Context
	ApiService                  *ToolsEbpVideoAttributesListV30ApiService
	accountId                   *int64
	accountType                 *ToolsEbpVideoAttributesListV30AccountType
	filtering                   *ToolsEbpVideoAttributesListV30Filtering
	returnLowqualitySuggestions *bool
	pageSize                    *int32
	page                        *int32
}

// 各平台账户id，需同时选择account_type类型 需传入「获取已授权账户」接口返回的advertiser_id
func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	r.accountId = &accountId
	return r
}

// 账户类型，允许值：
func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) AccountType(accountType ToolsEbpVideoAttributesListV30AccountType) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	r.accountType = &accountType
	return r
}

// 过滤条件
func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) Filtering(filtering ToolsEbpVideoAttributesListV30Filtering) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) ReturnLowqualitySuggestions(returnLowqualitySuggestions bool) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	r.returnLowqualitySuggestions = &returnLowqualitySuggestions
	return r
}

// 页面数据量，默认值: 100，page*page_size 最大1000
func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) PageSize(pageSize int32) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	r.pageSize = &pageSize
	return r
}

// 页码，默认值: 1，page*page_size 最大1000
func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) Page(page int32) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) Execute() (*ToolsEbpVideoAttributesListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpVideoAttributesListGet Method for OpenApiV30ToolsEbpVideoAttributesListGet

获取视频素材评估标签

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest
*/
func (a *ToolsEbpVideoAttributesListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest {
	return &ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpVideoAttributesListV30Response
func (a *ToolsEbpVideoAttributesListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpVideoAttributesListGetRequest) (*ToolsEbpVideoAttributesListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpVideoAttributesListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/video_attributes/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.returnLowqualitySuggestions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "return_lowquality_suggestions", r.returnLowqualitySuggestions)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
