/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCampaignOperateV30ApiService BrandCampaignOperateV30Api service
type BrandCampaignOperateV30ApiService service

type ApiOpenApiV30BrandCampaignOperatePostRequest struct {
	ctx                            context.Context
	ApiService                     *BrandCampaignOperateV30ApiService
	brandCampaignOperateV30Request *BrandCampaignOperateV30Request
}

func (r *ApiOpenApiV30BrandCampaignOperatePostRequest) BrandCampaignOperateV30Request(brandCampaignOperateV30Request BrandCampaignOperateV30Request) *ApiOpenApiV30BrandCampaignOperatePostRequest {
	r.brandCampaignOperateV30Request = &brandCampaignOperateV30Request
	return r
}

func (r *ApiOpenApiV30BrandCampaignOperatePostRequest) Execute() (*BrandCampaignOperateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandCampaignOperatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCampaignOperatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCampaignOperatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandCampaignOperatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCampaignOperatePost Method for OpenApiV30BrandCampaignOperatePost

AD品牌广告组操作

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCampaignOperatePostRequest
*/
func (a *BrandCampaignOperateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandCampaignOperatePostRequest {
	return &ApiOpenApiV30BrandCampaignOperatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCampaignOperateV30Response
func (a *BrandCampaignOperateV30ApiService) postExecute(r *ApiOpenApiV30BrandCampaignOperatePostRequest) (*BrandCampaignOperateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCampaignOperateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/campaign/operate/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandCampaignOperateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
