/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalDeliveryQualificationListV30ApiService LocalDeliveryQualificationListV30Api service
type LocalDeliveryQualificationListV30ApiService service

type ApiOpenApiV30LocalDeliveryQualificationListGetRequest struct {
	ctx               context.Context
	ApiService        *LocalDeliveryQualificationListV30ApiService
	localAccountId    *int64
	page              *int64
	pageSize          *int64
	qualificationType *LocalDeliveryQualificationListV30QualificationType
	status            *LocalDeliveryQualificationListV30Status
}

// 广告主id
func (r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalDeliveryQualificationListGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 默认值1， [1, 1000]
func (r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) Page(page int64) *ApiOpenApiV30LocalDeliveryQualificationListGetRequest {
	r.page = &page
	return r
}

// 默认值10，[1, 100]
func (r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalDeliveryQualificationListGetRequest {
	r.pageSize = &pageSize
	return r
}

// 投放资质类型：不传则返回所有类型的投放资质
func (r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) QualificationType(qualificationType LocalDeliveryQualificationListV30QualificationType) *ApiOpenApiV30LocalDeliveryQualificationListGetRequest {
	r.qualificationType = &qualificationType
	return r
}

// 资质状态
func (r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) Status(status LocalDeliveryQualificationListV30Status) *ApiOpenApiV30LocalDeliveryQualificationListGetRequest {
	r.status = &status
	return r
}

func (r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) Execute() (*LocalDeliveryQualificationListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalDeliveryQualificationListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalDeliveryQualificationListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalDeliveryQualificationListGet Method for OpenApiV30LocalDeliveryQualificationListGet

获取投放资质

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalDeliveryQualificationListGetRequest
*/
func (a *LocalDeliveryQualificationListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalDeliveryQualificationListGetRequest {
	return &ApiOpenApiV30LocalDeliveryQualificationListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalDeliveryQualificationListV30Response
func (a *LocalDeliveryQualificationListV30ApiService) getExecute(r *ApiOpenApiV30LocalDeliveryQualificationListGetRequest) (*LocalDeliveryQualificationListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalDeliveryQualificationListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/delivery_qualification/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	if r.qualificationType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "qualification_type", r.qualificationType)
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
