/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandOrderCreateV30ApiService BrandOrderCreateV30Api service
type BrandOrderCreateV30ApiService service

type ApiOpenApiV30BrandOrderCreatePostRequest struct {
	ctx                        context.Context
	ApiService                 *BrandOrderCreateV30ApiService
	brandOrderCreateV30Request *BrandOrderCreateV30Request
}

func (r *ApiOpenApiV30BrandOrderCreatePostRequest) BrandOrderCreateV30Request(brandOrderCreateV30Request BrandOrderCreateV30Request) *ApiOpenApiV30BrandOrderCreatePostRequest {
	r.brandOrderCreateV30Request = &brandOrderCreateV30Request
	return r
}

func (r *ApiOpenApiV30BrandOrderCreatePostRequest) Execute() (*BrandOrderCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandOrderCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandOrderCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandOrderCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandOrderCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandOrderCreatePost Method for OpenApiV30BrandOrderCreatePost

创建预定单

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandOrderCreatePostRequest
*/
func (a *BrandOrderCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandOrderCreatePostRequest {
	return &ApiOpenApiV30BrandOrderCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandOrderCreateV30Response
func (a *BrandOrderCreateV30ApiService) postExecute(r *ApiOpenApiV30BrandOrderCreatePostRequest) (*BrandOrderCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandOrderCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/order/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandOrderCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
