/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FileUploadTaskCreateV2ApiService FileUploadTaskCreateV2Api service
type FileUploadTaskCreateV2ApiService service

type ApiOpenApi2FileUploadTaskCreatePostRequest struct {
	ctx                           context.Context
	ApiService                    *FileUploadTaskCreateV2ApiService
	fileUploadTaskCreateV2Request *FileUploadTaskCreateV2Request
}

func (r *ApiOpenApi2FileUploadTaskCreatePostRequest) FileUploadTaskCreateV2Request(fileUploadTaskCreateV2Request FileUploadTaskCreateV2Request) *ApiOpenApi2FileUploadTaskCreatePostRequest {
	r.fileUploadTaskCreateV2Request = &fileUploadTaskCreateV2Request
	return r
}

func (r *ApiOpenApi2FileUploadTaskCreatePostRequest) Execute() (*FileUploadTaskCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2FileUploadTaskCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2FileUploadTaskCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2FileUploadTaskCreatePostRequest) WithLog(enable bool) *ApiOpenApi2FileUploadTaskCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2FileUploadTaskCreatePost Method for OpenApi2FileUploadTaskCreatePost

异步上传视频文件

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2FileUploadTaskCreatePostRequest
*/
func (a *FileUploadTaskCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2FileUploadTaskCreatePostRequest {
	return &ApiOpenApi2FileUploadTaskCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileUploadTaskCreateV2Response
func (a *FileUploadTaskCreateV2ApiService) postExecute(r *ApiOpenApi2FileUploadTaskCreatePostRequest) (*FileUploadTaskCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FileUploadTaskCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/file/upload_task/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.fileUploadTaskCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
