/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalFileCarouselListV30ApiService LocalFileCarouselListV30Api service
type LocalFileCarouselListV30ApiService service

type ApiOpenApiV30LocalFileCarouselListGetRequest struct {
	ctx            context.Context
	ApiService     *LocalFileCarouselListV30ApiService
	localAccountId *int64
	keyword        *string
	carouselIds    *[]int64
	startTime      *string
	endTime        *string
	order          *LocalFileCarouselListV30Order
	page           *int64
	pageSize       *int64
}

func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 关键词筛选，文件名称 或 id
func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) Keyword(keyword string) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.keyword = &keyword
	return r
}

// 图文carousel_id筛选，范围[0,10]
func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) CarouselIds(carouselIds []int64) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.carouselIds = &carouselIds
	return r
}

// 根据图文上传时间进行过滤的起始时间，与end_time搭配使用。 格式：\&quot;yyyy-mm-dd HH:MM:SS\&quot;
func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) StartTime(startTime string) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.startTime = &startTime
	return r
}

// 根据图文上传时间进行过滤的结束时间，与start_time搭配使用。 格式：\&quot;yyyy-mm-dd HH:MM:SS\&quot;
func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) EndTime(endTime string) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) Order(order LocalFileCarouselListV30Order) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.order = &order
	return r
}

// 页码
func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) Page(page int64) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) Execute() (*LocalFileCarouselListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalFileCarouselListGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalFileCarouselListGet Method for OpenApiV30LocalFileCarouselListGet

素材库图文素材列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalFileCarouselListGetRequest
*/
func (a *LocalFileCarouselListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalFileCarouselListGetRequest {
	return &ApiOpenApiV30LocalFileCarouselListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalFileCarouselListV30Response
func (a *LocalFileCarouselListV30ApiService) getExecute(r *ApiOpenApiV30LocalFileCarouselListGetRequest) (*LocalFileCarouselListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalFileCarouselListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/file/carousel/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword)
	}
	if r.carouselIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "carousel_ids", r.carouselIds)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
