/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpMaterialListV30ApiService ToolsEbpMaterialListV30Api service
type ToolsEbpMaterialListV30ApiService service

type ApiOpenApiV30ToolsEbpMaterialListGetRequest struct {
	ctx           context.Context
	ApiService    *ToolsEbpMaterialListV30ApiService
	accountId     *int64
	materialRange *string
	filtering     *ToolsEbpMaterialListV30Filtering
	page          *int64
	pageSize      *int64
}

// EBP 组织 ID
func (r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpMaterialListGetRequest {
	r.accountId = &accountId
	return r
}

// all: 全部可见; self: 仅直属
func (r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) MaterialRange(materialRange string) *ApiOpenApiV30ToolsEbpMaterialListGetRequest {
	r.materialRange = &materialRange
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) Filtering(filtering ToolsEbpMaterialListV30Filtering) *ApiOpenApiV30ToolsEbpMaterialListGetRequest {
	r.filtering = &filtering
	return r
}

// 页码
func (r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpMaterialListGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpMaterialListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) Execute() (*ToolsEbpMaterialListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpMaterialListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpMaterialListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpMaterialListGet Method for OpenApiV30ToolsEbpMaterialListGet

支持按 ebp_id 查询该组织下的素材 mid 列表；查询条件与返回字段与现有 adv 维度素材列表接口对齐

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpMaterialListGetRequest
*/
func (a *ToolsEbpMaterialListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpMaterialListGetRequest {
	return &ApiOpenApiV30ToolsEbpMaterialListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpMaterialListV30Response
func (a *ToolsEbpMaterialListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpMaterialListGetRequest) (*ToolsEbpMaterialListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpMaterialListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/material/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.materialRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "material_range", r.materialRange)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
