/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdvertiserAvatarGetV2ApiService AdvertiserAvatarGetV2Api service
type AdvertiserAvatarGetV2ApiService service

type ApiOpenApi2AdvertiserAvatarGetGetRequest struct {
	ctx          context.Context
	ApiService   *AdvertiserAvatarGetV2ApiService
	advertiserId *int64
}

func (r *ApiOpenApi2AdvertiserAvatarGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2AdvertiserAvatarGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2AdvertiserAvatarGetGetRequest) Execute() (*AdvertiserAvatarGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2AdvertiserAvatarGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2AdvertiserAvatarGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdvertiserAvatarGetGetRequest) WithLog(enable bool) *ApiOpenApi2AdvertiserAvatarGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdvertiserAvatarGetGet Method for OpenApi2AdvertiserAvatarGetGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdvertiserAvatarGetGetRequest
*/
func (a *AdvertiserAvatarGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2AdvertiserAvatarGetGetRequest {
	return &ApiOpenApi2AdvertiserAvatarGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdvertiserAvatarGetV2Response
func (a *AdvertiserAvatarGetV2ApiService) getExecute(r *ApiOpenApi2AdvertiserAvatarGetGetRequest) (*AdvertiserAvatarGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdvertiserAvatarGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/advertiser/avatar/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
