/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanUniAwemeSuggestRoiV10ApiService QianchuanUniAwemeSuggestRoiV10Api service
type QianchuanUniAwemeSuggestRoiV10ApiService service

type ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest struct {
	ctx                context.Context
	ApiService         *QianchuanUniAwemeSuggestRoiV10ApiService
	advertiserId       *int64
	marketingGoal      *QianchuanUniAwemeSuggestRoiV10MarketingGoal
	awemeId            *int64
	deepExternalAction *QianchuanUniAwemeSuggestRoiV10DeepExternalAction
	productIds         *[]int64
	adId               *int64
	taskId             *int64
	scene              *QianchuanUniAwemeSuggestRoiV10Scene
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) MarketingGoal(marketingGoal QianchuanUniAwemeSuggestRoiV10MarketingGoal) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.marketingGoal = &marketingGoal
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.awemeId = &awemeId
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) DeepExternalAction(deepExternalAction QianchuanUniAwemeSuggestRoiV10DeepExternalAction) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.deepExternalAction = &deepExternalAction
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) ProductIds(productIds []int64) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.productIds = &productIds
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) AdId(adId int64) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.adId = &adId
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) TaskId(taskId int64) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.taskId = &taskId
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) Scene(scene QianchuanUniAwemeSuggestRoiV10Scene) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.scene = &scene
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) Execute() (*QianchuanUniAwemeSuggestRoiV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanUniAwemeSuggestRoiGet Method for OpenApiV10QianchuanUniAwemeSuggestRoiGet

获取全域推广控成本计划建议支付ROI目标

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest
*/
func (a *QianchuanUniAwemeSuggestRoiV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest {
	return &ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanUniAwemeSuggestRoiV10Response
func (a *QianchuanUniAwemeSuggestRoiV10ApiService) getExecute(r *ApiOpenApiV10QianchuanUniAwemeSuggestRoiGetRequest) (*QianchuanUniAwemeSuggestRoiV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanUniAwemeSuggestRoiV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/uni_aweme/suggest/roi/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.marketingGoal == nil {
		return localVarReturnValue, nil, ReportError("marketingGoal is required and must be specified")
	}
	if r.awemeId == nil {
		return localVarReturnValue, nil, ReportError("awemeId is required and must be specified")
	}
	if *r.awemeId < 1 {
		return localVarReturnValue, nil, ReportError("awemeId must be greater than 1")
	}
	if r.deepExternalAction == nil {
		return localVarReturnValue, nil, ReportError("deepExternalAction is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "marketing_goal", r.marketingGoal)
	parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "deep_external_action", r.deepExternalAction)
	if r.productIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_ids", r.productIds)
	}
	if r.adId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ad_id", r.adId)
	}
	if r.taskId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId)
	}
	if r.scene != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scene", r.scene)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
