/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandAdDeleteV30ApiService BrandAdDeleteV30Api service
type BrandAdDeleteV30ApiService service

type ApiOpenApiV30BrandAdDeletePostRequest struct {
	ctx                     context.Context
	ApiService              *BrandAdDeleteV30ApiService
	brandAdDeleteV30Request *BrandAdDeleteV30Request
}

func (r *ApiOpenApiV30BrandAdDeletePostRequest) BrandAdDeleteV30Request(brandAdDeleteV30Request BrandAdDeleteV30Request) *ApiOpenApiV30BrandAdDeletePostRequest {
	r.brandAdDeleteV30Request = &brandAdDeleteV30Request
	return r
}

func (r *ApiOpenApiV30BrandAdDeletePostRequest) Execute() (*BrandAdDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandAdDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandAdDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandAdDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandAdDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandAdDeletePost Method for OpenApiV30BrandAdDeletePost

AD品牌计划删除

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandAdDeletePostRequest
*/
func (a *BrandAdDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandAdDeletePostRequest {
	return &ApiOpenApiV30BrandAdDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandAdDeleteV30Response
func (a *BrandAdDeleteV30ApiService) postExecute(r *ApiOpenApiV30BrandAdDeletePostRequest) (*BrandAdDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandAdDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/ad/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandAdDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
