/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ReportBrandCreativeGetV30ApiService ReportBrandCreativeGetV30Api service
type ReportBrandCreativeGetV30ApiService service

type ApiOpenApiV30ReportBrandCreativeGetGetRequest struct {
	ctx          context.Context
	ApiService   *ReportBrandCreativeGetV30ApiService
	advertiserId *int64
	page         *int64
	size         *int64
	landingType  *int64
	pricingType  *int64
	creativeIds  *[]string
	startTime    *string
	endTime      *string
}

// 广告主ID
func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 分页参数 默认从1开始
func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) Page(page int64) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.page = &page
	return r
}

// 分页参数 默认最大为100
func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) Size(size int64) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.size = &size
	return r
}

// 推广目的
func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) LandingType(landingType int64) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.landingType = &landingType
	return r
}

// 计费类型
func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) PricingType(pricingType int64) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.pricingType = &pricingType
	return r
}

// 创意ID 默认每次请求最多100个
func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) CreativeIds(creativeIds []string) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.creativeIds = &creativeIds
	return r
}

// 开始时间 格式2023-01-01
func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) StartTime(startTime string) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.startTime = &startTime
	return r
}

// 结束时间 格式2023-01-01
func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) EndTime(endTime string) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) Execute() (*ReportBrandCreativeGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ReportBrandCreativeGetGet Method for OpenApiV30ReportBrandCreativeGetGet

查询AD品牌广告创意维度数据报表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ReportBrandCreativeGetGetRequest
*/
func (a *ReportBrandCreativeGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ReportBrandCreativeGetGetRequest {
	return &ApiOpenApiV30ReportBrandCreativeGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportBrandCreativeGetV30Response
func (a *ReportBrandCreativeGetV30ApiService) getExecute(r *ApiOpenApiV30ReportBrandCreativeGetGetRequest) (*ReportBrandCreativeGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ReportBrandCreativeGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/report/brand/creative/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if *r.page < 1 {
		return localVarReturnValue, nil, ReportError("page must be greater than 1")
	}
	if r.size == nil {
		return localVarReturnValue, nil, ReportError("size is required and must be specified")
	}
	if *r.size > 100 {
		return localVarReturnValue, nil, ReportError("size must be less than 100")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.landingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "landing_type", r.landingType)
	}
	if r.pricingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pricing_type", r.pricingType)
	}
	if r.creativeIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "creative_ids", r.creativeIds)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
