/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandPolicyListV30ApiService BrandPolicyListV30Api service
type BrandPolicyListV30ApiService service

type ApiOpenApiV30BrandPolicyListGetRequest struct {
	ctx           context.Context
	ApiService    *BrandPolicyListV30ApiService
	advertiserId  *int64
	classify      *BrandPolicyListV30Classify
	proType       *BrandPolicyListV30ProType
	adForm        *BrandPolicyListV30AdForm
	appOrigin     *BrandPolicyListV30AppOrigin
	pricingType   *BrandPolicyListV30PricingType
	gdSendType    *BrandPolicyListV30GdSendType
	deliveryInfo  *BrandPolicyListV30DeliveryInfo
	intentionNo   *string
	audienceInfo  *BrandPolicyListV30AudienceInfo
	frequencyInfo *BrandPolicyListV30FrequencyInfo
}

// 广告主ID
func (r *ApiOpenApiV30BrandPolicyListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 广告类别
func (r *ApiOpenApiV30BrandPolicyListGetRequest) Classify(classify BrandPolicyListV30Classify) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.classify = &classify
	return r
}

// 产品类型
func (r *ApiOpenApiV30BrandPolicyListGetRequest) ProType(proType BrandPolicyListV30ProType) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.proType = &proType
	return r
}

// 投放产品
func (r *ApiOpenApiV30BrandPolicyListGetRequest) AdForm(adForm BrandPolicyListV30AdForm) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.adForm = &adForm
	return r
}

// 投放位置（媒体端）
func (r *ApiOpenApiV30BrandPolicyListGetRequest) AppOrigin(appOrigin BrandPolicyListV30AppOrigin) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.appOrigin = &appOrigin
	return r
}

// 计费类型
func (r *ApiOpenApiV30BrandPolicyListGetRequest) PricingType(pricingType BrandPolicyListV30PricingType) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.pricingType = &pricingType
	return r
}

// 优化目标
func (r *ApiOpenApiV30BrandPolicyListGetRequest) GdSendType(gdSendType BrandPolicyListV30GdSendType) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.gdSendType = &gdSendType
	return r
}

// 投放日期信息
func (r *ApiOpenApiV30BrandPolicyListGetRequest) DeliveryInfo(deliveryInfo BrandPolicyListV30DeliveryInfo) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.deliveryInfo = &deliveryInfo
	return r
}

// 招商订单编号
func (r *ApiOpenApiV30BrandPolicyListGetRequest) IntentionNo(intentionNo string) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.intentionNo = &intentionNo
	return r
}

// 定向
func (r *ApiOpenApiV30BrandPolicyListGetRequest) AudienceInfo(audienceInfo BrandPolicyListV30AudienceInfo) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.audienceInfo = &audienceInfo
	return r
}

// 频控
func (r *ApiOpenApiV30BrandPolicyListGetRequest) FrequencyInfo(frequencyInfo BrandPolicyListV30FrequencyInfo) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.frequencyInfo = &frequencyInfo
	return r
}

func (r *ApiOpenApiV30BrandPolicyListGetRequest) Execute() (*BrandPolicyListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30BrandPolicyListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandPolicyListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandPolicyListGetRequest) WithLog(enable bool) *ApiOpenApiV30BrandPolicyListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandPolicyListGet Method for OpenApiV30BrandPolicyListGet

查询政策

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandPolicyListGetRequest
*/
func (a *BrandPolicyListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30BrandPolicyListGetRequest {
	return &ApiOpenApiV30BrandPolicyListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandPolicyListV30Response
func (a *BrandPolicyListV30ApiService) getExecute(r *ApiOpenApiV30BrandPolicyListGetRequest) (*BrandPolicyListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandPolicyListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/policy/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.classify == nil {
		return localVarReturnValue, nil, ReportError("classify is required and must be specified")
	}
	if r.proType == nil {
		return localVarReturnValue, nil, ReportError("proType is required and must be specified")
	}
	if r.adForm == nil {
		return localVarReturnValue, nil, ReportError("adForm is required and must be specified")
	}
	if r.appOrigin == nil {
		return localVarReturnValue, nil, ReportError("appOrigin is required and must be specified")
	}
	if r.pricingType == nil {
		return localVarReturnValue, nil, ReportError("pricingType is required and must be specified")
	}
	if r.gdSendType == nil {
		return localVarReturnValue, nil, ReportError("gdSendType is required and must be specified")
	}
	if r.deliveryInfo == nil {
		return localVarReturnValue, nil, ReportError("deliveryInfo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "classify", r.classify)
	if r.intentionNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "intention_no", r.intentionNo)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "pro_type", r.proType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "ad_form", r.adForm)
	parameterAddToHeaderOrQuery(localVarQueryParams, "app_origin", r.appOrigin)
	parameterAddToHeaderOrQuery(localVarQueryParams, "pricing_type", r.pricingType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "gd_send_type", r.gdSendType)
	if r.audienceInfo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audience_info", r.audienceInfo)
	}
	if r.frequencyInfo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "frequency_info", r.frequencyInfo)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_info", r.deliveryInfo)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
