/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// WalletRemittanceCodeListGetV30ApiService WalletRemittanceCodeListGetV30Api service
type WalletRemittanceCodeListGetV30ApiService service

type ApiOpenApiV30WalletRemittanceCodeListGetGetRequest struct {
	ctx                context.Context
	ApiService         *WalletRemittanceCodeListGetV30ApiService
	accountId          *int64
	chargeTargetId     *int64
	chargeTargetType   *models.WalletRemittanceCodeListGetV30ChargeTargetType
	remittanceCodeList *[]string
	page               *int64
	pageSize           *int64
}

// 组织ID
func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	r.accountId = &accountId
	return r
}

// 充值对象ID
func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) ChargeTargetId(chargeTargetId int64) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	r.chargeTargetId = &chargeTargetId
	return r
}

// 充值对象类型
func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) ChargeTargetType(chargeTargetType models.WalletRemittanceCodeListGetV30ChargeTargetType) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	r.chargeTargetType = &chargeTargetType
	return r
}

// 汇款码列表
func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) RemittanceCodeList(remittanceCodeList []string) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	r.remittanceCodeList = &remittanceCodeList
	return r
}

// 页码
func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) Page(page int64) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) Execute() (*models.WalletRemittanceCodeListGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) WithLog(enable bool) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30WalletRemittanceCodeListGetGet Method for OpenApiV30WalletRemittanceCodeListGetGet

钱包账户查询汇款码列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30WalletRemittanceCodeListGetGetRequest
*/
func (a *WalletRemittanceCodeListGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest {
	return &ApiOpenApiV30WalletRemittanceCodeListGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WalletRemittanceCodeListGetV30Response
func (a *WalletRemittanceCodeListGetV30ApiService) getExecute(r *ApiOpenApiV30WalletRemittanceCodeListGetGetRequest) (*models.WalletRemittanceCodeListGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.WalletRemittanceCodeListGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/wallet/remittance_code/list/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.chargeTargetId == nil {
		return localVarReturnValue, nil, ReportError("chargeTargetId is required and must be specified")
	}
	if r.chargeTargetType == nil {
		return localVarReturnValue, nil, ReportError("chargeTargetType is required and must be specified")
	}
	if r.remittanceCodeList == nil {
		return localVarReturnValue, nil, ReportError("remittanceCodeList is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "charge_target_id", r.chargeTargetId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "charge_target_type", r.chargeTargetType)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "remittance_code_list", r.remittanceCodeList)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
