/*
Oceanengine Open Api

巨量引擎开放平台 Open Api

API version: 1.1.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanReportUniPromotionDimensionDataAuthorGetV10ApiService QianchuanReportUniPromotionDimensionDataAuthorGetV10Api service
type QianchuanReportUniPromotionDimensionDataAuthorGetV10ApiService service

type ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanReportUniPromotionDimensionDataAuthorGetV10ApiService
	advertiserId *int64
	awemeId      *int64
	metrics      *[]string
	startTime    *string
	endTime      *string
	dimension    *QianchuanReportUniPromotionDimensionDataAuthorGetV10Dimension
	orderType    *QianchuanReportUniPromotionDimensionDataAuthorGetV10OrderType
	orderField   *string
	page         *int32
	pageSize     *int32
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 抖音号id
func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.awemeId = &awemeId
	return r
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) Metrics(metrics []string) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.metrics = &metrics
	return r
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) StartTime(startTime string) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.startTime = &startTime
	return r
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) EndTime(endTime string) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) Dimension(dimension QianchuanReportUniPromotionDimensionDataAuthorGetV10Dimension) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.dimension = &dimension
	return r
}

// 排序方式
func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) OrderType(orderType QianchuanReportUniPromotionDimensionDataAuthorGetV10OrderType) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.orderType = &orderType
	return r
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) OrderField(orderField string) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.orderField = &orderField
	return r
}

// 页码
func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) Execute() (*QianchuanReportUniPromotionDimensionDataAuthorGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGet Method for OpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest
*/
func (a *QianchuanReportUniPromotionDimensionDataAuthorGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest {
	return &ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanReportUniPromotionDimensionDataAuthorGetV10Response
func (a *QianchuanReportUniPromotionDimensionDataAuthorGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanReportUniPromotionDimensionDataAuthorGetGetRequest) (*QianchuanReportUniPromotionDimensionDataAuthorGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanReportUniPromotionDimensionDataAuthorGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/report/uni_promotion/dimension_data/author/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.awemeId == nil {
		return localVarReturnValue, nil, ReportError("awemeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.dimension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dimension", r.dimension)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(r.ctx, req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
