/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaProductCreateV2ApiService DpaProductCreateV2Api service
type DpaProductCreateV2ApiService service

type ApiOpenApi2DpaProductCreatePostRequest struct {
	ctx                       context.Context
	ApiService                *DpaProductCreateV2ApiService
	dpaProductCreateV2Request *DpaProductCreateV2Request
}

func (r *ApiOpenApi2DpaProductCreatePostRequest) DpaProductCreateV2Request(dpaProductCreateV2Request DpaProductCreateV2Request) *ApiOpenApi2DpaProductCreatePostRequest {
	r.dpaProductCreateV2Request = &dpaProductCreateV2Request
	return r
}

func (r *ApiOpenApi2DpaProductCreatePostRequest) Execute() (*DpaProductCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2DpaProductCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2DpaProductCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2DpaProductCreatePostRequest) WithLog(enable bool) *ApiOpenApi2DpaProductCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2DpaProductCreatePost Method for OpenApi2DpaProductCreatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2DpaProductCreatePostRequest
*/
func (a *DpaProductCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2DpaProductCreatePostRequest {
	return &ApiOpenApi2DpaProductCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaProductCreateV2Response
func (a *DpaProductCreateV2ApiService) postExecute(r *ApiOpenApi2DpaProductCreatePostRequest) (*DpaProductCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaProductCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/dpa/product/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dpaProductCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
