/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarBillPayV2ApiService StarBillPayV2Api service
type StarBillPayV2ApiService service

type ApiOpenApi2StarBillPayPostRequest struct {
	ctx                  context.Context
	ApiService           *StarBillPayV2ApiService
	starBillPayV2Request *StarBillPayV2Request
}

func (r *ApiOpenApi2StarBillPayPostRequest) StarBillPayV2Request(starBillPayV2Request StarBillPayV2Request) *ApiOpenApi2StarBillPayPostRequest {
	r.starBillPayV2Request = &starBillPayV2Request
	return r
}

func (r *ApiOpenApi2StarBillPayPostRequest) Execute() (*StarBillPayV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2StarBillPayPostRequest) AccessToken(accessToken string) *ApiOpenApi2StarBillPayPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarBillPayPostRequest) WithLog(enable bool) *ApiOpenApi2StarBillPayPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarBillPayPost Method for OpenApi2StarBillPayPost

任务付款

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarBillPayPostRequest
*/
func (a *StarBillPayV2ApiService) Post(ctx context.Context) *ApiOpenApi2StarBillPayPostRequest {
	return &ApiOpenApi2StarBillPayPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarBillPayV2Response
func (a *StarBillPayV2ApiService) postExecute(r *ApiOpenApi2StarBillPayPostRequest) (*StarBillPayV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarBillPayV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/bill/pay/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.starBillPayV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
