/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalFileVideoGetV30ApiService LocalFileVideoGetV30Api service
type LocalFileVideoGetV30ApiService service

type ApiOpenApiV30LocalFileVideoGetGetRequest struct {
	ctx            context.Context
	ApiService     *LocalFileVideoGetV30ApiService
	localAccountId *int64
	filtering      *LocalFileVideoGetV30Filtering
	orderField     *LocalFileVideoGetV30OrderField
	orderType      *LocalFileVideoGetV30OrderType
	page           *int64
	pageSize       *int64
}

func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 过滤器
func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) Filtering(filtering LocalFileVideoGetV30Filtering) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) OrderField(orderField LocalFileVideoGetV30OrderField) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	r.orderField = &orderField
	return r
}

func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) OrderType(orderType LocalFileVideoGetV30OrderType) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	r.orderType = &orderType
	return r
}

// 默认值：1 大于1
func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) Page(page int64) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	r.page = &page
	return r
}

// 默认值：20 大于20，小于100
func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) Execute() (*LocalFileVideoGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalFileVideoGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalFileVideoGetGet Method for OpenApiV30LocalFileVideoGetGet

获取素材库视频素材

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalFileVideoGetGetRequest
*/
func (a *LocalFileVideoGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalFileVideoGetGetRequest {
	return &ApiOpenApiV30LocalFileVideoGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalFileVideoGetV30Response
func (a *LocalFileVideoGetV30ApiService) getExecute(r *ApiOpenApiV30LocalFileVideoGetGetRequest) (*LocalFileVideoGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalFileVideoGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/file/video/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
