/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// GameplayListV30ApiService GameplayListV30Api service
type GameplayListV30ApiService service

type ApiOpenApiV30GameplayListGetRequest struct {
	ctx             context.Context
	ApiService      *GameplayListV30ApiService
	accountId       *int64
	accountType     *GameplayListV30AccountType
	assetId         *string
	assetType       *GameplayListV30AssetType
	pageInfo        *GameplayListV30PageInfo
	filterPlayNames *[]string
}

func (r *ApiOpenApiV30GameplayListGetRequest) AccountId(accountId int64) *ApiOpenApiV30GameplayListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30GameplayListGetRequest) AccountType(accountType GameplayListV30AccountType) *ApiOpenApiV30GameplayListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30GameplayListGetRequest) AssetId(assetId string) *ApiOpenApiV30GameplayListGetRequest {
	r.assetId = &assetId
	return r
}

func (r *ApiOpenApiV30GameplayListGetRequest) AssetType(assetType GameplayListV30AssetType) *ApiOpenApiV30GameplayListGetRequest {
	r.assetType = &assetType
	return r
}

func (r *ApiOpenApiV30GameplayListGetRequest) PageInfo(pageInfo GameplayListV30PageInfo) *ApiOpenApiV30GameplayListGetRequest {
	r.pageInfo = &pageInfo
	return r
}

func (r *ApiOpenApiV30GameplayListGetRequest) FilterPlayNames(filterPlayNames []string) *ApiOpenApiV30GameplayListGetRequest {
	r.filterPlayNames = &filterPlayNames
	return r
}

func (r *ApiOpenApiV30GameplayListGetRequest) Execute() (*GameplayListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30GameplayListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30GameplayListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30GameplayListGetRequest) WithLog(enable bool) *ApiOpenApiV30GameplayListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30GameplayListGet Method for OpenApiV30GameplayListGet

支持通过账户id和资产id，获取资产的玩法列表，资产范围：安卓游戏、抖音小游戏、微信小游戏

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30GameplayListGetRequest
*/
func (a *GameplayListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30GameplayListGetRequest {
	return &ApiOpenApiV30GameplayListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GameplayListV30Response
func (a *GameplayListV30ApiService) getExecute(r *ApiOpenApiV30GameplayListGetRequest) (*GameplayListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *GameplayListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/gameplay/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.assetId == nil {
		return localVarReturnValue, nil, ReportError("assetId is required and must be specified")
	}
	if r.assetType == nil {
		return localVarReturnValue, nil, ReportError("assetType is required and must be specified")
	}
	if r.pageInfo == nil {
		return localVarReturnValue, nil, ReportError("pageInfo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "asset_id", r.assetId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "asset_type", r.assetType)
	if r.filterPlayNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter_play_names", r.filterPlayNames)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_info", r.pageInfo)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
