/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaEbpProductDeleteV30ApiService DpaEbpProductDeleteV30Api service
type DpaEbpProductDeleteV30ApiService service

type ApiOpenApiV30DpaEbpProductDeletePostRequest struct {
	ctx                           context.Context
	ApiService                    *DpaEbpProductDeleteV30ApiService
	dpaEbpProductDeleteV30Request *DpaEbpProductDeleteV30Request
}

func (r *ApiOpenApiV30DpaEbpProductDeletePostRequest) DpaEbpProductDeleteV30Request(dpaEbpProductDeleteV30Request DpaEbpProductDeleteV30Request) *ApiOpenApiV30DpaEbpProductDeletePostRequest {
	r.dpaEbpProductDeleteV30Request = &dpaEbpProductDeleteV30Request
	return r
}

func (r *ApiOpenApiV30DpaEbpProductDeletePostRequest) Execute() (*DpaEbpProductDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DpaEbpProductDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaEbpProductDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaEbpProductDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30DpaEbpProductDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaEbpProductDeletePost Method for OpenApiV30DpaEbpProductDeletePost

EBP删除通用版商品

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaEbpProductDeletePostRequest
*/
func (a *DpaEbpProductDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DpaEbpProductDeletePostRequest {
	return &ApiOpenApiV30DpaEbpProductDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaEbpProductDeleteV30Response
func (a *DpaEbpProductDeleteV30ApiService) postExecute(r *ApiOpenApiV30DpaEbpProductDeletePostRequest) (*DpaEbpProductDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaEbpProductDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/ebp/product/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dpaEbpProductDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
