/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanAwemeUniPromotionAdMaterialGetV10ApiService QianchuanAwemeUniPromotionAdMaterialGetV10Api service
type QianchuanAwemeUniPromotionAdMaterialGetV10ApiService service

type ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanAwemeUniPromotionAdMaterialGetV10ApiService
	advertiserId *int64
	orderId      *int64
	filter       *QianchuanAwemeUniPromotionAdMaterialGetV10Filter
	orderType    *QianchuanAwemeUniPromotionAdMaterialGetV10OrderType
	orderField   *QianchuanAwemeUniPromotionAdMaterialGetV10OrderField
	page         *int32
	pageSize     *QianchuanAwemeUniPromotionAdMaterialGetV10PageSize
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) OrderId(orderId int64) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	r.orderId = &orderId
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) Filter(filter QianchuanAwemeUniPromotionAdMaterialGetV10Filter) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	r.filter = &filter
	return r
}

// 排序方式，不传默认降序
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) OrderType(orderType QianchuanAwemeUniPromotionAdMaterialGetV10OrderType) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段
func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) OrderField(orderField QianchuanAwemeUniPromotionAdMaterialGetV10OrderField) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	r.orderField = &orderField
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) PageSize(pageSize QianchuanAwemeUniPromotionAdMaterialGetV10PageSize) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) Execute() (*QianchuanAwemeUniPromotionAdMaterialGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGet Method for OpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGet

获取随心推全域订单素材列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest
*/
func (a *QianchuanAwemeUniPromotionAdMaterialGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest {
	return &ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanAwemeUniPromotionAdMaterialGetV10Response
func (a *QianchuanAwemeUniPromotionAdMaterialGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanAwemeUniPromotionAdMaterialGetGetRequest) (*QianchuanAwemeUniPromotionAdMaterialGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanAwemeUniPromotionAdMaterialGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/aweme/uni_promotion/ad/material/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.orderId == nil {
		return localVarReturnValue, nil, ReportError("orderId is required and must be specified")
	}
	if r.filter == nil {
		return localVarReturnValue, nil, ReportError("filter is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "order_id", r.orderId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter)
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
