/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaEbpClueProductListV30ApiService DpaEbpClueProductListV30Api service
type DpaEbpClueProductListV30ApiService service

type ApiOpenApiV30DpaEbpClueProductListGetRequest struct {
	ctx                   context.Context
	ApiService            *DpaEbpClueProductListV30ApiService
	accountId             *int64
	accountType           *DpaEbpClueProductListV30AccountType
	offset                *int64
	limit                 *int64
	productIds            *[]int64
	productName           *string
	auditStatus           *[]*DpaEbpClueProductListV30AuditStatus
	categoryIds           *[]int64
	productIdOrNameSearch *string
	statuses              *[]*DpaEbpClueProductListV30Statuses
	assetQueryScope       *DpaEbpClueProductListV30AssetQueryScope
}

func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) AccountId(accountId int64) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) AccountType(accountType DpaEbpClueProductListV30AccountType) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) Offset(offset int64) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.offset = &offset
	return r
}

func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) Limit(limit int64) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.limit = &limit
	return r
}

// 商品id精确搜索
func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) ProductIds(productIds []int64) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.productIds = &productIds
	return r
}

// 商品名模糊搜索
func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) ProductName(productName string) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.productName = &productName
	return r
}

// 审核状态
func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) AuditStatus(auditStatus []*DpaEbpClueProductListV30AuditStatus) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.auditStatus = &auditStatus
	return r
}

// 行业id，会级联查询所有叶子节点
func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) CategoryIds(categoryIds []int64) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.categoryIds = &categoryIds
	return r
}

// 商品id精确 or 商品名称 （实现上，19位长度数字视为id）
func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) ProductIdOrNameSearch(productIdOrNameSearch string) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.productIdOrNameSearch = &productIdOrNameSearch
	return r
}

// 可投状态过滤
func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) Statuses(statuses []*DpaEbpClueProductListV30Statuses) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.statuses = &statuses
	return r
}

// EBP资产查询范围，作用于归属于ebp部分的数据
func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) AssetQueryScope(assetQueryScope DpaEbpClueProductListV30AssetQueryScope) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.assetQueryScope = &assetQueryScope
	return r
}

func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) Execute() (*DpaEbpClueProductListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaEbpClueProductListGetRequest) WithLog(enable bool) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaEbpClueProductListGet Method for OpenApiV30DpaEbpClueProductListGet

EBP场景下，通过团队ID/advId获取升级版商品列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaEbpClueProductListGetRequest
*/
func (a *DpaEbpClueProductListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30DpaEbpClueProductListGetRequest {
	return &ApiOpenApiV30DpaEbpClueProductListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaEbpClueProductListV30Response
func (a *DpaEbpClueProductListV30ApiService) getExecute(r *ApiOpenApiV30DpaEbpClueProductListGetRequest) (*DpaEbpClueProductListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaEbpClueProductListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/ebp/clue_product/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.offset == nil {
		return localVarReturnValue, nil, ReportError("offset is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, ReportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.productIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_ids", r.productIds)
	}
	if r.productName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_name", r.productName)
	}
	if r.auditStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audit_status", r.auditStatus)
	}
	if r.categoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category_ids", r.categoryIds)
	}
	if r.productIdOrNameSearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id_or_name_search", r.productIdOrNameSearch)
	}
	if r.statuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", r.statuses)
	}
	if r.assetQueryScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_query_scope", r.assetQueryScope)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset)
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
