/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EbpRolePermissionGetV2ApiService EbpRolePermissionGetV2Api service
type EbpRolePermissionGetV2ApiService service

type ApiOpenApi2EbpRolePermissionGetGetRequest struct {
	ctx                       context.Context
	ApiService                *EbpRolePermissionGetV2ApiService
	enterpriseOrganizationIds *[]int64
}

// 要查询的升级版巨量引擎工作台组织 ID 列表，单次最多 10 个
func (r *ApiOpenApi2EbpRolePermissionGetGetRequest) EnterpriseOrganizationIds(enterpriseOrganizationIds []int64) *ApiOpenApi2EbpRolePermissionGetGetRequest {
	r.enterpriseOrganizationIds = &enterpriseOrganizationIds
	return r
}

func (r *ApiOpenApi2EbpRolePermissionGetGetRequest) Execute() (*EbpRolePermissionGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2EbpRolePermissionGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2EbpRolePermissionGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2EbpRolePermissionGetGetRequest) WithLog(enable bool) *ApiOpenApi2EbpRolePermissionGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2EbpRolePermissionGetGet Method for OpenApi2EbpRolePermissionGetGet

查询当前 OAuth 用户在指定 EBP 组织下的角色及其可访问的开放平台接口权限范围。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2EbpRolePermissionGetGetRequest
*/
func (a *EbpRolePermissionGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2EbpRolePermissionGetGetRequest {
	return &ApiOpenApi2EbpRolePermissionGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EbpRolePermissionGetV2Response
func (a *EbpRolePermissionGetV2ApiService) getExecute(r *ApiOpenApi2EbpRolePermissionGetGetRequest) (*EbpRolePermissionGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EbpRolePermissionGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/ebp/role_permission/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseOrganizationIds == nil {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationIds is required and must be specified")
	}
	if len(*r.enterpriseOrganizationIds) < 1 {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationIds must have at least 1 elements")
	}
	if len(*r.enterpriseOrganizationIds) > 10 {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationIds must have less than 10 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_organization_ids", r.enterpriseOrganizationIds)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
