/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanReportAdvertiserGetV10ApiService QianchuanReportAdvertiserGetV10Api service
type QianchuanReportAdvertiserGetV10ApiService service

type ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest struct {
	ctx             context.Context
	ApiService      *QianchuanReportAdvertiserGetV10ApiService
	advertiserId    *int64
	startDate       *string
	endDate         *string
	fields          *[]string
	filtering       *QianchuanReportAdvertiserGetV10Filtering
	timeGranularity *QianchuanReportAdvertiserGetV10TimeGranularity
	orderField      *string
	orderType       *QianchuanReportAdvertiserGetV10OrderType
	page            *int32
	pageSize        *int32
}

// 千川业务账户ID，对应账户类型为&#x60;QIANCHUAN&#x60;
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 查询统计数据开始时间，格式：&#x60;yyyy-mm-dd&#x60;，如：2021-04-05
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) StartDate(startDate string) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.startDate = &startDate
	return r
}

// 查询统计数据结束时间，格式：&#x60;yyyy-mm-dd&#x60;，如：2021-04-05
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) EndDate(endDate string) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.endDate = &endDate
	return r
}

// 查询指标，详见应答中list描述的返回指标
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) Fields(fields []string) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.fields = &fields
	return r
}

// 过滤器
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) Filtering(filtering QianchuanReportAdvertiserGetV10Filtering) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.filtering = &filtering
	return r
}

// 返回数据时间聚合维度分组 ，允许值: - &#x60;TIME_GRANULARITY_DAILY&#x60;  天维度 - &#x60;TIME_GRANULARITY_HOURLY&#x60; 小时维度
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) TimeGranularity(timeGranularity QianchuanReportAdvertiserGetV10TimeGranularity) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.timeGranularity = &timeGranularity
	return r
}

// 排序字段，详见应答中list描述的返回指标 默认排序字段：stat_cost
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) OrderField(orderField string) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.orderField = &orderField
	return r
}

// 排序方式，允许值： - &#x60;ASC&#x60; 升序（默认） - &#x60;DESC&#x60; 降序
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) OrderType(orderType QianchuanReportAdvertiserGetV10OrderType) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.orderType = &orderType
	return r
}

// 页码，默认值&#x60;1&#x60;
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，默认为&#x60;10&#x60;，数值范围[1-500]
func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) Execute() (*QianchuanReportAdvertiserGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanReportAdvertiserGetGet Method for OpenApiV10QianchuanReportAdvertiserGetGet

用于查询千川账户下标准推广投放账户维度聚合数据。仅支持传入账户类型为`QIANCHUAN`的账户；可通过get_tool_response_field_desc工具查询该工具支持的指标维度等信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest
*/
func (a *QianchuanReportAdvertiserGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest {
	return &ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanReportAdvertiserGetV10Response
func (a *QianchuanReportAdvertiserGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanReportAdvertiserGetGetRequest) (*QianchuanReportAdvertiserGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanReportAdvertiserGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/report/advertiser/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}
	if r.fields == nil {
		return localVarReturnValue, nil, ReportError("fields is required and must be specified")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.timeGranularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_granularity", r.timeGranularity)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
