/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpMicroAppletListV30ApiService ToolsEbpMicroAppletListV30Api service
type ToolsEbpMicroAppletListV30ApiService service

type ApiOpenApiV30ToolsEbpMicroAppletListGetRequest struct {
	ctx                  context.Context
	ApiService           *ToolsEbpMicroAppletListV30ApiService
	accountId            *int64
	accountType          *ToolsEbpMicroAppletListV30AccountType
	assetManagementScope *ToolsEbpMicroAppletListV30AssetManagementScope
	filtering            *ToolsEbpMicroAppletListV30Filtering
	page                 *int64
	pageSize             *int64
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	r.accountId = &accountId
	return r
}

// 操作账号类型
func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) AccountType(accountType ToolsEbpMicroAppletListV30AccountType) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) AssetManagementScope(assetManagementScope ToolsEbpMicroAppletListV30AssetManagementScope) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	r.assetManagementScope = &assetManagementScope
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) Filtering(filtering ToolsEbpMicroAppletListV30Filtering) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) Execute() (*ToolsEbpMicroAppletListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpMicroAppletListGet Method for OpenApiV30ToolsEbpMicroAppletListGet

获取字节小程序列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpMicroAppletListGetRequest
*/
func (a *ToolsEbpMicroAppletListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest {
	return &ApiOpenApiV30ToolsEbpMicroAppletListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpMicroAppletListV30Response
func (a *ToolsEbpMicroAppletListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpMicroAppletListGetRequest) (*ToolsEbpMicroAppletListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpMicroAppletListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/micro_applet/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.assetManagementScope == nil {
		return localVarReturnValue, nil, ReportError("assetManagementScope is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "asset_management_scope", r.assetManagementScope)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
