/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DouplusRtaSetScopeV30ApiService DouplusRtaSetScopeV30Api service
type DouplusRtaSetScopeV30ApiService service

type ApiOpenApiV30DouplusRtaSetScopePostRequest struct {
	ctx                          context.Context
	ApiService                   *DouplusRtaSetScopeV30ApiService
	douplusRtaSetScopeV30Request *DouplusRtaSetScopeV30Request
}

func (r *ApiOpenApiV30DouplusRtaSetScopePostRequest) DouplusRtaSetScopeV30Request(douplusRtaSetScopeV30Request DouplusRtaSetScopeV30Request) *ApiOpenApiV30DouplusRtaSetScopePostRequest {
	r.douplusRtaSetScopeV30Request = &douplusRtaSetScopeV30Request
	return r
}

func (r *ApiOpenApiV30DouplusRtaSetScopePostRequest) Execute() (*DouplusRtaSetScopeV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DouplusRtaSetScopePostRequest) AccessToken(accessToken string) *ApiOpenApiV30DouplusRtaSetScopePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DouplusRtaSetScopePostRequest) WithLog(enable bool) *ApiOpenApiV30DouplusRtaSetScopePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DouplusRtaSetScopePost Method for OpenApiV30DouplusRtaSetScopePost

设置RTA生效范围，（注：订单维度绑定的RTA_id，不支持换绑。账户维度支持换绑，但建议账户没有在投计划时再换绑）

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DouplusRtaSetScopePostRequest
*/
func (a *DouplusRtaSetScopeV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DouplusRtaSetScopePostRequest {
	return &ApiOpenApiV30DouplusRtaSetScopePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DouplusRtaSetScopeV30Response
func (a *DouplusRtaSetScopeV30ApiService) postExecute(r *ApiOpenApiV30DouplusRtaSetScopePostRequest) (*DouplusRtaSetScopeV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DouplusRtaSetScopeV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/douplus/rta/set_scope/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.douplusRtaSetScopeV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
