/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// SharedWalletWalletOperationLogGetV30ApiService SharedWalletWalletOperationLogGetV30Api service
type SharedWalletWalletOperationLogGetV30ApiService service

type ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest struct {
	ctx         context.Context
	ApiService  *SharedWalletWalletOperationLogGetV30ApiService
	accountId   *int64
	accountType *SharedWalletWalletOperationLogGetV30AccountType
	walletId    *int64
	page        *int64
	pageSize    *int64
	filtering   *SharedWalletWalletOperationLogGetV30Filtering
}

// 鉴权账户(BP传bp_id，代理商传agent_id)
func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	r.accountId = &accountId
	return r
}

// 鉴权账户类型
func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) AccountType(accountType SharedWalletWalletOperationLogGetV30AccountType) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	r.accountType = &accountType
	return r
}

// 钱包id
func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) WalletId(walletId int64) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	r.walletId = &walletId
	return r
}

// 页码
func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) Page(page int64) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	r.page = &page
	return r
}

// 每页数量
func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 过滤条件
func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) Filtering(filtering SharedWalletWalletOperationLogGetV30Filtering) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) Execute() (*SharedWalletWalletOperationLogGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) WithLog(enable bool) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30SharedWalletWalletOperationLogGetGet Method for OpenApiV30SharedWalletWalletOperationLogGetGet

查询钱包粒度操作记录

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest
*/
func (a *SharedWalletWalletOperationLogGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest {
	return &ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SharedWalletWalletOperationLogGetV30Response
func (a *SharedWalletWalletOperationLogGetV30ApiService) getExecute(r *ApiOpenApiV30SharedWalletWalletOperationLogGetGetRequest) (*SharedWalletWalletOperationLogGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *SharedWalletWalletOperationLogGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/shared_wallet/wallet_operation_log/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.walletId == nil {
		return localVarReturnValue, nil, ReportError("walletId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if *r.page < 1 {
		return localVarReturnValue, nil, ReportError("page must be greater than 1")
	}
	if *r.page > 10000 {
		return localVarReturnValue, nil, ReportError("page must be less than 10000")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}
	if *r.pageSize < 10 {
		return localVarReturnValue, nil, ReportError("pageSize must be greater than 10")
	}
	if *r.pageSize > 100 {
		return localVarReturnValue, nil, ReportError("pageSize must be less than 100")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "wallet_id", r.walletId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
