/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AgentAdvTemporaryPunishV2ApiService AgentAdvTemporaryPunishV2Api service
type AgentAdvTemporaryPunishV2ApiService service

type ApiOpenApi2AgentAdvTemporaryPunishPostRequest struct {
	ctx                              context.Context
	ApiService                       *AgentAdvTemporaryPunishV2ApiService
	agentAdvTemporaryPunishV2Request *AgentAdvTemporaryPunishV2Request
}

func (r *ApiOpenApi2AgentAdvTemporaryPunishPostRequest) AgentAdvTemporaryPunishV2Request(agentAdvTemporaryPunishV2Request AgentAdvTemporaryPunishV2Request) *ApiOpenApi2AgentAdvTemporaryPunishPostRequest {
	r.agentAdvTemporaryPunishV2Request = &agentAdvTemporaryPunishV2Request
	return r
}

func (r *ApiOpenApi2AgentAdvTemporaryPunishPostRequest) Execute() (*AgentAdvTemporaryPunishV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2AgentAdvTemporaryPunishPostRequest) AccessToken(accessToken string) *ApiOpenApi2AgentAdvTemporaryPunishPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AgentAdvTemporaryPunishPostRequest) WithLog(enable bool) *ApiOpenApi2AgentAdvTemporaryPunishPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AgentAdvTemporaryPunishPost Method for OpenApi2AgentAdvTemporaryPunishPost

临时惩罚广告主

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AgentAdvTemporaryPunishPostRequest
*/
func (a *AgentAdvTemporaryPunishV2ApiService) Post(ctx context.Context) *ApiOpenApi2AgentAdvTemporaryPunishPostRequest {
	return &ApiOpenApi2AgentAdvTemporaryPunishPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgentAdvTemporaryPunishV2Response
func (a *AgentAdvTemporaryPunishV2ApiService) postExecute(r *ApiOpenApi2AgentAdvTemporaryPunishPostRequest) (*AgentAdvTemporaryPunishV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AgentAdvTemporaryPunishV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/agent/adv/temporary/punish/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.agentAdvTemporaryPunishV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
