/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalReportPromotionGetV30ApiService LocalReportPromotionGetV30Api service
type LocalReportPromotionGetV30ApiService service

type ApiOpenApiV30LocalReportPromotionGetGetRequest struct {
	ctx             context.Context
	ApiService      *LocalReportPromotionGetV30ApiService
	localAccountId  *int64
	startDate       *string
	endDate         *string
	metrics         *[]string
	timeGranularity *LocalReportPromotionGetV30TimeGranularity
	orderType       *LocalReportPromotionGetV30OrderType
	orderField      *string
	filtering       *LocalReportPromotionGetV30Filtering
	page            *int64
	pageSize        *int64
}

func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 查询起始日期，格式：2021-04-05
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) StartDate(startDate string) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.startDate = &startDate
	return r
}

// 查询结束日期，格式 2021-04-05。 若不传time_granularity，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_DAILY时，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_TOTAL时，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_HOURLY时，则时间跨度不能超过7天
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) EndDate(endDate string) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.endDate = &endDate
	return r
}

// 指标集
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) Metrics(metrics []string) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.metrics = &metrics
	return r
}

// 时间粒度
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) TimeGranularity(timeGranularity LocalReportPromotionGetV30TimeGranularity) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.timeGranularity = &timeGranularity
	return r
}

// 排序方式
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) OrderType(orderType LocalReportPromotionGetV30OrderType) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段，允许值参考数据指标
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) OrderField(orderField string) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.orderField = &orderField
	return r
}

// 过滤器
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) Filtering(filtering LocalReportPromotionGetV30Filtering) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码，默认值：1
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) Page(page int64) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，允许值：10, 20, 50, 100，默认值：10
func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) Execute() (*LocalReportPromotionGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalReportPromotionGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalReportPromotionGetGet Method for OpenApiV30LocalReportPromotionGetGet

获取广告数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalReportPromotionGetGetRequest
*/
func (a *LocalReportPromotionGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalReportPromotionGetGetRequest {
	return &ApiOpenApiV30LocalReportPromotionGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalReportPromotionGetV30Response
func (a *LocalReportPromotionGetV30ApiService) getExecute(r *ApiOpenApiV30LocalReportPromotionGetGetRequest) (*LocalReportPromotionGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalReportPromotionGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/report/promotion/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}
	if r.metrics == nil {
		return localVarReturnValue, nil, ReportError("metrics is required and must be specified")
	}
	if len(*r.metrics) < 1 {
		return localVarReturnValue, nil, ReportError("metrics must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	if r.timeGranularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_granularity", r.timeGranularity)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
