/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanUniPromotionAdMaterialGetV10ApiService QianchuanUniPromotionAdMaterialGetV10Api service
type QianchuanUniPromotionAdMaterialGetV10ApiService service

type ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanUniPromotionAdMaterialGetV10ApiService
	advertiserId *int64
	adId         *int64
	filtering    *QianchuanUniPromotionAdMaterialGetV10Filtering
	fields       *[]string
	orderType    *QianchuanUniPromotionAdMaterialGetV10OrderType
	orderField   *string
	page         *int32
	pageSize     *QianchuanUniPromotionAdMaterialGetV10PageSize
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) AdId(adId int64) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.adId = &adId
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) Filtering(filtering QianchuanUniPromotionAdMaterialGetV10Filtering) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.filtering = &filtering
	return r
}

// 需要查询的消耗指标，见返回参数，默认stat_cost_for_roi2
func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) Fields(fields []string) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.fields = &fields
	return r
}

// 排序方式，允许值： ASC 升序、DESC 降序（默认）
func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) OrderType(orderType QianchuanUniPromotionAdMaterialGetV10OrderType) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段，默认「整体展示次数」倒序，同时支持根据消耗指标排序 注意：排序字段必须在fields中
func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) OrderField(orderField string) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.orderField = &orderField
	return r
}

// 页码
func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) PageSize(pageSize QianchuanUniPromotionAdMaterialGetV10PageSize) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) Execute() (*QianchuanUniPromotionAdMaterialGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanUniPromotionAdMaterialGetGet Method for OpenApiV10QianchuanUniPromotionAdMaterialGetGet

获取全域推广计划下创意

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest
*/
func (a *QianchuanUniPromotionAdMaterialGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest {
	return &ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanUniPromotionAdMaterialGetV10Response
func (a *QianchuanUniPromotionAdMaterialGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanUniPromotionAdMaterialGetGetRequest) (*QianchuanUniPromotionAdMaterialGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanUniPromotionAdMaterialGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/uni_promotion/ad/material/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.adId == nil {
		return localVarReturnValue, nil, ReportError("adId is required and must be specified")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "ad_id", r.adId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
