/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// KeywordUpdateV30ApiService KeywordUpdateV30Api service
type KeywordUpdateV30ApiService service

type ApiOpenApiV30KeywordUpdatePostRequest struct {
	ctx                     context.Context
	ApiService              *KeywordUpdateV30ApiService
	keywordUpdateV30Request *KeywordUpdateV30Request
}

func (r *ApiOpenApiV30KeywordUpdatePostRequest) KeywordUpdateV30Request(keywordUpdateV30Request KeywordUpdateV30Request) *ApiOpenApiV30KeywordUpdatePostRequest {
	r.keywordUpdateV30Request = &keywordUpdateV30Request
	return r
}

func (r *ApiOpenApiV30KeywordUpdatePostRequest) Execute() (*KeywordUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30KeywordUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30KeywordUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30KeywordUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30KeywordUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30KeywordUpdatePost Method for OpenApiV30KeywordUpdatePost

搜索广告关键词更新

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30KeywordUpdatePostRequest
*/
func (a *KeywordUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30KeywordUpdatePostRequest {
	return &ApiOpenApiV30KeywordUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KeywordUpdateV30Response
func (a *KeywordUpdateV30ApiService) postExecute(r *ApiOpenApiV30KeywordUpdatePostRequest) (*KeywordUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *KeywordUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/keyword/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.keywordUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
