/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueCouponCreateV2ApiService ClueCouponCreateV2Api service
type ClueCouponCreateV2ApiService service

type ApiOpenApi2ClueCouponCreatePostRequest struct {
	ctx                       context.Context
	ApiService                *ClueCouponCreateV2ApiService
	clueCouponCreateV2Request *ClueCouponCreateV2Request
}

func (r *ApiOpenApi2ClueCouponCreatePostRequest) ClueCouponCreateV2Request(clueCouponCreateV2Request ClueCouponCreateV2Request) *ApiOpenApi2ClueCouponCreatePostRequest {
	r.clueCouponCreateV2Request = &clueCouponCreateV2Request
	return r
}

func (r *ApiOpenApi2ClueCouponCreatePostRequest) Execute() (*ClueCouponCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ClueCouponCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2ClueCouponCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueCouponCreatePostRequest) WithLog(enable bool) *ApiOpenApi2ClueCouponCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueCouponCreatePost Method for OpenApi2ClueCouponCreatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueCouponCreatePostRequest
*/
func (a *ClueCouponCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2ClueCouponCreatePostRequest {
	return &ApiOpenApi2ClueCouponCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueCouponCreateV2Response
func (a *ClueCouponCreateV2ApiService) postExecute(r *ApiOpenApi2ClueCouponCreatePostRequest) (*ClueCouponCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueCouponCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/coupon/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.clueCouponCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
