/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalInterestCategoryV30ApiService LocalInterestCategoryV30Api service
type LocalInterestCategoryV30ApiService service

type ApiOpenApiV30LocalInterestCategoryGetRequest struct {
	ctx            context.Context
	ApiService     *LocalInterestCategoryV30ApiService
	localAccountId *int64
}

func (r *ApiOpenApiV30LocalInterestCategoryGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalInterestCategoryGetRequest {
	r.localAccountId = &localAccountId
	return r
}

func (r *ApiOpenApiV30LocalInterestCategoryGetRequest) Execute() (*LocalInterestCategoryV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalInterestCategoryGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalInterestCategoryGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalInterestCategoryGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalInterestCategoryGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalInterestCategoryGet Method for OpenApiV30LocalInterestCategoryGet

兴趣类目查询

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalInterestCategoryGetRequest
*/
func (a *LocalInterestCategoryV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalInterestCategoryGetRequest {
	return &ApiOpenApiV30LocalInterestCategoryGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalInterestCategoryV30Response
func (a *LocalInterestCategoryV30ApiService) getExecute(r *ApiOpenApiV30LocalInterestCategoryGetRequest) (*LocalInterestCategoryV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalInterestCategoryV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/interest/category/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
