/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsToolsTaskGetV30ApiService ToolsToolsTaskGetV30Api service
type ToolsToolsTaskGetV30ApiService service

type ApiOpenApiV30ToolsToolsTaskGetGetRequest struct {
	ctx          context.Context
	ApiService   *ToolsToolsTaskGetV30ApiService
	advertiserId *int64
	taskIds      *[]int64
	taskStatus   *[]*ToolsToolsTaskGetV30TaskStatus
	page         *int64
	pageSize     *int64
}

// 客户ID
func (r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ToolsToolsTaskGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 任务ID 长度：[0，100]，不传则默认获取该adv下所有任务 任务ID获取：可以在【更新标准项目】接口中获取，当前仅针对星广联投项目开关会通过更新接口返回对应taskid，其他的异步任务（平台会触发的，比如批量修改出价等）不会返回对应的task_id。因此筛选也支持此类场景。
func (r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) TaskIds(taskIds []int64) *ApiOpenApiV30ToolsToolsTaskGetGetRequest {
	r.taskIds = &taskIds
	return r
}

// 任务状态
func (r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) TaskStatus(taskStatus []*ToolsToolsTaskGetV30TaskStatus) *ApiOpenApiV30ToolsToolsTaskGetGetRequest {
	r.taskStatus = &taskStatus
	return r
}

// 页数，默认值1，范围[1,xxxx]
func (r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) Page(page int64) *ApiOpenApiV30ToolsToolsTaskGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，默认值10，范围[1,100]
func (r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsToolsTaskGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) Execute() (*ToolsToolsTaskGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsToolsTaskGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsToolsTaskGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsToolsTaskGetGet Method for OpenApiV30ToolsToolsTaskGetGet

支持查询OC范围下所有异步任务处理进度

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsToolsTaskGetGetRequest
*/
func (a *ToolsToolsTaskGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsToolsTaskGetGetRequest {
	return &ApiOpenApiV30ToolsToolsTaskGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsToolsTaskGetV30Response
func (a *ToolsToolsTaskGetV30ApiService) getExecute(r *ApiOpenApiV30ToolsToolsTaskGetGetRequest) (*ToolsToolsTaskGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsToolsTaskGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/tools_task/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.taskIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_ids", r.taskIds)
	}
	if r.taskStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_status", r.taskStatus)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
