/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CarouselCreateV2ApiService CarouselCreateV2Api service
type CarouselCreateV2ApiService service

type ApiOpenApi2CarouselCreatePostRequest struct {
	ctx                     context.Context
	ApiService              *CarouselCreateV2ApiService
	carouselCreateV2Request *CarouselCreateV2Request
}

func (r *ApiOpenApi2CarouselCreatePostRequest) CarouselCreateV2Request(carouselCreateV2Request CarouselCreateV2Request) *ApiOpenApi2CarouselCreatePostRequest {
	r.carouselCreateV2Request = &carouselCreateV2Request
	return r
}

func (r *ApiOpenApi2CarouselCreatePostRequest) Execute() (*CarouselCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2CarouselCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2CarouselCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2CarouselCreatePostRequest) WithLog(enable bool) *ApiOpenApi2CarouselCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2CarouselCreatePost Method for OpenApi2CarouselCreatePost

塑造图集，出参图集mid。不同图片顺序对应不同的图集mid。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2CarouselCreatePostRequest
*/
func (a *CarouselCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2CarouselCreatePostRequest {
	return &ApiOpenApi2CarouselCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CarouselCreateV2Response
func (a *CarouselCreateV2ApiService) postExecute(r *ApiOpenApi2CarouselCreatePostRequest) (*CarouselCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CarouselCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/carousel/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.carouselCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
