/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AudiencePackageUpdateV2ApiService AudiencePackageUpdateV2Api service
type AudiencePackageUpdateV2ApiService service

type ApiOpenApi2AudiencePackageUpdatePostRequest struct {
	ctx                            context.Context
	ApiService                     *AudiencePackageUpdateV2ApiService
	audiencePackageUpdateV2Request *AudiencePackageUpdateV2Request
}

func (r *ApiOpenApi2AudiencePackageUpdatePostRequest) AudiencePackageUpdateV2Request(audiencePackageUpdateV2Request AudiencePackageUpdateV2Request) *ApiOpenApi2AudiencePackageUpdatePostRequest {
	r.audiencePackageUpdateV2Request = &audiencePackageUpdateV2Request
	return r
}

func (r *ApiOpenApi2AudiencePackageUpdatePostRequest) Execute() (*AudiencePackageUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2AudiencePackageUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2AudiencePackageUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AudiencePackageUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2AudiencePackageUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AudiencePackageUpdatePost Method for OpenApi2AudiencePackageUpdatePost

定向包更新

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AudiencePackageUpdatePostRequest
*/
func (a *AudiencePackageUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2AudiencePackageUpdatePostRequest {
	return &ApiOpenApi2AudiencePackageUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AudiencePackageUpdateV2Response
func (a *AudiencePackageUpdateV2ApiService) postExecute(r *ApiOpenApi2AudiencePackageUpdatePostRequest) (*AudiencePackageUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AudiencePackageUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/audience_package/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.audiencePackageUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
