/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ProjectCpaBidUpdateV30ApiService ProjectCpaBidUpdateV30Api service
type ProjectCpaBidUpdateV30ApiService service

type ApiOpenApiV30ProjectCpaBidUpdatePostRequest struct {
	ctx                           context.Context
	ApiService                    *ProjectCpaBidUpdateV30ApiService
	projectCpaBidUpdateV30Request *ProjectCpaBidUpdateV30Request
}

func (r *ApiOpenApiV30ProjectCpaBidUpdatePostRequest) ProjectCpaBidUpdateV30Request(projectCpaBidUpdateV30Request ProjectCpaBidUpdateV30Request) *ApiOpenApiV30ProjectCpaBidUpdatePostRequest {
	r.projectCpaBidUpdateV30Request = &projectCpaBidUpdateV30Request
	return r
}

func (r *ApiOpenApiV30ProjectCpaBidUpdatePostRequest) Execute() (*ProjectCpaBidUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ProjectCpaBidUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ProjectCpaBidUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ProjectCpaBidUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30ProjectCpaBidUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ProjectCpaBidUpdatePost Method for OpenApiV30ProjectCpaBidUpdatePost

支持通过本接口批量修改项目维度出价(cpa_bid),支持修改浅层出价

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ProjectCpaBidUpdatePostRequest
*/
func (a *ProjectCpaBidUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ProjectCpaBidUpdatePostRequest {
	return &ApiOpenApiV30ProjectCpaBidUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectCpaBidUpdateV30Response
func (a *ProjectCpaBidUpdateV30ApiService) postExecute(r *ApiOpenApiV30ProjectCpaBidUpdatePostRequest) (*ProjectCpaBidUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ProjectCpaBidUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/project/cpa_bid/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.projectCpaBidUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
