/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ReportLiveRoomAnalysisGetV30ApiService ReportLiveRoomAnalysisGetV30Api service
type ReportLiveRoomAnalysisGetV30ApiService service

type ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest struct {
	ctx          context.Context
	ApiService   *ReportLiveRoomAnalysisGetV30ApiService
	advertiserId *int64
	filtering    *ReportLiveRoomAnalysisGetV30Filtering
	startTime    *string
	endTime      *string
	fields       *[]string
	orderField   *string
	orderType    *ReportLiveRoomAnalysisGetV30OrderType
	page         *int64
	pageSize     *int64
}

// 广告主id
func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 过滤器
func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) Filtering(filtering ReportLiveRoomAnalysisGetV30Filtering) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.filtering = &filtering
	return r
}

// 报表开始时间，格式为%Y-%m-%d %H:%M:%S，默认从7天前开始，仅支持查询2020年7月1日之后的数据 （目前仅支持天级别的数据查询，请从0点开始查询，否则返回值为空）
func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) StartTime(startTime string) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.startTime = &startTime
	return r
}

// 报表结束时间，格式为%Y-%m-%d %H:%M:%S，默认为今天，最大时间范围30天
func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) EndTime(endTime string) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.endTime = &endTime
	return r
}

// 指标字段
func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) Fields(fields []string) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.fields = &fields
	return r
}

// 排序字段
func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) OrderField(orderField string) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.orderField = &orderField
	return r
}

// 排序方式
func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) OrderType(orderType ReportLiveRoomAnalysisGetV30OrderType) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.orderType = &orderType
	return r
}

func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) Page(page int64) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) Execute() (*ReportLiveRoomAnalysisGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ReportLiveRoomAnalysisGetGet Method for OpenApiV30ReportLiveRoomAnalysisGetGet

查询直播间相关数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest
*/
func (a *ReportLiveRoomAnalysisGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest {
	return &ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportLiveRoomAnalysisGetV30Response
func (a *ReportLiveRoomAnalysisGetV30ApiService) getExecute(r *ApiOpenApiV30ReportLiveRoomAnalysisGetGetRequest) (*ReportLiveRoomAnalysisGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ReportLiveRoomAnalysisGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/report/live_room/analysis/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
