/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsClueInfoUpdateV2ApiService ToolsClueInfoUpdateV2Api service
type ToolsClueInfoUpdateV2ApiService service

type ApiOpenApi2ToolsClueInfoUpdatePostRequest struct {
	ctx                          context.Context
	ApiService                   *ToolsClueInfoUpdateV2ApiService
	toolsClueInfoUpdateV2Request *ToolsClueInfoUpdateV2Request
}

func (r *ApiOpenApi2ToolsClueInfoUpdatePostRequest) ToolsClueInfoUpdateV2Request(toolsClueInfoUpdateV2Request ToolsClueInfoUpdateV2Request) *ApiOpenApi2ToolsClueInfoUpdatePostRequest {
	r.toolsClueInfoUpdateV2Request = &toolsClueInfoUpdateV2Request
	return r
}

func (r *ApiOpenApi2ToolsClueInfoUpdatePostRequest) Execute() (*ToolsClueInfoUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsClueInfoUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsClueInfoUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsClueInfoUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2ToolsClueInfoUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsClueInfoUpdatePost Method for OpenApi2ToolsClueInfoUpdatePost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsClueInfoUpdatePostRequest
*/
func (a *ToolsClueInfoUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsClueInfoUpdatePostRequest {
	return &ApiOpenApi2ToolsClueInfoUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsClueInfoUpdateV2Response
func (a *ToolsClueInfoUpdateV2ApiService) postExecute(r *ApiOpenApi2ToolsClueInfoUpdatePostRequest) (*ToolsClueInfoUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsClueInfoUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/clue/info/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsClueInfoUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
