/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// RemittanceCodeListGetV30ApiService RemittanceCodeListGetV30Api service
type RemittanceCodeListGetV30ApiService service

type ApiOpenApiV30RemittanceCodeListGetGetRequest struct {
	ctx                context.Context
	ApiService         *RemittanceCodeListGetV30ApiService
	ccAccountId        *int64
	accountId          *int64
	page               *int64
	pageSize           *int64
	remittanceCodeList *[]string
}

func (r *ApiOpenApiV30RemittanceCodeListGetGetRequest) CcAccountId(ccAccountId int64) *ApiOpenApiV30RemittanceCodeListGetGetRequest {
	r.ccAccountId = &ccAccountId
	return r
}

// 广告主id
func (r *ApiOpenApiV30RemittanceCodeListGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30RemittanceCodeListGetGetRequest {
	r.accountId = &accountId
	return r
}

// 页码
func (r *ApiOpenApiV30RemittanceCodeListGetGetRequest) Page(page int64) *ApiOpenApiV30RemittanceCodeListGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30RemittanceCodeListGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30RemittanceCodeListGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 汇款码列表
func (r *ApiOpenApiV30RemittanceCodeListGetGetRequest) RemittanceCodeList(remittanceCodeList []string) *ApiOpenApiV30RemittanceCodeListGetGetRequest {
	r.remittanceCodeList = &remittanceCodeList
	return r
}

func (r *ApiOpenApiV30RemittanceCodeListGetGetRequest) Execute() (*RemittanceCodeListGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30RemittanceCodeListGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30RemittanceCodeListGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30RemittanceCodeListGetGetRequest) WithLog(enable bool) *ApiOpenApiV30RemittanceCodeListGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30RemittanceCodeListGetGet Method for OpenApiV30RemittanceCodeListGetGet

查询汇款码

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30RemittanceCodeListGetGetRequest
*/
func (a *RemittanceCodeListGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30RemittanceCodeListGetGetRequest {
	return &ApiOpenApiV30RemittanceCodeListGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RemittanceCodeListGetV30Response
func (a *RemittanceCodeListGetV30ApiService) getExecute(r *ApiOpenApiV30RemittanceCodeListGetGetRequest) (*RemittanceCodeListGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *RemittanceCodeListGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/remittance_code/list/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ccAccountId == nil {
		return localVarReturnValue, nil, ReportError("ccAccountId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}
	if r.remittanceCodeList == nil {
		return localVarReturnValue, nil, ReportError("remittanceCodeList is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "cc_account_id", r.ccAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	parameterAddToHeaderOrQuery(localVarQueryParams, "remittance_code_list", r.remittanceCodeList)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
