/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanTodayLiveV2RoomUserGetV10ApiService QianchuanTodayLiveV2RoomUserGetV10Api service
type QianchuanTodayLiveV2RoomUserGetV10ApiService service

type ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanTodayLiveV2RoomUserGetV10ApiService
	advertiserId *int64
	roomId       *int64
	actionEvent  *QianchuanTodayLiveV2RoomUserGetV10ActionEvent
	dimension    *[]*QianchuanTodayLiveV2RoomUserGetV10Dimension
	flowSource   *QianchuanTodayLiveV2RoomUserGetV10FlowSource
}

func (r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) RoomId(roomId int64) *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest {
	r.roomId = &roomId
	return r
}

// 行为事件 第二个单选
func (r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) ActionEvent(actionEvent QianchuanTodayLiveV2RoomUserGetV10ActionEvent) *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest {
	r.actionEvent = &actionEvent
	return r
}

// 用户分布类型，传入一个数组
func (r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) Dimension(dimension []*QianchuanTodayLiveV2RoomUserGetV10Dimension) *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest {
	r.dimension = &dimension
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) FlowSource(flowSource QianchuanTodayLiveV2RoomUserGetV10FlowSource) *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest {
	r.flowSource = &flowSource
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) Execute() (*QianchuanTodayLiveV2RoomUserGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanTodayLiveV2RoomUserGetGet Method for OpenApiV10QianchuanTodayLiveV2RoomUserGetGet

获取直播间用户洞察v2

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest
*/
func (a *QianchuanTodayLiveV2RoomUserGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest {
	return &ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanTodayLiveV2RoomUserGetV10Response
func (a *QianchuanTodayLiveV2RoomUserGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanTodayLiveV2RoomUserGetGetRequest) (*QianchuanTodayLiveV2RoomUserGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanTodayLiveV2RoomUserGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/today_live_v2/room/user/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.roomId == nil {
		return localVarReturnValue, nil, ReportError("roomId is required and must be specified")
	}
	if r.actionEvent == nil {
		return localVarReturnValue, nil, ReportError("actionEvent is required and must be specified")
	}
	if r.dimension == nil {
		return localVarReturnValue, nil, ReportError("dimension is required and must be specified")
	}
	if r.flowSource == nil {
		return localVarReturnValue, nil, ReportError("flowSource is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "room_id", r.roomId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "action_event", r.actionEvent)
	parameterAddToHeaderOrQuery(localVarQueryParams, "dimension", r.dimension)
	parameterAddToHeaderOrQuery(localVarQueryParams, "flow_source", r.flowSource)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
