/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// StarProviderTaskItemListV2ApiService StarProviderTaskItemListV2Api service
type StarProviderTaskItemListV2ApiService service

type ApiOpenApi2StarProviderTaskItemListGetRequest struct {
	ctx                 context.Context
	ApiService          *StarProviderTaskItemListV2ApiService
	starId              *int64
	taskId              *int64
	statisticsStartTime *int64
	statisticsEndTime   *int64
	itemSearchKey       *string
	itemStatus          *[]int64
	page                *int64
	pageSize            *int64
}

// 星图服务商ID
func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) StarId(starId int64) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.starId = &starId
	return r
}

// 任务ID
func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) TaskId(taskId int64) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.taskId = &taskId
	return r
}

// 投放统计周期开始时间，毫秒级时间戳
func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) StatisticsStartTime(statisticsStartTime int64) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.statisticsStartTime = &statisticsStartTime
	return r
}

// 投放统计周期结束时间，毫秒级时间戳
func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) StatisticsEndTime(statisticsEndTime int64) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.statisticsEndTime = &statisticsEndTime
	return r
}

// 视频ID 或者 视频标题
func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) ItemSearchKey(itemSearchKey string) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.itemSearchKey = &itemSearchKey
	return r
}

// 视频投放状态
func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) ItemStatus(itemStatus []int64) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.itemStatus = &itemStatus
	return r
}

// 页码
func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) Page(page int64) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.page = &page
	return r
}

// 每页条数
func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) PageSize(pageSize int64) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) Execute() (*models.StarProviderTaskItemListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarProviderTaskItemListGetRequest) WithLog(enable bool) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarProviderTaskItemListGet Method for OpenApi2StarProviderTaskItemListGet

星川服务商视频列表接口

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarProviderTaskItemListGetRequest
*/
func (a *StarProviderTaskItemListV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarProviderTaskItemListGetRequest {
	return &ApiOpenApi2StarProviderTaskItemListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarProviderTaskItemListV2Response
func (a *StarProviderTaskItemListV2ApiService) getExecute(r *ApiOpenApi2StarProviderTaskItemListGetRequest) (*models.StarProviderTaskItemListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.StarProviderTaskItemListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/provider/task/item/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}
	if r.taskId == nil {
		return localVarReturnValue, nil, ReportError("taskId is required and must be specified")
	}
	if r.statisticsStartTime == nil {
		return localVarReturnValue, nil, ReportError("statisticsStartTime is required and must be specified")
	}
	if r.statisticsEndTime == nil {
		return localVarReturnValue, nil, ReportError("statisticsEndTime is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId)
	if r.itemSearchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_search_key", r.itemSearchKey)
	}
	if r.itemStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_status", r.itemStatus)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "statistics_start_time", r.statisticsStartTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "statistics_end_time", r.statisticsEndTime)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
