/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCreativeDeleteV30ApiService BrandCreativeDeleteV30Api service
type BrandCreativeDeleteV30ApiService service

type ApiOpenApiV30BrandCreativeDeletePostRequest struct {
	ctx                           context.Context
	ApiService                    *BrandCreativeDeleteV30ApiService
	brandCreativeDeleteV30Request *BrandCreativeDeleteV30Request
}

func (r *ApiOpenApiV30BrandCreativeDeletePostRequest) BrandCreativeDeleteV30Request(brandCreativeDeleteV30Request BrandCreativeDeleteV30Request) *ApiOpenApiV30BrandCreativeDeletePostRequest {
	r.brandCreativeDeleteV30Request = &brandCreativeDeleteV30Request
	return r
}

func (r *ApiOpenApiV30BrandCreativeDeletePostRequest) Execute() (*BrandCreativeDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandCreativeDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCreativeDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCreativeDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandCreativeDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCreativeDeletePost Method for OpenApiV30BrandCreativeDeletePost

品牌创意删除

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCreativeDeletePostRequest
*/
func (a *BrandCreativeDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandCreativeDeletePostRequest {
	return &ApiOpenApiV30BrandCreativeDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCreativeDeleteV30Response
func (a *BrandCreativeDeleteV30ApiService) postExecute(r *ApiOpenApiV30BrandCreativeDeletePostRequest) (*BrandCreativeDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCreativeDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/creative/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandCreativeDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
