/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandMaterialCreateV30ApiService BrandMaterialCreateV30Api service
type BrandMaterialCreateV30ApiService service

type ApiOpenApiV30BrandMaterialCreatePostRequest struct {
	ctx                           context.Context
	ApiService                    *BrandMaterialCreateV30ApiService
	brandMaterialCreateV30Request *BrandMaterialCreateV30Request
}

func (r *ApiOpenApiV30BrandMaterialCreatePostRequest) BrandMaterialCreateV30Request(brandMaterialCreateV30Request BrandMaterialCreateV30Request) *ApiOpenApiV30BrandMaterialCreatePostRequest {
	r.brandMaterialCreateV30Request = &brandMaterialCreateV30Request
	return r
}

func (r *ApiOpenApiV30BrandMaterialCreatePostRequest) Execute() (*BrandMaterialCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandMaterialCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandMaterialCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandMaterialCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandMaterialCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandMaterialCreatePost Method for OpenApiV30BrandMaterialCreatePost

品牌预定单创建创意

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandMaterialCreatePostRequest
*/
func (a *BrandMaterialCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandMaterialCreatePostRequest {
	return &ApiOpenApiV30BrandMaterialCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandMaterialCreateV30Response
func (a *BrandMaterialCreateV30ApiService) postExecute(r *ApiOpenApiV30BrandMaterialCreatePostRequest) (*BrandMaterialCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandMaterialCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/material/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandMaterialCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
