/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsPlayableSaveV2ApiService ToolsPlayableSaveV2Api service
type ToolsPlayableSaveV2ApiService service

type ApiOpenApi2ToolsPlayableSavePostRequest struct {
	ctx                        context.Context
	ApiService                 *ToolsPlayableSaveV2ApiService
	toolsPlayableSaveV2Request *ToolsPlayableSaveV2Request
}

func (r *ApiOpenApi2ToolsPlayableSavePostRequest) ToolsPlayableSaveV2Request(toolsPlayableSaveV2Request ToolsPlayableSaveV2Request) *ApiOpenApi2ToolsPlayableSavePostRequest {
	r.toolsPlayableSaveV2Request = &toolsPlayableSaveV2Request
	return r
}

func (r *ApiOpenApi2ToolsPlayableSavePostRequest) Execute() (*ToolsPlayableSaveV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsPlayableSavePostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsPlayableSavePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsPlayableSavePostRequest) WithLog(enable bool) *ApiOpenApi2ToolsPlayableSavePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsPlayableSavePost Method for OpenApi2ToolsPlayableSavePost

上传并校验审核通过后，调用本接口保存试玩素材。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsPlayableSavePostRequest
*/
func (a *ToolsPlayableSaveV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsPlayableSavePostRequest {
	return &ApiOpenApi2ToolsPlayableSavePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsPlayableSaveV2Response
func (a *ToolsPlayableSaveV2ApiService) postExecute(r *ApiOpenApi2ToolsPlayableSavePostRequest) (*ToolsPlayableSaveV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsPlayableSaveV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/playable/save/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsPlayableSaveV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
