/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CgTransferTransferDetailGetV30ApiService CgTransferTransferDetailGetV30Api service
type CgTransferTransferDetailGetV30ApiService service

type ApiOpenApiV30CgTransferTransferDetailGetGetRequest struct {
	ctx                  context.Context
	ApiService           *CgTransferTransferDetailGetV30ApiService
	organizationId       *int64
	bizRequestNo         *string
	platform             *CgTransferTransferDetailGetV30Platform
	transferBizRequestNo *string
	transferSerial       *string
}

// 组织id
func (r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) OrganizationId(organizationId int64) *ApiOpenApiV30CgTransferTransferDetailGetGetRequest {
	r.organizationId = &organizationId
	return r
}

// 请求id，推荐uuid，方便请求链路对齐
func (r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) BizRequestNo(bizRequestNo string) *ApiOpenApiV30CgTransferTransferDetailGetGetRequest {
	r.bizRequestNo = &bizRequestNo
	return r
}

// 转账业务线
func (r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) Platform(platform CgTransferTransferDetailGetV30Platform) *ApiOpenApiV30CgTransferTransferDetailGetGetRequest {
	r.platform = &platform
	return r
}

// 发起转账的幂等id
func (r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) TransferBizRequestNo(transferBizRequestNo string) *ApiOpenApiV30CgTransferTransferDetailGetGetRequest {
	r.transferBizRequestNo = &transferBizRequestNo
	return r
}

// 转账单号，与transfer_biz_request_no两者传其一即可
func (r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) TransferSerial(transferSerial string) *ApiOpenApiV30CgTransferTransferDetailGetGetRequest {
	r.transferSerial = &transferSerial
	return r
}

func (r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) Execute() (*CgTransferTransferDetailGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30CgTransferTransferDetailGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) WithLog(enable bool) *ApiOpenApiV30CgTransferTransferDetailGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30CgTransferTransferDetailGetGet Method for OpenApiV30CgTransferTransferDetailGetGet

转账单信息，包括状态、双方账户、转账金额

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30CgTransferTransferDetailGetGetRequest
*/
func (a *CgTransferTransferDetailGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30CgTransferTransferDetailGetGetRequest {
	return &ApiOpenApiV30CgTransferTransferDetailGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CgTransferTransferDetailGetV30Response
func (a *CgTransferTransferDetailGetV30ApiService) getExecute(r *ApiOpenApiV30CgTransferTransferDetailGetGetRequest) (*CgTransferTransferDetailGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CgTransferTransferDetailGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/cg_transfer/transfer_detail/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationId == nil {
		return localVarReturnValue, nil, ReportError("organizationId is required and must be specified")
	}
	if r.bizRequestNo == nil {
		return localVarReturnValue, nil, ReportError("bizRequestNo is required and must be specified")
	}
	if r.platform == nil {
		return localVarReturnValue, nil, ReportError("platform is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "biz_request_no", r.bizRequestNo)
	if r.transferBizRequestNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transfer_biz_request_no", r.transferBizRequestNo)
	}
	if r.transferSerial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transfer_serial", r.transferSerial)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
