/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CgTransferCanTransferBalanceGetV30ApiService CgTransferCanTransferBalanceGetV30Api service
type CgTransferCanTransferBalanceGetV30ApiService service

type ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest struct {
	ctx               context.Context
	ApiService        *CgTransferCanTransferBalanceGetV30ApiService
	organizationId    *int64
	bizRequestNo      *string
	opponentTargetId  *int64
	targetIdList      *[]int64
	transferDirection *CgTransferCanTransferBalanceGetV30TransferDirection
	platform          *CgTransferCanTransferBalanceGetV30Platform
}

// 组织id
func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) OrganizationId(organizationId int64) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	r.organizationId = &organizationId
	return r
}

// 请求id
func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) BizRequestNo(bizRequestNo string) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	r.bizRequestNo = &bizRequestNo
	return r
}

// 锚定账户id，1:N的1
func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) OpponentTargetId(opponentTargetId int64) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	r.opponentTargetId = &opponentTargetId
	return r
}

// 目标账户id列表，1:N的N，最多支持100个
func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) TargetIdList(targetIdList []int64) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	r.targetIdList = &targetIdList
	return r
}

// 转账方向，以目标账户视角确定
func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) TransferDirection(transferDirection CgTransferCanTransferBalanceGetV30TransferDirection) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	r.transferDirection = &transferDirection
	return r
}

// 转账业务线
func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) Platform(platform CgTransferCanTransferBalanceGetV30Platform) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	r.platform = &platform
	return r
}

func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) Execute() (*CgTransferCanTransferBalanceGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) WithLog(enable bool) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30CgTransferCanTransferBalanceGetGet Method for OpenApiV30CgTransferCanTransferBalanceGetGet

查询转出方与转入方之间最大可转金额，接口内已自动扣除需要预留的竞价消耗保证金，支持查询1:N转账的最大可转金额

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest
*/
func (a *CgTransferCanTransferBalanceGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest {
	return &ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CgTransferCanTransferBalanceGetV30Response
func (a *CgTransferCanTransferBalanceGetV30ApiService) getExecute(r *ApiOpenApiV30CgTransferCanTransferBalanceGetGetRequest) (*CgTransferCanTransferBalanceGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CgTransferCanTransferBalanceGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/cg_transfer/can_transfer_balance/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationId == nil {
		return localVarReturnValue, nil, ReportError("organizationId is required and must be specified")
	}
	if r.bizRequestNo == nil {
		return localVarReturnValue, nil, ReportError("bizRequestNo is required and must be specified")
	}
	if r.opponentTargetId == nil {
		return localVarReturnValue, nil, ReportError("opponentTargetId is required and must be specified")
	}
	if r.targetIdList == nil {
		return localVarReturnValue, nil, ReportError("targetIdList is required and must be specified")
	}
	if r.transferDirection == nil {
		return localVarReturnValue, nil, ReportError("transferDirection is required and must be specified")
	}
	if r.platform == nil {
		return localVarReturnValue, nil, ReportError("platform is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "biz_request_no", r.bizRequestNo)
	parameterAddToHeaderOrQuery(localVarQueryParams, "opponent_target_id", r.opponentTargetId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "target_id_list", r.targetIdList)
	parameterAddToHeaderOrQuery(localVarQueryParams, "transfer_direction", r.transferDirection)
	parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
