/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanReportAllPromotionGetV10ApiService QianchuanReportAllPromotionGetV10Api service
type QianchuanReportAllPromotionGetV10ApiService service

type ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest struct {
	ctx           context.Context
	ApiService    *QianchuanReportAllPromotionGetV10ApiService
	advertiserId  *int64
	startTime     *string
	endTime       *string
	adlabScene    *QianchuanReportAllPromotionGetV10AdlabScene
	fields        *[]string
	dataPeriod    *QianchuanReportAllPromotionGetV10DataPeriod
	marketingGoal *QianchuanReportAllPromotionGetV10MarketingGoal
	orderPlatform *QianchuanReportAllPromotionGetV10OrderPlatform
}

// 千川业务账户ID，对应账户类型为&#x60;QIANCHUAN&#x60;
func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 查询统计数据开始时间，格式：&#x60;yyyy-mm-dd&#x60;，如：2021-04-05 00:00:00
func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) StartTime(startTime string) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.startTime = &startTime
	return r
}

// 查询统计数据结束时间，格式：&#x60;yyyy-mm-dd&#x60;，如：2021-04-05 23:59:59
func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) EndTime(endTime string) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.endTime = &endTime
	return r
}

// 所查询的计划类型，可选值:  - OVERALL_PROJECT 乘方计划 - UNI_PROJECT 全域计划
func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) AdlabScene(adlabScene QianchuanReportAllPromotionGetV10AdlabScene) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.adlabScene = &adlabScene
	return r
}

// 查询指标，详见应答中data描述的返回指标
func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) Fields(fields []string) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.fields = &fields
	return r
}

// 数据周期，允许值： - OVER_ALL_DATA 乘方期间数据 - UNI_DATA 全域期间数据 - ALL_DATA 整体数据 （默认值） 当且仅当 adlab_scene&#x3D;OVERALL_PROJECT 时支持传入
func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) DataPeriod(dataPeriod QianchuanReportAllPromotionGetV10DataPeriod) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.dataPeriod = &dataPeriod
	return r
}

// 按照营销目标过滤，允许值：  - &#x60;ALL&#x60; 全部（默认值） - &#x60;VIDEO_PROM_GOODS&#x60; 商品全域  - &#x60;LIVE_PROM_GOODS&#x60; 直播全域
func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) MarketingGoal(marketingGoal QianchuanReportAllPromotionGetV10MarketingGoal) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.marketingGoal = &marketingGoal
	return r
}

// 下单平台，允许值：  - &#x60;ALL&#x60; 全部  - &#x60;QIANCHUAN&#x60; 千川PC（默认值）  - &#x60;ECP_AWEME&#x60; 小店随心推，仅marketing_goal&#x3D;&#x60;ALL&#x60;时，支持传入
func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) OrderPlatform(orderPlatform QianchuanReportAllPromotionGetV10OrderPlatform) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.orderPlatform = &orderPlatform
	return r
}

func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) Execute() (*QianchuanReportAllPromotionGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanReportAllPromotionGetGet Method for OpenApiV10QianchuanReportAllPromotionGetGet

查询千川广告主账号下乘方推广投放账户维度聚合数据。支持指标包含消耗，点击等

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest
*/
func (a *QianchuanReportAllPromotionGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest {
	return &ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanReportAllPromotionGetV10Response
func (a *QianchuanReportAllPromotionGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanReportAllPromotionGetGetRequest) (*QianchuanReportAllPromotionGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanReportAllPromotionGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/report/all_promotion/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.startTime == nil {
		return localVarReturnValue, nil, ReportError("startTime is required and must be specified")
	}
	if r.endTime == nil {
		return localVarReturnValue, nil, ReportError("endTime is required and must be specified")
	}
	if r.adlabScene == nil {
		return localVarReturnValue, nil, ReportError("adlabScene is required and must be specified")
	}
	if r.fields == nil {
		return localVarReturnValue, nil, ReportError("fields is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "adlab_scene", r.adlabScene)
	if r.dataPeriod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "data_period", r.dataPeriod)
	}
	if r.marketingGoal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marketing_goal", r.marketingGoal)
	}
	if r.orderPlatform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_platform", r.orderPlatform)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
