/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CarouselDeleteV2ApiService CarouselDeleteV2Api service
type CarouselDeleteV2ApiService service

type ApiOpenApi2CarouselDeletePostRequest struct {
	ctx                     context.Context
	ApiService              *CarouselDeleteV2ApiService
	carouselDeleteV2Request *CarouselDeleteV2Request
}

func (r *ApiOpenApi2CarouselDeletePostRequest) CarouselDeleteV2Request(carouselDeleteV2Request CarouselDeleteV2Request) *ApiOpenApi2CarouselDeletePostRequest {
	r.carouselDeleteV2Request = &carouselDeleteV2Request
	return r
}

func (r *ApiOpenApi2CarouselDeletePostRequest) Execute() (*CarouselDeleteV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2CarouselDeletePostRequest) AccessToken(accessToken string) *ApiOpenApi2CarouselDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2CarouselDeletePostRequest) WithLog(enable bool) *ApiOpenApi2CarouselDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2CarouselDeletePost Method for OpenApi2CarouselDeletePost

批量删除图集

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2CarouselDeletePostRequest
*/
func (a *CarouselDeleteV2ApiService) Post(ctx context.Context) *ApiOpenApi2CarouselDeletePostRequest {
	return &ApiOpenApi2CarouselDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CarouselDeleteV2Response
func (a *CarouselDeleteV2ApiService) postExecute(r *ApiOpenApi2CarouselDeletePostRequest) (*CarouselDeleteV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CarouselDeleteV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/carousel/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.carouselDeleteV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
