/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarStarAdUniteTaskItemListV2ApiService StarStarAdUniteTaskItemListV2Api service
type StarStarAdUniteTaskItemListV2ApiService service

type ApiOpenApi2StarStarAdUniteTaskItemListGetRequest struct {
	ctx           context.Context
	ApiService    *StarStarAdUniteTaskItemListV2ApiService
	starId        *int64
	statStartDate *string
	statEndDate   *string
	demandId      *int64
	page          *int32
	pageSize      *int32
}

// 客户的星图id
func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) StarId(starId int64) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	r.starId = &starId
	return r
}

// 查询起始时间，格式yyyy-mm-dd，只和播放量、转化数、预估消耗相关
func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) StatStartDate(statStartDate string) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	r.statStartDate = &statStartDate
	return r
}

// 查询截止时间，格式yyyy-mm-dd，只和播放量、转化数、预估实时消耗相关
func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) StatEndDate(statEndDate string) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	r.statEndDate = &statEndDate
	return r
}

// 任务id
func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) DemandId(demandId int64) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	r.demandId = &demandId
	return r
}

// 页码，默认为1
func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) Page(page int32) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	r.page = &page
	return r
}

// 页面大小，默认10，最大值20
func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) PageSize(pageSize int32) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) Execute() (*StarStarAdUniteTaskItemListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) WithLog(enable bool) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarStarAdUniteTaskItemListGet Method for OpenApi2StarStarAdUniteTaskItemListGet

获取星广联投(星图版)视频维度数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarStarAdUniteTaskItemListGetRequest
*/
func (a *StarStarAdUniteTaskItemListV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest {
	return &ApiOpenApi2StarStarAdUniteTaskItemListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarStarAdUniteTaskItemListV2Response
func (a *StarStarAdUniteTaskItemListV2ApiService) getExecute(r *ApiOpenApi2StarStarAdUniteTaskItemListGetRequest) (*StarStarAdUniteTaskItemListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarStarAdUniteTaskItemListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/star_ad_unite_task_item/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}
	if r.statStartDate == nil {
		return localVarReturnValue, nil, ReportError("statStartDate is required and must be specified")
	}
	if r.statEndDate == nil {
		return localVarReturnValue, nil, ReportError("statEndDate is required and must be specified")
	}
	if r.demandId == nil {
		return localVarReturnValue, nil, ReportError("demandId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "stat_start_date", r.statStartDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "stat_end_date", r.statEndDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "demand_id", r.demandId)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
