/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DouplusOrderRenewV30ApiService DouplusOrderRenewV30Api service
type DouplusOrderRenewV30ApiService service

type ApiOpenApiV30DouplusOrderRenewPostRequest struct {
	ctx                         context.Context
	ApiService                  *DouplusOrderRenewV30ApiService
	douplusOrderRenewV30Request *DouplusOrderRenewV30Request
}

func (r *ApiOpenApiV30DouplusOrderRenewPostRequest) DouplusOrderRenewV30Request(douplusOrderRenewV30Request DouplusOrderRenewV30Request) *ApiOpenApiV30DouplusOrderRenewPostRequest {
	r.douplusOrderRenewV30Request = &douplusOrderRenewV30Request
	return r
}

func (r *ApiOpenApiV30DouplusOrderRenewPostRequest) Execute() (*DouplusOrderRenewV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DouplusOrderRenewPostRequest) AccessToken(accessToken string) *ApiOpenApiV30DouplusOrderRenewPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DouplusOrderRenewPostRequest) WithLog(enable bool) *ApiOpenApiV30DouplusOrderRenewPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DouplusOrderRenewPost Method for OpenApiV30DouplusOrderRenewPost

用以给正在投放中的DOU+订单追加预算与投放时长

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DouplusOrderRenewPostRequest
*/
func (a *DouplusOrderRenewV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DouplusOrderRenewPostRequest {
	return &ApiOpenApiV30DouplusOrderRenewPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DouplusOrderRenewV30Response
func (a *DouplusOrderRenewV30ApiService) postExecute(r *ApiOpenApiV30DouplusOrderRenewPostRequest) (*DouplusOrderRenewV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DouplusOrderRenewV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/douplus/order/renew/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.douplusOrderRenewV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
