/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AgentAdvertiserAssignV2ApiService AgentAdvertiserAssignV2Api service
type AgentAdvertiserAssignV2ApiService service

type ApiOpenApi2AgentAdvertiserAssignPostRequest struct {
	ctx                            context.Context
	ApiService                     *AgentAdvertiserAssignV2ApiService
	agentAdvertiserAssignV2Request *AgentAdvertiserAssignV2Request
}

func (r *ApiOpenApi2AgentAdvertiserAssignPostRequest) AgentAdvertiserAssignV2Request(agentAdvertiserAssignV2Request AgentAdvertiserAssignV2Request) *ApiOpenApi2AgentAdvertiserAssignPostRequest {
	r.agentAdvertiserAssignV2Request = &agentAdvertiserAssignV2Request
	return r
}

func (r *ApiOpenApi2AgentAdvertiserAssignPostRequest) Execute() (*AgentAdvertiserAssignV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2AgentAdvertiserAssignPostRequest) AccessToken(accessToken string) *ApiOpenApi2AgentAdvertiserAssignPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AgentAdvertiserAssignPostRequest) WithLog(enable bool) *ApiOpenApi2AgentAdvertiserAssignPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AgentAdvertiserAssignPost Method for OpenApi2AgentAdvertiserAssignPost

广告主账户分配负责人、分配协作者

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AgentAdvertiserAssignPostRequest
*/
func (a *AgentAdvertiserAssignV2ApiService) Post(ctx context.Context) *ApiOpenApi2AgentAdvertiserAssignPostRequest {
	return &ApiOpenApi2AgentAdvertiserAssignPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgentAdvertiserAssignV2Response
func (a *AgentAdvertiserAssignV2ApiService) postExecute(r *ApiOpenApi2AgentAdvertiserAssignPostRequest) (*AgentAdvertiserAssignV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AgentAdvertiserAssignV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/agent/advertiser/assign/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.agentAdvertiserAssignV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
