/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarUpdateProjectV2ApiService StarUpdateProjectV2Api service
type StarUpdateProjectV2ApiService service

type ApiOpenApi2StarUpdateProjectPostRequest struct {
	ctx                        context.Context
	ApiService                 *StarUpdateProjectV2ApiService
	starUpdateProjectV2Request *StarUpdateProjectV2Request
}

func (r *ApiOpenApi2StarUpdateProjectPostRequest) StarUpdateProjectV2Request(starUpdateProjectV2Request StarUpdateProjectV2Request) *ApiOpenApi2StarUpdateProjectPostRequest {
	r.starUpdateProjectV2Request = &starUpdateProjectV2Request
	return r
}

func (r *ApiOpenApi2StarUpdateProjectPostRequest) Execute() (*StarUpdateProjectV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2StarUpdateProjectPostRequest) AccessToken(accessToken string) *ApiOpenApi2StarUpdateProjectPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarUpdateProjectPostRequest) WithLog(enable bool) *ApiOpenApi2StarUpdateProjectPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarUpdateProjectPost Method for OpenApi2StarUpdateProjectPost

修改星图项目

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarUpdateProjectPostRequest
*/
func (a *StarUpdateProjectV2ApiService) Post(ctx context.Context) *ApiOpenApi2StarUpdateProjectPostRequest {
	return &ApiOpenApi2StarUpdateProjectPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarUpdateProjectV2Response
func (a *StarUpdateProjectV2ApiService) postExecute(r *ApiOpenApi2StarUpdateProjectPostRequest) (*StarUpdateProjectV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarUpdateProjectV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/update/project/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.starUpdateProjectV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
