/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DouplusOrderCloseV30ApiService DouplusOrderCloseV30Api service
type DouplusOrderCloseV30ApiService service

type ApiOpenApiV30DouplusOrderClosePostRequest struct {
	ctx                         context.Context
	ApiService                  *DouplusOrderCloseV30ApiService
	douplusOrderCloseV30Request *DouplusOrderCloseV30Request
}

func (r *ApiOpenApiV30DouplusOrderClosePostRequest) DouplusOrderCloseV30Request(douplusOrderCloseV30Request DouplusOrderCloseV30Request) *ApiOpenApiV30DouplusOrderClosePostRequest {
	r.douplusOrderCloseV30Request = &douplusOrderCloseV30Request
	return r
}

func (r *ApiOpenApiV30DouplusOrderClosePostRequest) Execute() (*DouplusOrderCloseV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DouplusOrderClosePostRequest) AccessToken(accessToken string) *ApiOpenApiV30DouplusOrderClosePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DouplusOrderClosePostRequest) WithLog(enable bool) *ApiOpenApiV30DouplusOrderClosePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DouplusOrderClosePost Method for OpenApiV30DouplusOrderClosePost

可批量终止DOU+订单(API白名单，联系巨量引擎销售开通）

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DouplusOrderClosePostRequest
*/
func (a *DouplusOrderCloseV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DouplusOrderClosePostRequest {
	return &ApiOpenApiV30DouplusOrderClosePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DouplusOrderCloseV30Response
func (a *DouplusOrderCloseV30ApiService) postExecute(r *ApiOpenApiV30DouplusOrderClosePostRequest) (*DouplusOrderCloseV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DouplusOrderCloseV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/douplus/order/close/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.douplusOrderCloseV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
