/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalReportProjectGetV30ApiService LocalReportProjectGetV30Api service
type LocalReportProjectGetV30ApiService service

type ApiOpenApiV30LocalReportProjectGetGetRequest struct {
	ctx             context.Context
	ApiService      *LocalReportProjectGetV30ApiService
	localAccountId  *int64
	startDate       *string
	endDate         *string
	metrics         *[]string
	timeGranularity *LocalReportProjectGetV30TimeGranularity
	orderType       *LocalReportProjectGetV30OrderType
	orderField      *string
	filtering       *LocalReportProjectGetV30Filtering
	page            *int32
	pageSize        *int32
}

func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 查询起始日期，格式：2021-04-05
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) StartDate(startDate string) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.startDate = &startDate
	return r
}

// 查询结束日期，格式：2021-04-05。 若不传time_granularity，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_DAILY时，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_TOTAL时，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_HOURLY时，则时间跨度不能超过7天
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) EndDate(endDate string) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.endDate = &endDate
	return r
}

// 指标集
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) Metrics(metrics []string) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.metrics = &metrics
	return r
}

// 时间粒度
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) TimeGranularity(timeGranularity LocalReportProjectGetV30TimeGranularity) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.timeGranularity = &timeGranularity
	return r
}

// 排序方式
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) OrderType(orderType LocalReportProjectGetV30OrderType) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段，允许值参考数据指标
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) OrderField(orderField string) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.orderField = &orderField
	return r
}

// 过滤器
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) Filtering(filtering LocalReportProjectGetV30Filtering) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码，默认值：1
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) Page(page int32) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，允许值：10, 20, 50, 100，默认值：10
func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) Execute() (*LocalReportProjectGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalReportProjectGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalReportProjectGetGet Method for OpenApiV30LocalReportProjectGetGet

获取项目投放的广告效果数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalReportProjectGetGetRequest
*/
func (a *LocalReportProjectGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalReportProjectGetGetRequest {
	return &ApiOpenApiV30LocalReportProjectGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalReportProjectGetV30Response
func (a *LocalReportProjectGetV30ApiService) getExecute(r *ApiOpenApiV30LocalReportProjectGetGetRequest) (*LocalReportProjectGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalReportProjectGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/report/project/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}
	if r.metrics == nil {
		return localVarReturnValue, nil, ReportError("metrics is required and must be specified")
	}
	if len(*r.metrics) < 1 {
		return localVarReturnValue, nil, ReportError("metrics must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	if r.timeGranularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_granularity", r.timeGranularity)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
