/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsStarTaskMaterialTypeV2ApiService ToolsStarTaskMaterialTypeV2Api service
type ToolsStarTaskMaterialTypeV2ApiService service

type ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest struct {
	ctx          context.Context
	ApiService   *ToolsStarTaskMaterialTypeV2ApiService
	advertiserId *int64
}

func (r *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest) Execute() (*ToolsStarTaskMaterialTypeV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest) WithLog(enable bool) *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsStarTaskMaterialTypeGet Method for OpenApi2ToolsStarTaskMaterialTypeGet

查询星广任务可选素材类型

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest
*/
func (a *ToolsStarTaskMaterialTypeV2ApiService) Get(ctx context.Context) *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest {
	return &ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsStarTaskMaterialTypeV2Response
func (a *ToolsStarTaskMaterialTypeV2ApiService) getExecute(r *ApiOpenApi2ToolsStarTaskMaterialTypeGetRequest) (*ToolsStarTaskMaterialTypeV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsStarTaskMaterialTypeV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/star_task/material_type/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
