/*
Oceanengine Open Api

巨量引擎开放平台 Open Api

API version: 1.0.8
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EventManagerDeepBidTypeGetV30ApiService EventManagerDeepBidTypeGetV30Api service
type EventManagerDeepBidTypeGetV30ApiService service

type ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest struct {
	ctx                context.Context
	ApiService         *EventManagerDeepBidTypeGetV30ApiService
	advertiserId       *int64
	externalAction     *EventManagerDeepBidTypeGetV30ExternalAction
	assetId            *int64
	deepExternalAction *EventManagerDeepBidTypeGetV30DeepExternalAction
	convertId          *int64
	deliveryMode       *EventManagerDeepBidTypeGetV30DeliveryMode
	landingType        *EventManagerDeepBidTypeGetV30LandingType
}

// 广告主id
func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 优化目标
func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) ExternalAction(externalAction EventManagerDeepBidTypeGetV30ExternalAction) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	r.externalAction = &externalAction
	return r
}

// 资产id
func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) AssetId(assetId int64) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	r.assetId = &assetId
	return r
}

// 深度优化目标，当优化目标不等于AD_CONVERT_TYPE_PAY、AD_CONVERT_TYPE_FORM、AD_CONVERT_TYPE_MULTIPLE时深度优化目标必填
func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) DeepExternalAction(deepExternalAction EventManagerDeepBidTypeGetV30DeepExternalAction) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	r.deepExternalAction = &deepExternalAction
	return r
}

// 转化跟踪id
func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) ConvertId(convertId int64) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	r.convertId = &convertId
	return r
}

func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) DeliveryMode(deliveryMode EventManagerDeepBidTypeGetV30DeliveryMode) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	r.deliveryMode = &deliveryMode
	return r
}

func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) LandingType(landingType EventManagerDeepBidTypeGetV30LandingType) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	r.landingType = &landingType
	return r
}

func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) Execute() (*EventManagerDeepBidTypeGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) WithLog(enable bool) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30EventManagerDeepBidTypeGetGet Method for OpenApiV30EventManagerDeepBidTypeGetGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest
*/
func (a *EventManagerDeepBidTypeGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest {
	return &ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EventManagerDeepBidTypeGetV30Response
func (a *EventManagerDeepBidTypeGetV30ApiService) getExecute(r *ApiOpenApiV30EventManagerDeepBidTypeGetGetRequest) (*EventManagerDeepBidTypeGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]FormFile
		localVarReturnValue *EventManagerDeepBidTypeGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/event_manager/deep_bid_type/get/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.externalAction == nil {
		return localVarReturnValue, nil, ReportError("externalAction is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_id", r.assetId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "external_action", r.externalAction)
	if r.deepExternalAction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep_external_action", r.deepExternalAction)
	}
	if r.convertId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "convert_id", r.convertId)
	}
	if r.deliveryMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_mode", r.deliveryMode)
	}
	if r.landingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "landing_type", r.landingType)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(r.ctx, req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
