/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdConvertSignalV2ApiService AdConvertSignalV2Api service
type AdConvertSignalV2ApiService service

type ApiOpenApi2AdConvertSignalPostRequest struct {
	ctx                      context.Context
	ApiService               *AdConvertSignalV2ApiService
	adConvertSignalV2Request *AdConvertSignalV2Request
}

func (r *ApiOpenApi2AdConvertSignalPostRequest) AdConvertSignalV2Request(adConvertSignalV2Request AdConvertSignalV2Request) *ApiOpenApi2AdConvertSignalPostRequest {
	r.adConvertSignalV2Request = &adConvertSignalV2Request
	return r
}

func (r *ApiOpenApi2AdConvertSignalPostRequest) Execute() ([]byte, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2AdConvertSignalPostRequest) AccessToken(accessToken string) *ApiOpenApi2AdConvertSignalPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdConvertSignalPostRequest) WithLog(enable bool) *ApiOpenApi2AdConvertSignalPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdConvertSignalPost Method for OpenApi2AdConvertSignalPost

全域增效API，对客介绍文档：https://bytedance.larkoffice.com/docx/QMhsdxN8Tou1c1xvvbUc1V01nGb

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdConvertSignalPostRequest
*/
func (a *AdConvertSignalV2ApiService) Post(ctx context.Context) *ApiOpenApi2AdConvertSignalPostRequest {
	return &ApiOpenApi2AdConvertSignalPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdConvertSignalV2Response
func (a *AdConvertSignalV2ApiService) postExecute(r *ApiOpenApi2AdConvertSignalPostRequest) ([]byte, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue []byte
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/ad_convert/signal/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.adConvertSignalV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
