/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DmpDataSourceCreateV2ApiService DmpDataSourceCreateV2Api service
type DmpDataSourceCreateV2ApiService service

type ApiOpenApi2DmpDataSourceCreatePostRequest struct {
	ctx                          context.Context
	ApiService                   *DmpDataSourceCreateV2ApiService
	dmpDataSourceCreateV2Request *DmpDataSourceCreateV2Request
}

func (r *ApiOpenApi2DmpDataSourceCreatePostRequest) DmpDataSourceCreateV2Request(dmpDataSourceCreateV2Request DmpDataSourceCreateV2Request) *ApiOpenApi2DmpDataSourceCreatePostRequest {
	r.dmpDataSourceCreateV2Request = &dmpDataSourceCreateV2Request
	return r
}

func (r *ApiOpenApi2DmpDataSourceCreatePostRequest) Execute() (*DmpDataSourceCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2DmpDataSourceCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2DmpDataSourceCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2DmpDataSourceCreatePostRequest) WithLog(enable bool) *ApiOpenApi2DmpDataSourceCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2DmpDataSourceCreatePost Method for OpenApi2DmpDataSourceCreatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2DmpDataSourceCreatePostRequest
*/
func (a *DmpDataSourceCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2DmpDataSourceCreatePostRequest {
	return &ApiOpenApi2DmpDataSourceCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DmpDataSourceCreateV2Response
func (a *DmpDataSourceCreateV2ApiService) postExecute(r *ApiOpenApi2DmpDataSourceCreatePostRequest) (*DmpDataSourceCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DmpDataSourceCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/dmp/data_source/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dmpDataSourceCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
