/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpSubjectListV30ApiService ToolsEbpSubjectListV30Api service
type ToolsEbpSubjectListV30ApiService service

type ApiOpenApiV30ToolsEbpSubjectListGetRequest struct {
	ctx                      context.Context
	ApiService               *ToolsEbpSubjectListV30ApiService
	enterpriseOrganizationId *int64
	queryTypes               *[]*ToolsEbpSubjectListV30QueryTypes
	pagination               *ToolsEbpSubjectListV30Pagination
	filterCompanyId          *[]int64
	filterStatus             *[]*ToolsEbpSubjectListV30FilterStatus
	filterAccountIds         *[]int64
}

func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) EnterpriseOrganizationId(enterpriseOrganizationId int64) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	r.enterpriseOrganizationId = &enterpriseOrganizationId
	return r
}

// 主体类型
func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) QueryTypes(queryTypes []*ToolsEbpSubjectListV30QueryTypes) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	r.queryTypes = &queryTypes
	return r
}

// 每页最多50条
func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) Pagination(pagination ToolsEbpSubjectListV30Pagination) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	r.pagination = &pagination
	return r
}

// companyId过滤
func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) FilterCompanyId(filterCompanyId []int64) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	r.filterCompanyId = &filterCompanyId
	return r
}

// 状态过滤
func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) FilterStatus(filterStatus []*ToolsEbpSubjectListV30FilterStatus) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	r.filterStatus = &filterStatus
	return r
}

// 关联主体id过滤
func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) FilterAccountIds(filterAccountIds []int64) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	r.filterAccountIds = &filterAccountIds
	return r
}

func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) Execute() (*ToolsEbpSubjectListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpSubjectListGet Method for OpenApiV30ToolsEbpSubjectListGet

获取团队关联认证的主体列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpSubjectListGetRequest
*/
func (a *ToolsEbpSubjectListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpSubjectListGetRequest {
	return &ApiOpenApiV30ToolsEbpSubjectListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpSubjectListV30Response
func (a *ToolsEbpSubjectListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpSubjectListGetRequest) (*ToolsEbpSubjectListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpSubjectListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/subject/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseOrganizationId == nil {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationId is required and must be specified")
	}
	if r.queryTypes == nil {
		return localVarReturnValue, nil, ReportError("queryTypes is required and must be specified")
	}
	if r.pagination == nil {
		return localVarReturnValue, nil, ReportError("pagination is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_organization_id", r.enterpriseOrganizationId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "query_types", r.queryTypes)
	if r.filterCompanyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter_company_id", r.filterCompanyId)
	}
	if r.filterStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter_status", r.filterStatus)
	}
	if r.filterAccountIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter_account_ids", r.filterAccountIds)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "pagination", r.pagination)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
