/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalProjectUpdateV30ApiService LocalProjectUpdateV30Api service
type LocalProjectUpdateV30ApiService service

type ApiOpenApiV30LocalProjectUpdatePostRequest struct {
	ctx                          context.Context
	ApiService                   *LocalProjectUpdateV30ApiService
	localProjectUpdateV30Request *LocalProjectUpdateV30Request
}

func (r *ApiOpenApiV30LocalProjectUpdatePostRequest) LocalProjectUpdateV30Request(localProjectUpdateV30Request LocalProjectUpdateV30Request) *ApiOpenApiV30LocalProjectUpdatePostRequest {
	r.localProjectUpdateV30Request = &localProjectUpdateV30Request
	return r
}

func (r *ApiOpenApiV30LocalProjectUpdatePostRequest) Execute() (*LocalProjectUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalProjectUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalProjectUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalProjectUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30LocalProjectUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalProjectUpdatePost Method for OpenApiV30LocalProjectUpdatePost

项目更新

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalProjectUpdatePostRequest
*/
func (a *LocalProjectUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalProjectUpdatePostRequest {
	return &ApiOpenApiV30LocalProjectUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalProjectUpdateV30Response
func (a *LocalProjectUpdateV30ApiService) postExecute(r *ApiOpenApiV30LocalProjectUpdatePostRequest) (*LocalProjectUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalProjectUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/project/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localProjectUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
