/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalConsultAwameListGetV30ApiService LocalConsultAwameListGetV30Api service
type LocalConsultAwameListGetV30ApiService service

type ApiOpenApiV30LocalConsultAwameListGetGetRequest struct {
	ctx            context.Context
	ApiService     *LocalConsultAwameListGetV30ApiService
	localAccountId *int64
	deliveryGoal   *LocalConsultAwameListGetV30DeliveryGoal
	poiIds         *[]int64
	productIds     *[]int64
	filtering      *LocalConsultAwameListGetV30Filtering
	page           *int64
	pageSize       *int64
}

// 本地广告主ID
func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) DeliveryGoal(deliveryGoal LocalConsultAwameListGetV30DeliveryGoal) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	r.deliveryGoal = &deliveryGoal
	return r
}

// 长度[0,10000]
func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) PoiIds(poiIds []int64) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	r.poiIds = &poiIds
	return r
}

// 长度[0,10]
func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) ProductIds(productIds []int64) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	r.productIds = &productIds
	return r
}

func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) Filtering(filtering LocalConsultAwameListGetV30Filtering) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码
func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) Page(page int64) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) Execute() (*LocalConsultAwameListGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalConsultAwameListGetGet Method for OpenApiV30LocalConsultAwameListGetGet

获取可私信接待抖音号列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalConsultAwameListGetGetRequest
*/
func (a *LocalConsultAwameListGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalConsultAwameListGetGetRequest {
	return &ApiOpenApiV30LocalConsultAwameListGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalConsultAwameListGetV30Response
func (a *LocalConsultAwameListGetV30ApiService) getExecute(r *ApiOpenApiV30LocalConsultAwameListGetGetRequest) (*LocalConsultAwameListGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalConsultAwameListGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/consult_awame_list/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.deliveryGoal == nil {
		return localVarReturnValue, nil, ReportError("deliveryGoal is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_goal", r.deliveryGoal)
	if r.poiIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poi_ids", r.poiIds)
	}
	if r.productIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_ids", r.productIds)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
