/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StdProjectCreateV30ApiService StdProjectCreateV30Api service
type StdProjectCreateV30ApiService service

type ApiOpenApiV30StdProjectCreatePostRequest struct {
	ctx                        context.Context
	ApiService                 *StdProjectCreateV30ApiService
	stdProjectCreateV30Request *StdProjectCreateV30Request
}

func (r *ApiOpenApiV30StdProjectCreatePostRequest) StdProjectCreateV30Request(stdProjectCreateV30Request StdProjectCreateV30Request) *ApiOpenApiV30StdProjectCreatePostRequest {
	r.stdProjectCreateV30Request = &stdProjectCreateV30Request
	return r
}

func (r *ApiOpenApiV30StdProjectCreatePostRequest) Execute() (*StdProjectCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30StdProjectCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30StdProjectCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30StdProjectCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30StdProjectCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30StdProjectCreatePost Method for OpenApiV30StdProjectCreatePost

创建项目

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30StdProjectCreatePostRequest
*/
func (a *StdProjectCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30StdProjectCreatePostRequest {
	return &ApiOpenApiV30StdProjectCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StdProjectCreateV30Response
func (a *StdProjectCreateV30ApiService) postExecute(r *ApiOpenApiV30StdProjectCreatePostRequest) (*StdProjectCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StdProjectCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/std_project/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.stdProjectCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
