/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FundSharedWalletBalanceGetV2ApiService FundSharedWalletBalanceGetV2Api service
type FundSharedWalletBalanceGetV2ApiService service

type ApiOpenApi2FundSharedWalletBalanceGetGetRequest struct {
	ctx           context.Context
	ApiService    *FundSharedWalletBalanceGetV2ApiService
	advertiserIds *[]int64
}

func (r *ApiOpenApi2FundSharedWalletBalanceGetGetRequest) AdvertiserIds(advertiserIds []int64) *ApiOpenApi2FundSharedWalletBalanceGetGetRequest {
	r.advertiserIds = &advertiserIds
	return r
}

func (r *ApiOpenApi2FundSharedWalletBalanceGetGetRequest) Execute() (*FundSharedWalletBalanceGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2FundSharedWalletBalanceGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2FundSharedWalletBalanceGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2FundSharedWalletBalanceGetGetRequest) WithLog(enable bool) *ApiOpenApi2FundSharedWalletBalanceGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2FundSharedWalletBalanceGetGet Method for OpenApi2FundSharedWalletBalanceGetGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2FundSharedWalletBalanceGetGetRequest
*/
func (a *FundSharedWalletBalanceGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2FundSharedWalletBalanceGetGetRequest {
	return &ApiOpenApi2FundSharedWalletBalanceGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FundSharedWalletBalanceGetV2Response
func (a *FundSharedWalletBalanceGetV2ApiService) getExecute(r *ApiOpenApi2FundSharedWalletBalanceGetGetRequest) (*FundSharedWalletBalanceGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FundSharedWalletBalanceGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/fund/shared_wallet_balance/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_ids", r.advertiserIds)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
