/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpAppGameBookListV30ApiService ToolsEbpAppGameBookListV30Api service
type ToolsEbpAppGameBookListV30ApiService service

type ApiOpenApiV30ToolsEbpAppGameBookListGetRequest struct {
	ctx                  context.Context
	ApiService           *ToolsEbpAppGameBookListV30ApiService
	accountId            *int64
	accountType          *ToolsEbpAppGameBookListV30AccountType
	assetOwnership       *ToolsEbpAppGameBookListV30AssetOwnership
	assetManagementScope *ToolsEbpAppGameBookListV30AssetManagementScope
	searchKey            *string
	filtering            *ToolsEbpAppGameBookListV30Filtering
	page                 *int64
	pageSize             *int64
}

func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.accountId = &accountId
	return r
}

// 操作账号类型
func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) AccountType(accountType ToolsEbpAppGameBookListV30AccountType) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) AssetOwnership(assetOwnership ToolsEbpAppGameBookListV30AssetOwnership) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.assetOwnership = &assetOwnership
	return r
}

// 操作用户id
func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) AssetManagementScope(assetManagementScope ToolsEbpAppGameBookListV30AssetManagementScope) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.assetManagementScope = &assetManagementScope
	return r
}

// 搜索关键字
func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) SearchKey(searchKey string) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.searchKey = &searchKey
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) Filtering(filtering ToolsEbpAppGameBookListV30Filtering) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.filtering = &filtering
	return r
}

// 页码
func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) Execute() (*ToolsEbpAppGameBookListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpAppGameBookListGet Method for OpenApiV30ToolsEbpAppGameBookListGet

获取游戏预约列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpAppGameBookListGetRequest
*/
func (a *ToolsEbpAppGameBookListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest {
	return &ApiOpenApiV30ToolsEbpAppGameBookListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpAppGameBookListV30Response
func (a *ToolsEbpAppGameBookListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpAppGameBookListGetRequest) (*ToolsEbpAppGameBookListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpAppGameBookListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/app_game_book/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.assetOwnership == nil {
		return localVarReturnValue, nil, ReportError("assetOwnership is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.assetManagementScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_management_scope", r.assetManagementScope)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_key", r.searchKey)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "asset_ownership", r.assetOwnership)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
