/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaEbpClueProductSaveV30ApiService DpaEbpClueProductSaveV30Api service
type DpaEbpClueProductSaveV30ApiService service

type ApiOpenApiV30DpaEbpClueProductSavePostRequest struct {
	ctx                             context.Context
	ApiService                      *DpaEbpClueProductSaveV30ApiService
	dpaEbpClueProductSaveV30Request *DpaEbpClueProductSaveV30Request
}

func (r *ApiOpenApiV30DpaEbpClueProductSavePostRequest) DpaEbpClueProductSaveV30Request(dpaEbpClueProductSaveV30Request DpaEbpClueProductSaveV30Request) *ApiOpenApiV30DpaEbpClueProductSavePostRequest {
	r.dpaEbpClueProductSaveV30Request = &dpaEbpClueProductSaveV30Request
	return r
}

func (r *ApiOpenApiV30DpaEbpClueProductSavePostRequest) Execute() (*DpaEbpClueProductSaveV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DpaEbpClueProductSavePostRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaEbpClueProductSavePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaEbpClueProductSavePostRequest) WithLog(enable bool) *ApiOpenApiV30DpaEbpClueProductSavePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaEbpClueProductSavePost Method for OpenApiV30DpaEbpClueProductSavePost

EBP创建/编辑升级版商品

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaEbpClueProductSavePostRequest
*/
func (a *DpaEbpClueProductSaveV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DpaEbpClueProductSavePostRequest {
	return &ApiOpenApiV30DpaEbpClueProductSavePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaEbpClueProductSaveV30Response
func (a *DpaEbpClueProductSaveV30ApiService) postExecute(r *ApiOpenApiV30DpaEbpClueProductSavePostRequest) (*DpaEbpClueProductSaveV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaEbpClueProductSaveV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/ebp/clue_product/save/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dpaEbpClueProductSaveV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
