/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AudiencePackageCreateV2ApiService AudiencePackageCreateV2Api service
type AudiencePackageCreateV2ApiService service

type ApiOpenApi2AudiencePackageCreatePostRequest struct {
	ctx                            context.Context
	ApiService                     *AudiencePackageCreateV2ApiService
	audiencePackageCreateV2Request *AudiencePackageCreateV2Request
}

func (r *ApiOpenApi2AudiencePackageCreatePostRequest) AudiencePackageCreateV2Request(audiencePackageCreateV2Request AudiencePackageCreateV2Request) *ApiOpenApi2AudiencePackageCreatePostRequest {
	r.audiencePackageCreateV2Request = &audiencePackageCreateV2Request
	return r
}

func (r *ApiOpenApi2AudiencePackageCreatePostRequest) Execute() (*AudiencePackageCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2AudiencePackageCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2AudiencePackageCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AudiencePackageCreatePostRequest) WithLog(enable bool) *ApiOpenApi2AudiencePackageCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AudiencePackageCreatePost Method for OpenApi2AudiencePackageCreatePost

定向包创建

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AudiencePackageCreatePostRequest
*/
func (a *AudiencePackageCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2AudiencePackageCreatePostRequest {
	return &ApiOpenApi2AudiencePackageCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AudiencePackageCreateV2Response
func (a *AudiencePackageCreateV2ApiService) postExecute(r *ApiOpenApi2AudiencePackageCreatePostRequest) (*AudiencePackageCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AudiencePackageCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/audience_package/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.audiencePackageCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
