/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsClueLifeCallbackV2ApiService ToolsClueLifeCallbackV2Api service
type ToolsClueLifeCallbackV2ApiService service

type ApiOpenApi2ToolsClueLifeCallbackPostRequest struct {
	ctx                            context.Context
	ApiService                     *ToolsClueLifeCallbackV2ApiService
	toolsClueLifeCallbackV2Request *ToolsClueLifeCallbackV2Request
}

func (r *ApiOpenApi2ToolsClueLifeCallbackPostRequest) ToolsClueLifeCallbackV2Request(toolsClueLifeCallbackV2Request ToolsClueLifeCallbackV2Request) *ApiOpenApi2ToolsClueLifeCallbackPostRequest {
	r.toolsClueLifeCallbackV2Request = &toolsClueLifeCallbackV2Request
	return r
}

func (r *ApiOpenApi2ToolsClueLifeCallbackPostRequest) Execute() (*ToolsClueLifeCallbackV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsClueLifeCallbackPostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsClueLifeCallbackPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsClueLifeCallbackPostRequest) WithLog(enable bool) *ApiOpenApi2ToolsClueLifeCallbackPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsClueLifeCallbackPost Method for OpenApi2ToolsClueLifeCallbackPost

回传本地推深转事件

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsClueLifeCallbackPostRequest
*/
func (a *ToolsClueLifeCallbackV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsClueLifeCallbackPostRequest {
	return &ApiOpenApi2ToolsClueLifeCallbackPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsClueLifeCallbackV2Response
func (a *ToolsClueLifeCallbackV2ApiService) postExecute(r *ApiOpenApi2ToolsClueLifeCallbackPostRequest) (*ToolsClueLifeCallbackV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsClueLifeCallbackV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/clue/life/callback/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsClueLifeCallbackV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
