/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsWechatGameListV30ApiService ToolsWechatGameListV30Api service
type ToolsWechatGameListV30ApiService service

type ApiOpenApiV30ToolsWechatGameListGetRequest struct {
	ctx         context.Context
	ApiService  *ToolsWechatGameListV30ApiService
	accountId   *int64
	accountType *ToolsWechatGameListV30AccountType
	filtering   *ToolsWechatGameListV30Filtering
	page        *int32
	pageSize    *int32
}

func (r *ApiOpenApiV30ToolsWechatGameListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsWechatGameListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsWechatGameListGetRequest) AccountType(accountType ToolsWechatGameListV30AccountType) *ApiOpenApiV30ToolsWechatGameListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsWechatGameListGetRequest) Filtering(filtering ToolsWechatGameListV30Filtering) *ApiOpenApiV30ToolsWechatGameListGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30ToolsWechatGameListGetRequest) Page(page int32) *ApiOpenApiV30ToolsWechatGameListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsWechatGameListGetRequest) PageSize(pageSize int32) *ApiOpenApiV30ToolsWechatGameListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsWechatGameListGetRequest) Execute() (*ToolsWechatGameListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsWechatGameListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsWechatGameListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsWechatGameListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsWechatGameListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsWechatGameListGet Method for OpenApiV30ToolsWechatGameListGet

openapi场景获取微信小游戏list

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsWechatGameListGetRequest
*/
func (a *ToolsWechatGameListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsWechatGameListGetRequest {
	return &ApiOpenApiV30ToolsWechatGameListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsWechatGameListV30Response
func (a *ToolsWechatGameListV30ApiService) getExecute(r *ApiOpenApiV30ToolsWechatGameListGetRequest) (*ToolsWechatGameListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsWechatGameListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/wechat_game/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
