/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// MaterialStatusUpdateV30ApiService MaterialStatusUpdateV30Api service
type MaterialStatusUpdateV30ApiService service

type ApiOpenApiV30MaterialStatusUpdatePostRequest struct {
	ctx                            context.Context
	ApiService                     *MaterialStatusUpdateV30ApiService
	materialStatusUpdateV30Request *MaterialStatusUpdateV30Request
}

func (r *ApiOpenApiV30MaterialStatusUpdatePostRequest) MaterialStatusUpdateV30Request(materialStatusUpdateV30Request MaterialStatusUpdateV30Request) *ApiOpenApiV30MaterialStatusUpdatePostRequest {
	r.materialStatusUpdateV30Request = &materialStatusUpdateV30Request
	return r
}

func (r *ApiOpenApiV30MaterialStatusUpdatePostRequest) Execute() (*MaterialStatusUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30MaterialStatusUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30MaterialStatusUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30MaterialStatusUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30MaterialStatusUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30MaterialStatusUpdatePost Method for OpenApiV30MaterialStatusUpdatePost

批量更新广告素材启用状态

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30MaterialStatusUpdatePostRequest
*/
func (a *MaterialStatusUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30MaterialStatusUpdatePostRequest {
	return &ApiOpenApiV30MaterialStatusUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MaterialStatusUpdateV30Response
func (a *MaterialStatusUpdateV30ApiService) postExecute(r *ApiOpenApiV30MaterialStatusUpdatePostRequest) (*MaterialStatusUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *MaterialStatusUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/material/status/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.materialStatusUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
