/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpAppExtendListV30ApiService ToolsEbpAppExtendListV30Api service
type ToolsEbpAppExtendListV30ApiService service

type ApiOpenApiV30ToolsEbpAppExtendListGetRequest struct {
	ctx         context.Context
	ApiService  *ToolsEbpAppExtendListV30ApiService
	accountId   *int64
	packageId   *string
	page        *int64
	pageSize    *int64
	accountType *ToolsEbpAppExtendListV30AccountType
	filtering   *ToolsEbpAppExtendListV30Filtering
	updateTime  *ToolsEbpAppExtendListV30UpdateTime
}

func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) PackageId(packageId string) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	r.packageId = &packageId
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	r.pageSize = &pageSize
	return r
}

// 操作账号类型
func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) AccountType(accountType ToolsEbpAppExtendListV30AccountType) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	r.accountType = &accountType
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) Filtering(filtering ToolsEbpAppExtendListV30Filtering) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	r.filtering = &filtering
	return r
}

// 时间范围
func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) UpdateTime(updateTime ToolsEbpAppExtendListV30UpdateTime) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	r.updateTime = &updateTime
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) Execute() (*ToolsEbpAppExtendListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpAppExtendListGet Method for OpenApiV30ToolsEbpAppExtendListGet

安卓应用分包列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpAppExtendListGetRequest
*/
func (a *ToolsEbpAppExtendListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpAppExtendListGetRequest {
	return &ApiOpenApiV30ToolsEbpAppExtendListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpAppExtendListV30Response
func (a *ToolsEbpAppExtendListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpAppExtendListGetRequest) (*ToolsEbpAppExtendListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpAppExtendListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/app_extend/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.packageId == nil {
		return localVarReturnValue, nil, ReportError("packageId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "package_id", r.packageId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	if r.updateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "update_time", r.updateTime)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
