/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarMcnMixListGetV2ApiService StarMcnMixListGetV2Api service
type StarMcnMixListGetV2ApiService service

type ApiOpenApi2StarMcnMixListGetGetRequest struct {
	ctx         context.Context
	ApiService  *StarMcnMixListGetV2ApiService
	starId      *int64
	demandId    *int64
	page        *int32
	pageSize    *int32
	developerId *int64
}

// 服务商星图ID
func (r *ApiOpenApi2StarMcnMixListGetGetRequest) StarId(starId int64) *ApiOpenApi2StarMcnMixListGetGetRequest {
	r.starId = &starId
	return r
}

// 任务ID
func (r *ApiOpenApi2StarMcnMixListGetGetRequest) DemandId(demandId int64) *ApiOpenApi2StarMcnMixListGetGetRequest {
	r.demandId = &demandId
	return r
}

func (r *ApiOpenApi2StarMcnMixListGetGetRequest) Page(page int32) *ApiOpenApi2StarMcnMixListGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2StarMcnMixListGetGetRequest) PageSize(pageSize int32) *ApiOpenApi2StarMcnMixListGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2StarMcnMixListGetGetRequest) DeveloperId(developerId int64) *ApiOpenApi2StarMcnMixListGetGetRequest {
	r.developerId = &developerId
	return r
}

func (r *ApiOpenApi2StarMcnMixListGetGetRequest) Execute() (*StarMcnMixListGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarMcnMixListGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarMcnMixListGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarMcnMixListGetGetRequest) WithLog(enable bool) *ApiOpenApi2StarMcnMixListGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarMcnMixListGetGet Method for OpenApi2StarMcnMixListGetGet

撮合服务商-获取剧集维度投后数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarMcnMixListGetGetRequest
*/
func (a *StarMcnMixListGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarMcnMixListGetGetRequest {
	return &ApiOpenApi2StarMcnMixListGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarMcnMixListGetV2Response
func (a *StarMcnMixListGetV2ApiService) getExecute(r *ApiOpenApi2StarMcnMixListGetGetRequest) (*StarMcnMixListGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarMcnMixListGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/mcn/mix/list/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}
	if r.demandId == nil {
		return localVarReturnValue, nil, ReportError("demandId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "demand_id", r.demandId)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.developerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "developer_id", r.developerId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
