/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ReportAgentGetV2V2ApiService ReportAgentGetV2V2Api service
type ReportAgentGetV2V2ApiService service

type ApiOpenApi2ReportAgentGetV2GetRequest struct {
	ctx        context.Context
	ApiService *ReportAgentGetV2V2ApiService
	agentId    *int64
	cursor     *int64
	cursorSize *int64
	endDate    **string
	filtering  *ReportAgentGetV2V2Filtering
	page       *int64
	pageSize   *int64
	startDate  **string
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) AgentId(agentId int64) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.agentId = &agentId
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) Cursor(cursor int64) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.cursor = &cursor
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) CursorSize(cursorSize int64) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.cursorSize = &cursorSize
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) EndDate(endDate *string) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.endDate = &endDate
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) Filtering(filtering ReportAgentGetV2V2Filtering) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) Page(page int64) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) PageSize(pageSize int64) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) StartDate(startDate *string) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.startDate = &startDate
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) Execute() (*ReportAgentGetV2V2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) AccessToken(accessToken string) *ApiOpenApi2ReportAgentGetV2GetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ReportAgentGetV2GetRequest) WithLog(enable bool) *ApiOpenApi2ReportAgentGetV2GetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ReportAgentGetV2Get Method for OpenApi2ReportAgentGetV2Get

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ReportAgentGetV2GetRequest
*/
func (a *ReportAgentGetV2V2ApiService) Get(ctx context.Context) *ApiOpenApi2ReportAgentGetV2GetRequest {
	return &ApiOpenApi2ReportAgentGetV2GetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportAgentGetV2V2Response
func (a *ReportAgentGetV2V2ApiService) getExecute(r *ApiOpenApi2ReportAgentGetV2GetRequest) (*ReportAgentGetV2V2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ReportAgentGetV2V2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/report/agent/get_v2/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.agentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agent_id", r.agentId)
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	if r.cursorSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor_size", r.cursorSize)
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
