/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DcdChargeSubmitV30ApiService DcdChargeSubmitV30Api service
type DcdChargeSubmitV30ApiService service

type ApiOpenApiV30DcdChargeSubmitPostRequest struct {
	ctx                       context.Context
	ApiService                *DcdChargeSubmitV30ApiService
	dcdChargeSubmitV30Request *DcdChargeSubmitV30Request
}

func (r *ApiOpenApiV30DcdChargeSubmitPostRequest) DcdChargeSubmitV30Request(dcdChargeSubmitV30Request DcdChargeSubmitV30Request) *ApiOpenApiV30DcdChargeSubmitPostRequest {
	r.dcdChargeSubmitV30Request = &dcdChargeSubmitV30Request
	return r
}

func (r *ApiOpenApiV30DcdChargeSubmitPostRequest) Execute() (*DcdChargeSubmitV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DcdChargeSubmitPostRequest) AccessToken(accessToken string) *ApiOpenApiV30DcdChargeSubmitPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DcdChargeSubmitPostRequest) WithLog(enable bool) *ApiOpenApiV30DcdChargeSubmitPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DcdChargeSubmitPost Method for OpenApiV30DcdChargeSubmitPost

为懂车帝二手车APP提供MAPI接口用户充值提交

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DcdChargeSubmitPostRequest
*/
func (a *DcdChargeSubmitV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DcdChargeSubmitPostRequest {
	return &ApiOpenApiV30DcdChargeSubmitPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DcdChargeSubmitV30Response
func (a *DcdChargeSubmitV30ApiService) postExecute(r *ApiOpenApiV30DcdChargeSubmitPostRequest) (*DcdChargeSubmitV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DcdChargeSubmitV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dcd/charge/submit/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dcdChargeSubmitV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
