/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CreateProjectInvoiceV2ApiService CreateProjectInvoiceV2Api service
type CreateProjectInvoiceV2ApiService service

type ApiOpenApi2CreateProjectInvoicePostRequest struct {
	ctx                           context.Context
	ApiService                    *CreateProjectInvoiceV2ApiService
	createProjectInvoiceV2Request *CreateProjectInvoiceV2Request
}

func (r *ApiOpenApi2CreateProjectInvoicePostRequest) CreateProjectInvoiceV2Request(createProjectInvoiceV2Request CreateProjectInvoiceV2Request) *ApiOpenApi2CreateProjectInvoicePostRequest {
	r.createProjectInvoiceV2Request = &createProjectInvoiceV2Request
	return r
}

func (r *ApiOpenApi2CreateProjectInvoicePostRequest) Execute() (*CreateProjectInvoiceV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2CreateProjectInvoicePostRequest) AccessToken(accessToken string) *ApiOpenApi2CreateProjectInvoicePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2CreateProjectInvoicePostRequest) WithLog(enable bool) *ApiOpenApi2CreateProjectInvoicePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2CreateProjectInvoicePost Method for OpenApi2CreateProjectInvoicePost

创建项目开票接口

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2CreateProjectInvoicePostRequest
*/
func (a *CreateProjectInvoiceV2ApiService) Post(ctx context.Context) *ApiOpenApi2CreateProjectInvoicePostRequest {
	return &ApiOpenApi2CreateProjectInvoicePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateProjectInvoiceV2Response
func (a *CreateProjectInvoiceV2ApiService) postExecute(r *ApiOpenApi2CreateProjectInvoicePostRequest) (*CreateProjectInvoiceV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CreateProjectInvoiceV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/create/project_invoice/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.createProjectInvoiceV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
