/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FileVideoDeleteV2ApiService FileVideoDeleteV2Api service
type FileVideoDeleteV2ApiService service

type ApiOpenApi2FileVideoDeletePostRequest struct {
	ctx                      context.Context
	ApiService               *FileVideoDeleteV2ApiService
	fileVideoDeleteV2Request *FileVideoDeleteV2Request
}

func (r *ApiOpenApi2FileVideoDeletePostRequest) FileVideoDeleteV2Request(fileVideoDeleteV2Request FileVideoDeleteV2Request) *ApiOpenApi2FileVideoDeletePostRequest {
	r.fileVideoDeleteV2Request = &fileVideoDeleteV2Request
	return r
}

func (r *ApiOpenApi2FileVideoDeletePostRequest) Execute() (*FileVideoDeleteV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2FileVideoDeletePostRequest) AccessToken(accessToken string) *ApiOpenApi2FileVideoDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2FileVideoDeletePostRequest) WithLog(enable bool) *ApiOpenApi2FileVideoDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2FileVideoDeletePost Method for OpenApi2FileVideoDeletePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2FileVideoDeletePostRequest
*/
func (a *FileVideoDeleteV2ApiService) Post(ctx context.Context) *ApiOpenApi2FileVideoDeletePostRequest {
	return &ApiOpenApi2FileVideoDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileVideoDeleteV2Response
func (a *FileVideoDeleteV2ApiService) postExecute(r *ApiOpenApi2FileVideoDeletePostRequest) (*FileVideoDeleteV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FileVideoDeleteV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/file/video/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.fileVideoDeleteV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
