/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// PromotionDeleteV30ApiService PromotionDeleteV30Api service
type PromotionDeleteV30ApiService service

type ApiOpenApiV30PromotionDeletePostRequest struct {
	ctx                       context.Context
	ApiService                *PromotionDeleteV30ApiService
	promotionDeleteV30Request *PromotionDeleteV30Request
}

func (r *ApiOpenApiV30PromotionDeletePostRequest) PromotionDeleteV30Request(promotionDeleteV30Request PromotionDeleteV30Request) *ApiOpenApiV30PromotionDeletePostRequest {
	r.promotionDeleteV30Request = &promotionDeleteV30Request
	return r
}

func (r *ApiOpenApiV30PromotionDeletePostRequest) Execute() (*PromotionDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30PromotionDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30PromotionDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30PromotionDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30PromotionDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30PromotionDeletePost Method for OpenApiV30PromotionDeletePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30PromotionDeletePostRequest
*/
func (a *PromotionDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30PromotionDeletePostRequest {
	return &ApiOpenApiV30PromotionDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PromotionDeleteV30Response
func (a *PromotionDeleteV30ApiService) postExecute(r *ApiOpenApiV30PromotionDeletePostRequest) (*PromotionDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *PromotionDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/promotion/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.promotionDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
