/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalToolPackListGetV30ApiService LocalToolPackListGetV30Api service
type LocalToolPackListGetV30ApiService service

type ApiOpenApiV30LocalToolPackListGetGetRequest struct {
	ctx                      context.Context
	ApiService               *LocalToolPackListGetV30ApiService
	localAccountId           *int64
	deliveryGoal             *LocalToolPackListGetV30DeliveryGoal
	intelligentSelectionMode *LocalToolPackListGetV30IntelligentSelectionMode
	poiIds                   *[]int64
	productIds               *[]int64
	page                     *int64
	pageSize                 *int64
}

func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 推广内容：推商品 退门店
func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) DeliveryGoal(deliveryGoal LocalToolPackListGetV30DeliveryGoal) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	r.deliveryGoal = &deliveryGoal
	return r
}

// 0 自定义, 1 智能优选
func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) IntelligentSelectionMode(intelligentSelectionMode LocalToolPackListGetV30IntelligentSelectionMode) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	r.intelligentSelectionMode = &intelligentSelectionMode
	return r
}

// 门店ids,长度[0,10000]
func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) PoiIds(poiIds []int64) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	r.poiIds = &poiIds
	return r
}

// 商品ids,长度[0,10]
func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) ProductIds(productIds []int64) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	r.productIds = &productIds
	return r
}

// 页码
func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) Page(page int64) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) Execute() (*LocalToolPackListGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalToolPackListGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalToolPackListGetGet Method for OpenApiV30LocalToolPackListGetGet

获取可用留资组件列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalToolPackListGetGetRequest
*/
func (a *LocalToolPackListGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalToolPackListGetGetRequest {
	return &ApiOpenApiV30LocalToolPackListGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalToolPackListGetV30Response
func (a *LocalToolPackListGetV30ApiService) getExecute(r *ApiOpenApiV30LocalToolPackListGetGetRequest) (*LocalToolPackListGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalToolPackListGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/tool_pack_list/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.deliveryGoal == nil {
		return localVarReturnValue, nil, ReportError("deliveryGoal is required and must be specified")
	}
	if r.intelligentSelectionMode == nil {
		return localVarReturnValue, nil, ReportError("intelligentSelectionMode is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_goal", r.deliveryGoal)
	if r.poiIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poi_ids", r.poiIds)
	}
	if r.productIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_ids", r.productIds)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "intelligent_selection_mode", r.intelligentSelectionMode)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
