/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ChargeInfoPaymentVoucherGetV30ApiService ChargeInfoPaymentVoucherGetV30Api service
type ChargeInfoPaymentVoucherGetV30ApiService service

type ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest struct {
	ctx               context.Context
	ApiService        *ChargeInfoPaymentVoucherGetV30ApiService
	advertiserId      *int64
	payerName         *string
	payerAccountNo    *string
	receiverName      *string
	receiverAccountNo *string
	payDate           *string
	payAmount         *int64
}

func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 付款方名称
func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) PayerName(payerName string) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	r.payerName = &payerName
	return r
}

// 付款方账号
func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) PayerAccountNo(payerAccountNo string) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	r.payerAccountNo = &payerAccountNo
	return r
}

// 收款方名称
func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) ReceiverName(receiverName string) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	r.receiverName = &receiverName
	return r
}

// 收款方账号
func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) ReceiverAccountNo(receiverAccountNo string) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	r.receiverAccountNo = &receiverAccountNo
	return r
}

// 付款日期，格式：yyyy-MM-dd
func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) PayDate(payDate string) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	r.payDate = &payDate
	return r
}

// 付款金额，单位：分
func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) PayAmount(payAmount int64) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	r.payAmount = &payAmount
	return r
}

func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) Execute() (*ChargeInfoPaymentVoucherGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ChargeInfoPaymentVoucherGetGet Method for OpenApiV30ChargeInfoPaymentVoucherGetGet

根据打款凭证查询充值信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest
*/
func (a *ChargeInfoPaymentVoucherGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest {
	return &ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ChargeInfoPaymentVoucherGetV30Response
func (a *ChargeInfoPaymentVoucherGetV30ApiService) getExecute(r *ApiOpenApiV30ChargeInfoPaymentVoucherGetGetRequest) (*ChargeInfoPaymentVoucherGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ChargeInfoPaymentVoucherGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/charge_info_payment_voucher/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.payerName == nil {
		return localVarReturnValue, nil, ReportError("payerName is required and must be specified")
	}
	if r.payerAccountNo == nil {
		return localVarReturnValue, nil, ReportError("payerAccountNo is required and must be specified")
	}
	if r.receiverName == nil {
		return localVarReturnValue, nil, ReportError("receiverName is required and must be specified")
	}
	if r.receiverAccountNo == nil {
		return localVarReturnValue, nil, ReportError("receiverAccountNo is required and must be specified")
	}
	if r.payDate == nil {
		return localVarReturnValue, nil, ReportError("payDate is required and must be specified")
	}
	if r.payAmount == nil {
		return localVarReturnValue, nil, ReportError("payAmount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "payer_name", r.payerName)
	parameterAddToHeaderOrQuery(localVarQueryParams, "payer_account_no", r.payerAccountNo)
	parameterAddToHeaderOrQuery(localVarQueryParams, "receiver_name", r.receiverName)
	parameterAddToHeaderOrQuery(localVarQueryParams, "receiver_account_no", r.receiverAccountNo)
	parameterAddToHeaderOrQuery(localVarQueryParams, "pay_date", r.payDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "pay_amount", r.payAmount)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
