/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaBrandAdvAuthFuzzyGetV30ApiService DpaBrandAdvAuthFuzzyGetV30Api service
type DpaBrandAdvAuthFuzzyGetV30ApiService service

type ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest struct {
	ctx                 context.Context
	ApiService          *DpaBrandAdvAuthFuzzyGetV30ApiService
	accountId           *int64
	brandDataSourceList *[]*DpaBrandAdvAuthFuzzyGetV30BrandDataSourceList
	page                *int64
	pageSize            *int64
	brandName           *string
	matchType           *DpaBrandAdvAuthFuzzyGetV30MatchType
	has5aGrassBrand     *DpaBrandAdvAuthFuzzyGetV30Has5aGrassBrand
}

// 广告账户id
func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	r.accountId = &accountId
	return r
}

// 品牌数据来源
func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) BrandDataSourceList(brandDataSourceList []*DpaBrandAdvAuthFuzzyGetV30BrandDataSourceList) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	r.brandDataSourceList = &brandDataSourceList
	return r
}

// 页码
func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) Page(page int64) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 品牌名称
func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) BrandName(brandName string) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	r.brandName = &brandName
	return r
}

// 检索类型
func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) MatchType(matchType DpaBrandAdvAuthFuzzyGetV30MatchType) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	r.matchType = &matchType
	return r
}

// 是否支持5a种草
func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) Has5aGrassBrand(has5aGrassBrand DpaBrandAdvAuthFuzzyGetV30Has5aGrassBrand) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	r.has5aGrassBrand = &has5aGrassBrand
	return r
}

func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) Execute() (*DpaBrandAdvAuthFuzzyGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) WithLog(enable bool) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaBrandAdvAuthFuzzyGetGet Method for OpenApiV30DpaBrandAdvAuthFuzzyGetGet

获取广告账户可投品牌列表，支持按照品牌名称模糊查询

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest
*/
func (a *DpaBrandAdvAuthFuzzyGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest {
	return &ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaBrandAdvAuthFuzzyGetV30Response
func (a *DpaBrandAdvAuthFuzzyGetV30ApiService) getExecute(r *ApiOpenApiV30DpaBrandAdvAuthFuzzyGetGetRequest) (*DpaBrandAdvAuthFuzzyGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaBrandAdvAuthFuzzyGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/brand/adv_auth/fuzzy/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.brandDataSourceList == nil {
		return localVarReturnValue, nil, ReportError("brandDataSourceList is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.brandName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand_name", r.brandName)
	}
	if r.matchType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "match_type", r.matchType)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "brand_data_source_list", r.brandDataSourceList)
	if r.has5aGrassBrand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "has_5a_grass_brand", r.has5aGrassBrand)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
