/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EventManagerDbtGetV30ApiService EventManagerDbtGetV30Api service
type EventManagerDbtGetV30ApiService service

type ApiOpenApiV30EventManagerDbtGetGetRequest struct {
	ctx                context.Context
	ApiService         *EventManagerDbtGetV30ApiService
	advertiserId       *int64
	externalAction     *EventManagerDbtGetV30ExternalAction
	landingType        *EventManagerDbtGetV30LandingType
	adType             *EventManagerDbtGetV30AdType
	marketingGoal      *EventManagerDbtGetV30MarketingGoal
	assetId            *int64
	deepExternalAction *EventManagerDbtGetV30DeepExternalAction
	valueOptimizedType *EventManagerDbtGetV30ValueOptimizedType
	deliveryMode       *EventManagerDbtGetV30DeliveryMode
}

// 广告主id
func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 优化目标
func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) ExternalAction(externalAction EventManagerDbtGetV30ExternalAction) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.externalAction = &externalAction
	return r
}

func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) LandingType(landingType EventManagerDbtGetV30LandingType) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.landingType = &landingType
	return r
}

func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) AdType(adType EventManagerDbtGetV30AdType) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.adType = &adType
	return r
}

func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) MarketingGoal(marketingGoal EventManagerDbtGetV30MarketingGoal) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.marketingGoal = &marketingGoal
	return r
}

// 资产id
func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) AssetId(assetId int64) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.assetId = &assetId
	return r
}

// 深度优化目标，当优化目标不等于AD_CONVERT_TYPE_PAY、AD_CONVERT_TYPE_FORM、AD_CONVERT_TYPE_MULTIPLE时深度优化目标必填
func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) DeepExternalAction(deepExternalAction EventManagerDbtGetV30DeepExternalAction) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.deepExternalAction = &deepExternalAction
	return r
}

func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) ValueOptimizedType(valueOptimizedType EventManagerDbtGetV30ValueOptimizedType) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.valueOptimizedType = &valueOptimizedType
	return r
}

func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) DeliveryMode(deliveryMode EventManagerDbtGetV30DeliveryMode) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.deliveryMode = &deliveryMode
	return r
}

func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) Execute() (*EventManagerDbtGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30EventManagerDbtGetGetRequest) WithLog(enable bool) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30EventManagerDbtGetGet Method for OpenApiV30EventManagerDbtGetGet

OC_获取可用dbt

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30EventManagerDbtGetGetRequest
*/
func (a *EventManagerDbtGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30EventManagerDbtGetGetRequest {
	return &ApiOpenApiV30EventManagerDbtGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EventManagerDbtGetV30Response
func (a *EventManagerDbtGetV30ApiService) getExecute(r *ApiOpenApiV30EventManagerDbtGetGetRequest) (*EventManagerDbtGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EventManagerDbtGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/event_manager/dbt/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.externalAction == nil {
		return localVarReturnValue, nil, ReportError("externalAction is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.landingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "landing_type", r.landingType)
	}
	if r.adType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ad_type", r.adType)
	}
	if r.marketingGoal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marketing_goal", r.marketingGoal)
	}
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_id", r.assetId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "external_action", r.externalAction)
	if r.deepExternalAction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deep_external_action", r.deepExternalAction)
	}
	if r.valueOptimizedType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value_optimized_type", r.valueOptimizedType)
	}
	if r.deliveryMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delivery_mode", r.deliveryMode)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
