/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalPoiGetV30ApiService LocalPoiGetV30Api service
type LocalPoiGetV30ApiService service

type ApiOpenApiV30LocalPoiGetGetRequest struct {
	ctx                context.Context
	ApiService         *LocalPoiGetV30ApiService
	localAccountId     *int64
	localDeliveryScene *LocalPoiGetV30LocalDeliveryScene
	filtering          *LocalPoiGetV30Filtering
	page               *int64
	pageSize           *int64
}

// 广告主ID
func (r *ApiOpenApiV30LocalPoiGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalPoiGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 项目设置的推广目的，根据推广目的筛选可投门店列表
func (r *ApiOpenApiV30LocalPoiGetGetRequest) LocalDeliveryScene(localDeliveryScene LocalPoiGetV30LocalDeliveryScene) *ApiOpenApiV30LocalPoiGetGetRequest {
	r.localDeliveryScene = &localDeliveryScene
	return r
}

// 过滤器
func (r *ApiOpenApiV30LocalPoiGetGetRequest) Filtering(filtering LocalPoiGetV30Filtering) *ApiOpenApiV30LocalPoiGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码
func (r *ApiOpenApiV30LocalPoiGetGetRequest) Page(page int64) *ApiOpenApiV30LocalPoiGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30LocalPoiGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalPoiGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalPoiGetGetRequest) Execute() (*LocalPoiGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalPoiGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalPoiGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalPoiGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalPoiGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalPoiGetGet Method for OpenApiV30LocalPoiGetGet

获取门店列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalPoiGetGetRequest
*/
func (a *LocalPoiGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalPoiGetGetRequest {
	return &ApiOpenApiV30LocalPoiGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalPoiGetV30Response
func (a *LocalPoiGetV30ApiService) getExecute(r *ApiOpenApiV30LocalPoiGetGetRequest) (*LocalPoiGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalPoiGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/poi/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.localDeliveryScene == nil {
		return localVarReturnValue, nil, ReportError("localDeliveryScene is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "local_delivery_scene", r.localDeliveryScene)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
