/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarOrderGetInfoV2ApiService StarOrderGetInfoV2Api service
type StarOrderGetInfoV2ApiService service

type ApiOpenApi2StarOrderGetInfoGetRequest struct {
	ctx        context.Context
	ApiService *StarOrderGetInfoV2ApiService
	starId     *int64
	orderIds   *[]int64
}

// 星图客户ID
func (r *ApiOpenApi2StarOrderGetInfoGetRequest) StarId(starId int64) *ApiOpenApi2StarOrderGetInfoGetRequest {
	r.starId = &starId
	return r
}

// 任务ID
func (r *ApiOpenApi2StarOrderGetInfoGetRequest) OrderIds(orderIds []int64) *ApiOpenApi2StarOrderGetInfoGetRequest {
	r.orderIds = &orderIds
	return r
}

func (r *ApiOpenApi2StarOrderGetInfoGetRequest) Execute() (*StarOrderGetInfoV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarOrderGetInfoGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarOrderGetInfoGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarOrderGetInfoGetRequest) WithLog(enable bool) *ApiOpenApi2StarOrderGetInfoGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarOrderGetInfoGet Method for OpenApi2StarOrderGetInfoGet

任务信息查询

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarOrderGetInfoGetRequest
*/
func (a *StarOrderGetInfoV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarOrderGetInfoGetRequest {
	return &ApiOpenApi2StarOrderGetInfoGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarOrderGetInfoV2Response
func (a *StarOrderGetInfoV2ApiService) getExecute(r *ApiOpenApi2StarOrderGetInfoGetRequest) (*StarOrderGetInfoV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarOrderGetInfoV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/order/get_info/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	if r.orderIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_ids", r.orderIds)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
