/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCampaignCreateV30ApiService BrandCampaignCreateV30Api service
type BrandCampaignCreateV30ApiService service

type ApiOpenApiV30BrandCampaignCreatePostRequest struct {
	ctx                           context.Context
	ApiService                    *BrandCampaignCreateV30ApiService
	brandCampaignCreateV30Request *BrandCampaignCreateV30Request
}

func (r *ApiOpenApiV30BrandCampaignCreatePostRequest) BrandCampaignCreateV30Request(brandCampaignCreateV30Request BrandCampaignCreateV30Request) *ApiOpenApiV30BrandCampaignCreatePostRequest {
	r.brandCampaignCreateV30Request = &brandCampaignCreateV30Request
	return r
}

func (r *ApiOpenApiV30BrandCampaignCreatePostRequest) Execute() (*BrandCampaignCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandCampaignCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCampaignCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCampaignCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandCampaignCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCampaignCreatePost Method for OpenApiV30BrandCampaignCreatePost

AD品牌广告组创建

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCampaignCreatePostRequest
*/
func (a *BrandCampaignCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandCampaignCreatePostRequest {
	return &ApiOpenApiV30BrandCampaignCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCampaignCreateV30Response
func (a *BrandCampaignCreateV30ApiService) postExecute(r *ApiOpenApiV30BrandCampaignCreatePostRequest) (*BrandCampaignCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCampaignCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/campaign/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandCampaignCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
