/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CreateStatementV2ApiService CreateStatementV2Api service
type CreateStatementV2ApiService service

type ApiOpenApi2CreateStatementPostRequest struct {
	ctx                      context.Context
	ApiService               *CreateStatementV2ApiService
	createStatementV2Request *CreateStatementV2Request
}

func (r *ApiOpenApi2CreateStatementPostRequest) CreateStatementV2Request(createStatementV2Request CreateStatementV2Request) *ApiOpenApi2CreateStatementPostRequest {
	r.createStatementV2Request = &createStatementV2Request
	return r
}

func (r *ApiOpenApi2CreateStatementPostRequest) Execute() (*CreateStatementV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2CreateStatementPostRequest) AccessToken(accessToken string) *ApiOpenApi2CreateStatementPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2CreateStatementPostRequest) WithLog(enable bool) *ApiOpenApi2CreateStatementPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2CreateStatementPost Method for OpenApi2CreateStatementPost

结算单创建接口，负责代理的结算单创建

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2CreateStatementPostRequest
*/
func (a *CreateStatementV2ApiService) Post(ctx context.Context) *ApiOpenApi2CreateStatementPostRequest {
	return &ApiOpenApi2CreateStatementPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateStatementV2Response
func (a *CreateStatementV2ApiService) postExecute(r *ApiOpenApi2CreateStatementPostRequest) (*CreateStatementV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CreateStatementV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/create/statement/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.createStatementV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
