/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanReportCustomGetV10ApiService QianchuanReportCustomGetV10Api service
type QianchuanReportCustomGetV10ApiService service

type ApiOpenApiV10QianchuanReportCustomGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanReportCustomGetV10ApiService
	dataTopic    *QianchuanReportCustomGetV10DataTopic
	dimensions   *[]string
	metrics      *[]string
	filters      *[]*QianchuanReportCustomGetV10FiltersInner
	startTime    *string
	endTime      *string
	orderBy      *[]*QianchuanReportCustomGetV10OrderByInner
	advertiserId *int64
	page         *int32
	pageSize     *int32
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) DataTopic(dataTopic QianchuanReportCustomGetV10DataTopic) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.dataTopic = &dataTopic
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) Dimensions(dimensions []string) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.dimensions = &dimensions
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) Metrics(metrics []string) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.metrics = &metrics
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) Filters(filters []*QianchuanReportCustomGetV10FiltersInner) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.filters = &filters
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) StartTime(startTime string) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.startTime = &startTime
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) EndTime(endTime string) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) OrderBy(orderBy []*QianchuanReportCustomGetV10OrderByInner) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.orderBy = &orderBy
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 页码
func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) Execute() (*QianchuanReportCustomGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanReportCustomGetGet Method for OpenApiV10QianchuanReportCustomGetGet

获取自定义报表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanReportCustomGetGetRequest
*/
func (a *QianchuanReportCustomGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanReportCustomGetGetRequest {
	return &ApiOpenApiV10QianchuanReportCustomGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanReportCustomGetV10Response
func (a *QianchuanReportCustomGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanReportCustomGetGetRequest) (*QianchuanReportCustomGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanReportCustomGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/report/custom/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dataTopic == nil {
		return localVarReturnValue, nil, ReportError("dataTopic is required and must be specified")
	}
	if r.dimensions == nil {
		return localVarReturnValue, nil, ReportError("dimensions is required and must be specified")
	}
	if r.metrics == nil {
		return localVarReturnValue, nil, ReportError("metrics is required and must be specified")
	}
	if r.filters == nil {
		return localVarReturnValue, nil, ReportError("filters is required and must be specified")
	}
	if r.startTime == nil {
		return localVarReturnValue, nil, ReportError("startTime is required and must be specified")
	}
	if r.endTime == nil {
		return localVarReturnValue, nil, ReportError("endTime is required and must be specified")
	}
	if r.orderBy == nil {
		return localVarReturnValue, nil, ReportError("orderBy is required and must be specified")
	}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "data_topic", r.dataTopic)
	parameterAddToHeaderOrQuery(localVarQueryParams, "dimensions", r.dimensions)
	parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics)
	parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
