/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaEbpLibraryListV30ApiService DpaEbpLibraryListV30Api service
type DpaEbpLibraryListV30ApiService service

type ApiOpenApiV30DpaEbpLibraryListGetRequest struct {
	ctx             context.Context
	ApiService      *DpaEbpLibraryListV30ApiService
	accountId       *int64
	accountType     *DpaEbpLibraryListV30AccountType
	storeType       *int64
	nameOrId        *string
	offset          *int64
	limit           *int64
	assetQueryScope *DpaEbpLibraryListV30AssetQueryScope
}

func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) AccountId(accountId int64) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) AccountType(accountType DpaEbpLibraryListV30AccountType) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	r.accountType = &accountType
	return r
}

// 商品库类型
func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) StoreType(storeType int64) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	r.storeType = &storeType
	return r
}

// 商品库名称或 ID
func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) NameOrId(nameOrId string) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	r.nameOrId = &nameOrId
	return r
}

func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) Offset(offset int64) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	r.offset = &offset
	return r
}

func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) Limit(limit int64) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	r.limit = &limit
	return r
}

// EBP资产查询范围，作用于归属于ebp部分的数据
func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) AssetQueryScope(assetQueryScope DpaEbpLibraryListV30AssetQueryScope) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	r.assetQueryScope = &assetQueryScope
	return r
}

func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) Execute() (*DpaEbpLibraryListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaEbpLibraryListGetRequest) WithLog(enable bool) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaEbpLibraryListGet Method for OpenApiV30DpaEbpLibraryListGet

[EBP]获取商品库列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaEbpLibraryListGetRequest
*/
func (a *DpaEbpLibraryListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30DpaEbpLibraryListGetRequest {
	return &ApiOpenApiV30DpaEbpLibraryListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaEbpLibraryListV30Response
func (a *DpaEbpLibraryListV30ApiService) getExecute(r *ApiOpenApiV30DpaEbpLibraryListGetRequest) (*DpaEbpLibraryListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaEbpLibraryListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/ebp/library/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.storeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "store_type", r.storeType)
	}
	if r.nameOrId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name_or_id", r.nameOrId)
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset)
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit)
	}
	if r.assetQueryScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_query_scope", r.assetQueryScope)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
