/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCampaignRemoveV30ApiService BrandCampaignRemoveV30Api service
type BrandCampaignRemoveV30ApiService service

type ApiOpenApiV30BrandCampaignRemovePostRequest struct {
	ctx                           context.Context
	ApiService                    *BrandCampaignRemoveV30ApiService
	brandCampaignRemoveV30Request *BrandCampaignRemoveV30Request
}

func (r *ApiOpenApiV30BrandCampaignRemovePostRequest) BrandCampaignRemoveV30Request(brandCampaignRemoveV30Request BrandCampaignRemoveV30Request) *ApiOpenApiV30BrandCampaignRemovePostRequest {
	r.brandCampaignRemoveV30Request = &brandCampaignRemoveV30Request
	return r
}

func (r *ApiOpenApiV30BrandCampaignRemovePostRequest) Execute() (*BrandCampaignRemoveV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandCampaignRemovePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCampaignRemovePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCampaignRemovePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandCampaignRemovePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCampaignRemovePost Method for OpenApiV30BrandCampaignRemovePost

AD品牌2.0删除广告组

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCampaignRemovePostRequest
*/
func (a *BrandCampaignRemoveV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandCampaignRemovePostRequest {
	return &ApiOpenApiV30BrandCampaignRemovePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCampaignRemoveV30Response
func (a *BrandCampaignRemoveV30ApiService) postExecute(r *ApiOpenApiV30BrandCampaignRemovePostRequest) (*BrandCampaignRemoveV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCampaignRemoveV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/campaign/remove/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandCampaignRemoveV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
