/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// KeywordGetV2ApiService KeywordGetV2Api service
type KeywordGetV2ApiService service

type ApiOpenApi2KeywordGetGetRequest struct {
	ctx          context.Context
	ApiService   *KeywordGetV2ApiService
	advertiserId *int64
	filtering    *KeywordGetV2Filtering
}

func (r *ApiOpenApi2KeywordGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2KeywordGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2KeywordGetGetRequest) Filtering(filtering KeywordGetV2Filtering) *ApiOpenApi2KeywordGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApi2KeywordGetGetRequest) Execute() (*KeywordGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2KeywordGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2KeywordGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2KeywordGetGetRequest) WithLog(enable bool) *ApiOpenApi2KeywordGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2KeywordGetGet Method for OpenApi2KeywordGetGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2KeywordGetGetRequest
*/
func (a *KeywordGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2KeywordGetGetRequest {
	return &ApiOpenApi2KeywordGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KeywordGetV2Response
func (a *KeywordGetV2ApiService) getExecute(r *ApiOpenApi2KeywordGetGetRequest) (*KeywordGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *KeywordGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/keyword/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
