/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalPromotionDeleteV30ApiService LocalPromotionDeleteV30Api service
type LocalPromotionDeleteV30ApiService service

type ApiOpenApiV30LocalPromotionDeletePostRequest struct {
	ctx                            context.Context
	ApiService                     *LocalPromotionDeleteV30ApiService
	localPromotionDeleteV30Request *LocalPromotionDeleteV30Request
}

func (r *ApiOpenApiV30LocalPromotionDeletePostRequest) LocalPromotionDeleteV30Request(localPromotionDeleteV30Request LocalPromotionDeleteV30Request) *ApiOpenApiV30LocalPromotionDeletePostRequest {
	r.localPromotionDeleteV30Request = &localPromotionDeleteV30Request
	return r
}

func (r *ApiOpenApiV30LocalPromotionDeletePostRequest) Execute() (*LocalPromotionDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalPromotionDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalPromotionDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalPromotionDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30LocalPromotionDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalPromotionDeletePost Method for OpenApiV30LocalPromotionDeletePost

删除单元

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalPromotionDeletePostRequest
*/
func (a *LocalPromotionDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalPromotionDeletePostRequest {
	return &ApiOpenApiV30LocalPromotionDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalPromotionDeleteV30Response
func (a *LocalPromotionDeleteV30ApiService) postExecute(r *ApiOpenApiV30LocalPromotionDeletePostRequest) (*LocalPromotionDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalPromotionDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/promotion/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localPromotionDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
