/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// SecurityScoreDisposalInfoGetV30ApiService SecurityScoreDisposalInfoGetV30Api service
type SecurityScoreDisposalInfoGetV30ApiService service

type ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest struct {
	ctx          context.Context
	ApiService   *SecurityScoreDisposalInfoGetV30ApiService
	businessLine *SecurityScoreDisposalInfoGetV30BusinessLine
	filtering    *SecurityScoreDisposalInfoGetV30Filtering
	advertiserId *int64
	page         *int64
	pageSize     *int64
	orderField   *SecurityScoreDisposalInfoGetV30OrderField
	orderType    *SecurityScoreDisposalInfoGetV30OrderType
}

// 业务线
func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) BusinessLine(businessLine SecurityScoreDisposalInfoGetV30BusinessLine) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	r.businessLine = &businessLine
	return r
}

// 过滤器
func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) Filtering(filtering SecurityScoreDisposalInfoGetV30Filtering) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 第几页
func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) Page(page int64) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	r.page = &page
	return r
}

// 每页的数目
func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 排序字段
func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) OrderField(orderField SecurityScoreDisposalInfoGetV30OrderField) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	r.orderField = &orderField
	return r
}

// 排序方式
func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) OrderType(orderType SecurityScoreDisposalInfoGetV30OrderType) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	r.orderType = &orderType
	return r
}

func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) Execute() (*SecurityScoreDisposalInfoGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) WithLog(enable bool) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30SecurityScoreDisposalInfoGetGet Method for OpenApiV30SecurityScoreDisposalInfoGetGet

查看积分处置详情

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest
*/
func (a *SecurityScoreDisposalInfoGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest {
	return &ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SecurityScoreDisposalInfoGetV30Response
func (a *SecurityScoreDisposalInfoGetV30ApiService) getExecute(r *ApiOpenApiV30SecurityScoreDisposalInfoGetGetRequest) (*SecurityScoreDisposalInfoGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *SecurityScoreDisposalInfoGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/security/score_disposal_info/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.businessLine == nil {
		return localVarReturnValue, nil, ReportError("businessLine is required and must be specified")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "business_line", r.businessLine)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
