/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanOverallSuggestRoiGetV10ApiService QianchuanOverallSuggestRoiGetV10Api service
type QianchuanOverallSuggestRoiGetV10ApiService service

type ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest struct {
	ctx                context.Context
	ApiService         *QianchuanOverallSuggestRoiGetV10ApiService
	advertiserId       *int64
	marketingGoal      *QianchuanOverallSuggestRoiGetV10MarketingGoal
	deepExternalAction *QianchuanOverallSuggestRoiGetV10DeepExternalAction
	awemeId            *int64
	adId               *int64
	overallCostItems   *QianchuanOverallSuggestRoiGetV10OverallCostItems
	productId2AwemeUid *[]*QianchuanOverallSuggestRoiGetV10ProductId2AwemeUidInner
}

func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) MarketingGoal(marketingGoal QianchuanOverallSuggestRoiGetV10MarketingGoal) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	r.marketingGoal = &marketingGoal
	return r
}

func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) DeepExternalAction(deepExternalAction QianchuanOverallSuggestRoiGetV10DeepExternalAction) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	r.deepExternalAction = &deepExternalAction
	return r
}

// 直播场景AuthorID：抖音号ID
func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	r.awemeId = &awemeId
	return r
}

// 更新场景：获取指定计划的建议ROI
func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) AdId(adId int64) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	r.adId = &adId
	return r
}

func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) OverallCostItems(overallCostItems QianchuanOverallSuggestRoiGetV10OverallCostItems) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	r.overallCostItems = &overallCostItems
	return r
}

// 仅乘方商品，ProductID与AwemeUID的叉乘关系
func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) ProductId2AwemeUid(productId2AwemeUid []*QianchuanOverallSuggestRoiGetV10ProductId2AwemeUidInner) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	r.productId2AwemeUid = &productId2AwemeUid
	return r
}

func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) Execute() (*QianchuanOverallSuggestRoiGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanOverallSuggestRoiGetGet Method for OpenApiV10QianchuanOverallSuggestRoiGetGet

乘方-商品+直播 建议出价

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest
*/
func (a *QianchuanOverallSuggestRoiGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest {
	return &ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanOverallSuggestRoiGetV10Response
func (a *QianchuanOverallSuggestRoiGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanOverallSuggestRoiGetGetRequest) (*QianchuanOverallSuggestRoiGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanOverallSuggestRoiGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/overall/suggest/roi/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.marketingGoal == nil {
		return localVarReturnValue, nil, ReportError("marketingGoal is required and must be specified")
	}
	if r.deepExternalAction == nil {
		return localVarReturnValue, nil, ReportError("deepExternalAction is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "marketing_goal", r.marketingGoal)
	if r.awemeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "deep_external_action", r.deepExternalAction)
	if r.adId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ad_id", r.adId)
	}
	if r.overallCostItems != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "overall_cost_items", r.overallCostItems)
	}
	if r.productId2AwemeUid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_id_2_aweme_uid", r.productId2AwemeUid)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
