/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// PromotionUpdateV30ApiService PromotionUpdateV30Api service
type PromotionUpdateV30ApiService service

type ApiOpenApiV30PromotionUpdatePostRequest struct {
	ctx                       context.Context
	ApiService                *PromotionUpdateV30ApiService
	promotionUpdateV30Request *PromotionUpdateV30Request
}

func (r *ApiOpenApiV30PromotionUpdatePostRequest) PromotionUpdateV30Request(promotionUpdateV30Request PromotionUpdateV30Request) *ApiOpenApiV30PromotionUpdatePostRequest {
	r.promotionUpdateV30Request = &promotionUpdateV30Request
	return r
}

func (r *ApiOpenApiV30PromotionUpdatePostRequest) Execute() (*PromotionUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30PromotionUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30PromotionUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30PromotionUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30PromotionUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30PromotionUpdatePost Method for OpenApiV30PromotionUpdatePost

更新广告

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30PromotionUpdatePostRequest
*/
func (a *PromotionUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30PromotionUpdatePostRequest {
	return &ApiOpenApiV30PromotionUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PromotionUpdateV30Response
func (a *PromotionUpdateV30ApiService) postExecute(r *ApiOpenApiV30PromotionUpdatePostRequest) (*PromotionUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *PromotionUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/promotion/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.promotionUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
