/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaClueProductSaveV2ApiService DpaClueProductSaveV2Api service
type DpaClueProductSaveV2ApiService service

type ApiOpenApi2DpaClueProductSavePostRequest struct {
	ctx                         context.Context
	ApiService                  *DpaClueProductSaveV2ApiService
	dpaClueProductSaveV2Request *DpaClueProductSaveV2Request
}

func (r *ApiOpenApi2DpaClueProductSavePostRequest) DpaClueProductSaveV2Request(dpaClueProductSaveV2Request DpaClueProductSaveV2Request) *ApiOpenApi2DpaClueProductSavePostRequest {
	r.dpaClueProductSaveV2Request = &dpaClueProductSaveV2Request
	return r
}

func (r *ApiOpenApi2DpaClueProductSavePostRequest) Execute() (*DpaClueProductSaveV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2DpaClueProductSavePostRequest) AccessToken(accessToken string) *ApiOpenApi2DpaClueProductSavePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2DpaClueProductSavePostRequest) WithLog(enable bool) *ApiOpenApi2DpaClueProductSavePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2DpaClueProductSavePost Method for OpenApi2DpaClueProductSavePost

线索版商品新增&编辑

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2DpaClueProductSavePostRequest
*/
func (a *DpaClueProductSaveV2ApiService) Post(ctx context.Context) *ApiOpenApi2DpaClueProductSavePostRequest {
	return &ApiOpenApi2DpaClueProductSavePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaClueProductSaveV2Response
func (a *DpaClueProductSaveV2ApiService) postExecute(r *ApiOpenApi2DpaClueProductSavePostRequest) (*DpaClueProductSaveV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaClueProductSaveV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/dpa/clue_product/save/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dpaClueProductSaveV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
