/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsPlayableGrantV2ApiService ToolsPlayableGrantV2Api service
type ToolsPlayableGrantV2ApiService service

type ApiOpenApi2ToolsPlayableGrantPostRequest struct {
	ctx                         context.Context
	ApiService                  *ToolsPlayableGrantV2ApiService
	toolsPlayableGrantV2Request *ToolsPlayableGrantV2Request
}

func (r *ApiOpenApi2ToolsPlayableGrantPostRequest) ToolsPlayableGrantV2Request(toolsPlayableGrantV2Request ToolsPlayableGrantV2Request) *ApiOpenApi2ToolsPlayableGrantPostRequest {
	r.toolsPlayableGrantV2Request = &toolsPlayableGrantV2Request
	return r
}

func (r *ApiOpenApi2ToolsPlayableGrantPostRequest) Execute() (*ToolsPlayableGrantV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsPlayableGrantPostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsPlayableGrantPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsPlayableGrantPostRequest) WithLog(enable bool) *ApiOpenApi2ToolsPlayableGrantPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsPlayableGrantPost Method for OpenApi2ToolsPlayableGrantPost

本接口用于试玩素材推送，推送仅可推送至同主体下已开通试玩素材白名单的广告主。
一次最多推送50个，由于推送是异步的，不会马上推送成功，从而会返回task_id，可根据task_id查询推送状态。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsPlayableGrantPostRequest
*/
func (a *ToolsPlayableGrantV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsPlayableGrantPostRequest {
	return &ApiOpenApi2ToolsPlayableGrantPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsPlayableGrantV2Response
func (a *ToolsPlayableGrantV2ApiService) postExecute(r *ApiOpenApi2ToolsPlayableGrantPostRequest) (*ToolsPlayableGrantV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsPlayableGrantV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/playable/grant/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsPlayableGrantV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
