/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AicElementUpdateV30ApiService AicElementUpdateV30Api service
type AicElementUpdateV30ApiService service

type ApiOpenApiV30AicElementUpdatePostRequest struct {
	ctx                        context.Context
	ApiService                 *AicElementUpdateV30ApiService
	aicElementUpdateV30Request *AicElementUpdateV30Request
}

func (r *ApiOpenApiV30AicElementUpdatePostRequest) AicElementUpdateV30Request(aicElementUpdateV30Request AicElementUpdateV30Request) *ApiOpenApiV30AicElementUpdatePostRequest {
	r.aicElementUpdateV30Request = &aicElementUpdateV30Request
	return r
}

func (r *ApiOpenApiV30AicElementUpdatePostRequest) Execute() (*AicElementUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30AicElementUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30AicElementUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30AicElementUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30AicElementUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30AicElementUpdatePost Method for OpenApiV30AicElementUpdatePost

根据原料库的元素id，更新名称或者路径

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30AicElementUpdatePostRequest
*/
func (a *AicElementUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30AicElementUpdatePostRequest {
	return &ApiOpenApiV30AicElementUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AicElementUpdateV30Response
func (a *AicElementUpdateV30ApiService) postExecute(r *ApiOpenApiV30AicElementUpdatePostRequest) (*AicElementUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AicElementUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/aic/element/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.aicElementUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
