/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsWechatAppletListV30ApiService ToolsWechatAppletListV30Api service
type ToolsWechatAppletListV30ApiService service

type ApiOpenApiV30ToolsWechatAppletListGetRequest struct {
	ctx          context.Context
	ApiService   *ToolsWechatAppletListV30ApiService
	advertiserId *int64
	filtering    *ToolsWechatAppletListV30Filtering
	page         *int32
	pageSize     *int32
	orderType    *ToolsWechatAppletListV30OrderType
	orderField   *ToolsWechatAppletListV30OrderField
}

func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) Filtering(filtering ToolsWechatAppletListV30Filtering) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) Page(page int32) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) PageSize(pageSize int32) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	r.pageSize = &pageSize
	return r
}

// 排序方式，允许值： ASC 升序 DESC 降序（默认值）
func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) OrderType(orderType ToolsWechatAppletListV30OrderType) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段，允许值： create_time modify_time (默认值)
func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) OrderField(orderField ToolsWechatAppletListV30OrderField) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	r.orderField = &orderField
	return r
}

func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) Execute() (*ToolsWechatAppletListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsWechatAppletListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsWechatAppletListGet Method for OpenApiV30ToolsWechatAppletListGet

openapi场景下的小程序获取接口

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsWechatAppletListGetRequest
*/
func (a *ToolsWechatAppletListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsWechatAppletListGetRequest {
	return &ApiOpenApiV30ToolsWechatAppletListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsWechatAppletListV30Response
func (a *ToolsWechatAppletListV30ApiService) getExecute(r *ApiOpenApiV30ToolsWechatAppletListGetRequest) (*ToolsWechatAppletListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsWechatAppletListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/wechat_applet/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
