/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarChallengeAddBudgetV2ApiService StarChallengeAddBudgetV2Api service
type StarChallengeAddBudgetV2ApiService service

type ApiOpenApi2StarChallengeAddBudgetPostRequest struct {
	ctx                             context.Context
	ApiService                      *StarChallengeAddBudgetV2ApiService
	starChallengeAddBudgetV2Request *StarChallengeAddBudgetV2Request
}

func (r *ApiOpenApi2StarChallengeAddBudgetPostRequest) StarChallengeAddBudgetV2Request(starChallengeAddBudgetV2Request StarChallengeAddBudgetV2Request) *ApiOpenApi2StarChallengeAddBudgetPostRequest {
	r.starChallengeAddBudgetV2Request = &starChallengeAddBudgetV2Request
	return r
}

func (r *ApiOpenApi2StarChallengeAddBudgetPostRequest) Execute() (*StarChallengeAddBudgetV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2StarChallengeAddBudgetPostRequest) AccessToken(accessToken string) *ApiOpenApi2StarChallengeAddBudgetPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarChallengeAddBudgetPostRequest) WithLog(enable bool) *ApiOpenApi2StarChallengeAddBudgetPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarChallengeAddBudgetPost Method for OpenApi2StarChallengeAddBudgetPost

追加预算

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarChallengeAddBudgetPostRequest
*/
func (a *StarChallengeAddBudgetV2ApiService) Post(ctx context.Context) *ApiOpenApi2StarChallengeAddBudgetPostRequest {
	return &ApiOpenApi2StarChallengeAddBudgetPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarChallengeAddBudgetV2Response
func (a *StarChallengeAddBudgetV2ApiService) postExecute(r *ApiOpenApi2StarChallengeAddBudgetPostRequest) (*StarChallengeAddBudgetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarChallengeAddBudgetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/challenge/add_budget/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.starChallengeAddBudgetV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
