/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CreateStatementInvoiceV2ApiService CreateStatementInvoiceV2Api service
type CreateStatementInvoiceV2ApiService service

type ApiOpenApi2CreateStatementInvoicePostRequest struct {
	ctx                             context.Context
	ApiService                      *CreateStatementInvoiceV2ApiService
	createStatementInvoiceV2Request *CreateStatementInvoiceV2Request
}

func (r *ApiOpenApi2CreateStatementInvoicePostRequest) CreateStatementInvoiceV2Request(createStatementInvoiceV2Request CreateStatementInvoiceV2Request) *ApiOpenApi2CreateStatementInvoicePostRequest {
	r.createStatementInvoiceV2Request = &createStatementInvoiceV2Request
	return r
}

func (r *ApiOpenApi2CreateStatementInvoicePostRequest) Execute() (*CreateStatementInvoiceV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2CreateStatementInvoicePostRequest) AccessToken(accessToken string) *ApiOpenApi2CreateStatementInvoicePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2CreateStatementInvoicePostRequest) WithLog(enable bool) *ApiOpenApi2CreateStatementInvoicePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2CreateStatementInvoicePost Method for OpenApi2CreateStatementInvoicePost

创建结算单开票接口，支持差额开票

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2CreateStatementInvoicePostRequest
*/
func (a *CreateStatementInvoiceV2ApiService) Post(ctx context.Context) *ApiOpenApi2CreateStatementInvoicePostRequest {
	return &ApiOpenApi2CreateStatementInvoicePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateStatementInvoiceV2Response
func (a *CreateStatementInvoiceV2ApiService) postExecute(r *ApiOpenApi2CreateStatementInvoicePostRequest) (*CreateStatementInvoiceV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CreateStatementInvoiceV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/create/statement_invoice/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.createStatementInvoiceV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
