/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaEbpMetaGetV30ApiService DpaEbpMetaGetV30Api service
type DpaEbpMetaGetV30ApiService service

type ApiOpenApiV30DpaEbpMetaGetGetRequest struct {
	ctx         context.Context
	ApiService  *DpaEbpMetaGetV30ApiService
	accountId   *int64
	accountType *DpaEbpMetaGetV30AccountType
	platformId  *int64
	indexable   *int64
	extractable *int64
	industry    *int64
	status      *int64
	mediaType   *int64
}

// 客户id
func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) AccountType(accountType DpaEbpMetaGetV30AccountType) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) PlatformId(platformId int64) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.platformId = &platformId
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) Indexable(indexable int64) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.indexable = &indexable
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) Extractable(extractable int64) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.extractable = &extractable
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) Industry(industry int64) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.industry = &industry
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) Status(status int64) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.status = &status
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) MediaType(mediaType int64) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.mediaType = &mediaType
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) Execute() (*DpaEbpMetaGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaEbpMetaGetGetRequest) WithLog(enable bool) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaEbpMetaGetGet Method for OpenApiV30DpaEbpMetaGetGet

EBP获取商品库元信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaEbpMetaGetGetRequest
*/
func (a *DpaEbpMetaGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30DpaEbpMetaGetGetRequest {
	return &ApiOpenApiV30DpaEbpMetaGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaEbpMetaGetV30Response
func (a *DpaEbpMetaGetV30ApiService) getExecute(r *ApiOpenApiV30DpaEbpMetaGetGetRequest) (*DpaEbpMetaGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaEbpMetaGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/ebp/meta/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.platformId == nil {
		return localVarReturnValue, nil, ReportError("platformId is required and must be specified")
	}
	if *r.platformId < 1 {
		return localVarReturnValue, nil, ReportError("platformId must be greater than 1")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "platform_id", r.platformId)
	if r.indexable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "indexable", r.indexable)
	}
	if r.extractable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extractable", r.extractable)
	}
	if r.industry != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "industry", r.industry)
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status)
	}
	if r.mediaType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "media_type", r.mediaType)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
