/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanToolsGrayV10ApiService QianchuanToolsGrayV10Api service
type QianchuanToolsGrayV10ApiService service

type ApiOpenApiV10QianchuanToolsGrayGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanToolsGrayV10ApiService
	advertiserId *int64
	grayKeys     *[]string
	awemeIds     *[]int64
}

func (r *ApiOpenApiV10QianchuanToolsGrayGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanToolsGrayGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanToolsGrayGetRequest) GrayKeys(grayKeys []string) *ApiOpenApiV10QianchuanToolsGrayGetRequest {
	r.grayKeys = &grayKeys
	return r
}

func (r *ApiOpenApiV10QianchuanToolsGrayGetRequest) AwemeIds(awemeIds []int64) *ApiOpenApiV10QianchuanToolsGrayGetRequest {
	r.awemeIds = &awemeIds
	return r
}

func (r *ApiOpenApiV10QianchuanToolsGrayGetRequest) Execute() (*QianchuanToolsGrayV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanToolsGrayGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanToolsGrayGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanToolsGrayGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanToolsGrayGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanToolsGrayGet Method for OpenApiV10QianchuanToolsGrayGet

- 需求文档：https://bytedance.feishu.cn/wiki/wikcnzdnNkJC4qmlmA3SuU4v05d - 开发：邓博 - PM：包宏权

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanToolsGrayGetRequest
*/
func (a *QianchuanToolsGrayV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanToolsGrayGetRequest {
	return &ApiOpenApiV10QianchuanToolsGrayGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanToolsGrayV10Response
func (a *QianchuanToolsGrayV10ApiService) getExecute(r *ApiOpenApiV10QianchuanToolsGrayGetRequest) (*QianchuanToolsGrayV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanToolsGrayV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/tools/gray/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.grayKeys == nil {
		return localVarReturnValue, nil, ReportError("grayKeys is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "gray_keys", r.grayKeys)
	if r.awemeIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_ids", r.awemeIds)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
