/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// StdProjectUpdateV30ApiService StdProjectUpdateV30Api service
type StdProjectUpdateV30ApiService service

type ApiOpenApiV30StdProjectUpdatePostRequest struct {
	ctx                        context.Context
	ApiService                 *StdProjectUpdateV30ApiService
	stdProjectUpdateV30Request *models.StdProjectUpdateV30Request
}

func (r *ApiOpenApiV30StdProjectUpdatePostRequest) StdProjectUpdateV30Request(stdProjectUpdateV30Request models.StdProjectUpdateV30Request) *ApiOpenApiV30StdProjectUpdatePostRequest {
	r.stdProjectUpdateV30Request = &stdProjectUpdateV30Request
	return r
}

func (r *ApiOpenApiV30StdProjectUpdatePostRequest) Execute() (*models.StdProjectUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30StdProjectUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30StdProjectUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30StdProjectUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30StdProjectUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30StdProjectUpdatePost Method for OpenApiV30StdProjectUpdatePost

更新标准项目

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30StdProjectUpdatePostRequest
*/
func (a *StdProjectUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30StdProjectUpdatePostRequest {
	return &ApiOpenApiV30StdProjectUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StdProjectUpdateV30Response
func (a *StdProjectUpdateV30ApiService) postExecute(r *ApiOpenApiV30StdProjectUpdatePostRequest) (*models.StdProjectUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.StdProjectUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/std_project/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.stdProjectUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
