/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ProjectRoigoalUpdateV30ApiService ProjectRoigoalUpdateV30Api service
type ProjectRoigoalUpdateV30ApiService service

type ApiOpenApiV30ProjectRoigoalUpdatePostRequest struct {
	ctx                            context.Context
	ApiService                     *ProjectRoigoalUpdateV30ApiService
	projectRoigoalUpdateV30Request *ProjectRoigoalUpdateV30Request
}

func (r *ApiOpenApiV30ProjectRoigoalUpdatePostRequest) ProjectRoigoalUpdateV30Request(projectRoigoalUpdateV30Request ProjectRoigoalUpdateV30Request) *ApiOpenApiV30ProjectRoigoalUpdatePostRequest {
	r.projectRoigoalUpdateV30Request = &projectRoigoalUpdateV30Request
	return r
}

func (r *ApiOpenApiV30ProjectRoigoalUpdatePostRequest) Execute() (*ProjectRoigoalUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ProjectRoigoalUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ProjectRoigoalUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ProjectRoigoalUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30ProjectRoigoalUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ProjectRoigoalUpdatePost Method for OpenApiV30ProjectRoigoalUpdatePost

创编2.0批量更新项目ROI系数

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ProjectRoigoalUpdatePostRequest
*/
func (a *ProjectRoigoalUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ProjectRoigoalUpdatePostRequest {
	return &ApiOpenApiV30ProjectRoigoalUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectRoigoalUpdateV30Response
func (a *ProjectRoigoalUpdateV30ApiService) postExecute(r *ApiOpenApiV30ProjectRoigoalUpdatePostRequest) (*ProjectRoigoalUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ProjectRoigoalUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/project/roigoal/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.projectRoigoalUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
