/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarVasGetBoostGroupListV2ApiService StarVasGetBoostGroupListV2Api service
type StarVasGetBoostGroupListV2ApiService service

type ApiOpenApi2StarVasGetBoostGroupListGetRequest struct {
	ctx          context.Context
	ApiService   *StarVasGetBoostGroupListV2ApiService
	starId       *int64
	page         *int32
	limit        *int32
	status       *StarVasGetBoostGroupListV2Status
	ltCreateTime *int64
	gtCreateTime *int64
	itemOrderId  *int64
}

// 客户ID
func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) StarId(starId int64) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	r.starId = &starId
	return r
}

// 页码，从1开始
func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) Page(page int32) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	r.page = &page
	return r
}

// 页内数量，不能超过30
func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) Limit(limit int32) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	r.limit = &limit
	return r
}

// 助推组状态
func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) Status(status StarVasGetBoostGroupListV2Status) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	r.status = &status
	return r
}

// 小于指定助推组创建时间戳
func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) LtCreateTime(ltCreateTime int64) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	r.ltCreateTime = &ltCreateTime
	return r
}

// 大于指定助推组创建时间戳
func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) GtCreateTime(gtCreateTime int64) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	r.gtCreateTime = &gtCreateTime
	return r
}

// 视频所属任务ID
func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) ItemOrderId(itemOrderId int64) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	r.itemOrderId = &itemOrderId
	return r
}

func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) Execute() (*StarVasGetBoostGroupListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) WithLog(enable bool) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarVasGetBoostGroupListGet Method for OpenApi2StarVasGetBoostGroupListGet

拉取加热组列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarVasGetBoostGroupListGetRequest
*/
func (a *StarVasGetBoostGroupListV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarVasGetBoostGroupListGetRequest {
	return &ApiOpenApi2StarVasGetBoostGroupListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarVasGetBoostGroupListV2Response
func (a *StarVasGetBoostGroupListV2ApiService) getExecute(r *ApiOpenApi2StarVasGetBoostGroupListGetRequest) (*StarVasGetBoostGroupListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarVasGetBoostGroupListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/vas/get_boost_group_list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if *r.page < 1 {
		return localVarReturnValue, nil, ReportError("page must be greater than 1")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, ReportError("limit is required and must be specified")
	}
	if *r.limit < 1 {
		return localVarReturnValue, nil, ReportError("limit must be greater than 1")
	}
	if *r.limit > 30 {
		return localVarReturnValue, nil, ReportError("limit must be less than 30")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit)
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status)
	}
	if r.ltCreateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lt_create_time", r.ltCreateTime)
	}
	if r.gtCreateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gt_create_time", r.gtCreateTime)
	}
	if r.itemOrderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_order_id", r.itemOrderId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
