/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarComponentUpdateLinkV2ApiService StarComponentUpdateLinkV2Api service
type StarComponentUpdateLinkV2ApiService service

type ApiOpenApi2StarComponentUpdateLinkPostRequest struct {
	ctx                              context.Context
	ApiService                       *StarComponentUpdateLinkV2ApiService
	starComponentUpdateLinkV2Request *StarComponentUpdateLinkV2Request
}

func (r *ApiOpenApi2StarComponentUpdateLinkPostRequest) StarComponentUpdateLinkV2Request(starComponentUpdateLinkV2Request StarComponentUpdateLinkV2Request) *ApiOpenApi2StarComponentUpdateLinkPostRequest {
	r.starComponentUpdateLinkV2Request = &starComponentUpdateLinkV2Request
	return r
}

func (r *ApiOpenApi2StarComponentUpdateLinkPostRequest) Execute() (*StarComponentUpdateLinkV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2StarComponentUpdateLinkPostRequest) AccessToken(accessToken string) *ApiOpenApi2StarComponentUpdateLinkPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarComponentUpdateLinkPostRequest) WithLog(enable bool) *ApiOpenApi2StarComponentUpdateLinkPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarComponentUpdateLinkPost Method for OpenApi2StarComponentUpdateLinkPost

常规组件修改

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarComponentUpdateLinkPostRequest
*/
func (a *StarComponentUpdateLinkV2ApiService) Post(ctx context.Context) *ApiOpenApi2StarComponentUpdateLinkPostRequest {
	return &ApiOpenApi2StarComponentUpdateLinkPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarComponentUpdateLinkV2Response
func (a *StarComponentUpdateLinkV2ApiService) postExecute(r *ApiOpenApi2StarComponentUpdateLinkPostRequest) (*StarComponentUpdateLinkV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarComponentUpdateLinkV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/component/update_link/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.starComponentUpdateLinkV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
