/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandOrderUpdateV30ApiService BrandOrderUpdateV30Api service
type BrandOrderUpdateV30ApiService service

type ApiOpenApiV30BrandOrderUpdatePostRequest struct {
	ctx                        context.Context
	ApiService                 *BrandOrderUpdateV30ApiService
	brandOrderUpdateV30Request *BrandOrderUpdateV30Request
}

func (r *ApiOpenApiV30BrandOrderUpdatePostRequest) BrandOrderUpdateV30Request(brandOrderUpdateV30Request BrandOrderUpdateV30Request) *ApiOpenApiV30BrandOrderUpdatePostRequest {
	r.brandOrderUpdateV30Request = &brandOrderUpdateV30Request
	return r
}

func (r *ApiOpenApiV30BrandOrderUpdatePostRequest) Execute() (*BrandOrderUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandOrderUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandOrderUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandOrderUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandOrderUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandOrderUpdatePost Method for OpenApiV30BrandOrderUpdatePost

编辑预定单

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandOrderUpdatePostRequest
*/
func (a *BrandOrderUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandOrderUpdatePostRequest {
	return &ApiOpenApiV30BrandOrderUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandOrderUpdateV30Response
func (a *BrandOrderUpdateV30ApiService) postExecute(r *ApiOpenApiV30BrandOrderUpdatePostRequest) (*BrandOrderUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandOrderUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/order/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandOrderUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
