/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpMicroAppletLinkListV30ApiService ToolsEbpMicroAppletLinkListV30Api service
type ToolsEbpMicroAppletLinkListV30ApiService service

type ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest struct {
	ctx         context.Context
	ApiService  *ToolsEbpMicroAppletLinkListV30ApiService
	accountId   *int64
	accountType *ToolsEbpMicroAppletLinkListV30AccountType
	instanceId  *int64
	appId       *string
	page        *int64
	pageSize    *int64
	createTime  *ToolsEbpMicroAppletLinkListV30CreateTime
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) AccountType(accountType ToolsEbpMicroAppletLinkListV30AccountType) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) InstanceId(instanceId int64) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	r.instanceId = &instanceId
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) AppId(appId string) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	r.appId = &appId
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) CreateTime(createTime ToolsEbpMicroAppletLinkListV30CreateTime) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	r.createTime = &createTime
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) Execute() (*ToolsEbpMicroAppletLinkListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpMicroAppletLinkListGet Method for OpenApiV30ToolsEbpMicroAppletLinkListGet

获取字节小程序link详情

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest
*/
func (a *ToolsEbpMicroAppletLinkListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest {
	return &ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpMicroAppletLinkListV30Response
func (a *ToolsEbpMicroAppletLinkListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpMicroAppletLinkListGetRequest) (*ToolsEbpMicroAppletLinkListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpMicroAppletLinkListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/micro_applet/link/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.instanceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "instance_id", r.instanceId)
	}
	if r.appId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app_id", r.appId)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.createTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "create_time", r.createTime)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
