/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdvertiserAvatarSubmitV2ApiService AdvertiserAvatarSubmitV2Api service
type AdvertiserAvatarSubmitV2ApiService service

type ApiOpenApi2AdvertiserAvatarSubmitPostRequest struct {
	ctx                             context.Context
	ApiService                      *AdvertiserAvatarSubmitV2ApiService
	advertiserAvatarSubmitV2Request *AdvertiserAvatarSubmitV2Request
}

func (r *ApiOpenApi2AdvertiserAvatarSubmitPostRequest) AdvertiserAvatarSubmitV2Request(advertiserAvatarSubmitV2Request AdvertiserAvatarSubmitV2Request) *ApiOpenApi2AdvertiserAvatarSubmitPostRequest {
	r.advertiserAvatarSubmitV2Request = &advertiserAvatarSubmitV2Request
	return r
}

func (r *ApiOpenApi2AdvertiserAvatarSubmitPostRequest) Execute() (*AdvertiserAvatarSubmitV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2AdvertiserAvatarSubmitPostRequest) AccessToken(accessToken string) *ApiOpenApi2AdvertiserAvatarSubmitPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdvertiserAvatarSubmitPostRequest) WithLog(enable bool) *ApiOpenApi2AdvertiserAvatarSubmitPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdvertiserAvatarSubmitPost Method for OpenApi2AdvertiserAvatarSubmitPost

上传广告主头像

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdvertiserAvatarSubmitPostRequest
*/
func (a *AdvertiserAvatarSubmitV2ApiService) Post(ctx context.Context) *ApiOpenApi2AdvertiserAvatarSubmitPostRequest {
	return &ApiOpenApi2AdvertiserAvatarSubmitPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdvertiserAvatarSubmitV2Response
func (a *AdvertiserAvatarSubmitV2ApiService) postExecute(r *ApiOpenApi2AdvertiserAvatarSubmitPostRequest) (*AdvertiserAvatarSubmitV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdvertiserAvatarSubmitV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/advertiser/avatar/submit/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.advertiserAvatarSubmitV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
