/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaBrandFuzzyGetV30ApiService DpaBrandFuzzyGetV30Api service
type DpaBrandFuzzyGetV30ApiService service

type ApiOpenApiV30DpaBrandFuzzyGetGetRequest struct {
	ctx         context.Context
	ApiService  *DpaBrandFuzzyGetV30ApiService
	accountId   *int64
	accountType *DpaBrandFuzzyGetV30AccountType
	brandName   *string
	page        *int64
	pageSize    *int64
}

// 账户id
func (r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30DpaBrandFuzzyGetGetRequest {
	r.accountId = &accountId
	return r
}

// 账户类型
func (r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) AccountType(accountType DpaBrandFuzzyGetV30AccountType) *ApiOpenApiV30DpaBrandFuzzyGetGetRequest {
	r.accountType = &accountType
	return r
}

// 品牌名称（用于模糊查询的品牌关键字）
func (r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) BrandName(brandName string) *ApiOpenApiV30DpaBrandFuzzyGetGetRequest {
	r.brandName = &brandName
	return r
}

// 页码，默认1，最大100
func (r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) Page(page int64) *ApiOpenApiV30DpaBrandFuzzyGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，默认20，最大100
func (r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30DpaBrandFuzzyGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) Execute() (*DpaBrandFuzzyGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaBrandFuzzyGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) WithLog(enable bool) *ApiOpenApiV30DpaBrandFuzzyGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaBrandFuzzyGetGet Method for OpenApiV30DpaBrandFuzzyGetGet

模糊查询品牌信息，目前只返回商标品牌

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaBrandFuzzyGetGetRequest
*/
func (a *DpaBrandFuzzyGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30DpaBrandFuzzyGetGetRequest {
	return &ApiOpenApiV30DpaBrandFuzzyGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaBrandFuzzyGetV30Response
func (a *DpaBrandFuzzyGetV30ApiService) getExecute(r *ApiOpenApiV30DpaBrandFuzzyGetGetRequest) (*DpaBrandFuzzyGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaBrandFuzzyGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/brand/fuzzy/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.brandName == nil {
		return localVarReturnValue, nil, ReportError("brandName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "brand_name", r.brandName)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
