/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// Oauth2AccessTokenApiService Oauth2AccessTokenApi service
type Oauth2AccessTokenApiService service

type ApiOpenApiOauth2AccessTokenPostRequest struct {
	ctx                      context.Context
	ApiService               *Oauth2AccessTokenApiService
	oauth2AccessTokenRequest *Oauth2AccessTokenRequest
}

func (r *ApiOpenApiOauth2AccessTokenPostRequest) Oauth2AccessTokenRequest(oauth2AccessTokenRequest Oauth2AccessTokenRequest) *ApiOpenApiOauth2AccessTokenPostRequest {
	r.oauth2AccessTokenRequest = &oauth2AccessTokenRequest
	return r
}

func (r *ApiOpenApiOauth2AccessTokenPostRequest) Execute() (*Oauth2AccessTokenResponse, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiOauth2AccessTokenPostRequest) AccessToken(accessToken string) *ApiOpenApiOauth2AccessTokenPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiOauth2AccessTokenPostRequest) WithLog(enable bool) *ApiOpenApiOauth2AccessTokenPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiOauth2AccessTokenPost Method for OpenApiOauth2AccessTokenPost

Access-Token是调用授权关系接口的调用凭证，用于服务端对API请求鉴权。所有接口均通过请求参数中传递的 Access_Token来进行身份认证和鉴权。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiOauth2AccessTokenPostRequest
*/
func (a *Oauth2AccessTokenApiService) Post(ctx context.Context) *ApiOpenApiOauth2AccessTokenPostRequest {
	return &ApiOpenApiOauth2AccessTokenPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Oauth2AccessTokenResponse
func (a *Oauth2AccessTokenApiService) postExecute(r *ApiOpenApiOauth2AccessTokenPostRequest) (*Oauth2AccessTokenResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *Oauth2AccessTokenResponse
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/oauth2/access_token/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.oauth2AccessTokenRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
