/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CampaignUpdateV2ApiService CampaignUpdateV2Api service
type CampaignUpdateV2ApiService service

type ApiOpenApi2CampaignUpdatePostRequest struct {
	ctx                     context.Context
	ApiService              *CampaignUpdateV2ApiService
	campaignUpdateV2Request *CampaignUpdateV2Request
}

func (r *ApiOpenApi2CampaignUpdatePostRequest) CampaignUpdateV2Request(campaignUpdateV2Request CampaignUpdateV2Request) *ApiOpenApi2CampaignUpdatePostRequest {
	r.campaignUpdateV2Request = &campaignUpdateV2Request
	return r
}

func (r *ApiOpenApi2CampaignUpdatePostRequest) Execute() (*CampaignUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2CampaignUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2CampaignUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2CampaignUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2CampaignUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2CampaignUpdatePost Method for OpenApi2CampaignUpdatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2CampaignUpdatePostRequest
*/
func (a *CampaignUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2CampaignUpdatePostRequest {
	return &ApiOpenApi2CampaignUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CampaignUpdateV2Response
func (a *CampaignUpdateV2ApiService) postExecute(r *ApiOpenApi2CampaignUpdatePostRequest) (*CampaignUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CampaignUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/campaign/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.campaignUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
