/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarOrderUpdateV2ApiService StarOrderUpdateV2Api service
type StarOrderUpdateV2ApiService service

type ApiOpenApi2StarOrderUpdatePostRequest struct {
	ctx                      context.Context
	ApiService               *StarOrderUpdateV2ApiService
	starOrderUpdateV2Request *StarOrderUpdateV2Request
}

func (r *ApiOpenApi2StarOrderUpdatePostRequest) StarOrderUpdateV2Request(starOrderUpdateV2Request StarOrderUpdateV2Request) *ApiOpenApi2StarOrderUpdatePostRequest {
	r.starOrderUpdateV2Request = &starOrderUpdateV2Request
	return r
}

func (r *ApiOpenApi2StarOrderUpdatePostRequest) Execute() (*StarOrderUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2StarOrderUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2StarOrderUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarOrderUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2StarOrderUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarOrderUpdatePost Method for OpenApi2StarOrderUpdatePost

任务修改

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarOrderUpdatePostRequest
*/
func (a *StarOrderUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2StarOrderUpdatePostRequest {
	return &ApiOpenApi2StarOrderUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarOrderUpdateV2Response
func (a *StarOrderUpdateV2ApiService) postExecute(r *ApiOpenApi2StarOrderUpdatePostRequest) (*StarOrderUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarOrderUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/order/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.starOrderUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
