/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdvertiserFundDailyStatV2ApiService AdvertiserFundDailyStatV2Api service
type AdvertiserFundDailyStatV2ApiService service

type ApiOpenApi2AdvertiserFundDailyStatGetRequest struct {
	ctx          context.Context
	ApiService   *AdvertiserFundDailyStatV2ApiService
	advertiserId *int64
	startDate    *string
	endDate      *string
	page         *int64
	pageSize     *int64
	accountType  *AdvertiserFundDailyStatV2AccountType
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) StartDate(startDate string) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	r.startDate = &startDate
	return r
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) EndDate(endDate string) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	r.endDate = &endDate
	return r
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) Page(page int64) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) PageSize(pageSize int64) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) AccountType(accountType AdvertiserFundDailyStatV2AccountType) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) Execute() (*AdvertiserFundDailyStatV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) AccessToken(accessToken string) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) WithLog(enable bool) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdvertiserFundDailyStatGet Method for OpenApi2AdvertiserFundDailyStatGet

查询账户日流水

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdvertiserFundDailyStatGetRequest
*/
func (a *AdvertiserFundDailyStatV2ApiService) Get(ctx context.Context) *ApiOpenApi2AdvertiserFundDailyStatGetRequest {
	return &ApiOpenApi2AdvertiserFundDailyStatGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdvertiserFundDailyStatV2Response
func (a *AdvertiserFundDailyStatV2ApiService) getExecute(r *ApiOpenApi2AdvertiserFundDailyStatGetRequest) (*AdvertiserFundDailyStatV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdvertiserFundDailyStatV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/advertiser/fund/daily_stat/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
