/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdvertiserPublicInfoV2ApiService AdvertiserPublicInfoV2Api service
type AdvertiserPublicInfoV2ApiService service

type ApiOpenApi2AdvertiserPublicInfoGetRequest struct {
	ctx           context.Context
	ApiService    *AdvertiserPublicInfoV2ApiService
	advertiserIds *[]int64
}

func (r *ApiOpenApi2AdvertiserPublicInfoGetRequest) AdvertiserIds(advertiserIds []int64) *ApiOpenApi2AdvertiserPublicInfoGetRequest {
	r.advertiserIds = &advertiserIds
	return r
}

func (r *ApiOpenApi2AdvertiserPublicInfoGetRequest) Execute() (*AdvertiserPublicInfoV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2AdvertiserPublicInfoGetRequest) AccessToken(accessToken string) *ApiOpenApi2AdvertiserPublicInfoGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdvertiserPublicInfoGetRequest) WithLog(enable bool) *ApiOpenApi2AdvertiserPublicInfoGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdvertiserPublicInfoGet Method for OpenApi2AdvertiserPublicInfoGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdvertiserPublicInfoGetRequest
*/
func (a *AdvertiserPublicInfoV2ApiService) Get(ctx context.Context) *ApiOpenApi2AdvertiserPublicInfoGetRequest {
	return &ApiOpenApi2AdvertiserPublicInfoGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdvertiserPublicInfoV2Response
func (a *AdvertiserPublicInfoV2ApiService) getExecute(r *ApiOpenApi2AdvertiserPublicInfoGetRequest) (*AdvertiserPublicInfoV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdvertiserPublicInfoV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/advertiser/public_info/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_ids", r.advertiserIds)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
