/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCampaignGetV30ApiService BrandCampaignGetV30Api service
type BrandCampaignGetV30ApiService service

type ApiOpenApiV30BrandCampaignGetGetRequest struct {
	ctx             context.Context
	ApiService      *BrandCampaignGetV30ApiService
	advertiserId    *int64
	page            *int64
	size            *int64
	campaignIds     *[]string
	campaignNames   *[]string
	campaignStatus  *BrandCampaignGetV30CampaignStatus
	createStartTime *string
	createEndTime   *string
	startTime       *string
	endTime         *string
}

// 广告主ID
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 分页参数 默认从1开始
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) Page(page int64) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.page = &page
	return r
}

// 分页参数 默认每页最大100 最小为1
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) Size(size int64) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.size = &size
	return r
}

// 广告组ID List，每次请求最多100个
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) CampaignIds(campaignIds []string) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.campaignIds = &campaignIds
	return r
}

// 广告组名称List，每次请求最多100个
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) CampaignNames(campaignNames []string) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.campaignNames = &campaignNames
	return r
}

// 广告组状态
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) CampaignStatus(campaignStatus BrandCampaignGetV30CampaignStatus) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.campaignStatus = &campaignStatus
	return r
}

// 广告组创建起始时间，时间格式：2016-01-01 00:00:00
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) CreateStartTime(createStartTime string) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.createStartTime = &createStartTime
	return r
}

// 广告组创建截止时间，时间格式：2016-01-01 00:00:00
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) CreateEndTime(createEndTime string) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.createEndTime = &createEndTime
	return r
}

// 广告组投放起始时间，时间格式：2016-01-01 00:00:00
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) StartTime(startTime string) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.startTime = &startTime
	return r
}

// 广告组投放截止时间，时间格式：2016-01-01 00:00:00
func (r *ApiOpenApiV30BrandCampaignGetGetRequest) EndTime(endTime string) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApiV30BrandCampaignGetGetRequest) Execute() (*BrandCampaignGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30BrandCampaignGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCampaignGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCampaignGetGetRequest) WithLog(enable bool) *ApiOpenApiV30BrandCampaignGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCampaignGetGet Method for OpenApiV30BrandCampaignGetGet

查询AD品牌广告组详情数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCampaignGetGetRequest
*/
func (a *BrandCampaignGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30BrandCampaignGetGetRequest {
	return &ApiOpenApiV30BrandCampaignGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCampaignGetV30Response
func (a *BrandCampaignGetV30ApiService) getExecute(r *ApiOpenApiV30BrandCampaignGetGetRequest) (*BrandCampaignGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCampaignGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/campaign/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if *r.page < 1 {
		return localVarReturnValue, nil, ReportError("page must be greater than 1")
	}
	if r.size == nil {
		return localVarReturnValue, nil, ReportError("size is required and must be specified")
	}
	if *r.size < 1 {
		return localVarReturnValue, nil, ReportError("size must be greater than 1")
	}
	if *r.size > 100 {
		return localVarReturnValue, nil, ReportError("size must be less than 100")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.campaignIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "campaign_ids", r.campaignIds)
	}
	if r.campaignNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "campaign_names", r.campaignNames)
	}
	if r.campaignStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "campaign_status", r.campaignStatus)
	}
	if r.createStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "create_start_time", r.createStartTime)
	}
	if r.createEndTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "create_end_time", r.createEndTime)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
