/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarChallengeCancelV2ApiService StarChallengeCancelV2Api service
type StarChallengeCancelV2ApiService service

type ApiOpenApi2StarChallengeCancelPostRequest struct {
	ctx                          context.Context
	ApiService                   *StarChallengeCancelV2ApiService
	starChallengeCancelV2Request *StarChallengeCancelV2Request
}

func (r *ApiOpenApi2StarChallengeCancelPostRequest) StarChallengeCancelV2Request(starChallengeCancelV2Request StarChallengeCancelV2Request) *ApiOpenApi2StarChallengeCancelPostRequest {
	r.starChallengeCancelV2Request = &starChallengeCancelV2Request
	return r
}

func (r *ApiOpenApi2StarChallengeCancelPostRequest) Execute() (*StarChallengeCancelV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2StarChallengeCancelPostRequest) AccessToken(accessToken string) *ApiOpenApi2StarChallengeCancelPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarChallengeCancelPostRequest) WithLog(enable bool) *ApiOpenApi2StarChallengeCancelPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarChallengeCancelPost Method for OpenApi2StarChallengeCancelPost

投稿任务取消

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarChallengeCancelPostRequest
*/
func (a *StarChallengeCancelV2ApiService) Post(ctx context.Context) *ApiOpenApi2StarChallengeCancelPostRequest {
	return &ApiOpenApi2StarChallengeCancelPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarChallengeCancelV2Response
func (a *StarChallengeCancelV2ApiService) postExecute(r *ApiOpenApi2StarChallengeCancelPostRequest) (*StarChallengeCancelV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarChallengeCancelV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/challenge/cancel/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.starChallengeCancelV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
