/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarMcnProviderGetTaskItemListV2ApiService StarMcnProviderGetTaskItemListV2Api service
type StarMcnProviderGetTaskItemListV2ApiService service

type ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest struct {
	ctx                context.Context
	ApiService         *StarMcnProviderGetTaskItemListV2ApiService
	starId             *int64
	taskId             *int64
	page               *int32
	limit              *int32
	providerConfirming *bool
}

func (r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) StarId(starId int64) *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest {
	r.starId = &starId
	return r
}

func (r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) TaskId(taskId int64) *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest {
	r.taskId = &taskId
	return r
}

func (r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) Page(page int32) *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) Limit(limit int32) *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest {
	r.limit = &limit
	return r
}

// 筛选待客户确认视频
func (r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) ProviderConfirming(providerConfirming bool) *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest {
	r.providerConfirming = &providerConfirming
	return r
}

func (r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) Execute() (*StarMcnProviderGetTaskItemListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) WithLog(enable bool) *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarMcnProviderGetTaskItemListGet Method for OpenApi2StarMcnProviderGetTaskItemListGet

获取投后数据信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest
*/
func (a *StarMcnProviderGetTaskItemListV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest {
	return &ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarMcnProviderGetTaskItemListV2Response
func (a *StarMcnProviderGetTaskItemListV2ApiService) getExecute(r *ApiOpenApi2StarMcnProviderGetTaskItemListGetRequest) (*StarMcnProviderGetTaskItemListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarMcnProviderGetTaskItemListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/mcn/provider_get_task_item_list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}
	if r.taskId == nil {
		return localVarReturnValue, nil, ReportError("taskId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if *r.page < 1 {
		return localVarReturnValue, nil, ReportError("page must be greater than 1")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, ReportError("limit is required and must be specified")
	}
	if *r.limit < 1 {
		return localVarReturnValue, nil, ReportError("limit must be greater than 1")
	}
	if *r.limit > 30 {
		return localVarReturnValue, nil, ReportError("limit must be less than 30")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit)
	if r.providerConfirming != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider_confirming", r.providerConfirming)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
