/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FilePreauditSubmitV30ApiService FilePreauditSubmitV30Api service
type FilePreauditSubmitV30ApiService service

type ApiOpenApiV30FilePreauditSubmitPostRequest struct {
	ctx                          context.Context
	ApiService                   *FilePreauditSubmitV30ApiService
	filePreauditSubmitV30Request *FilePreauditSubmitV30Request
}

func (r *ApiOpenApiV30FilePreauditSubmitPostRequest) FilePreauditSubmitV30Request(filePreauditSubmitV30Request FilePreauditSubmitV30Request) *ApiOpenApiV30FilePreauditSubmitPostRequest {
	r.filePreauditSubmitV30Request = &filePreauditSubmitV30Request
	return r
}

func (r *ApiOpenApiV30FilePreauditSubmitPostRequest) Execute() (*FilePreauditSubmitV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30FilePreauditSubmitPostRequest) AccessToken(accessToken string) *ApiOpenApiV30FilePreauditSubmitPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30FilePreauditSubmitPostRequest) WithLog(enable bool) *ApiOpenApiV30FilePreauditSubmitPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30FilePreauditSubmitPost Method for OpenApiV30FilePreauditSubmitPost

素材预审提交

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30FilePreauditSubmitPostRequest
*/
func (a *FilePreauditSubmitV30ApiService) Post(ctx context.Context) *ApiOpenApiV30FilePreauditSubmitPostRequest {
	return &ApiOpenApiV30FilePreauditSubmitPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FilePreauditSubmitV30Response
func (a *FilePreauditSubmitV30ApiService) postExecute(r *ApiOpenApiV30FilePreauditSubmitPostRequest) (*FilePreauditSubmitV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FilePreauditSubmitV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/file/preaudit/submit/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.filePreauditSubmitV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
