/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanAdUpdateV10ApiService QianchuanAdUpdateV10Api service
type QianchuanAdUpdateV10ApiService service

type ApiOpenApiV10QianchuanAdUpdatePostRequest struct {
	ctx                         context.Context
	ApiService                  *QianchuanAdUpdateV10ApiService
	qianchuanAdUpdateV10Request *QianchuanAdUpdateV10Request
}

func (r *ApiOpenApiV10QianchuanAdUpdatePostRequest) QianchuanAdUpdateV10Request(qianchuanAdUpdateV10Request QianchuanAdUpdateV10Request) *ApiOpenApiV10QianchuanAdUpdatePostRequest {
	r.qianchuanAdUpdateV10Request = &qianchuanAdUpdateV10Request
	return r
}

func (r *ApiOpenApiV10QianchuanAdUpdatePostRequest) Execute() (*QianchuanAdUpdateV10Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV10QianchuanAdUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanAdUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanAdUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanAdUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanAdUpdatePost Method for OpenApiV10QianchuanAdUpdatePost

1

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanAdUpdatePostRequest
*/
func (a *QianchuanAdUpdateV10ApiService) Post(ctx context.Context) *ApiOpenApiV10QianchuanAdUpdatePostRequest {
	return &ApiOpenApiV10QianchuanAdUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanAdUpdateV10Response
func (a *QianchuanAdUpdateV10ApiService) postExecute(r *ApiOpenApiV10QianchuanAdUpdatePostRequest) (*QianchuanAdUpdateV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanAdUpdateV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/ad/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.qianchuanAdUpdateV10Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
