/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandOrderDeleteV30ApiService BrandOrderDeleteV30Api service
type BrandOrderDeleteV30ApiService service

type ApiOpenApiV30BrandOrderDeletePostRequest struct {
	ctx                        context.Context
	ApiService                 *BrandOrderDeleteV30ApiService
	brandOrderDeleteV30Request *BrandOrderDeleteV30Request
}

func (r *ApiOpenApiV30BrandOrderDeletePostRequest) BrandOrderDeleteV30Request(brandOrderDeleteV30Request BrandOrderDeleteV30Request) *ApiOpenApiV30BrandOrderDeletePostRequest {
	r.brandOrderDeleteV30Request = &brandOrderDeleteV30Request
	return r
}

func (r *ApiOpenApiV30BrandOrderDeletePostRequest) Execute() (*BrandOrderDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandOrderDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandOrderDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandOrderDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandOrderDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandOrderDeletePost Method for OpenApiV30BrandOrderDeletePost

AD品牌2.0删除预订单

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandOrderDeletePostRequest
*/
func (a *BrandOrderDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandOrderDeletePostRequest {
	return &ApiOpenApiV30BrandOrderDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandOrderDeleteV30Response
func (a *BrandOrderDeleteV30ApiService) postExecute(r *ApiOpenApiV30BrandOrderDeletePostRequest) (*BrandOrderDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandOrderDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/order/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandOrderDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
