/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// SecurityCreateAppealV30ApiService SecurityCreateAppealV30Api service
type SecurityCreateAppealV30ApiService service

type ApiOpenApiV30SecurityCreateAppealPostRequest struct {
	ctx                            context.Context
	ApiService                     *SecurityCreateAppealV30ApiService
	securityCreateAppealV30Request *SecurityCreateAppealV30Request
}

func (r *ApiOpenApiV30SecurityCreateAppealPostRequest) SecurityCreateAppealV30Request(securityCreateAppealV30Request SecurityCreateAppealV30Request) *ApiOpenApiV30SecurityCreateAppealPostRequest {
	r.securityCreateAppealV30Request = &securityCreateAppealV30Request
	return r
}

func (r *ApiOpenApiV30SecurityCreateAppealPostRequest) Execute() (*SecurityCreateAppealV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30SecurityCreateAppealPostRequest) AccessToken(accessToken string) *ApiOpenApiV30SecurityCreateAppealPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30SecurityCreateAppealPostRequest) WithLog(enable bool) *ApiOpenApiV30SecurityCreateAppealPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30SecurityCreateAppealPost Method for OpenApiV30SecurityCreateAppealPost

支持电商平台投放字节广告的商家在电商后投放后台对审核拒绝的广告发起申诉

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30SecurityCreateAppealPostRequest
*/
func (a *SecurityCreateAppealV30ApiService) Post(ctx context.Context) *ApiOpenApiV30SecurityCreateAppealPostRequest {
	return &ApiOpenApiV30SecurityCreateAppealPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SecurityCreateAppealV30Response
func (a *SecurityCreateAppealV30ApiService) postExecute(r *ApiOpenApiV30SecurityCreateAppealPostRequest) (*SecurityCreateAppealV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *SecurityCreateAppealV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/security/create_appeal/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.securityCreateAppealV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
