/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// SvipChargeVerifyGetV30ApiService SvipChargeVerifyGetV30Api service
type SvipChargeVerifyGetV30ApiService service

type ApiOpenApiV30SvipChargeVerifyGetGetRequest struct {
	ctx          context.Context
	ApiService   *SvipChargeVerifyGetV30ApiService
	ccAccountId  *int64
	accountId    *int64
	platform     *SvipChargeVerifyGetV30Platform
	requestId    *string
	chargeType   *SvipChargeVerifyGetV30ChargeType
	chargeSource *SvipChargeVerifyGetV30ChargeSource
	caller       *SvipChargeVerifyGetV30Caller
}

// 组织ID
func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) CcAccountId(ccAccountId int64) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	r.ccAccountId = &ccAccountId
	return r
}

// 广告主id
func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	r.accountId = &accountId
	return r
}

// 业务线
func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) Platform(platform SvipChargeVerifyGetV30Platform) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	r.platform = &platform
	return r
}

// 唯一请求参数
func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) RequestId(requestId string) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	r.requestId = &requestId
	return r
}

// 充值类型
func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) ChargeType(chargeType SvipChargeVerifyGetV30ChargeType) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	r.chargeType = &chargeType
	return r
}

// 充值来源
func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) ChargeSource(chargeSource SvipChargeVerifyGetV30ChargeSource) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	r.chargeSource = &chargeSource
	return r
}

// 请求方
func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) Caller(caller SvipChargeVerifyGetV30Caller) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	r.caller = &caller
	return r
}

func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) Execute() (*SvipChargeVerifyGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) WithLog(enable bool) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30SvipChargeVerifyGetGet Method for OpenApiV30SvipChargeVerifyGetGet

校验能否充值接口，校验不通过接口会报错并返回原因；校验通过接口返回可用于充值的合同。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30SvipChargeVerifyGetGetRequest
*/
func (a *SvipChargeVerifyGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30SvipChargeVerifyGetGetRequest {
	return &ApiOpenApiV30SvipChargeVerifyGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SvipChargeVerifyGetV30Response
func (a *SvipChargeVerifyGetV30ApiService) getExecute(r *ApiOpenApiV30SvipChargeVerifyGetGetRequest) (*SvipChargeVerifyGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *SvipChargeVerifyGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/svip/charge/verify/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ccAccountId == nil {
		return localVarReturnValue, nil, ReportError("ccAccountId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.platform == nil {
		return localVarReturnValue, nil, ReportError("platform is required and must be specified")
	}
	if r.requestId == nil {
		return localVarReturnValue, nil, ReportError("requestId is required and must be specified")
	}
	if r.chargeType == nil {
		return localVarReturnValue, nil, ReportError("chargeType is required and must be specified")
	}
	if r.chargeSource == nil {
		return localVarReturnValue, nil, ReportError("chargeSource is required and must be specified")
	}
	if r.caller == nil {
		return localVarReturnValue, nil, ReportError("caller is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "cc_account_id", r.ccAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform)
	parameterAddToHeaderOrQuery(localVarQueryParams, "request_id", r.requestId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "charge_type", r.chargeType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "charge_source", r.chargeSource)
	parameterAddToHeaderOrQuery(localVarQueryParams, "caller", r.caller)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
