/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsMaterialRaiseRecordsGetV30ApiService ToolsMaterialRaiseRecordsGetV30Api service
type ToolsMaterialRaiseRecordsGetV30ApiService service

type ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest struct {
	ctx          context.Context
	ApiService   *ToolsMaterialRaiseRecordsGetV30ApiService
	advertiserId *int64
	projectIds   *[]int64
	status       *[]*ToolsMaterialRaiseRecordsGetV30Status
	page         *int64
	pageSize     *int64
}

// 广告账户ID
func (r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 项目IDs
func (r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) ProjectIds(projectIds []int64) *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest {
	r.projectIds = &projectIds
	return r
}

func (r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) Status(status []*ToolsMaterialRaiseRecordsGetV30Status) *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest {
	r.status = &status
	return r
}

// 页码
func (r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) Page(page int64) *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) Execute() (*ToolsMaterialRaiseRecordsGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsMaterialRaiseRecordsGetGet Method for OpenApiV30ToolsMaterialRaiseRecordsGetGet

获取素材起量记录列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest
*/
func (a *ToolsMaterialRaiseRecordsGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest {
	return &ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsMaterialRaiseRecordsGetV30Response
func (a *ToolsMaterialRaiseRecordsGetV30ApiService) getExecute(r *ApiOpenApiV30ToolsMaterialRaiseRecordsGetGetRequest) (*ToolsMaterialRaiseRecordsGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsMaterialRaiseRecordsGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/material_raise_records/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.projectIds == nil {
		return localVarReturnValue, nil, ReportError("projectIds is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "project_ids", r.projectIds)
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
