/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ProjectStatusUpdateV30ApiService ProjectStatusUpdateV30Api service
type ProjectStatusUpdateV30ApiService service

type ApiOpenApiV30ProjectStatusUpdatePostRequest struct {
	ctx                           context.Context
	ApiService                    *ProjectStatusUpdateV30ApiService
	projectStatusUpdateV30Request *ProjectStatusUpdateV30Request
}

func (r *ApiOpenApiV30ProjectStatusUpdatePostRequest) ProjectStatusUpdateV30Request(projectStatusUpdateV30Request ProjectStatusUpdateV30Request) *ApiOpenApiV30ProjectStatusUpdatePostRequest {
	r.projectStatusUpdateV30Request = &projectStatusUpdateV30Request
	return r
}

func (r *ApiOpenApiV30ProjectStatusUpdatePostRequest) Execute() (*ProjectStatusUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ProjectStatusUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ProjectStatusUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ProjectStatusUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30ProjectStatusUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ProjectStatusUpdatePost Method for OpenApiV30ProjectStatusUpdatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ProjectStatusUpdatePostRequest
*/
func (a *ProjectStatusUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ProjectStatusUpdatePostRequest {
	return &ApiOpenApiV30ProjectStatusUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectStatusUpdateV30Response
func (a *ProjectStatusUpdateV30ApiService) postExecute(r *ApiOpenApiV30ProjectStatusUpdatePostRequest) (*ProjectStatusUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ProjectStatusUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/project/status/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.projectStatusUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
