/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// PromotionBudgetUpdateV30ApiService PromotionBudgetUpdateV30Api service
type PromotionBudgetUpdateV30ApiService service

type ApiOpenApiV30PromotionBudgetUpdatePostRequest struct {
	ctx                             context.Context
	ApiService                      *PromotionBudgetUpdateV30ApiService
	promotionBudgetUpdateV30Request *PromotionBudgetUpdateV30Request
}

func (r *ApiOpenApiV30PromotionBudgetUpdatePostRequest) PromotionBudgetUpdateV30Request(promotionBudgetUpdateV30Request PromotionBudgetUpdateV30Request) *ApiOpenApiV30PromotionBudgetUpdatePostRequest {
	r.promotionBudgetUpdateV30Request = &promotionBudgetUpdateV30Request
	return r
}

func (r *ApiOpenApiV30PromotionBudgetUpdatePostRequest) Execute() (*PromotionBudgetUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30PromotionBudgetUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30PromotionBudgetUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30PromotionBudgetUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30PromotionBudgetUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30PromotionBudgetUpdatePost Method for OpenApiV30PromotionBudgetUpdatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30PromotionBudgetUpdatePostRequest
*/
func (a *PromotionBudgetUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30PromotionBudgetUpdatePostRequest {
	return &ApiOpenApiV30PromotionBudgetUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PromotionBudgetUpdateV30Response
func (a *PromotionBudgetUpdateV30ApiService) postExecute(r *ApiOpenApiV30PromotionBudgetUpdatePostRequest) (*PromotionBudgetUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *PromotionBudgetUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/promotion/budget/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.promotionBudgetUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
