/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanUniPromotionAdSuggestionV10ApiService QianchuanUniPromotionAdSuggestionV10Api service
type QianchuanUniPromotionAdSuggestionV10ApiService service

type ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanUniPromotionAdSuggestionV10ApiService
	advertiserId *int64
	adId         *int64
	filtering    *QianchuanUniPromotionAdSuggestionV10Filtering
	page         *int32
	pageSize     *int32
}

// 千川广告账户ID
func (r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 计划ID
func (r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) AdId(adId int64) *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest {
	r.adId = &adId
	return r
}

// 过滤条件
func (r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) Filtering(filtering QianchuanUniPromotionAdSuggestionV10Filtering) *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest {
	r.filtering = &filtering
	return r
}

// 页码，默认值：1
func (r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) Page(page int32) *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest {
	r.page = &page
	return r
}

// 页面大小，允许值：10, 20, 50, 100,默认值：10
func (r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) PageSize(pageSize int32) *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) Execute() (*QianchuanUniPromotionAdSuggestionV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanUniPromotionAdSuggestionGet Method for OpenApiV10QianchuanUniPromotionAdSuggestionGet

通过此接口获取广告全域计划纬度的审核意见

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest
*/
func (a *QianchuanUniPromotionAdSuggestionV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest {
	return &ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanUniPromotionAdSuggestionV10Response
func (a *QianchuanUniPromotionAdSuggestionV10ApiService) getExecute(r *ApiOpenApiV10QianchuanUniPromotionAdSuggestionGetRequest) (*QianchuanUniPromotionAdSuggestionV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanUniPromotionAdSuggestionV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/uni_promotion/ad/suggestion/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 1 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 1")
	}
	if r.adId == nil {
		return localVarReturnValue, nil, ReportError("adId is required and must be specified")
	}
	if *r.adId < 1 {
		return localVarReturnValue, nil, ReportError("adId must be greater than 1")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "ad_id", r.adId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
