/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpStarTaskTaskAuthorVedioGetV30ApiService ToolsEbpStarTaskTaskAuthorVedioGetV30Api service
type ToolsEbpStarTaskTaskAuthorVedioGetV30ApiService service

type ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest struct {
	ctx                      context.Context
	ApiService               *ToolsEbpStarTaskTaskAuthorVedioGetV30ApiService
	enterpriseOrganizationId *int64
	starTaskId               *int64
	accountId                *int64
	accountType              *ToolsEbpStarTaskTaskAuthorVedioGetV30AccountType
	awemeId                  *string
	starTaskVideoRange       *ToolsEbpStarTaskTaskAuthorVedioGetV30StarTaskVideoRange
	filtering                *ToolsEbpStarTaskTaskAuthorVedioGetV30Filtering
	cursor                   *int64
	count                    *int64
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) EnterpriseOrganizationId(enterpriseOrganizationId int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.enterpriseOrganizationId = &enterpriseOrganizationId
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) StarTaskId(starTaskId int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.starTaskId = &starTaskId
	return r
}

// 客户id
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) AccountType(accountType ToolsEbpStarTaskTaskAuthorVedioGetV30AccountType) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.accountType = &accountType
	return r
}

// 抖音号id
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) AwemeId(awemeId string) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.awemeId = &awemeId
	return r
}

// 返回的视频范围
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) StarTaskVideoRange(starTaskVideoRange ToolsEbpStarTaskTaskAuthorVedioGetV30StarTaskVideoRange) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.starTaskVideoRange = &starTaskVideoRange
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) Filtering(filtering ToolsEbpStarTaskTaskAuthorVedioGetV30Filtering) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码游标值
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) Cursor(cursor int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.cursor = &cursor
	return r
}

// 页码游标值
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) Count(count int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.count = &count
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) Execute() (*ToolsEbpStarTaskTaskAuthorVedioGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGet Method for OpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGet

获取EBP星广联投任务下达人视频信息仅支持通用版星广联投任务，不兼容短剧版

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest
*/
func (a *ToolsEbpStarTaskTaskAuthorVedioGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest {
	return &ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpStarTaskTaskAuthorVedioGetV30Response
func (a *ToolsEbpStarTaskTaskAuthorVedioGetV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorVedioGetGetRequest) (*ToolsEbpStarTaskTaskAuthorVedioGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpStarTaskTaskAuthorVedioGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/star_task/task_author_vedio/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseOrganizationId == nil {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationId is required and must be specified")
	}
	if r.starTaskId == nil {
		return localVarReturnValue, nil, ReportError("starTaskId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_organization_id", r.enterpriseOrganizationId)
	if r.awemeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "star_task_id", r.starTaskId)
	if r.starTaskVideoRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "star_task_video_range", r.starTaskVideoRange)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
