/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueCouponCodeConsumeV2ApiService ClueCouponCodeConsumeV2Api service
type ClueCouponCodeConsumeV2ApiService service

type ApiOpenApi2ClueCouponCodeConsumePostRequest struct {
	ctx                            context.Context
	ApiService                     *ClueCouponCodeConsumeV2ApiService
	clueCouponCodeConsumeV2Request *ClueCouponCodeConsumeV2Request
}

func (r *ApiOpenApi2ClueCouponCodeConsumePostRequest) ClueCouponCodeConsumeV2Request(clueCouponCodeConsumeV2Request ClueCouponCodeConsumeV2Request) *ApiOpenApi2ClueCouponCodeConsumePostRequest {
	r.clueCouponCodeConsumeV2Request = &clueCouponCodeConsumeV2Request
	return r
}

func (r *ApiOpenApi2ClueCouponCodeConsumePostRequest) Execute() (*ClueCouponCodeConsumeV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ClueCouponCodeConsumePostRequest) AccessToken(accessToken string) *ApiOpenApi2ClueCouponCodeConsumePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueCouponCodeConsumePostRequest) WithLog(enable bool) *ApiOpenApi2ClueCouponCodeConsumePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueCouponCodeConsumePost Method for OpenApi2ClueCouponCodeConsumePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueCouponCodeConsumePostRequest
*/
func (a *ClueCouponCodeConsumeV2ApiService) Post(ctx context.Context) *ApiOpenApi2ClueCouponCodeConsumePostRequest {
	return &ApiOpenApi2ClueCouponCodeConsumePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueCouponCodeConsumeV2Response
func (a *ClueCouponCodeConsumeV2ApiService) postExecute(r *ApiOpenApi2ClueCouponCodeConsumePostRequest) (*ClueCouponCodeConsumeV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueCouponCodeConsumeV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/coupon/code/consume/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.clueCouponCodeConsumeV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
