/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarInfoV2ApiService StarInfoV2Api service
type StarInfoV2ApiService service

type ApiOpenApi2StarInfoGetRequest struct {
	ctx        context.Context
	ApiService *StarInfoV2ApiService
	starIds    *[]int64
}

func (r *ApiOpenApi2StarInfoGetRequest) StarIds(starIds []int64) *ApiOpenApi2StarInfoGetRequest {
	r.starIds = &starIds
	return r
}

func (r *ApiOpenApi2StarInfoGetRequest) Execute() (*StarInfoV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarInfoGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarInfoGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarInfoGetRequest) WithLog(enable bool) *ApiOpenApi2StarInfoGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarInfoGet Method for OpenApi2StarInfoGet

代理商获取星图客户全量信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarInfoGetRequest
*/
func (a *StarInfoV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarInfoGetRequest {
	return &ApiOpenApi2StarInfoGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarInfoV2Response
func (a *StarInfoV2ApiService) getExecute(r *ApiOpenApi2StarInfoGetRequest) (*StarInfoV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarInfoV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/info/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starIds == nil {
		return localVarReturnValue, nil, ReportError("starIds is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_ids", r.starIds)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
