/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalOcMaterialGetV30ApiService LocalOcMaterialGetV30Api service
type LocalOcMaterialGetV30ApiService service

type ApiOpenApiV30LocalOcMaterialGetGetRequest struct {
	ctx            context.Context
	ApiService     *LocalOcMaterialGetV30ApiService
	localAccountId *int64
	projectId      *int64
	filter         *models.LocalOcMaterialGetV30Filter
	pageSize       *int64
	page           *int64
}

func (r *ApiOpenApiV30LocalOcMaterialGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalOcMaterialGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

func (r *ApiOpenApiV30LocalOcMaterialGetGetRequest) ProjectId(projectId int64) *ApiOpenApiV30LocalOcMaterialGetGetRequest {
	r.projectId = &projectId
	return r
}

func (r *ApiOpenApiV30LocalOcMaterialGetGetRequest) Filter(filter models.LocalOcMaterialGetV30Filter) *ApiOpenApiV30LocalOcMaterialGetGetRequest {
	r.filter = &filter
	return r
}

// 页面大小，允许值10,20,50,100，默认10
func (r *ApiOpenApiV30LocalOcMaterialGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalOcMaterialGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 页码，默认1
func (r *ApiOpenApiV30LocalOcMaterialGetGetRequest) Page(page int64) *ApiOpenApiV30LocalOcMaterialGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30LocalOcMaterialGetGetRequest) Execute() (*models.LocalOcMaterialGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalOcMaterialGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalOcMaterialGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalOcMaterialGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalOcMaterialGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalOcMaterialGetGet Method for OpenApiV30LocalOcMaterialGetGet

根据OC项目下的素材，支持分页

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalOcMaterialGetGetRequest
*/
func (a *LocalOcMaterialGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalOcMaterialGetGetRequest {
	return &ApiOpenApiV30LocalOcMaterialGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalOcMaterialGetV30Response
func (a *LocalOcMaterialGetV30ApiService) getExecute(r *ApiOpenApiV30LocalOcMaterialGetGetRequest) (*models.LocalOcMaterialGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.LocalOcMaterialGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/oc_material/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.projectId == nil {
		return localVarReturnValue, nil, ReportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId)
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
