/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FileVideoUpdateV2ApiService FileVideoUpdateV2Api service
type FileVideoUpdateV2ApiService service

type ApiOpenApi2FileVideoUpdatePostRequest struct {
	ctx                      context.Context
	ApiService               *FileVideoUpdateV2ApiService
	fileVideoUpdateV2Request *FileVideoUpdateV2Request
}

func (r *ApiOpenApi2FileVideoUpdatePostRequest) FileVideoUpdateV2Request(fileVideoUpdateV2Request FileVideoUpdateV2Request) *ApiOpenApi2FileVideoUpdatePostRequest {
	r.fileVideoUpdateV2Request = &fileVideoUpdateV2Request
	return r
}

func (r *ApiOpenApi2FileVideoUpdatePostRequest) Execute() (*FileVideoUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2FileVideoUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2FileVideoUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2FileVideoUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2FileVideoUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2FileVideoUpdatePost Method for OpenApi2FileVideoUpdatePost

通过此接口，用户可以批量更新素材视频的名称。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2FileVideoUpdatePostRequest
*/
func (a *FileVideoUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2FileVideoUpdatePostRequest {
	return &ApiOpenApi2FileVideoUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileVideoUpdateV2Response
func (a *FileVideoUpdateV2ApiService) postExecute(r *ApiOpenApi2FileVideoUpdatePostRequest) (*FileVideoUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FileVideoUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/file/video/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.fileVideoUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
