/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsPlayableCreateV2ApiService ToolsPlayableCreateV2Api service
type ToolsPlayableCreateV2ApiService service

type ApiOpenApi2ToolsPlayableCreatePostRequest struct {
	ctx                          context.Context
	ApiService                   *ToolsPlayableCreateV2ApiService
	toolsPlayableCreateV2Request *ToolsPlayableCreateV2Request
}

func (r *ApiOpenApi2ToolsPlayableCreatePostRequest) ToolsPlayableCreateV2Request(toolsPlayableCreateV2Request ToolsPlayableCreateV2Request) *ApiOpenApi2ToolsPlayableCreatePostRequest {
	r.toolsPlayableCreateV2Request = &toolsPlayableCreateV2Request
	return r
}

func (r *ApiOpenApi2ToolsPlayableCreatePostRequest) Execute() (*ToolsPlayableCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsPlayableCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsPlayableCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsPlayableCreatePostRequest) WithLog(enable bool) *ApiOpenApi2ToolsPlayableCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsPlayableCreatePost Method for OpenApi2ToolsPlayableCreatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsPlayableCreatePostRequest
*/
func (a *ToolsPlayableCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsPlayableCreatePostRequest {
	return &ApiOpenApi2ToolsPlayableCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsPlayableCreateV2Response
func (a *ToolsPlayableCreateV2ApiService) postExecute(r *ApiOpenApi2ToolsPlayableCreatePostRequest) (*ToolsPlayableCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsPlayableCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/playable/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsPlayableCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
