/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalImCardGetV30ApiService LocalImCardGetV30Api service
type LocalImCardGetV30ApiService service

type ApiOpenApiV30LocalImCardGetGetRequest struct {
	ctx            context.Context
	ApiService     *LocalImCardGetV30ApiService
	localAccountId *int64
	lifeAccountId  *int64
	sourceName     *models.LocalImCardGetV30SourceName
	page           *int64
	pageSize       *int64
	cardType       *int64
	status         *int64
	cardIdList     *[]int64
}

func (r *ApiOpenApiV30LocalImCardGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 账户id
func (r *ApiOpenApiV30LocalImCardGetGetRequest) LifeAccountId(lifeAccountId int64) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.lifeAccountId = &lifeAccountId
	return r
}

// 请求来源
func (r *ApiOpenApiV30LocalImCardGetGetRequest) SourceName(sourceName models.LocalImCardGetV30SourceName) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.sourceName = &sourceName
	return r
}

// 页码
func (r *ApiOpenApiV30LocalImCardGetGetRequest) Page(page int64) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.page = &page
	return r
}

// 每页数量
func (r *ApiOpenApiV30LocalImCardGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 卡片类型 6-新版留资卡
func (r *ApiOpenApiV30LocalImCardGetGetRequest) CardType(cardType int64) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.cardType = &cardType
	return r
}

// 卡片状态，不传代表查所有状态 0：审核中 1：生效 2：审核失败
func (r *ApiOpenApiV30LocalImCardGetGetRequest) Status(status int64) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.status = &status
	return r
}

// 卡片id
func (r *ApiOpenApiV30LocalImCardGetGetRequest) CardIdList(cardIdList []int64) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.cardIdList = &cardIdList
	return r
}

func (r *ApiOpenApiV30LocalImCardGetGetRequest) Execute() (*models.LocalImCardGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalImCardGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalImCardGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalImCardGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalImCardGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalImCardGetGet Method for OpenApiV30LocalImCardGetGet

查询线索私信消息卡片

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalImCardGetGetRequest
*/
func (a *LocalImCardGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalImCardGetGetRequest {
	return &ApiOpenApiV30LocalImCardGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalImCardGetV30Response
func (a *LocalImCardGetV30ApiService) getExecute(r *ApiOpenApiV30LocalImCardGetGetRequest) (*models.LocalImCardGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.LocalImCardGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/im_card/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.lifeAccountId == nil {
		return localVarReturnValue, nil, ReportError("lifeAccountId is required and must be specified")
	}
	if r.sourceName == nil {
		return localVarReturnValue, nil, ReportError("sourceName is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if *r.page < 1 {
		return localVarReturnValue, nil, ReportError("page must be greater than 1")
	}
	if *r.page > 50 {
		return localVarReturnValue, nil, ReportError("page must be less than 50")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}
	if *r.pageSize < 1 {
		return localVarReturnValue, nil, ReportError("pageSize must be greater than 1")
	}
	if *r.pageSize > 50 {
		return localVarReturnValue, nil, ReportError("pageSize must be less than 50")
	}
	if r.cardType == nil {
		return localVarReturnValue, nil, ReportError("cardType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "life_account_id", r.lifeAccountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "source_name", r.sourceName)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	parameterAddToHeaderOrQuery(localVarQueryParams, "card_type", r.cardType)
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status)
	}
	if r.cardIdList != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "card_id_list", r.cardIdList)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
