/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ProjectNameUpdateV30ApiService ProjectNameUpdateV30Api service
type ProjectNameUpdateV30ApiService service

type ApiOpenApiV30ProjectNameUpdatePostRequest struct {
	ctx                         context.Context
	ApiService                  *ProjectNameUpdateV30ApiService
	projectNameUpdateV30Request *ProjectNameUpdateV30Request
}

func (r *ApiOpenApiV30ProjectNameUpdatePostRequest) ProjectNameUpdateV30Request(projectNameUpdateV30Request ProjectNameUpdateV30Request) *ApiOpenApiV30ProjectNameUpdatePostRequest {
	r.projectNameUpdateV30Request = &projectNameUpdateV30Request
	return r
}

func (r *ApiOpenApiV30ProjectNameUpdatePostRequest) Execute() (*ProjectNameUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ProjectNameUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ProjectNameUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ProjectNameUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30ProjectNameUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ProjectNameUpdatePost Method for OpenApiV30ProjectNameUpdatePost

更新project的名称

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ProjectNameUpdatePostRequest
*/
func (a *ProjectNameUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ProjectNameUpdatePostRequest {
	return &ApiOpenApiV30ProjectNameUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectNameUpdateV30Response
func (a *ProjectNameUpdateV30ApiService) postExecute(r *ApiOpenApiV30ProjectNameUpdatePostRequest) (*ProjectNameUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ProjectNameUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/project_name/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.projectNameUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
