/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ReportJointGrowthCusGetV30ApiService ReportJointGrowthCusGetV30Api service
type ReportJointGrowthCusGetV30ApiService service

type ApiOpenApiV30ReportJointGrowthCusGetGetRequest struct {
	ctx          context.Context
	ApiService   *ReportJointGrowthCusGetV30ApiService
	advertiserId *int64
	rtaId        *int64
	startTime    *string
	endTime      *string
	page         *int64
	pageSize     *int64
}

// 广告主ID （用增账号ID）
func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// RTA策略ID
func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) RtaId(rtaId int64) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	r.rtaId = &rtaId
	return r
}

// 开始时间，格式为：yyyy-MM-dd hh:mm:ss
func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) StartTime(startTime string) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	r.startTime = &startTime
	return r
}

// 结束时间，格式为：yyyy-MM-dd hh:mm:ss
func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) EndTime(endTime string) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	r.endTime = &endTime
	return r
}

// 页码，默认值1
func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) Page(page int64) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，默认值20
func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) Execute() (*ReportJointGrowthCusGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ReportJointGrowthCusGetGet Method for OpenApiV30ReportJointGrowthCusGetGet

联合出价广告加价商家消耗数据（有主体范围协议）

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ReportJointGrowthCusGetGetRequest
*/
func (a *ReportJointGrowthCusGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ReportJointGrowthCusGetGetRequest {
	return &ApiOpenApiV30ReportJointGrowthCusGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportJointGrowthCusGetV30Response
func (a *ReportJointGrowthCusGetV30ApiService) getExecute(r *ApiOpenApiV30ReportJointGrowthCusGetGetRequest) (*ReportJointGrowthCusGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ReportJointGrowthCusGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/report/joint_growth_cus/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.rtaId == nil {
		return localVarReturnValue, nil, ReportError("rtaId is required and must be specified")
	}
	if r.startTime == nil {
		return localVarReturnValue, nil, ReportError("startTime is required and must be specified")
	}
	if r.endTime == nil {
		return localVarReturnValue, nil, ReportError("endTime is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "rta_id", r.rtaId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
