/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdRejectReasonV2ApiService AdRejectReasonV2Api service
type AdRejectReasonV2ApiService service

type ApiOpenApi2AdRejectReasonGetRequest struct {
	ctx          context.Context
	ApiService   *AdRejectReasonV2ApiService
	adIds        *[]int64
	advertiserId *int64
}

func (r *ApiOpenApi2AdRejectReasonGetRequest) AdIds(adIds []int64) *ApiOpenApi2AdRejectReasonGetRequest {
	r.adIds = &adIds
	return r
}

func (r *ApiOpenApi2AdRejectReasonGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2AdRejectReasonGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2AdRejectReasonGetRequest) Execute() (*AdRejectReasonV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2AdRejectReasonGetRequest) AccessToken(accessToken string) *ApiOpenApi2AdRejectReasonGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdRejectReasonGetRequest) WithLog(enable bool) *ApiOpenApi2AdRejectReasonGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdRejectReasonGet Method for OpenApi2AdRejectReasonGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdRejectReasonGetRequest
*/
func (a *AdRejectReasonV2ApiService) Get(ctx context.Context) *ApiOpenApi2AdRejectReasonGetRequest {
	return &ApiOpenApi2AdRejectReasonGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdRejectReasonV2Response
func (a *AdRejectReasonV2ApiService) getExecute(r *ApiOpenApi2AdRejectReasonGetRequest) (*AdRejectReasonV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdRejectReasonV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/ad/reject_reason/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.adIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ad_ids", r.adIds)
	}
	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
