/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandMaOrderListV30ApiService BrandMaOrderListV30Api service
type BrandMaOrderListV30ApiService service

type ApiOpenApiV30BrandMaOrderListGetRequest struct {
	ctx            context.Context
	ApiService     *BrandMaOrderListV30ApiService
	advertiserIds  *[]int64
	orderIds       *[]int64
	adForm         *[]int64
	proType        *int64
	auditStatus    *[]int64
	startTime      *string
	endTime        *string
	page           *BrandMaOrderListV30Page
	appOrigin      *int64
	gdSendType     *int64
	advancedOption *int64
}

// 目标广告主ID
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) AdvertiserIds(advertiserIds []int64) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.advertiserIds = &advertiserIds
	return r
}

// 预定单ID
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) OrderIds(orderIds []int64) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.orderIds = &orderIds
	return r
}

// 投放产品
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) AdForm(adForm []int64) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.adForm = &adForm
	return r
}

// 产品类型
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) ProType(proType int64) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.proType = &proType
	return r
}

// 审核状态
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) AuditStatus(auditStatus []int64) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.auditStatus = &auditStatus
	return r
}

// 投放开始时间（配合结束时间使用）
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) StartTime(startTime string) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.startTime = &startTime
	return r
}

// 投放结束时间（配合开始时间使用）
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) EndTime(endTime string) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.endTime = &endTime
	return r
}

// 分页参数
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) Page(page BrandMaOrderListV30Page) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.page = &page
	return r
}

// 投放位置
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) AppOrigin(appOrigin int64) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.appOrigin = &appOrigin
	return r
}

// 优化目标
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) GdSendType(gdSendType int64) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.gdSendType = &gdSendType
	return r
}

// 进阶选项
func (r *ApiOpenApiV30BrandMaOrderListGetRequest) AdvancedOption(advancedOption int64) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.advancedOption = &advancedOption
	return r
}

func (r *ApiOpenApiV30BrandMaOrderListGetRequest) Execute() (*BrandMaOrderListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30BrandMaOrderListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandMaOrderListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandMaOrderListGetRequest) WithLog(enable bool) *ApiOpenApiV30BrandMaOrderListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandMaOrderListGet Method for OpenApiV30BrandMaOrderListGet

查询账户下的预定单

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandMaOrderListGetRequest
*/
func (a *BrandMaOrderListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30BrandMaOrderListGetRequest {
	return &ApiOpenApiV30BrandMaOrderListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandMaOrderListV30Response
func (a *BrandMaOrderListV30ApiService) getExecute(r *ApiOpenApiV30BrandMaOrderListGetRequest) (*BrandMaOrderListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandMaOrderListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/ma/order/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserIds == nil {
		return localVarReturnValue, nil, ReportError("advertiserIds is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_ids", r.advertiserIds)
	if r.orderIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_ids", r.orderIds)
	}
	if r.adForm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ad_form", r.adForm)
	}
	if r.proType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pro_type", r.proType)
	}
	if r.auditStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audit_status", r.auditStatus)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.appOrigin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app_origin", r.appOrigin)
	}
	if r.gdSendType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gd_send_type", r.gdSendType)
	}
	if r.advancedOption != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advanced_option", r.advancedOption)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
