/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ProjectDeliveryUpdateV10ApiService ProjectDeliveryUpdateV10Api service
type ProjectDeliveryUpdateV10ApiService service

type ApiOpenApiV10ProjectDeliveryUpdatePostRequest struct {
	ctx                             context.Context
	ApiService                      *ProjectDeliveryUpdateV10ApiService
	projectDeliveryUpdateV10Request *ProjectDeliveryUpdateV10Request
}

func (r *ApiOpenApiV10ProjectDeliveryUpdatePostRequest) ProjectDeliveryUpdateV10Request(projectDeliveryUpdateV10Request ProjectDeliveryUpdateV10Request) *ApiOpenApiV10ProjectDeliveryUpdatePostRequest {
	r.projectDeliveryUpdateV10Request = &projectDeliveryUpdateV10Request
	return r
}

func (r *ApiOpenApiV10ProjectDeliveryUpdatePostRequest) Execute() (*ProjectDeliveryUpdateV10Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV10ProjectDeliveryUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV10ProjectDeliveryUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10ProjectDeliveryUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV10ProjectDeliveryUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10ProjectDeliveryUpdatePost Method for OpenApiV10ProjectDeliveryUpdatePost

DiagnoseDeliveryIssue：传入 advertiser_id 和 cdp_project_id。通过 CDP 查询有效广告关联；无广告时准备 ProjectCreateAds(NO_AD)，有广告时比较最近两个完整小时精排阶段 7/9 通过率，下降则 PvrCorrection 每次 +0.02、最高 1.10，否则返回需要用户补充新素材。dry_run 省略或 true 时仅查询与预览，显式 false 才允许执行现有创编或纠偏。响应只包含 success、res_msg、extra；操作详情和是否需要用户操作都在 extra，project_create_ads、pvr_correction、material_refresh 的值是 JSON 字符串。CDP 有效关联未校验开关状态，extra.ad_switch_state_checked=false。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10ProjectDeliveryUpdatePostRequest
*/
func (a *ProjectDeliveryUpdateV10ApiService) Post(ctx context.Context) *ApiOpenApiV10ProjectDeliveryUpdatePostRequest {
	return &ApiOpenApiV10ProjectDeliveryUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectDeliveryUpdateV10Response
func (a *ProjectDeliveryUpdateV10ApiService) postExecute(r *ApiOpenApiV10ProjectDeliveryUpdatePostRequest) (*ProjectDeliveryUpdateV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ProjectDeliveryUpdateV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/project_delivery/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.projectDeliveryUpdateV10Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
