/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalCxtCreateV30ApiService LocalCxtCreateV30Api service
type LocalCxtCreateV30ApiService service

type ApiOpenApiV30LocalCxtCreatePostRequest struct {
	ctx                      context.Context
	ApiService               *LocalCxtCreateV30ApiService
	localCxtCreateV30Request *LocalCxtCreateV30Request
}

func (r *ApiOpenApiV30LocalCxtCreatePostRequest) LocalCxtCreateV30Request(localCxtCreateV30Request LocalCxtCreateV30Request) *ApiOpenApiV30LocalCxtCreatePostRequest {
	r.localCxtCreateV30Request = &localCxtCreateV30Request
	return r
}

func (r *ApiOpenApiV30LocalCxtCreatePostRequest) Execute() (*LocalCxtCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalCxtCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalCxtCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalCxtCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30LocalCxtCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalCxtCreatePost Method for OpenApiV30LocalCxtCreatePost

创建持续投计划接口

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalCxtCreatePostRequest
*/
func (a *LocalCxtCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalCxtCreatePostRequest {
	return &ApiOpenApiV30LocalCxtCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalCxtCreateV30Response
func (a *LocalCxtCreateV30ApiService) postExecute(r *ApiOpenApiV30LocalCxtCreatePostRequest) (*LocalCxtCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalCxtCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/cxt/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localCxtCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
