/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsAppManagementHarmonyAppListV2ApiService ToolsAppManagementHarmonyAppListV2Api service
type ToolsAppManagementHarmonyAppListV2ApiService service

type ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest struct {
	ctx         context.Context
	ApiService  *ToolsAppManagementHarmonyAppListV2ApiService
	accountId   *int64
	accountType *ToolsAppManagementHarmonyAppListV2AccountType
	page        *int64
	pageSize    *int64
	filtering   *ToolsAppManagementHarmonyAppListV2Filtering
}

func (r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) AccountId(accountId int64) *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) AccountType(accountType ToolsAppManagementHarmonyAppListV2AccountType) *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) Page(page int64) *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) PageSize(pageSize int64) *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest {
	r.pageSize = &pageSize
	return r
}

// 过滤器
func (r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) Filtering(filtering ToolsAppManagementHarmonyAppListV2Filtering) *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) Execute() (*ToolsAppManagementHarmonyAppListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) WithLog(enable bool) *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsAppManagementHarmonyAppListGet Method for OpenApi2ToolsAppManagementHarmonyAppListGet

查询鸿蒙应用列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest
*/
func (a *ToolsAppManagementHarmonyAppListV2ApiService) Get(ctx context.Context) *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest {
	return &ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsAppManagementHarmonyAppListV2Response
func (a *ToolsAppManagementHarmonyAppListV2ApiService) getExecute(r *ApiOpenApi2ToolsAppManagementHarmonyAppListGetRequest) (*ToolsAppManagementHarmonyAppListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsAppManagementHarmonyAppListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/app_management/harmony_app_list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
