/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalChargeSubmitV30ApiService LocalChargeSubmitV30Api service
type LocalChargeSubmitV30ApiService service

type ApiOpenApiV30LocalChargeSubmitPostRequest struct {
	ctx                         context.Context
	ApiService                  *LocalChargeSubmitV30ApiService
	localChargeSubmitV30Request *LocalChargeSubmitV30Request
}

func (r *ApiOpenApiV30LocalChargeSubmitPostRequest) LocalChargeSubmitV30Request(localChargeSubmitV30Request LocalChargeSubmitV30Request) *ApiOpenApiV30LocalChargeSubmitPostRequest {
	r.localChargeSubmitV30Request = &localChargeSubmitV30Request
	return r
}

func (r *ApiOpenApiV30LocalChargeSubmitPostRequest) Execute() (*LocalChargeSubmitV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalChargeSubmitPostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalChargeSubmitPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalChargeSubmitPostRequest) WithLog(enable bool) *ApiOpenApiV30LocalChargeSubmitPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalChargeSubmitPost Method for OpenApiV30LocalChargeSubmitPost

创建一笔充值单，生成支付链接，进行支付

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalChargeSubmitPostRequest
*/
func (a *LocalChargeSubmitV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalChargeSubmitPostRequest {
	return &ApiOpenApiV30LocalChargeSubmitPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalChargeSubmitV30Response
func (a *LocalChargeSubmitV30ApiService) postExecute(r *ApiOpenApiV30LocalChargeSubmitPostRequest) (*LocalChargeSubmitV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalChargeSubmitV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/charge/submit/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localChargeSubmitV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
