/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpAppListV30ApiService ToolsEbpAppListV30Api service
type ToolsEbpAppListV30ApiService service

type ApiOpenApiV30ToolsEbpAppListGetRequest struct {
	ctx                  context.Context
	ApiService           *ToolsEbpAppListV30ApiService
	accountId            *int64
	accountType          *ToolsEbpAppListV30AccountType
	page                 *int32
	pageSize             *int32
	assetManagementScope *ToolsEbpAppListV30AssetManagementScope
	filtering            *ToolsEbpAppListV30Filtering
}

func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	r.accountId = &accountId
	return r
}

// 操作账号类型
func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) AccountType(accountType ToolsEbpAppListV30AccountType) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) Page(page int32) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) PageSize(pageSize int32) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) AssetManagementScope(assetManagementScope ToolsEbpAppListV30AssetManagementScope) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	r.assetManagementScope = &assetManagementScope
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) Filtering(filtering ToolsEbpAppListV30Filtering) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) Execute() (*ToolsEbpAppListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpAppListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpAppListGet Method for OpenApiV30ToolsEbpAppListGet

获取安卓应用列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpAppListGetRequest
*/
func (a *ToolsEbpAppListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpAppListGetRequest {
	return &ApiOpenApiV30ToolsEbpAppListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpAppListV30Response
func (a *ToolsEbpAppListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpAppListGetRequest) (*ToolsEbpAppListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpAppListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/app/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if *r.page < 1 {
		return localVarReturnValue, nil, ReportError("page must be greater than 1")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}
	if *r.pageSize < 1 {
		return localVarReturnValue, nil, ReportError("pageSize must be greater than 1")
	}
	if *r.pageSize > 200 {
		return localVarReturnValue, nil, ReportError("pageSize must be less than 200")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.assetManagementScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_management_scope", r.assetManagementScope)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
