/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanUniPromotionProductGetV10ApiService QianchuanUniPromotionProductGetV10Api service
type QianchuanUniPromotionProductGetV10ApiService service

type ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanUniPromotionProductGetV10ApiService
	advertiserId *int64
	filtering    *QianchuanUniPromotionProductGetV10Filtering
	awemeId      *int64
	orderField   *QianchuanUniPromotionProductGetV10OrderField
	orderType    *QianchuanUniPromotionProductGetV10OrderType
	page         *int32
	pageSize     *int32
	cursor       *int64
	platfrom     *QianchuanUniPromotionProductGetV10Platfrom
}

func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 过滤器
func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) Filtering(filtering QianchuanUniPromotionProductGetV10Filtering) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.filtering = &filtering
	return r
}

// 抖音号id
func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.awemeId = &awemeId
	return r
}

// 排序字段
func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) OrderField(orderField QianchuanUniPromotionProductGetV10OrderField) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.orderField = &orderField
	return r
}

// 排序方式
func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) OrderType(orderType QianchuanUniPromotionProductGetV10OrderType) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.orderType = &orderType
	return r
}

// 页码
func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 页码游标值
func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) Cursor(cursor int64) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.cursor = &cursor
	return r
}

// 平台
func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) Platfrom(platfrom QianchuanUniPromotionProductGetV10Platfrom) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.platfrom = &platfrom
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) Execute() (*QianchuanUniPromotionProductGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanUniPromotionProductGetGet Method for OpenApiV10QianchuanUniPromotionProductGetGet

全域商家可选商品列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest
*/
func (a *QianchuanUniPromotionProductGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest {
	return &ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanUniPromotionProductGetV10Response
func (a *QianchuanUniPromotionProductGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanUniPromotionProductGetGetRequest) (*QianchuanUniPromotionProductGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanUniPromotionProductGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/uni_promotion/product/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId < 0 {
		return localVarReturnValue, nil, ReportError("advertiserId must be greater than 0")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.awemeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	if r.platfrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platfrom", r.platfrom)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
