/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// UniProjectUpdateV30ApiService UniProjectUpdateV30Api service
type UniProjectUpdateV30ApiService service

type ApiOpenApiV30UniProjectUpdatePostRequest struct {
	ctx                        context.Context
	ApiService                 *UniProjectUpdateV30ApiService
	uniProjectUpdateV30Request *models.UniProjectUpdateV30Request
}

func (r *ApiOpenApiV30UniProjectUpdatePostRequest) UniProjectUpdateV30Request(uniProjectUpdateV30Request models.UniProjectUpdateV30Request) *ApiOpenApiV30UniProjectUpdatePostRequest {
	r.uniProjectUpdateV30Request = &uniProjectUpdateV30Request
	return r
}

func (r *ApiOpenApiV30UniProjectUpdatePostRequest) Execute() (*models.UniProjectUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30UniProjectUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30UniProjectUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30UniProjectUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30UniProjectUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30UniProjectUpdatePost Method for OpenApiV30UniProjectUpdatePost

编辑全域投放项目

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30UniProjectUpdatePostRequest
*/
func (a *UniProjectUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30UniProjectUpdatePostRequest {
	return &ApiOpenApiV30UniProjectUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UniProjectUpdateV30Response
func (a *UniProjectUpdateV30ApiService) postExecute(r *ApiOpenApiV30UniProjectUpdatePostRequest) (*models.UniProjectUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.UniProjectUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/uni_project/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.uniProjectUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
