/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpMicroGameLinkListV30ApiService ToolsEbpMicroGameLinkListV30Api service
type ToolsEbpMicroGameLinkListV30ApiService service

type ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest struct {
	ctx         context.Context
	ApiService  *ToolsEbpMicroGameLinkListV30ApiService
	accountId   *int64
	accountType *ToolsEbpMicroGameLinkListV30AccountType
	instanceId  *int64
	appId       *string
	createTime  *ToolsEbpMicroGameLinkListV30CreateTime
	page        *int64
	pageSize    *int64
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) AccountType(accountType ToolsEbpMicroGameLinkListV30AccountType) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) InstanceId(instanceId int64) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	r.instanceId = &instanceId
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) AppId(appId string) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	r.appId = &appId
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) CreateTime(createTime ToolsEbpMicroGameLinkListV30CreateTime) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	r.createTime = &createTime
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) Execute() (*ToolsEbpMicroGameLinkListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpMicroGameLinkListGet Method for OpenApiV30ToolsEbpMicroGameLinkListGet

获取字节小游戏link详情

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest
*/
func (a *ToolsEbpMicroGameLinkListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest {
	return &ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpMicroGameLinkListV30Response
func (a *ToolsEbpMicroGameLinkListV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpMicroGameLinkListGetRequest) (*ToolsEbpMicroGameLinkListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpMicroGameLinkListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/micro_game/link/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.instanceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "instance_id", r.instanceId)
	}
	if r.appId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app_id", r.appId)
	}
	if r.createTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "create_time", r.createTime)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
