/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanUniPromotionAdProductGetV10ApiService QianchuanUniPromotionAdProductGetV10Api service
type QianchuanUniPromotionAdProductGetV10ApiService service

type ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanUniPromotionAdProductGetV10ApiService
	advertiserId *int64
	adId         *int64
	startDate    *string
	endDate      *string
	fields       *[]string
	filtering    *QianchuanUniPromotionAdProductGetV10Filtering
	orderType    *QianchuanUniPromotionAdProductGetV10OrderType
	orderField   *string
	page         *int64
	pageSize     *QianchuanUniPromotionAdProductGetV10PageSize
}

// 千川广告账户ID
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 计划id
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) AdId(adId int64) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.adId = &adId
	return r
}

// 数据开始日期，格式：YYYY-MM-DD，默认当天 注意：只会返回查询日期内有消耗的素材
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) StartDate(startDate string) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.startDate = &startDate
	return r
}

// 数据结束日期，格式：YYYY-MM-DD，默认当天 注意：只会返回查询日期内有消耗的素材
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) EndDate(endDate string) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.endDate = &endDate
	return r
}

// 需要查询的消耗指标，见返回参数
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) Fields(fields []string) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.fields = &fields
	return r
}

// 过滤条件
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) Filtering(filtering QianchuanUniPromotionAdProductGetV10Filtering) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.filtering = &filtering
	return r
}

// 排序方式，允许值： ASC 升序（默认）、DESC 降序
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) OrderType(orderType QianchuanUniPromotionAdProductGetV10OrderType) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段，默认「整体展示次数」倒序，同时支持根据消耗指标排序 注意：排序字段必须在fields中
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) OrderField(orderField string) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.orderField = &orderField
	return r
}

// 页码，默认值：1
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) Page(page int64) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，允许值：10, 20, 50, 100，默认值：10
func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) PageSize(pageSize QianchuanUniPromotionAdProductGetV10PageSize) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) Execute() (*QianchuanUniPromotionAdProductGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanUniPromotionAdProductGetGet Method for OpenApiV10QianchuanUniPromotionAdProductGetGet

获取全域计划下商品列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest
*/
func (a *QianchuanUniPromotionAdProductGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest {
	return &ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanUniPromotionAdProductGetV10Response
func (a *QianchuanUniPromotionAdProductGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanUniPromotionAdProductGetGetRequest) (*QianchuanUniPromotionAdProductGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanUniPromotionAdProductGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/uni_promotion/ad/product/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.adId == nil {
		return localVarReturnValue, nil, ReportError("adId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}
	if r.fields == nil {
		return localVarReturnValue, nil, ReportError("fields is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "ad_id", r.adId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
