/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandMaterialUpdateV30ApiService BrandMaterialUpdateV30Api service
type BrandMaterialUpdateV30ApiService service

type ApiOpenApiV30BrandMaterialUpdatePostRequest struct {
	ctx                           context.Context
	ApiService                    *BrandMaterialUpdateV30ApiService
	brandMaterialUpdateV30Request *BrandMaterialUpdateV30Request
}

func (r *ApiOpenApiV30BrandMaterialUpdatePostRequest) BrandMaterialUpdateV30Request(brandMaterialUpdateV30Request BrandMaterialUpdateV30Request) *ApiOpenApiV30BrandMaterialUpdatePostRequest {
	r.brandMaterialUpdateV30Request = &brandMaterialUpdateV30Request
	return r
}

func (r *ApiOpenApiV30BrandMaterialUpdatePostRequest) Execute() (*BrandMaterialUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandMaterialUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandMaterialUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandMaterialUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandMaterialUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandMaterialUpdatePost Method for OpenApiV30BrandMaterialUpdatePost

编辑创意，全量更新接口

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandMaterialUpdatePostRequest
*/
func (a *BrandMaterialUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandMaterialUpdatePostRequest {
	return &ApiOpenApiV30BrandMaterialUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandMaterialUpdateV30Response
func (a *BrandMaterialUpdateV30ApiService) postExecute(r *ApiOpenApiV30BrandMaterialUpdatePostRequest) (*BrandMaterialUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandMaterialUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/material/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandMaterialUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
