/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCampaignEditV30ApiService BrandCampaignEditV30Api service
type BrandCampaignEditV30ApiService service

type ApiOpenApiV30BrandCampaignEditPostRequest struct {
	ctx                         context.Context
	ApiService                  *BrandCampaignEditV30ApiService
	brandCampaignEditV30Request *BrandCampaignEditV30Request
}

func (r *ApiOpenApiV30BrandCampaignEditPostRequest) BrandCampaignEditV30Request(brandCampaignEditV30Request BrandCampaignEditV30Request) *ApiOpenApiV30BrandCampaignEditPostRequest {
	r.brandCampaignEditV30Request = &brandCampaignEditV30Request
	return r
}

func (r *ApiOpenApiV30BrandCampaignEditPostRequest) Execute() (*BrandCampaignEditV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandCampaignEditPostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCampaignEditPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCampaignEditPostRequest) WithLog(enable bool) *ApiOpenApiV30BrandCampaignEditPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCampaignEditPost Method for OpenApiV30BrandCampaignEditPost

AD品牌广告组编辑

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCampaignEditPostRequest
*/
func (a *BrandCampaignEditV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandCampaignEditPostRequest {
	return &ApiOpenApiV30BrandCampaignEditPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCampaignEditV30Response
func (a *BrandCampaignEditV30ApiService) postExecute(r *ApiOpenApiV30BrandCampaignEditPostRequest) (*BrandCampaignEditV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCampaignEditV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/campaign/edit/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandCampaignEditV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
