/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaEbpProductUpdateV30ApiService DpaEbpProductUpdateV30Api service
type DpaEbpProductUpdateV30ApiService service

type ApiOpenApiV30DpaEbpProductUpdatePostRequest struct {
	ctx                           context.Context
	ApiService                    *DpaEbpProductUpdateV30ApiService
	dpaEbpProductUpdateV30Request *DpaEbpProductUpdateV30Request
}

func (r *ApiOpenApiV30DpaEbpProductUpdatePostRequest) DpaEbpProductUpdateV30Request(dpaEbpProductUpdateV30Request DpaEbpProductUpdateV30Request) *ApiOpenApiV30DpaEbpProductUpdatePostRequest {
	r.dpaEbpProductUpdateV30Request = &dpaEbpProductUpdateV30Request
	return r
}

func (r *ApiOpenApiV30DpaEbpProductUpdatePostRequest) Execute() (*DpaEbpProductUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DpaEbpProductUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaEbpProductUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaEbpProductUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30DpaEbpProductUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaEbpProductUpdatePost Method for OpenApiV30DpaEbpProductUpdatePost

EBP编辑通用版商品库商品

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaEbpProductUpdatePostRequest
*/
func (a *DpaEbpProductUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DpaEbpProductUpdatePostRequest {
	return &ApiOpenApiV30DpaEbpProductUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaEbpProductUpdateV30Response
func (a *DpaEbpProductUpdateV30ApiService) postExecute(r *ApiOpenApiV30DpaEbpProductUpdatePostRequest) (*DpaEbpProductUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaEbpProductUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/ebp/product/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dpaEbpProductUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
