/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DiagnosisTaskAdvCreateV2ApiService DiagnosisTaskAdvCreateV2Api service
type DiagnosisTaskAdvCreateV2ApiService service

type ApiOpenApi2DiagnosisTaskAdvCreatePostRequest struct {
	ctx                             context.Context
	ApiService                      *DiagnosisTaskAdvCreateV2ApiService
	diagnosisTaskAdvCreateV2Request *DiagnosisTaskAdvCreateV2Request
}

func (r *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest) DiagnosisTaskAdvCreateV2Request(diagnosisTaskAdvCreateV2Request DiagnosisTaskAdvCreateV2Request) *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest {
	r.diagnosisTaskAdvCreateV2Request = &diagnosisTaskAdvCreateV2Request
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest) Execute() (*DiagnosisTaskAdvCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest) WithLog(enable bool) *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2DiagnosisTaskAdvCreatePost Method for OpenApi2DiagnosisTaskAdvCreatePost

通过此接口，用户可以通过传入视频id和投放设置(setting)创建对应的前测任务

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2DiagnosisTaskAdvCreatePostRequest
*/
func (a *DiagnosisTaskAdvCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest {
	return &ApiOpenApi2DiagnosisTaskAdvCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DiagnosisTaskAdvCreateV2Response
func (a *DiagnosisTaskAdvCreateV2ApiService) postExecute(r *ApiOpenApi2DiagnosisTaskAdvCreatePostRequest) (*DiagnosisTaskAdvCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DiagnosisTaskAdvCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/diagnosis_task/adv/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.diagnosisTaskAdvCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
