/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueFormUpdateV2ApiService ClueFormUpdateV2Api service
type ClueFormUpdateV2ApiService service

type ApiOpenApi2ClueFormUpdatePostRequest struct {
	ctx                     context.Context
	ApiService              *ClueFormUpdateV2ApiService
	clueFormUpdateV2Request *ClueFormUpdateV2Request
}

func (r *ApiOpenApi2ClueFormUpdatePostRequest) ClueFormUpdateV2Request(clueFormUpdateV2Request ClueFormUpdateV2Request) *ApiOpenApi2ClueFormUpdatePostRequest {
	r.clueFormUpdateV2Request = &clueFormUpdateV2Request
	return r
}

func (r *ApiOpenApi2ClueFormUpdatePostRequest) Execute() (*ClueFormUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ClueFormUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2ClueFormUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueFormUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2ClueFormUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueFormUpdatePost Method for OpenApi2ClueFormUpdatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueFormUpdatePostRequest
*/
func (a *ClueFormUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2ClueFormUpdatePostRequest {
	return &ApiOpenApi2ClueFormUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueFormUpdateV2Response
func (a *ClueFormUpdateV2ApiService) postExecute(r *ApiOpenApi2ClueFormUpdatePostRequest) (*ClueFormUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueFormUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/form/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.clueFormUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
