/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CgTransferCanTransferTargetListV30ApiService CgTransferCanTransferTargetListV30Api service
type CgTransferCanTransferTargetListV30ApiService service

type ApiOpenApiV30CgTransferCanTransferTargetListGetRequest struct {
	ctx               context.Context
	ApiService        *CgTransferCanTransferTargetListV30ApiService
	organizationId    *int64
	bizRequestNo      *string
	opponentTargetId  *int64
	transferDirection *CgTransferCanTransferTargetListV30TransferDirection
	platform          *CgTransferCanTransferTargetListV30Platform
	page              *int64
	pageSize          *int64
}

// 组织id
func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) OrganizationId(organizationId int64) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	r.organizationId = &organizationId
	return r
}

// 请求id，推荐uuid，方便请求链路对齐
func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) BizRequestNo(bizRequestNo string) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	r.bizRequestNo = &bizRequestNo
	return r
}

// 锚定账户id，查询该账户的可转账账户列表
func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) OpponentTargetId(opponentTargetId int64) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	r.opponentTargetId = &opponentTargetId
	return r
}

// 转账方向，以可转列表视角确定
func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) TransferDirection(transferDirection CgTransferCanTransferTargetListV30TransferDirection) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	r.transferDirection = &transferDirection
	return r
}

// 业务线
func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) Platform(platform CgTransferCanTransferTargetListV30Platform) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	r.platform = &platform
	return r
}

// 页码,从1开始
func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) Page(page int64) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	r.page = &page
	return r
}

// 每页最多100
func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) Execute() (*CgTransferCanTransferTargetListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) WithLog(enable bool) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30CgTransferCanTransferTargetListGet Method for OpenApiV30CgTransferCanTransferTargetListGet

查询当前账户(锚定账户)可以互相转账的账户列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30CgTransferCanTransferTargetListGetRequest
*/
func (a *CgTransferCanTransferTargetListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest {
	return &ApiOpenApiV30CgTransferCanTransferTargetListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CgTransferCanTransferTargetListV30Response
func (a *CgTransferCanTransferTargetListV30ApiService) getExecute(r *ApiOpenApiV30CgTransferCanTransferTargetListGetRequest) (*CgTransferCanTransferTargetListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CgTransferCanTransferTargetListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/cg_transfer/can_transfer_target/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationId == nil {
		return localVarReturnValue, nil, ReportError("organizationId is required and must be specified")
	}
	if r.bizRequestNo == nil {
		return localVarReturnValue, nil, ReportError("bizRequestNo is required and must be specified")
	}
	if r.opponentTargetId == nil {
		return localVarReturnValue, nil, ReportError("opponentTargetId is required and must be specified")
	}
	if r.transferDirection == nil {
		return localVarReturnValue, nil, ReportError("transferDirection is required and must be specified")
	}
	if r.platform == nil {
		return localVarReturnValue, nil, ReportError("platform is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "biz_request_no", r.bizRequestNo)
	parameterAddToHeaderOrQuery(localVarQueryParams, "opponent_target_id", r.opponentTargetId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "transfer_direction", r.transferDirection)
	parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
