/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BudgetGroupUpdateV30ApiService BudgetGroupUpdateV30Api service
type BudgetGroupUpdateV30ApiService service

type ApiOpenApiV30BudgetGroupUpdatePostRequest struct {
	ctx                         context.Context
	ApiService                  *BudgetGroupUpdateV30ApiService
	budgetGroupUpdateV30Request *BudgetGroupUpdateV30Request
}

func (r *ApiOpenApiV30BudgetGroupUpdatePostRequest) BudgetGroupUpdateV30Request(budgetGroupUpdateV30Request BudgetGroupUpdateV30Request) *ApiOpenApiV30BudgetGroupUpdatePostRequest {
	r.budgetGroupUpdateV30Request = &budgetGroupUpdateV30Request
	return r
}

func (r *ApiOpenApiV30BudgetGroupUpdatePostRequest) Execute() (*BudgetGroupUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BudgetGroupUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BudgetGroupUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BudgetGroupUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30BudgetGroupUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BudgetGroupUpdatePost Method for OpenApiV30BudgetGroupUpdatePost

更新预算组名称和日预算

注意：
1. 名称不能跟未删除的预算组重名
2. 预算不得低于关联的项目、广告出价，不得低于已有消耗
2. 一天最多更新 20 次

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BudgetGroupUpdatePostRequest
*/
func (a *BudgetGroupUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BudgetGroupUpdatePostRequest {
	return &ApiOpenApiV30BudgetGroupUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BudgetGroupUpdateV30Response
func (a *BudgetGroupUpdateV30ApiService) postExecute(r *ApiOpenApiV30BudgetGroupUpdatePostRequest) (*BudgetGroupUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BudgetGroupUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/budget_group/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.budgetGroupUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
