/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCreativeCreateV30ApiService BrandCreativeCreateV30Api service
type BrandCreativeCreateV30ApiService service

type ApiOpenApiV30BrandCreativeCreatePostRequest struct {
	ctx                           context.Context
	ApiService                    *BrandCreativeCreateV30ApiService
	brandCreativeCreateV30Request *BrandCreativeCreateV30Request
}

func (r *ApiOpenApiV30BrandCreativeCreatePostRequest) BrandCreativeCreateV30Request(brandCreativeCreateV30Request BrandCreativeCreateV30Request) *ApiOpenApiV30BrandCreativeCreatePostRequest {
	r.brandCreativeCreateV30Request = &brandCreativeCreateV30Request
	return r
}

func (r *ApiOpenApiV30BrandCreativeCreatePostRequest) Execute() (*BrandCreativeCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandCreativeCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCreativeCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCreativeCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandCreativeCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCreativeCreatePost Method for OpenApiV30BrandCreativeCreatePost

AD品牌广告创意创建接口

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCreativeCreatePostRequest
*/
func (a *BrandCreativeCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandCreativeCreatePostRequest {
	return &ApiOpenApiV30BrandCreativeCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCreativeCreateV30Response
func (a *BrandCreativeCreateV30ApiService) postExecute(r *ApiOpenApiV30BrandCreativeCreatePostRequest) (*BrandCreativeCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCreativeCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/creative/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandCreativeCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
