/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// KeywordUpdateV2V2ApiService KeywordUpdateV2V2Api service
type KeywordUpdateV2V2ApiService service

type ApiOpenApi2KeywordUpdateV2PostRequest struct {
	ctx                      context.Context
	ApiService               *KeywordUpdateV2V2ApiService
	keywordUpdateV2V2Request *KeywordUpdateV2V2Request
}

func (r *ApiOpenApi2KeywordUpdateV2PostRequest) KeywordUpdateV2V2Request(keywordUpdateV2V2Request KeywordUpdateV2V2Request) *ApiOpenApi2KeywordUpdateV2PostRequest {
	r.keywordUpdateV2V2Request = &keywordUpdateV2V2Request
	return r
}

func (r *ApiOpenApi2KeywordUpdateV2PostRequest) Execute() (*KeywordUpdateV2V2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2KeywordUpdateV2PostRequest) AccessToken(accessToken string) *ApiOpenApi2KeywordUpdateV2PostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2KeywordUpdateV2PostRequest) WithLog(enable bool) *ApiOpenApi2KeywordUpdateV2PostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2KeywordUpdateV2Post Method for OpenApi2KeywordUpdateV2Post

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2KeywordUpdateV2PostRequest
*/
func (a *KeywordUpdateV2V2ApiService) Post(ctx context.Context) *ApiOpenApi2KeywordUpdateV2PostRequest {
	return &ApiOpenApi2KeywordUpdateV2PostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KeywordUpdateV2V2Response
func (a *KeywordUpdateV2V2ApiService) postExecute(r *ApiOpenApi2KeywordUpdateV2PostRequest) (*KeywordUpdateV2V2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *KeywordUpdateV2V2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/keyword/update_v2/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.keywordUpdateV2V2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
