/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsClueCallCreateV2ApiService ToolsClueCallCreateV2Api service
type ToolsClueCallCreateV2ApiService service

type ApiOpenApi2ToolsClueCallCreatePostRequest struct {
	ctx                          context.Context
	ApiService                   *ToolsClueCallCreateV2ApiService
	toolsClueCallCreateV2Request *ToolsClueCallCreateV2Request
}

func (r *ApiOpenApi2ToolsClueCallCreatePostRequest) ToolsClueCallCreateV2Request(toolsClueCallCreateV2Request ToolsClueCallCreateV2Request) *ApiOpenApi2ToolsClueCallCreatePostRequest {
	r.toolsClueCallCreateV2Request = &toolsClueCallCreateV2Request
	return r
}

func (r *ApiOpenApi2ToolsClueCallCreatePostRequest) Execute() (*ToolsClueCallCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsClueCallCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsClueCallCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsClueCallCreatePostRequest) WithLog(enable bool) *ApiOpenApi2ToolsClueCallCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsClueCallCreatePost Method for OpenApi2ToolsClueCallCreatePost

通过入参“呼叫类型”，可以实现双呼、axb、网络等不同的呼叫方式。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsClueCallCreatePostRequest
*/
func (a *ToolsClueCallCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsClueCallCreatePostRequest {
	return &ApiOpenApi2ToolsClueCallCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsClueCallCreateV2Response
func (a *ToolsClueCallCreateV2ApiService) postExecute(r *ApiOpenApi2ToolsClueCallCreatePostRequest) (*ToolsClueCallCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsClueCallCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/clue/call/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsClueCallCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
