/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// KeywordDeleteV30ApiService KeywordDeleteV30Api service
type KeywordDeleteV30ApiService service

type ApiOpenApiV30KeywordDeletePostRequest struct {
	ctx                     context.Context
	ApiService              *KeywordDeleteV30ApiService
	keywordDeleteV30Request *KeywordDeleteV30Request
}

func (r *ApiOpenApiV30KeywordDeletePostRequest) KeywordDeleteV30Request(keywordDeleteV30Request KeywordDeleteV30Request) *ApiOpenApiV30KeywordDeletePostRequest {
	r.keywordDeleteV30Request = &keywordDeleteV30Request
	return r
}

func (r *ApiOpenApiV30KeywordDeletePostRequest) Execute() (*KeywordDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30KeywordDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30KeywordDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30KeywordDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30KeywordDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30KeywordDeletePost Method for OpenApiV30KeywordDeletePost

搜索广告关键词删除

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30KeywordDeletePostRequest
*/
func (a *KeywordDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30KeywordDeletePostRequest {
	return &ApiOpenApiV30KeywordDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return KeywordDeleteV30Response
func (a *KeywordDeleteV30ApiService) postExecute(r *ApiOpenApiV30KeywordDeletePostRequest) (*KeywordDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *KeywordDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/keyword/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.keywordDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
