/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarDemanderGetCarBrandListV2ApiService StarDemanderGetCarBrandListV2Api service
type StarDemanderGetCarBrandListV2ApiService service

type ApiOpenApi2StarDemanderGetCarBrandListGetRequest struct {
	ctx        context.Context
	ApiService *StarDemanderGetCarBrandListV2ApiService
	starId     *int64
}

func (r *ApiOpenApi2StarDemanderGetCarBrandListGetRequest) StarId(starId int64) *ApiOpenApi2StarDemanderGetCarBrandListGetRequest {
	r.starId = &starId
	return r
}

func (r *ApiOpenApi2StarDemanderGetCarBrandListGetRequest) Execute() (*StarDemanderGetCarBrandListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarDemanderGetCarBrandListGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarDemanderGetCarBrandListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarDemanderGetCarBrandListGetRequest) WithLog(enable bool) *ApiOpenApi2StarDemanderGetCarBrandListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarDemanderGetCarBrandListGet Method for OpenApi2StarDemanderGetCarBrandListGet

获取全量车系信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarDemanderGetCarBrandListGetRequest
*/
func (a *StarDemanderGetCarBrandListV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarDemanderGetCarBrandListGetRequest {
	return &ApiOpenApi2StarDemanderGetCarBrandListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarDemanderGetCarBrandListV2Response
func (a *StarDemanderGetCarBrandListV2ApiService) getExecute(r *ApiOpenApi2StarDemanderGetCarBrandListGetRequest) (*StarDemanderGetCarBrandListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarDemanderGetCarBrandListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/demander/get_car_brand_list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
