/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaEbpProductDetailGetV30ApiService DpaEbpProductDetailGetV30Api service
type DpaEbpProductDetailGetV30ApiService service

type ApiOpenApiV30DpaEbpProductDetailGetGetRequest struct {
	ctx         context.Context
	ApiService  *DpaEbpProductDetailGetV30ApiService
	accountId   *int64
	accountType *DpaEbpProductDetailGetV30AccountType
	platformId  *int64
	filtering   *DpaEbpProductDetailGetV30Filtering
	page        *int64
	pageSize    *int64
}

// 客户id
func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) AccountType(accountType DpaEbpProductDetailGetV30AccountType) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) PlatformId(platformId int64) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	r.platformId = &platformId
	return r
}

// 过滤器
func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) Filtering(filtering DpaEbpProductDetailGetV30Filtering) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	r.filtering = &filtering
	return r
}

// 页码
func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) Page(page int64) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) Execute() (*DpaEbpProductDetailGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) WithLog(enable bool) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DpaEbpProductDetailGetGet Method for OpenApiV30DpaEbpProductDetailGetGet

EBP获取通用版商品详情

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DpaEbpProductDetailGetGetRequest
*/
func (a *DpaEbpProductDetailGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30DpaEbpProductDetailGetGetRequest {
	return &ApiOpenApiV30DpaEbpProductDetailGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaEbpProductDetailGetV30Response
func (a *DpaEbpProductDetailGetV30ApiService) getExecute(r *ApiOpenApiV30DpaEbpProductDetailGetGetRequest) (*DpaEbpProductDetailGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaEbpProductDetailGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/dpa/ebp/product/detail/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	}
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	}
	if r.platformId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform_id", r.platformId)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
