/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AgentInfoV2ApiService AgentInfoV2Api service
type AgentInfoV2ApiService service

type ApiOpenApi2AgentInfoGetRequest struct {
	ctx           context.Context
	ApiService    *AgentInfoV2ApiService
	advertiserIds *[]int64
	fields        *[]*AgentInfoV2Fields
}

func (r *ApiOpenApi2AgentInfoGetRequest) AdvertiserIds(advertiserIds []int64) *ApiOpenApi2AgentInfoGetRequest {
	r.advertiserIds = &advertiserIds
	return r
}

func (r *ApiOpenApi2AgentInfoGetRequest) Fields(fields []*AgentInfoV2Fields) *ApiOpenApi2AgentInfoGetRequest {
	r.fields = &fields
	return r
}

func (r *ApiOpenApi2AgentInfoGetRequest) Execute() (*AgentInfoV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2AgentInfoGetRequest) AccessToken(accessToken string) *ApiOpenApi2AgentInfoGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AgentInfoGetRequest) WithLog(enable bool) *ApiOpenApi2AgentInfoGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AgentInfoGet Method for OpenApi2AgentInfoGet

获取代理商信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AgentInfoGetRequest
*/
func (a *AgentInfoV2ApiService) Get(ctx context.Context) *ApiOpenApi2AgentInfoGetRequest {
	return &ApiOpenApi2AgentInfoGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgentInfoV2Response
func (a *AgentInfoV2ApiService) getExecute(r *ApiOpenApi2AgentInfoGetRequest) (*AgentInfoV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AgentInfoV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/agent/info/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_ids", r.advertiserIds)
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
