/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalImageUploadV30ApiService LocalImageUploadV30Api service
type LocalImageUploadV30ApiService service

type ApiOpenApiV30LocalImageUploadPostRequest struct {
	ctx            context.Context
	ApiService     *LocalImageUploadV30ApiService
	localAccountId *int64
	imageFile      *FormFileInfo
	imageSignature *string
	isAigc         *bool
	uploadType     *LocalImageUploadV30UploadType
}

func (r *ApiOpenApiV30LocalImageUploadPostRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalImageUploadPostRequest {
	r.localAccountId = &localAccountId
	return r
}

// 图片文件 upload_type为UPLOAD_BY_FILE必填 格式: jpg、jpeg、png、bmp、gif, 大小1.5M内
func (r *ApiOpenApiV30LocalImageUploadPostRequest) ImageFile(imageFile *FormFileInfo) *ApiOpenApiV30LocalImageUploadPostRequest {
	r.imageFile = imageFile
	return r
}

// 图片的md5值(用于服务端校验) upload_type为UPLOAD_BY_FILE
func (r *ApiOpenApiV30LocalImageUploadPostRequest) ImageSignature(imageSignature string) *ApiOpenApiV30LocalImageUploadPostRequest {
	r.imageSignature = &imageSignature
	return r
}

// 图片素材是否为AIGC生成
func (r *ApiOpenApiV30LocalImageUploadPostRequest) IsAigc(isAigc bool) *ApiOpenApiV30LocalImageUploadPostRequest {
	r.isAigc = &isAigc
	return r
}

func (r *ApiOpenApiV30LocalImageUploadPostRequest) UploadType(uploadType LocalImageUploadV30UploadType) *ApiOpenApiV30LocalImageUploadPostRequest {
	r.uploadType = &uploadType
	return r
}

func (r *ApiOpenApiV30LocalImageUploadPostRequest) Execute() (*LocalImageUploadV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalImageUploadPostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalImageUploadPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalImageUploadPostRequest) WithLog(enable bool) *ApiOpenApiV30LocalImageUploadPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalImageUploadPost Method for OpenApiV30LocalImageUploadPost

上传图片素材，视频封面图、推广卡片配图等

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalImageUploadPostRequest
*/
func (a *LocalImageUploadV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalImageUploadPostRequest {
	return &ApiOpenApiV30LocalImageUploadPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalImageUploadV30Response
func (a *LocalImageUploadV30ApiService) postExecute(r *ApiOpenApiV30LocalImageUploadPostRequest) (*LocalImageUploadV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalImageUploadV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/image/upload/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	if r.imageFile != nil {
		formFiles["image_file"] = r.imageFile
	}
	if r.imageSignature != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "image_signature", r.imageSignature)
	}
	if r.isAigc != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "is_aigc", r.isAigc)
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "local_account_id", r.localAccountId)
	if r.uploadType != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "upload_type", r.uploadType)
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
