/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// StarProviderTaskListV2ApiService StarProviderTaskListV2Api service
type StarProviderTaskListV2ApiService service

type ApiOpenApi2StarProviderTaskListGetRequest struct {
	ctx                 context.Context
	ApiService          *StarProviderTaskListV2ApiService
	starId              *int64
	page                *int64
	pageSize            *int64
	statisticsStartTime *int64
	statisticsEndTime   *int64
	orderStatus         *[]int64
	taskName            *string
	taskId              *int64
	productName         *string
}

// 星图服务商ID
func (r *ApiOpenApi2StarProviderTaskListGetRequest) StarId(starId int64) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.starId = &starId
	return r
}

// 页码
func (r *ApiOpenApi2StarProviderTaskListGetRequest) Page(page int64) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.page = &page
	return r
}

// 每页条数，最大20
func (r *ApiOpenApi2StarProviderTaskListGetRequest) PageSize(pageSize int64) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.pageSize = &pageSize
	return r
}

// 投放统计周期开始时间
func (r *ApiOpenApi2StarProviderTaskListGetRequest) StatisticsStartTime(statisticsStartTime int64) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.statisticsStartTime = &statisticsStartTime
	return r
}

// 投放统计周期结束时间
func (r *ApiOpenApi2StarProviderTaskListGetRequest) StatisticsEndTime(statisticsEndTime int64) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.statisticsEndTime = &statisticsEndTime
	return r
}

// 任务状态筛选，不传返回全部状态
func (r *ApiOpenApi2StarProviderTaskListGetRequest) OrderStatus(orderStatus []int64) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.orderStatus = &orderStatus
	return r
}

// 任务名称
func (r *ApiOpenApi2StarProviderTaskListGetRequest) TaskName(taskName string) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.taskName = &taskName
	return r
}

// 任务ID
func (r *ApiOpenApi2StarProviderTaskListGetRequest) TaskId(taskId int64) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.taskId = &taskId
	return r
}

// 商品名称
func (r *ApiOpenApi2StarProviderTaskListGetRequest) ProductName(productName string) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.productName = &productName
	return r
}

func (r *ApiOpenApi2StarProviderTaskListGetRequest) Execute() (*models.StarProviderTaskListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarProviderTaskListGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarProviderTaskListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarProviderTaskListGetRequest) WithLog(enable bool) *ApiOpenApi2StarProviderTaskListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarProviderTaskListGet Method for OpenApi2StarProviderTaskListGet

服务商星川任务列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarProviderTaskListGetRequest
*/
func (a *StarProviderTaskListV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarProviderTaskListGetRequest {
	return &ApiOpenApi2StarProviderTaskListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarProviderTaskListV2Response
func (a *StarProviderTaskListV2ApiService) getExecute(r *ApiOpenApi2StarProviderTaskListGetRequest) (*models.StarProviderTaskListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.StarProviderTaskListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/provider/task/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}
	if r.statisticsStartTime == nil {
		return localVarReturnValue, nil, ReportError("statisticsStartTime is required and must be specified")
	}
	if r.statisticsEndTime == nil {
		return localVarReturnValue, nil, ReportError("statisticsEndTime is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	if r.orderStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_status", r.orderStatus)
	}
	if r.taskName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_name", r.taskName)
	}
	if r.taskId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId)
	}
	if r.productName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "product_name", r.productName)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "statistics_start_time", r.statisticsStartTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "statistics_end_time", r.statisticsEndTime)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
