/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandAdCreateV30ApiService BrandAdCreateV30Api service
type BrandAdCreateV30ApiService service

type ApiOpenApiV30BrandAdCreatePostRequest struct {
	ctx                     context.Context
	ApiService              *BrandAdCreateV30ApiService
	brandAdCreateV30Request *BrandAdCreateV30Request
}

func (r *ApiOpenApiV30BrandAdCreatePostRequest) BrandAdCreateV30Request(brandAdCreateV30Request BrandAdCreateV30Request) *ApiOpenApiV30BrandAdCreatePostRequest {
	r.brandAdCreateV30Request = &brandAdCreateV30Request
	return r
}

func (r *ApiOpenApiV30BrandAdCreatePostRequest) Execute() (*BrandAdCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandAdCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandAdCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandAdCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandAdCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandAdCreatePost Method for OpenApiV30BrandAdCreatePost

AD品牌计划创建

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandAdCreatePostRequest
*/
func (a *BrandAdCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandAdCreatePostRequest {
	return &ApiOpenApiV30BrandAdCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandAdCreateV30Response
func (a *BrandAdCreateV30ApiService) postExecute(r *ApiOpenApiV30BrandAdCreatePostRequest) (*BrandAdCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandAdCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/ad/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandAdCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
