/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// UniProjectCreateV30ApiService UniProjectCreateV30Api service
type UniProjectCreateV30ApiService service

type ApiOpenApiV30UniProjectCreatePostRequest struct {
	ctx                        context.Context
	ApiService                 *UniProjectCreateV30ApiService
	uniProjectCreateV30Request *UniProjectCreateV30Request
}

func (r *ApiOpenApiV30UniProjectCreatePostRequest) UniProjectCreateV30Request(uniProjectCreateV30Request UniProjectCreateV30Request) *ApiOpenApiV30UniProjectCreatePostRequest {
	r.uniProjectCreateV30Request = &uniProjectCreateV30Request
	return r
}

func (r *ApiOpenApiV30UniProjectCreatePostRequest) Execute() (*UniProjectCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30UniProjectCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30UniProjectCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30UniProjectCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30UniProjectCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30UniProjectCreatePost Method for OpenApiV30UniProjectCreatePost

新建全域推广项目

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30UniProjectCreatePostRequest
*/
func (a *UniProjectCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30UniProjectCreatePostRequest {
	return &ApiOpenApiV30UniProjectCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UniProjectCreateV30Response
func (a *UniProjectCreateV30ApiService) postExecute(r *ApiOpenApiV30UniProjectCreatePostRequest) (*UniProjectCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *UniProjectCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/uni_project/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.uniProjectCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
