/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// StarClueGetV2ApiService StarClueGetV2Api service
type StarClueGetV2ApiService service

type ApiOpenApi2StarClueGetGetRequest struct {
	ctx        context.Context
	ApiService *StarClueGetV2ApiService
	starId     *int64
	demandId   *int64
	orderId    *int64
	page       *int32
	pageSize   *int32
}

func (r *ApiOpenApi2StarClueGetGetRequest) StarId(starId int64) *ApiOpenApi2StarClueGetGetRequest {
	r.starId = &starId
	return r
}

// 任务id
func (r *ApiOpenApi2StarClueGetGetRequest) DemandId(demandId int64) *ApiOpenApi2StarClueGetGetRequest {
	r.demandId = &demandId
	return r
}

// 订单id
func (r *ApiOpenApi2StarClueGetGetRequest) OrderId(orderId int64) *ApiOpenApi2StarClueGetGetRequest {
	r.orderId = &orderId
	return r
}

func (r *ApiOpenApi2StarClueGetGetRequest) Page(page int32) *ApiOpenApi2StarClueGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2StarClueGetGetRequest) PageSize(pageSize int32) *ApiOpenApi2StarClueGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2StarClueGetGetRequest) Execute() (*StarClueGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2StarClueGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2StarClueGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2StarClueGetGetRequest) WithLog(enable bool) *ApiOpenApi2StarClueGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2StarClueGetGet Method for OpenApi2StarClueGetGet

获取星图订单投后线索

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2StarClueGetGetRequest
*/
func (a *StarClueGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2StarClueGetGetRequest {
	return &ApiOpenApi2StarClueGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return StarClueGetV2Response
func (a *StarClueGetV2ApiService) getExecute(r *ApiOpenApi2StarClueGetGetRequest) (*StarClueGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *StarClueGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/star/clue/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.starId == nil {
		return localVarReturnValue, nil, ReportError("starId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "star_id", r.starId)
	if r.demandId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "demand_id", r.demandId)
	}
	if r.orderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_id", r.orderId)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
