/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ServeMarketActiveFuncGetV10ApiService ServeMarketActiveFuncGetV10Api service
type ServeMarketActiveFuncGetV10ApiService service

type ApiOpenApiV10ServeMarketActiveFuncGetGetRequest struct {
	ctx        context.Context
	ApiService *ServeMarketActiveFuncGetV10ApiService
	useUid     *int64
	appId      *int64
	page       *int64
	pageSize   *int64
	funcKeys   *[]string
}

func (r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) UseUid(useUid int64) *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest {
	r.useUid = &useUid
	return r
}

func (r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) AppId(appId int64) *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest {
	r.appId = &appId
	return r
}

func (r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) Page(page int64) *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) FuncKeys(funcKeys []string) *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest {
	r.funcKeys = &funcKeys
	return r
}

func (r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) Execute() (*ServeMarketActiveFuncGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) WithLog(enable bool) *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10ServeMarketActiveFuncGetGet Method for OpenApiV10ServeMarketActiveFuncGetGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10ServeMarketActiveFuncGetGetRequest
*/
func (a *ServeMarketActiveFuncGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest {
	return &ApiOpenApiV10ServeMarketActiveFuncGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ServeMarketActiveFuncGetV10Response
func (a *ServeMarketActiveFuncGetV10ApiService) getExecute(r *ApiOpenApiV10ServeMarketActiveFuncGetGetRequest) (*ServeMarketActiveFuncGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ServeMarketActiveFuncGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/serve_market/active_func/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.useUid == nil {
		return localVarReturnValue, nil, ReportError("useUid is required and must be specified")
	}
	if r.appId == nil {
		return localVarReturnValue, nil, ReportError("appId is required and must be specified")
	}
	if r.page == nil {
		return localVarReturnValue, nil, ReportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return localVarReturnValue, nil, ReportError("pageSize is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "use_uid", r.useUid)
	parameterAddToHeaderOrQuery(localVarQueryParams, "app_id", r.appId)
	if r.funcKeys != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "func_keys", r.funcKeys)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
