/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpStarTaskTaskVideoDataGetV30ApiService ToolsEbpStarTaskTaskVideoDataGetV30Api service
type ToolsEbpStarTaskTaskVideoDataGetV30ApiService service

type ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest struct {
	ctx         context.Context
	ApiService  *ToolsEbpStarTaskTaskVideoDataGetV30ApiService
	accountId   *int64
	starTaskId  *int64
	startDate   *string
	endDate     *string
	accountType *ToolsEbpStarTaskTaskVideoDataGetV30AccountType
	filtering   *ToolsEbpStarTaskTaskVideoDataGetV30Filtering
	orderField  *string
	orderType   *ToolsEbpStarTaskTaskVideoDataGetV30OrderType
	page        *int32
	pageSize    *int32
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) StarTaskId(starTaskId int64) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.starTaskId = &starTaskId
	return r
}

// 数据统计开始时间，格式：YYYY-MM-DD
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) StartDate(startDate string) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.startDate = &startDate
	return r
}

// 数据统计结束时间，格式：YYYY-MM-DD
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) EndDate(endDate string) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.endDate = &endDate
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) AccountType(accountType ToolsEbpStarTaskTaskVideoDataGetV30AccountType) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.accountType = &accountType
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) Filtering(filtering ToolsEbpStarTaskTaskVideoDataGetV30Filtering) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.filtering = &filtering
	return r
}

// 排序字段
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) OrderField(orderField string) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.orderField = &orderField
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) OrderType(orderType ToolsEbpStarTaskTaskVideoDataGetV30OrderType) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.orderType = &orderType
	return r
}

// 页码
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) Page(page int32) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) Execute() (*ToolsEbpStarTaskTaskVideoDataGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpStarTaskTaskVideoDataGetGet Method for OpenApiV30ToolsEbpStarTaskTaskVideoDataGetGet

获取EBP星广联投视频数据，支持查看对应组织下全部任务对应的视频列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest
*/
func (a *ToolsEbpStarTaskTaskVideoDataGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest {
	return &ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpStarTaskTaskVideoDataGetV30Response
func (a *ToolsEbpStarTaskTaskVideoDataGetV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpStarTaskTaskVideoDataGetGetRequest) (*ToolsEbpStarTaskTaskVideoDataGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpStarTaskTaskVideoDataGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/star_task/task_video_data/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.starTaskId == nil {
		return localVarReturnValue, nil, ReportError("starTaskId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "star_task_id", r.starTaskId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
