/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// SecurityNonScoreDisposalInfoGetV30ApiService SecurityNonScoreDisposalInfoGetV30Api service
type SecurityNonScoreDisposalInfoGetV30ApiService service

type ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest struct {
	ctx          context.Context
	ApiService   *SecurityNonScoreDisposalInfoGetV30ApiService
	advertiserId *int64
	businessLine *SecurityNonScoreDisposalInfoGetV30BusinessLine
	timeRange    *SecurityNonScoreDisposalInfoGetV30TimeRange
	page         *int64
	pageSize     *int64
}

func (r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 业务线枚举
func (r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) BusinessLine(businessLine SecurityNonScoreDisposalInfoGetV30BusinessLine) *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest {
	r.businessLine = &businessLine
	return r
}

func (r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) TimeRange(timeRange SecurityNonScoreDisposalInfoGetV30TimeRange) *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest {
	r.timeRange = &timeRange
	return r
}

func (r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) Page(page int64) *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest {
	r.page = &page
	return r
}

// 1-100
func (r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) Execute() (*SecurityNonScoreDisposalInfoGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) WithLog(enable bool) *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30SecurityNonScoreDisposalInfoGetGet Method for OpenApiV30SecurityNonScoreDisposalInfoGetGet

查询非积分处置数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest
*/
func (a *SecurityNonScoreDisposalInfoGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest {
	return &ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SecurityNonScoreDisposalInfoGetV30Response
func (a *SecurityNonScoreDisposalInfoGetV30ApiService) getExecute(r *ApiOpenApiV30SecurityNonScoreDisposalInfoGetGetRequest) (*SecurityNonScoreDisposalInfoGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *SecurityNonScoreDisposalInfoGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/security/non_score_disposal_info/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.businessLine == nil {
		return localVarReturnValue, nil, ReportError("businessLine is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "business_line", r.businessLine)
	if r.timeRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_range", r.timeRange)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
