/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueCouponUpdateV2ApiService ClueCouponUpdateV2Api service
type ClueCouponUpdateV2ApiService service

type ApiOpenApi2ClueCouponUpdatePostRequest struct {
	ctx                       context.Context
	ApiService                *ClueCouponUpdateV2ApiService
	clueCouponUpdateV2Request *ClueCouponUpdateV2Request
}

func (r *ApiOpenApi2ClueCouponUpdatePostRequest) ClueCouponUpdateV2Request(clueCouponUpdateV2Request ClueCouponUpdateV2Request) *ApiOpenApi2ClueCouponUpdatePostRequest {
	r.clueCouponUpdateV2Request = &clueCouponUpdateV2Request
	return r
}

func (r *ApiOpenApi2ClueCouponUpdatePostRequest) Execute() (*ClueCouponUpdateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ClueCouponUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApi2ClueCouponUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueCouponUpdatePostRequest) WithLog(enable bool) *ApiOpenApi2ClueCouponUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueCouponUpdatePost Method for OpenApi2ClueCouponUpdatePost

API Description
* 123

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueCouponUpdatePostRequest
*/
func (a *ClueCouponUpdateV2ApiService) Post(ctx context.Context) *ApiOpenApi2ClueCouponUpdatePostRequest {
	return &ApiOpenApi2ClueCouponUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueCouponUpdateV2Response
func (a *ClueCouponUpdateV2ApiService) postExecute(r *ApiOpenApi2ClueCouponUpdatePostRequest) (*ClueCouponUpdateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueCouponUpdateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/coupon/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.clueCouponUpdateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
