/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DpaAssetV2DetailReadV2ApiService DpaAssetV2DetailReadV2Api service
type DpaAssetV2DetailReadV2ApiService service

type ApiOpenApi2DpaAssetV2DetailReadPostRequest struct {
	ctx                           context.Context
	ApiService                    *DpaAssetV2DetailReadV2ApiService
	dpaAssetV2DetailReadV2Request *DpaAssetV2DetailReadV2Request
}

func (r *ApiOpenApi2DpaAssetV2DetailReadPostRequest) DpaAssetV2DetailReadV2Request(dpaAssetV2DetailReadV2Request DpaAssetV2DetailReadV2Request) *ApiOpenApi2DpaAssetV2DetailReadPostRequest {
	r.dpaAssetV2DetailReadV2Request = &dpaAssetV2DetailReadV2Request
	return r
}

func (r *ApiOpenApi2DpaAssetV2DetailReadPostRequest) Execute() (*DpaAssetV2DetailReadV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2DpaAssetV2DetailReadPostRequest) AccessToken(accessToken string) *ApiOpenApi2DpaAssetV2DetailReadPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2DpaAssetV2DetailReadPostRequest) WithLog(enable bool) *ApiOpenApi2DpaAssetV2DetailReadPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2DpaAssetV2DetailReadPost Method for OpenApi2DpaAssetV2DetailReadPost

该接口主要查询汽车行业投放条件信息，根据商品id查询投放条件详情

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2DpaAssetV2DetailReadPostRequest
*/
func (a *DpaAssetV2DetailReadV2ApiService) Post(ctx context.Context) *ApiOpenApi2DpaAssetV2DetailReadPostRequest {
	return &ApiOpenApi2DpaAssetV2DetailReadPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DpaAssetV2DetailReadV2Response
func (a *DpaAssetV2DetailReadV2ApiService) postExecute(r *ApiOpenApi2DpaAssetV2DetailReadPostRequest) (*DpaAssetV2DetailReadV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DpaAssetV2DetailReadV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/dpa/asset_v2/detail/read/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.dpaAssetV2DetailReadV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
