/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandMaMaterialListV30ApiService BrandMaMaterialListV30Api service
type BrandMaMaterialListV30ApiService service

type ApiOpenApiV30BrandMaMaterialListGetRequest struct {
	ctx             context.Context
	ApiService      *BrandMaMaterialListV30ApiService
	advertiserIds   *[]int64
	materialIds     *[]int64
	materialStatus  *[]int64
	startTime       *string
	endTime         *string
	page            *BrandMaMaterialListV30Page
	materialName    *string
	createStartTime *string
	createEndTime   *string
	iesCoreUserId   *string
	orderFilter     *BrandMaMaterialListV30OrderFilter
}

// 广告主ID
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) AdvertiserIds(advertiserIds []int64) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.advertiserIds = &advertiserIds
	return r
}

// 创意ID
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) MaterialIds(materialIds []int64) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.materialIds = &materialIds
	return r
}

// 创意状态
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) MaterialStatus(materialStatus []int64) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.materialStatus = &materialStatus
	return r
}

// 创意投放开始时间（配合结束时间使用）
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) StartTime(startTime string) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.startTime = &startTime
	return r
}

// 创意投放结束时间（配合开始时间使用）
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) EndTime(endTime string) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.endTime = &endTime
	return r
}

// 分页信息
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) Page(page BrandMaMaterialListV30Page) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.page = &page
	return r
}

// 创意名称，模糊匹配
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) MaterialName(materialName string) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.materialName = &materialName
	return r
}

// 创意创建开始时间（配合结束时间使用）
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) CreateStartTime(createStartTime string) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.createStartTime = &createStartTime
	return r
}

// 创意创建结束时间（配合开始时间使用）
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) CreateEndTime(createEndTime string) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.createEndTime = &createEndTime
	return r
}

// 抖音号ID
func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) IesCoreUserId(iesCoreUserId string) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.iesCoreUserId = &iesCoreUserId
	return r
}

func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) OrderFilter(orderFilter BrandMaMaterialListV30OrderFilter) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.orderFilter = &orderFilter
	return r
}

func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) Execute() (*BrandMaMaterialListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandMaMaterialListGetRequest) WithLog(enable bool) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandMaMaterialListGet Method for OpenApiV30BrandMaMaterialListGet

查询账户下的创意Material

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandMaMaterialListGetRequest
*/
func (a *BrandMaMaterialListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30BrandMaMaterialListGetRequest {
	return &ApiOpenApiV30BrandMaMaterialListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandMaMaterialListV30Response
func (a *BrandMaMaterialListV30ApiService) getExecute(r *ApiOpenApiV30BrandMaMaterialListGetRequest) (*BrandMaMaterialListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandMaMaterialListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/ma/material/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserIds == nil {
		return localVarReturnValue, nil, ReportError("advertiserIds is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_ids", r.advertiserIds)
	if r.materialIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "material_ids", r.materialIds)
	}
	if r.materialStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "material_status", r.materialStatus)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.materialName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "material_name", r.materialName)
	}
	if r.createStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "create_start_time", r.createStartTime)
	}
	if r.createEndTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "create_end_time", r.createEndTime)
	}
	if r.iesCoreUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ies_core_user_id", r.iesCoreUserId)
	}
	if r.orderFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_filter", r.orderFilter)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
