/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdvertiserInfoV2ApiService AdvertiserInfoV2Api service
type AdvertiserInfoV2ApiService service

type ApiOpenApi2AdvertiserInfoGetRequest struct {
	ctx           context.Context
	ApiService    *AdvertiserInfoV2ApiService
	advertiserIds *[]int64
	fields        *[]string
}

func (r *ApiOpenApi2AdvertiserInfoGetRequest) AdvertiserIds(advertiserIds []int64) *ApiOpenApi2AdvertiserInfoGetRequest {
	r.advertiserIds = &advertiserIds
	return r
}

func (r *ApiOpenApi2AdvertiserInfoGetRequest) Fields(fields []string) *ApiOpenApi2AdvertiserInfoGetRequest {
	r.fields = &fields
	return r
}

func (r *ApiOpenApi2AdvertiserInfoGetRequest) Execute() (*AdvertiserInfoV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2AdvertiserInfoGetRequest) AccessToken(accessToken string) *ApiOpenApi2AdvertiserInfoGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdvertiserInfoGetRequest) WithLog(enable bool) *ApiOpenApi2AdvertiserInfoGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdvertiserInfoGet Method for OpenApi2AdvertiserInfoGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdvertiserInfoGetRequest
*/
func (a *AdvertiserInfoV2ApiService) Get(ctx context.Context) *ApiOpenApi2AdvertiserInfoGetRequest {
	return &ApiOpenApi2AdvertiserInfoGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdvertiserInfoV2Response
func (a *AdvertiserInfoV2ApiService) getExecute(r *ApiOpenApi2AdvertiserInfoGetRequest) (*AdvertiserInfoV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdvertiserInfoV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/advertiser/info/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_ids", r.advertiserIds)
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
