/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// PromotionNameUpdateV30ApiService PromotionNameUpdateV30Api service
type PromotionNameUpdateV30ApiService service

type ApiOpenApiV30PromotionNameUpdatePostRequest struct {
	ctx                           context.Context
	ApiService                    *PromotionNameUpdateV30ApiService
	promotionNameUpdateV30Request *PromotionNameUpdateV30Request
}

func (r *ApiOpenApiV30PromotionNameUpdatePostRequest) PromotionNameUpdateV30Request(promotionNameUpdateV30Request PromotionNameUpdateV30Request) *ApiOpenApiV30PromotionNameUpdatePostRequest {
	r.promotionNameUpdateV30Request = &promotionNameUpdateV30Request
	return r
}

func (r *ApiOpenApiV30PromotionNameUpdatePostRequest) Execute() (*PromotionNameUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30PromotionNameUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30PromotionNameUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30PromotionNameUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30PromotionNameUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30PromotionNameUpdatePost Method for OpenApiV30PromotionNameUpdatePost

update promotion name

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30PromotionNameUpdatePostRequest
*/
func (a *PromotionNameUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30PromotionNameUpdatePostRequest {
	return &ApiOpenApiV30PromotionNameUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PromotionNameUpdateV30Response
func (a *PromotionNameUpdateV30ApiService) postExecute(r *ApiOpenApiV30PromotionNameUpdatePostRequest) (*PromotionNameUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *PromotionNameUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/promotion_name/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.promotionNameUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
