/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// IosAppListV30ApiService IosAppListV30Api service
type IosAppListV30ApiService service

type ApiOpenApiV30IosAppListGetRequest struct {
	ctx                    context.Context
	ApiService             *IosAppListV30ApiService
	accountId              *int64
	page                   *int64
	size                   *int64
	searchKey              *string
	status                 *IosAppListV30Status
	searchType             *IosAppListV30SearchType
	accountAssetQueryScope *IosAppListV30AccountAssetQueryScope
	accountType            *IosAppListV30AccountType
	hierarchy              *IosAppListV30Hierarchy
	publishTime            *IosAppListV30PublishTime
	assetGeneration        *IosAppListV30AssetGeneration
}

func (r *ApiOpenApiV30IosAppListGetRequest) AccountId(accountId int64) *ApiOpenApiV30IosAppListGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30IosAppListGetRequest) Page(page int64) *ApiOpenApiV30IosAppListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30IosAppListGetRequest) Size(size int64) *ApiOpenApiV30IosAppListGetRequest {
	r.size = &size
	return r
}

func (r *ApiOpenApiV30IosAppListGetRequest) SearchKey(searchKey string) *ApiOpenApiV30IosAppListGetRequest {
	r.searchKey = &searchKey
	return r
}

func (r *ApiOpenApiV30IosAppListGetRequest) Status(status IosAppListV30Status) *ApiOpenApiV30IosAppListGetRequest {
	r.status = &status
	return r
}

// 查询类型，针对basicIos 有效
func (r *ApiOpenApiV30IosAppListGetRequest) SearchType(searchType IosAppListV30SearchType) *ApiOpenApiV30IosAppListGetRequest {
	r.searchType = &searchType
	return r
}

// 账户资产查询范围
func (r *ApiOpenApiV30IosAppListGetRequest) AccountAssetQueryScope(accountAssetQueryScope IosAppListV30AccountAssetQueryScope) *ApiOpenApiV30IosAppListGetRequest {
	r.accountAssetQueryScope = &accountAssetQueryScope
	return r
}

// 操作类型 EBP/AD
func (r *ApiOpenApiV30IosAppListGetRequest) AccountType(accountType IosAppListV30AccountType) *ApiOpenApiV30IosAppListGetRequest {
	r.accountType = &accountType
	return r
}

// EBP 查询层级，默认直联
func (r *ApiOpenApiV30IosAppListGetRequest) Hierarchy(hierarchy IosAppListV30Hierarchy) *ApiOpenApiV30IosAppListGetRequest {
	r.hierarchy = &hierarchy
	return r
}

// 发布时间
func (r *ApiOpenApiV30IosAppListGetRequest) PublishTime(publishTime IosAppListV30PublishTime) *ApiOpenApiV30IosAppListGetRequest {
	r.publishTime = &publishTime
	return r
}

// 资产版本类型
func (r *ApiOpenApiV30IosAppListGetRequest) AssetGeneration(assetGeneration IosAppListV30AssetGeneration) *ApiOpenApiV30IosAppListGetRequest {
	r.assetGeneration = &assetGeneration
	return r
}

func (r *ApiOpenApiV30IosAppListGetRequest) Execute() (*IosAppListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30IosAppListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30IosAppListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30IosAppListGetRequest) WithLog(enable bool) *ApiOpenApiV30IosAppListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30IosAppListGet Method for OpenApiV30IosAppListGet

最新查询IOS应用列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30IosAppListGetRequest
*/
func (a *IosAppListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30IosAppListGetRequest {
	return &ApiOpenApiV30IosAppListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IosAppListV30Response
func (a *IosAppListV30ApiService) getExecute(r *ApiOpenApiV30IosAppListGetRequest) (*IosAppListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *IosAppListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/ios_app/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size)
	}
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_key", r.searchKey)
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status)
	}
	if r.searchType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_type", r.searchType)
	}
	if r.accountAssetQueryScope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_asset_query_scope", r.accountAssetQueryScope)
	}
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	}
	if r.hierarchy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hierarchy", r.hierarchy)
	}
	if r.publishTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publish_time", r.publishTime)
	}
	if r.assetGeneration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_generation", r.assetGeneration)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
