/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EbpAdvertiserAllListV30ApiService EbpAdvertiserAllListV30Api service
type EbpAdvertiserAllListV30ApiService service

type ApiOpenApiV30EbpAdvertiserAllListGetRequest struct {
	ctx                      context.Context
	ApiService               *EbpAdvertiserAllListV30ApiService
	enterpriseOrganizationId *int64
	accountType              *EbpAdvertiserAllListV30AccountType
	queryType                *EbpAdvertiserAllListV30QueryType
	isActive                 *bool
	cursor                   *string
}

// EBP组织ID
func (r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) EnterpriseOrganizationId(enterpriseOrganizationId int64) *ApiOpenApiV30EbpAdvertiserAllListGetRequest {
	r.enterpriseOrganizationId = &enterpriseOrganizationId
	return r
}

// 查询的账户类型
func (r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) AccountType(accountType EbpAdvertiserAllListV30AccountType) *ApiOpenApiV30EbpAdvertiserAllListGetRequest {
	r.accountType = &accountType
	return r
}

// 默认为查节点直连绑定账户
func (r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) QueryType(queryType EbpAdvertiserAllListV30QueryType) *ApiOpenApiV30EbpAdvertiserAllListGetRequest {
	r.queryType = &queryType
	return r
}

// 是否只查活跃账户
func (r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) IsActive(isActive bool) *ApiOpenApiV30EbpAdvertiserAllListGetRequest {
	r.isActive = &isActive
	return r
}

// 游标信息，每次返回一批数据，想继续查后批次数据，需要将上批次返回结果里cusor做为入参继续查询。
func (r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) Cursor(cursor string) *ApiOpenApiV30EbpAdvertiserAllListGetRequest {
	r.cursor = &cursor
	return r
}

func (r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) Execute() (*EbpAdvertiserAllListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30EbpAdvertiserAllListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) WithLog(enable bool) *ApiOpenApiV30EbpAdvertiserAllListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30EbpAdvertiserAllListGet Method for OpenApiV30EbpAdvertiserAllListGet

获取升级版巨量引擎工作台下全量账户

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30EbpAdvertiserAllListGetRequest
*/
func (a *EbpAdvertiserAllListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30EbpAdvertiserAllListGetRequest {
	return &ApiOpenApiV30EbpAdvertiserAllListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EbpAdvertiserAllListV30Response
func (a *EbpAdvertiserAllListV30ApiService) getExecute(r *ApiOpenApiV30EbpAdvertiserAllListGetRequest) (*EbpAdvertiserAllListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EbpAdvertiserAllListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/ebp/advertiser_all/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseOrganizationId == nil {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_organization_id", r.enterpriseOrganizationId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	if r.queryType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query_type", r.queryType)
	}
	if r.isActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_active", r.isActive)
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
