/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalReportMaterialGetV30ApiService LocalReportMaterialGetV30Api service
type LocalReportMaterialGetV30ApiService service

type ApiOpenApiV30LocalReportMaterialGetGetRequest struct {
	ctx             context.Context
	ApiService      *LocalReportMaterialGetV30ApiService
	localAccountId  *int64
	startDate       *string
	endDate         *string
	metrics         *[]string
	timeGranularity *LocalReportMaterialGetV30TimeGranularity
	orderType       *LocalReportMaterialGetV30OrderType
	orderField      *string
	filtering       *LocalReportMaterialGetV30Filtering
	page            *int64
	pageSize        *int64
}

func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) LocalAccountId(localAccountId int64) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.localAccountId = &localAccountId
	return r
}

// 查询起始日期
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) StartDate(startDate string) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.startDate = &startDate
	return r
}

// 查询结束日期，格式：2021-04-05。 若不传time_granularity，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_DAILY时，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_TOTAL时，则时间跨度不能超过365天； 若传time_granularity为TIME_GRANULARITY_HOURLY时，则时间跨度不能超过7天
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) EndDate(endDate string) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.endDate = &endDate
	return r
}

// 指标集
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) Metrics(metrics []string) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.metrics = &metrics
	return r
}

// 时间粒度
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) TimeGranularity(timeGranularity LocalReportMaterialGetV30TimeGranularity) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.timeGranularity = &timeGranularity
	return r
}

// 排序方式
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) OrderType(orderType LocalReportMaterialGetV30OrderType) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段，允许值参考数据指标
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) OrderField(orderField string) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.orderField = &orderField
	return r
}

// 过滤器
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) Filtering(filtering LocalReportMaterialGetV30Filtering) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.filtering = &filtering
	return r
}

// 第几页
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) Page(page int64) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.page = &page
	return r
}

// 页大小
func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) Execute() (*LocalReportMaterialGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalReportMaterialGetGetRequest) WithLog(enable bool) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalReportMaterialGetGet Method for OpenApiV30LocalReportMaterialGetGet

获取素材数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalReportMaterialGetGetRequest
*/
func (a *LocalReportMaterialGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30LocalReportMaterialGetGetRequest {
	return &ApiOpenApiV30LocalReportMaterialGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalReportMaterialGetV30Response
func (a *LocalReportMaterialGetV30ApiService) getExecute(r *ApiOpenApiV30LocalReportMaterialGetGetRequest) (*LocalReportMaterialGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalReportMaterialGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/report/material/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.localAccountId == nil {
		return localVarReturnValue, nil, ReportError("localAccountId is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}
	if r.metrics == nil {
		return localVarReturnValue, nil, ReportError("metrics is required and must be specified")
	}
	if len(*r.metrics) < 1 {
		return localVarReturnValue, nil, ReportError("metrics must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "local_account_id", r.localAccountId)
	if r.timeGranularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_granularity", r.timeGranularity)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
