/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FileQualitySubmitV30ApiService FileQualitySubmitV30Api service
type FileQualitySubmitV30ApiService service

type ApiOpenApiV30FileQualitySubmitPostRequest struct {
	ctx                         context.Context
	ApiService                  *FileQualitySubmitV30ApiService
	fileQualitySubmitV30Request *FileQualitySubmitV30Request
}

func (r *ApiOpenApiV30FileQualitySubmitPostRequest) FileQualitySubmitV30Request(fileQualitySubmitV30Request FileQualitySubmitV30Request) *ApiOpenApiV30FileQualitySubmitPostRequest {
	r.fileQualitySubmitV30Request = &fileQualitySubmitV30Request
	return r
}

func (r *ApiOpenApiV30FileQualitySubmitPostRequest) Execute() (*FileQualitySubmitV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30FileQualitySubmitPostRequest) AccessToken(accessToken string) *ApiOpenApiV30FileQualitySubmitPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30FileQualitySubmitPostRequest) WithLog(enable bool) *ApiOpenApiV30FileQualitySubmitPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30FileQualitySubmitPost Method for OpenApiV30FileQualitySubmitPost

素材属性提交分析

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30FileQualitySubmitPostRequest
*/
func (a *FileQualitySubmitV30ApiService) Post(ctx context.Context) *ApiOpenApiV30FileQualitySubmitPostRequest {
	return &ApiOpenApiV30FileQualitySubmitPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FileQualitySubmitV30Response
func (a *FileQualitySubmitV30ApiService) postExecute(r *ApiOpenApiV30FileQualitySubmitPostRequest) (*FileQualitySubmitV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FileQualitySubmitV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/file/quality/submit/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.fileQualitySubmitV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
