/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsAwemeAuthV2ApiService ToolsAwemeAuthV2Api service
type ToolsAwemeAuthV2ApiService service

type ApiOpenApi2ToolsAwemeAuthPostRequest struct {
	ctx                     context.Context
	ApiService              *ToolsAwemeAuthV2ApiService
	toolsAwemeAuthV2Request *ToolsAwemeAuthV2Request
}

func (r *ApiOpenApi2ToolsAwemeAuthPostRequest) ToolsAwemeAuthV2Request(toolsAwemeAuthV2Request ToolsAwemeAuthV2Request) *ApiOpenApi2ToolsAwemeAuthPostRequest {
	r.toolsAwemeAuthV2Request = &toolsAwemeAuthV2Request
	return r
}

func (r *ApiOpenApi2ToolsAwemeAuthPostRequest) Execute() (*ToolsAwemeAuthV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ToolsAwemeAuthPostRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsAwemeAuthPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsAwemeAuthPostRequest) WithLog(enable bool) *ApiOpenApi2ToolsAwemeAuthPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsAwemeAuthPost Method for OpenApi2ToolsAwemeAuthPost

发起广告主和抖音号/抖音短视频的的授权绑定

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsAwemeAuthPostRequest
*/
func (a *ToolsAwemeAuthV2ApiService) Post(ctx context.Context) *ApiOpenApi2ToolsAwemeAuthPostRequest {
	return &ApiOpenApi2ToolsAwemeAuthPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsAwemeAuthV2Response
func (a *ToolsAwemeAuthV2ApiService) postExecute(r *ApiOpenApi2ToolsAwemeAuthPostRequest) (*ToolsAwemeAuthV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsAwemeAuthV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/aweme_auth/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsAwemeAuthV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
