/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanFileVideoAwemeGetV10ApiService QianchuanFileVideoAwemeGetV10Api service
type QianchuanFileVideoAwemeGetV10ApiService service

type ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest struct {
	ctx                     context.Context
	ApiService              *QianchuanFileVideoAwemeGetV10ApiService
	advertiserId            *int64
	awemeId                 *int64
	adBindAwemeId           *int64
	pullAwemeExcellentVideo *bool
	filtering               *QianchuanFileVideoAwemeGetV10Filtering
	cursor                  *int64
	count                   *int64
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) AwemeId(awemeId int64) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	r.awemeId = &awemeId
	return r
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) AdBindAwemeId(adBindAwemeId int64) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	r.adBindAwemeId = &adBindAwemeId
	return r
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) PullAwemeExcellentVideo(pullAwemeExcellentVideo bool) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	r.pullAwemeExcellentVideo = &pullAwemeExcellentVideo
	return r
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) Filtering(filtering QianchuanFileVideoAwemeGetV10Filtering) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) Cursor(cursor int64) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	r.cursor = &cursor
	return r
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) Count(count int64) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	r.count = &count
	return r
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) Execute() (*QianchuanFileVideoAwemeGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanFileVideoAwemeGetGet Method for OpenApiV10QianchuanFileVideoAwemeGetGet

获取抖音号下已有的视频素材，支持传入商品id，过滤拉取包含待推广商品的视频

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest
*/
func (a *QianchuanFileVideoAwemeGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest {
	return &ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanFileVideoAwemeGetV10Response
func (a *QianchuanFileVideoAwemeGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanFileVideoAwemeGetGetRequest) (*QianchuanFileVideoAwemeGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanFileVideoAwemeGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/file/video/aweme/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.awemeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aweme_id", r.awemeId)
	}
	if r.adBindAwemeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ad_bind_aweme_id", r.adBindAwemeId)
	}
	if r.pullAwemeExcellentVideo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pull_aweme_excellent_video", r.pullAwemeExcellentVideo)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
