/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// InvoiceTicketListV30ApiService InvoiceTicketListV30Api service
type InvoiceTicketListV30ApiService service

type ApiOpenApiV30InvoiceTicketListGetRequest struct {
	ctx            context.Context
	ApiService     *InvoiceTicketListV30ApiService
	accountIds     *[]int64
	platform       *InvoiceTicketListV30Platform
	startMonth     *string
	endMonth       *string
	ticketStatuses *[]*InvoiceTicketListV30TicketStatuses
	scrollId       *string
	pageSize       *int32
}

// 投放账户，最多支持100个
func (r *ApiOpenApiV30InvoiceTicketListGetRequest) AccountIds(accountIds []int64) *ApiOpenApiV30InvoiceTicketListGetRequest {
	r.accountIds = &accountIds
	return r
}

// 业务线
func (r *ApiOpenApiV30InvoiceTicketListGetRequest) Platform(platform InvoiceTicketListV30Platform) *ApiOpenApiV30InvoiceTicketListGetRequest {
	r.platform = &platform
	return r
}

// 账单起始周期，格式yyyyMM，如202601；默认限制查询202601之后的账单
func (r *ApiOpenApiV30InvoiceTicketListGetRequest) StartMonth(startMonth string) *ApiOpenApiV30InvoiceTicketListGetRequest {
	r.startMonth = &startMonth
	return r
}

// 账单截止周期，格式yyyyMM，如202602
func (r *ApiOpenApiV30InvoiceTicketListGetRequest) EndMonth(endMonth string) *ApiOpenApiV30InvoiceTicketListGetRequest {
	r.endMonth = &endMonth
	return r
}

// 账单状态
func (r *ApiOpenApiV30InvoiceTicketListGetRequest) TicketStatuses(ticketStatuses []*InvoiceTicketListV30TicketStatuses) *ApiOpenApiV30InvoiceTicketListGetRequest {
	r.ticketStatuses = &ticketStatuses
	return r
}

// 分页ID
func (r *ApiOpenApiV30InvoiceTicketListGetRequest) ScrollId(scrollId string) *ApiOpenApiV30InvoiceTicketListGetRequest {
	r.scrollId = &scrollId
	return r
}

func (r *ApiOpenApiV30InvoiceTicketListGetRequest) PageSize(pageSize int32) *ApiOpenApiV30InvoiceTicketListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30InvoiceTicketListGetRequest) Execute() (*InvoiceTicketListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30InvoiceTicketListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30InvoiceTicketListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30InvoiceTicketListGetRequest) WithLog(enable bool) *ApiOpenApiV30InvoiceTicketListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30InvoiceTicketListGet Method for OpenApiV30InvoiceTicketListGet

本接口为申请开票第一步，拉取发票账单，填写账单开票金额

1. SVIP使用根组织账户，拉取组织下所有账户的账单
2. 直客使用账户访问，拉取账户下账单

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30InvoiceTicketListGetRequest
*/
func (a *InvoiceTicketListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30InvoiceTicketListGetRequest {
	return &ApiOpenApiV30InvoiceTicketListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InvoiceTicketListV30Response
func (a *InvoiceTicketListV30ApiService) getExecute(r *ApiOpenApiV30InvoiceTicketListGetRequest) (*InvoiceTicketListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *InvoiceTicketListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/invoice/ticket/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountIds == nil {
		return localVarReturnValue, nil, ReportError("accountIds is required and must be specified")
	}
	if r.platform == nil {
		return localVarReturnValue, nil, ReportError("platform is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_ids", r.accountIds)
	parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform)
	if r.startMonth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_month", r.startMonth)
	}
	if r.endMonth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_month", r.endMonth)
	}
	if r.ticketStatuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ticket_statuses", r.ticketStatuses)
	}
	if r.scrollId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scroll_id", r.scrollId)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
