/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanShopGetV10ApiService QianchuanShopGetV10Api service
type QianchuanShopGetV10ApiService service

type ApiOpenApiV10QianchuanShopGetGetRequest struct {
	ctx        context.Context
	ApiService *QianchuanShopGetV10ApiService
	shopIds    *[]int64
}

func (r *ApiOpenApiV10QianchuanShopGetGetRequest) ShopIds(shopIds []int64) *ApiOpenApiV10QianchuanShopGetGetRequest {
	r.shopIds = &shopIds
	return r
}

func (r *ApiOpenApiV10QianchuanShopGetGetRequest) Execute() (*QianchuanShopGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanShopGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanShopGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanShopGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanShopGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanShopGetGet Method for OpenApiV10QianchuanShopGetGet

获取店铺的基本信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanShopGetGetRequest
*/
func (a *QianchuanShopGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanShopGetGetRequest {
	return &ApiOpenApiV10QianchuanShopGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanShopGetV10Response
func (a *QianchuanShopGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanShopGetGetRequest) (*QianchuanShopGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanShopGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/shop/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.shopIds == nil {
		return localVarReturnValue, nil, ReportError("shopIds is required and must be specified")
	}
	if len(*r.shopIds) < 1 {
		return localVarReturnValue, nil, ReportError("shopIds must have at least 1 elements")
	}
	if len(*r.shopIds) > 10 {
		return localVarReturnValue, nil, ReportError("shopIds must have less than 10 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "shop_ids", r.shopIds)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
