/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AicElementDeleteV30ApiService AicElementDeleteV30Api service
type AicElementDeleteV30ApiService service

type ApiOpenApiV30AicElementDeletePostRequest struct {
	ctx                        context.Context
	ApiService                 *AicElementDeleteV30ApiService
	aicElementDeleteV30Request *AicElementDeleteV30Request
}

func (r *ApiOpenApiV30AicElementDeletePostRequest) AicElementDeleteV30Request(aicElementDeleteV30Request AicElementDeleteV30Request) *ApiOpenApiV30AicElementDeletePostRequest {
	r.aicElementDeleteV30Request = &aicElementDeleteV30Request
	return r
}

func (r *ApiOpenApiV30AicElementDeletePostRequest) Execute() (*AicElementDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30AicElementDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30AicElementDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30AicElementDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30AicElementDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30AicElementDeletePost Method for OpenApiV30AicElementDeletePost

输入element_id，删除对应的元素(文件、文件夹)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30AicElementDeletePostRequest
*/
func (a *AicElementDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30AicElementDeletePostRequest {
	return &ApiOpenApiV30AicElementDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AicElementDeleteV30Response
func (a *AicElementDeleteV30ApiService) postExecute(r *ApiOpenApiV30AicElementDeletePostRequest) (*AicElementDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AicElementDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/aic/element/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.aicElementDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
