/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// CustomerCenterAdvertiserListV2ApiService CustomerCenterAdvertiserListV2Api service
type CustomerCenterAdvertiserListV2ApiService service

type ApiOpenApi2CustomerCenterAdvertiserListGetRequest struct {
	ctx           context.Context
	ApiService    *CustomerCenterAdvertiserListV2ApiService
	accountSource *CustomerCenterAdvertiserListV2AccountSource
	ccAccountId   *int64
	filtering     *CustomerCenterAdvertiserListV2Filtering
	page          *int64
	pageSize      *int64
}

func (r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) AccountSource(accountSource CustomerCenterAdvertiserListV2AccountSource) *ApiOpenApi2CustomerCenterAdvertiserListGetRequest {
	r.accountSource = &accountSource
	return r
}

func (r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) CcAccountId(ccAccountId int64) *ApiOpenApi2CustomerCenterAdvertiserListGetRequest {
	r.ccAccountId = &ccAccountId
	return r
}

func (r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) Filtering(filtering CustomerCenterAdvertiserListV2Filtering) *ApiOpenApi2CustomerCenterAdvertiserListGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) Page(page int64) *ApiOpenApi2CustomerCenterAdvertiserListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) PageSize(pageSize int64) *ApiOpenApi2CustomerCenterAdvertiserListGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) Execute() (*CustomerCenterAdvertiserListV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) AccessToken(accessToken string) *ApiOpenApi2CustomerCenterAdvertiserListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) WithLog(enable bool) *ApiOpenApi2CustomerCenterAdvertiserListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2CustomerCenterAdvertiserListGet Method for OpenApi2CustomerCenterAdvertiserListGet

获取当前纵横组织下的资产账户列表（广告主，企业号），如果纵横组织下还有子级组织账号，会把cc_account_id下所有可操作的资产账户全量返回

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2CustomerCenterAdvertiserListGetRequest
*/
func (a *CustomerCenterAdvertiserListV2ApiService) Get(ctx context.Context) *ApiOpenApi2CustomerCenterAdvertiserListGetRequest {
	return &ApiOpenApi2CustomerCenterAdvertiserListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CustomerCenterAdvertiserListV2Response
func (a *CustomerCenterAdvertiserListV2ApiService) getExecute(r *ApiOpenApi2CustomerCenterAdvertiserListGetRequest) (*CustomerCenterAdvertiserListV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *CustomerCenterAdvertiserListV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/customer_center/advertiser/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountSource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_source", r.accountSource)
	}
	if r.ccAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cc_account_id", r.ccAccountId)
	}
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
