/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalAwemeAuthCreateV30ApiService LocalAwemeAuthCreateV30Api service
type LocalAwemeAuthCreateV30ApiService service

type ApiOpenApiV30LocalAwemeAuthCreatePostRequest struct {
	ctx                            context.Context
	ApiService                     *LocalAwemeAuthCreateV30ApiService
	localAwemeAuthCreateV30Request *LocalAwemeAuthCreateV30Request
}

func (r *ApiOpenApiV30LocalAwemeAuthCreatePostRequest) LocalAwemeAuthCreateV30Request(localAwemeAuthCreateV30Request LocalAwemeAuthCreateV30Request) *ApiOpenApiV30LocalAwemeAuthCreatePostRequest {
	r.localAwemeAuthCreateV30Request = &localAwemeAuthCreateV30Request
	return r
}

func (r *ApiOpenApiV30LocalAwemeAuthCreatePostRequest) Execute() (*LocalAwemeAuthCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalAwemeAuthCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalAwemeAuthCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalAwemeAuthCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30LocalAwemeAuthCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalAwemeAuthCreatePost Method for OpenApiV30LocalAwemeAuthCreatePost

发起抖音号授权

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalAwemeAuthCreatePostRequest
*/
func (a *LocalAwemeAuthCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalAwemeAuthCreatePostRequest {
	return &ApiOpenApiV30LocalAwemeAuthCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalAwemeAuthCreateV30Response
func (a *LocalAwemeAuthCreateV30ApiService) postExecute(r *ApiOpenApiV30LocalAwemeAuthCreatePostRequest) (*LocalAwemeAuthCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalAwemeAuthCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/aweme_auth/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localAwemeAuthCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
