/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpStarTaskTaskAuthorGetV30ApiService ToolsEbpStarTaskTaskAuthorGetV30Api service
type ToolsEbpStarTaskTaskAuthorGetV30ApiService service

type ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest struct {
	ctx                      context.Context
	ApiService               *ToolsEbpStarTaskTaskAuthorGetV30ApiService
	enterpriseOrganizationId *int64
	starTaskId               *int64
	accountId                *int64
	accountType              *ToolsEbpStarTaskTaskAuthorGetV30AccountType
	page                     *int64
	pageSize                 *int64
	filtering                *ToolsEbpStarTaskTaskAuthorGetV30Filtering
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) EnterpriseOrganizationId(enterpriseOrganizationId int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	r.enterpriseOrganizationId = &enterpriseOrganizationId
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) StarTaskId(starTaskId int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	r.starTaskId = &starTaskId
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) AccountType(accountType ToolsEbpStarTaskTaskAuthorGetV30AccountType) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	r.accountType = &accountType
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) Page(page int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 过滤器
func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) Filtering(filtering ToolsEbpStarTaskTaskAuthorGetV30Filtering) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) Execute() (*ToolsEbpStarTaskTaskAuthorGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpStarTaskTaskAuthorGetGet Method for OpenApiV30ToolsEbpStarTaskTaskAuthorGetGet

获取EBP星广联投任务已投稿达人信息，只支持通用版星广联投任务，不兼容短剧版

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest
*/
func (a *ToolsEbpStarTaskTaskAuthorGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest {
	return &ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpStarTaskTaskAuthorGetV30Response
func (a *ToolsEbpStarTaskTaskAuthorGetV30ApiService) getExecute(r *ApiOpenApiV30ToolsEbpStarTaskTaskAuthorGetGetRequest) (*ToolsEbpStarTaskTaskAuthorGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpStarTaskTaskAuthorGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/star_task/task_author/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseOrganizationId == nil {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationId is required and must be specified")
	}
	if r.starTaskId == nil {
		return localVarReturnValue, nil, ReportError("starTaskId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.accountType == nil {
		return localVarReturnValue, nil, ReportError("accountType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_organization_id", r.enterpriseOrganizationId)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "star_task_id", r.starTaskId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "account_type", r.accountType)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
