/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// DouplusOrderCreateV30ApiService DouplusOrderCreateV30Api service
type DouplusOrderCreateV30ApiService service

type ApiOpenApiV30DouplusOrderCreatePostRequest struct {
	ctx                          context.Context
	ApiService                   *DouplusOrderCreateV30ApiService
	douplusOrderCreateV30Request *DouplusOrderCreateV30Request
}

func (r *ApiOpenApiV30DouplusOrderCreatePostRequest) DouplusOrderCreateV30Request(douplusOrderCreateV30Request DouplusOrderCreateV30Request) *ApiOpenApiV30DouplusOrderCreatePostRequest {
	r.douplusOrderCreateV30Request = &douplusOrderCreateV30Request
	return r
}

func (r *ApiOpenApiV30DouplusOrderCreatePostRequest) Execute() (*DouplusOrderCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30DouplusOrderCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30DouplusOrderCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30DouplusOrderCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30DouplusOrderCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30DouplusOrderCreatePost Method for OpenApiV30DouplusOrderCreatePost

创建DOU+订单(API白名单，联系巨量引擎销售开通）

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30DouplusOrderCreatePostRequest
*/
func (a *DouplusOrderCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30DouplusOrderCreatePostRequest {
	return &ApiOpenApiV30DouplusOrderCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DouplusOrderCreateV30Response
func (a *DouplusOrderCreateV30ApiService) postExecute(r *ApiOpenApiV30DouplusOrderCreatePostRequest) (*DouplusOrderCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *DouplusOrderCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/douplus/order/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.douplusOrderCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
