/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalPromotionUpdateV30ApiService LocalPromotionUpdateV30Api service
type LocalPromotionUpdateV30ApiService service

type ApiOpenApiV30LocalPromotionUpdatePostRequest struct {
	ctx                            context.Context
	ApiService                     *LocalPromotionUpdateV30ApiService
	localPromotionUpdateV30Request *LocalPromotionUpdateV30Request
}

func (r *ApiOpenApiV30LocalPromotionUpdatePostRequest) LocalPromotionUpdateV30Request(localPromotionUpdateV30Request LocalPromotionUpdateV30Request) *ApiOpenApiV30LocalPromotionUpdatePostRequest {
	r.localPromotionUpdateV30Request = &localPromotionUpdateV30Request
	return r
}

func (r *ApiOpenApiV30LocalPromotionUpdatePostRequest) Execute() (*LocalPromotionUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalPromotionUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalPromotionUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalPromotionUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30LocalPromotionUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalPromotionUpdatePost Method for OpenApiV30LocalPromotionUpdatePost

广告更新

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalPromotionUpdatePostRequest
*/
func (a *LocalPromotionUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalPromotionUpdatePostRequest {
	return &ApiOpenApiV30LocalPromotionUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalPromotionUpdateV30Response
func (a *LocalPromotionUpdateV30ApiService) postExecute(r *ApiOpenApiV30LocalPromotionUpdatePostRequest) (*LocalPromotionUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalPromotionUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/promotion/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localPromotionUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
