/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdvertiserFundDetailGrantV2ApiService AdvertiserFundDetailGrantV2Api service
type AdvertiserFundDetailGrantV2ApiService service

type ApiOpenApi2AdvertiserFundDetailGrantGetRequest struct {
	ctx          context.Context
	ApiService   *AdvertiserFundDetailGrantV2ApiService
	advertiserId *int64
	startDate    *string
	endDate      *string
	page         *int32
	pageSize     *int32
}

func (r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2AdvertiserFundDetailGrantGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) StartDate(startDate string) *ApiOpenApi2AdvertiserFundDetailGrantGetRequest {
	r.startDate = &startDate
	return r
}

func (r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) EndDate(endDate string) *ApiOpenApi2AdvertiserFundDetailGrantGetRequest {
	r.endDate = &endDate
	return r
}

func (r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) Page(page int32) *ApiOpenApi2AdvertiserFundDetailGrantGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) PageSize(pageSize int32) *ApiOpenApi2AdvertiserFundDetailGrantGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) Execute() (*AdvertiserFundDetailGrantV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) AccessToken(accessToken string) *ApiOpenApi2AdvertiserFundDetailGrantGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) WithLog(enable bool) *ApiOpenApi2AdvertiserFundDetailGrantGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2AdvertiserFundDetailGrantGet Method for OpenApi2AdvertiserFundDetailGrantGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2AdvertiserFundDetailGrantGetRequest
*/
func (a *AdvertiserFundDetailGrantV2ApiService) Get(ctx context.Context) *ApiOpenApi2AdvertiserFundDetailGrantGetRequest {
	return &ApiOpenApi2AdvertiserFundDetailGrantGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdvertiserFundDetailGrantV2Response
func (a *AdvertiserFundDetailGrantV2ApiService) getExecute(r *ApiOpenApi2AdvertiserFundDetailGrantGetRequest) (*AdvertiserFundDetailGrantV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdvertiserFundDetailGrantV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/advertiser/fund/detail_grant/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if *r.advertiserId > -9223372036854775616 {
		return localVarReturnValue, nil, ReportError("advertiserId must be less than -9223372036854775616")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
