/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanTodayLiveRoomProductListGetV10ApiService QianchuanTodayLiveRoomProductListGetV10Api service
type QianchuanTodayLiveRoomProductListGetV10ApiService service

type ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest struct {
	ctx           context.Context
	ApiService    *QianchuanTodayLiveRoomProductListGetV10ApiService
	advertiserId  *int64
	roomId        *int64
	fields        *[]string
	explainStatus *QianchuanTodayLiveRoomProductListGetV10ExplainStatus
	page          *int32
	pageSize      *int32
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) RoomId(roomId int64) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	r.roomId = &roomId
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) Fields(fields []string) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	r.fields = &fields
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) ExplainStatus(explainStatus QianchuanTodayLiveRoomProductListGetV10ExplainStatus) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	r.explainStatus = &explainStatus
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) Execute() (*QianchuanTodayLiveRoomProductListGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanTodayLiveRoomProductListGetGet Method for OpenApiV10QianchuanTodayLiveRoomProductListGetGet

获取直播间商品列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest
*/
func (a *QianchuanTodayLiveRoomProductListGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest {
	return &ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanTodayLiveRoomProductListGetV10Response
func (a *QianchuanTodayLiveRoomProductListGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanTodayLiveRoomProductListGetGetRequest) (*QianchuanTodayLiveRoomProductListGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanTodayLiveRoomProductListGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/today_live/room/product_list/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.roomId == nil {
		return localVarReturnValue, nil, ReportError("roomId is required and must be specified")
	}
	if r.fields == nil {
		return localVarReturnValue, nil, ReportError("fields is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "room_id", r.roomId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields)
	if r.explainStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "explain_status", r.explainStatus)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
