/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// FilePlayableListV30ApiService FilePlayableListV30Api service
type FilePlayableListV30ApiService service

type ApiOpenApiV30FilePlayableListGetRequest struct {
	ctx          context.Context
	ApiService   *FilePlayableListV30ApiService
	advertiserId *int64
	materialType *FilePlayableListV30MaterialType
	filtering    *FilePlayableListV30Filtering
	pageSize     *int64
	page         *int64
}

func (r *ApiOpenApiV30FilePlayableListGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30FilePlayableListGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 素材类型
func (r *ApiOpenApiV30FilePlayableListGetRequest) MaterialType(materialType FilePlayableListV30MaterialType) *ApiOpenApiV30FilePlayableListGetRequest {
	r.materialType = &materialType
	return r
}

// 可选过滤参数
func (r *ApiOpenApiV30FilePlayableListGetRequest) Filtering(filtering FilePlayableListV30Filtering) *ApiOpenApiV30FilePlayableListGetRequest {
	r.filtering = &filtering
	return r
}

// 分页大小（&lt;&#x3D;0为未定义行为）
func (r *ApiOpenApiV30FilePlayableListGetRequest) PageSize(pageSize int64) *ApiOpenApiV30FilePlayableListGetRequest {
	r.pageSize = &pageSize
	return r
}

// 页码
func (r *ApiOpenApiV30FilePlayableListGetRequest) Page(page int64) *ApiOpenApiV30FilePlayableListGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV30FilePlayableListGetRequest) Execute() (*FilePlayableListV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30FilePlayableListGetRequest) AccessToken(accessToken string) *ApiOpenApiV30FilePlayableListGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30FilePlayableListGetRequest) WithLog(enable bool) *ApiOpenApiV30FilePlayableListGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30FilePlayableListGet Method for OpenApiV30FilePlayableListGet

直玩、试玩列表

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30FilePlayableListGetRequest
*/
func (a *FilePlayableListV30ApiService) Get(ctx context.Context) *ApiOpenApiV30FilePlayableListGetRequest {
	return &ApiOpenApiV30FilePlayableListGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FilePlayableListV30Response
func (a *FilePlayableListV30ApiService) getExecute(r *ApiOpenApiV30FilePlayableListGetRequest) (*FilePlayableListV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *FilePlayableListV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/file/playable/list/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.materialType == nil {
		return localVarReturnValue, nil, ReportError("materialType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "material_type", r.materialType)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
