/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AicVideoMixcutCreateV30ApiService AicVideoMixcutCreateV30Api service
type AicVideoMixcutCreateV30ApiService service

type ApiOpenApiV30AicVideoMixcutCreatePostRequest struct {
	ctx                            context.Context
	ApiService                     *AicVideoMixcutCreateV30ApiService
	aicVideoMixcutCreateV30Request *AicVideoMixcutCreateV30Request
}

func (r *ApiOpenApiV30AicVideoMixcutCreatePostRequest) AicVideoMixcutCreateV30Request(aicVideoMixcutCreateV30Request AicVideoMixcutCreateV30Request) *ApiOpenApiV30AicVideoMixcutCreatePostRequest {
	r.aicVideoMixcutCreateV30Request = &aicVideoMixcutCreateV30Request
	return r
}

func (r *ApiOpenApiV30AicVideoMixcutCreatePostRequest) Execute() (*AicVideoMixcutCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30AicVideoMixcutCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30AicVideoMixcutCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30AicVideoMixcutCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30AicVideoMixcutCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30AicVideoMixcutCreatePost Method for OpenApiV30AicVideoMixcutCreatePost

输入视频原料、设定配置项（如制定字体、音乐），输出含ai脚本的视频成片

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30AicVideoMixcutCreatePostRequest
*/
func (a *AicVideoMixcutCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30AicVideoMixcutCreatePostRequest {
	return &ApiOpenApiV30AicVideoMixcutCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AicVideoMixcutCreateV30Response
func (a *AicVideoMixcutCreateV30ApiService) postExecute(r *ApiOpenApiV30AicVideoMixcutCreatePostRequest) (*AicVideoMixcutCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AicVideoMixcutCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/aic/video_mixcut/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.aicVideoMixcutCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
