/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// LocalBudgetUpdateV30ApiService LocalBudgetUpdateV30Api service
type LocalBudgetUpdateV30ApiService service

type ApiOpenApiV30LocalBudgetUpdatePostRequest struct {
	ctx                         context.Context
	ApiService                  *LocalBudgetUpdateV30ApiService
	localBudgetUpdateV30Request *LocalBudgetUpdateV30Request
}

func (r *ApiOpenApiV30LocalBudgetUpdatePostRequest) LocalBudgetUpdateV30Request(localBudgetUpdateV30Request LocalBudgetUpdateV30Request) *ApiOpenApiV30LocalBudgetUpdatePostRequest {
	r.localBudgetUpdateV30Request = &localBudgetUpdateV30Request
	return r
}

func (r *ApiOpenApiV30LocalBudgetUpdatePostRequest) Execute() (*LocalBudgetUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30LocalBudgetUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30LocalBudgetUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30LocalBudgetUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30LocalBudgetUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30LocalBudgetUpdatePost Method for OpenApiV30LocalBudgetUpdatePost

更新账户日预算

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30LocalBudgetUpdatePostRequest
*/
func (a *LocalBudgetUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30LocalBudgetUpdatePostRequest {
	return &ApiOpenApiV30LocalBudgetUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return LocalBudgetUpdateV30Response
func (a *LocalBudgetUpdateV30ApiService) postExecute(r *ApiOpenApiV30LocalBudgetUpdatePostRequest) (*LocalBudgetUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *LocalBudgetUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/local/budget/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.localBudgetUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
