/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsWechatGameCreateV30ApiService ToolsWechatGameCreateV30Api service
type ToolsWechatGameCreateV30ApiService service

type ApiOpenApiV30ToolsWechatGameCreatePostRequest struct {
	ctx                             context.Context
	ApiService                      *ToolsWechatGameCreateV30ApiService
	toolsWechatGameCreateV30Request *ToolsWechatGameCreateV30Request
}

func (r *ApiOpenApiV30ToolsWechatGameCreatePostRequest) ToolsWechatGameCreateV30Request(toolsWechatGameCreateV30Request ToolsWechatGameCreateV30Request) *ApiOpenApiV30ToolsWechatGameCreatePostRequest {
	r.toolsWechatGameCreateV30Request = &toolsWechatGameCreateV30Request
	return r
}

func (r *ApiOpenApiV30ToolsWechatGameCreatePostRequest) Execute() (*ToolsWechatGameCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ToolsWechatGameCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsWechatGameCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsWechatGameCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30ToolsWechatGameCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsWechatGameCreatePost Method for OpenApiV30ToolsWechatGameCreatePost

mapi场景创建微信小游戏

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsWechatGameCreatePostRequest
*/
func (a *ToolsWechatGameCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ToolsWechatGameCreatePostRequest {
	return &ApiOpenApiV30ToolsWechatGameCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsWechatGameCreateV30Response
func (a *ToolsWechatGameCreateV30ApiService) postExecute(r *ApiOpenApiV30ToolsWechatGameCreatePostRequest) (*ToolsWechatGameCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsWechatGameCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/wechat_game/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsWechatGameCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
