/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ProjectCreateV30ApiService ProjectCreateV30Api service
type ProjectCreateV30ApiService service

type ApiOpenApiV30ProjectCreatePostRequest struct {
	ctx                     context.Context
	ApiService              *ProjectCreateV30ApiService
	projectCreateV30Request *ProjectCreateV30Request
}

func (r *ApiOpenApiV30ProjectCreatePostRequest) ProjectCreateV30Request(projectCreateV30Request ProjectCreateV30Request) *ApiOpenApiV30ProjectCreatePostRequest {
	r.projectCreateV30Request = &projectCreateV30Request
	return r
}

func (r *ApiOpenApiV30ProjectCreatePostRequest) Execute() (*ProjectCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ProjectCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ProjectCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ProjectCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30ProjectCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ProjectCreatePost Method for OpenApiV30ProjectCreatePost

2.0创建项目

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ProjectCreatePostRequest
*/
func (a *ProjectCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ProjectCreatePostRequest {
	return &ApiOpenApiV30ProjectCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectCreateV30Response
func (a *ProjectCreateV30ApiService) postExecute(r *ApiOpenApiV30ProjectCreatePostRequest) (*ProjectCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ProjectCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/project/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.projectCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
