/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpVideoUploadV30ApiService ToolsEbpVideoUploadV30Api service
type ToolsEbpVideoUploadV30ApiService service

type ApiOpenApiV30ToolsEbpVideoUploadPostRequest struct {
	ctx            context.Context
	ApiService     *ToolsEbpVideoUploadV30ApiService
	accountId      *int64
	accountType    *ToolsEbpVideoUploadV30AccountType
	fileName       *string
	isAigc         *bool
	labels         *[]string
	uploadType     *ToolsEbpVideoUploadV30UploadType
	videoFile      *FormFileInfo
	videoSignature *string
	videoUrl       *string
}

func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) AccountId(accountId int64) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.accountId = &accountId
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) AccountType(accountType ToolsEbpVideoUploadV30AccountType) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.accountType = &accountType
	return r
}

// 素材的文件名，可自定义素材名，不传择默认取文件名，最长255个字符 注：若同一素材已进行上传，重新上传不会改名
func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) FileName(fileName string) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.fileName = &fileName
	return r
}

// 视频素材是否为AIGC生成
func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) IsAigc(isAigc bool) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.isAigc = &isAigc
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) Labels(labels []string) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.labels = &labels
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) UploadType(uploadType ToolsEbpVideoUploadV30UploadType) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.uploadType = &uploadType
	return r
}

// 视频文件 允许格式：mp4、mpeg、3gp、avi（10s超时限制） upload_type为UPLOAD_BY_File必填
func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) VideoFile(videoFile *FormFileInfo) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.videoFile = videoFile
	return r
}

// 视频的md5值(用于服务端校验) upload_type为UPLOAD_BY_File必填
func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) VideoSignature(videoSignature string) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.videoSignature = &videoSignature
	return r
}

// 视频url地址 仅支持开发者购置连山云素材服务上传生成的tos链接上传，不支持其他三方链接地址
func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) VideoUrl(videoUrl string) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.videoUrl = &videoUrl
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) Execute() (*ToolsEbpVideoUploadV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpVideoUploadPost Method for OpenApiV30ToolsEbpVideoUploadPost

EBP上传视频

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpVideoUploadPostRequest
*/
func (a *ToolsEbpVideoUploadV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ToolsEbpVideoUploadPostRequest {
	return &ApiOpenApiV30ToolsEbpVideoUploadPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpVideoUploadV30Response
func (a *ToolsEbpVideoUploadV30ApiService) postExecute(r *ApiOpenApiV30ToolsEbpVideoUploadPostRequest) (*ToolsEbpVideoUploadV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpVideoUploadV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/video/upload/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	parameterAddToHeaderOrQuery(localVarFormParams, "account_id", r.accountId)
	if r.accountType != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "account_type", r.accountType)
	}
	if r.fileName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_name", r.fileName)
	}
	if r.isAigc != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "is_aigc", r.isAigc)
	}
	if r.labels != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "labels", r.labels)
	}
	if r.uploadType != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "upload_type", r.uploadType)
	}
	if r.videoFile != nil {
		formFiles["video_file"] = r.videoFile
	}
	if r.videoSignature != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "video_signature", r.videoSignature)
	}
	if r.videoUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "video_url", r.videoUrl)
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
