/*
Oceanengine Open Api

巨量引擎开放平台 Open Api

API version: 1.1.13
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanAdMaterialGetV10ApiService QianchuanAdMaterialGetV10Api service
type QianchuanAdMaterialGetV10ApiService service

type ApiOpenApiV10QianchuanAdMaterialGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanAdMaterialGetV10ApiService
	advertiserId *int64
	adId         *int64
	filtering    *QianchuanAdMaterialGetV10Filtering
	page         *int32
	pageSize     *QianchuanAdMaterialGetV10PageSize
	orderType    *QianchuanAdMaterialGetV10OrderType
	orderField   *string
}

func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) AdId(adId int64) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	r.adId = &adId
	return r
}

// 过滤器
func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) Filtering(filtering QianchuanAdMaterialGetV10Filtering) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	r.filtering = &filtering
	return r
}

func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) Page(page int32) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) PageSize(pageSize QianchuanAdMaterialGetV10PageSize) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	r.pageSize = &pageSize
	return r
}

// 排序方式
func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) OrderType(orderType QianchuanAdMaterialGetV10OrderType) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	r.orderType = &orderType
	return r
}

// 排序字段
func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) OrderField(orderField string) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	r.orderField = &orderField
	return r
}

func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) Execute() (*QianchuanAdMaterialGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanAdMaterialGetGet Method for OpenApiV10QianchuanAdMaterialGetGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanAdMaterialGetGetRequest
*/
func (a *QianchuanAdMaterialGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanAdMaterialGetGetRequest {
	return &ApiOpenApiV10QianchuanAdMaterialGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanAdMaterialGetV10Response
func (a *QianchuanAdMaterialGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanAdMaterialGetGetRequest) (*QianchuanAdMaterialGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanAdMaterialGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/ad/material/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.adId == nil {
		return localVarReturnValue, nil, ReportError("adId is required and must be specified")
	}
	if r.filtering == nil {
		return localVarReturnValue, nil, ReportError("filtering is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "ad_id", r.adId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.orderType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_type", r.orderType)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(r.ctx, req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
