/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// PromotionNewcustomerTypeGetV30ApiService PromotionNewcustomerTypeGetV30Api service
type PromotionNewcustomerTypeGetV30ApiService service

type ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest struct {
	ctx          context.Context
	ApiService   *PromotionNewcustomerTypeGetV30ApiService
	advertiserId *int64
}

func (r *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest) Execute() (*PromotionNewcustomerTypeGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest) WithLog(enable bool) *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30PromotionNewcustomerTypeGetGet Method for OpenApiV30PromotionNewcustomerTypeGetGet

根据advid 判断该广告主是否在简单投能力开放范围内

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest
*/
func (a *PromotionNewcustomerTypeGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest {
	return &ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PromotionNewcustomerTypeGetV30Response
func (a *PromotionNewcustomerTypeGetV30ApiService) getExecute(r *ApiOpenApiV30PromotionNewcustomerTypeGetGetRequest) (*PromotionNewcustomerTypeGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *PromotionNewcustomerTypeGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/promotion_newcustomer_type/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
