/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// PromotionCreateV30ApiService PromotionCreateV30Api service
type PromotionCreateV30ApiService service

type ApiOpenApiV30PromotionCreatePostRequest struct {
	ctx                       context.Context
	ApiService                *PromotionCreateV30ApiService
	promotionCreateV30Request *PromotionCreateV30Request
}

func (r *ApiOpenApiV30PromotionCreatePostRequest) PromotionCreateV30Request(promotionCreateV30Request PromotionCreateV30Request) *ApiOpenApiV30PromotionCreatePostRequest {
	r.promotionCreateV30Request = &promotionCreateV30Request
	return r
}

func (r *ApiOpenApiV30PromotionCreatePostRequest) Execute() (*PromotionCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30PromotionCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30PromotionCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30PromotionCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30PromotionCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30PromotionCreatePost Method for OpenApiV30PromotionCreatePost

创编2.0-创建广告

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30PromotionCreatePostRequest
*/
func (a *PromotionCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30PromotionCreatePostRequest {
	return &ApiOpenApiV30PromotionCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PromotionCreateV30Response
func (a *PromotionCreateV30ApiService) postExecute(r *ApiOpenApiV30PromotionCreatePostRequest) (*PromotionCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *PromotionCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/promotion/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.promotionCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
