/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsEbpVideoDeleteV30ApiService ToolsEbpVideoDeleteV30Api service
type ToolsEbpVideoDeleteV30ApiService service

type ApiOpenApiV30ToolsEbpVideoDeletePostRequest struct {
	ctx                           context.Context
	ApiService                    *ToolsEbpVideoDeleteV30ApiService
	toolsEbpVideoDeleteV30Request *ToolsEbpVideoDeleteV30Request
}

func (r *ApiOpenApiV30ToolsEbpVideoDeletePostRequest) ToolsEbpVideoDeleteV30Request(toolsEbpVideoDeleteV30Request ToolsEbpVideoDeleteV30Request) *ApiOpenApiV30ToolsEbpVideoDeletePostRequest {
	r.toolsEbpVideoDeleteV30Request = &toolsEbpVideoDeleteV30Request
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoDeletePostRequest) Execute() (*ToolsEbpVideoDeleteV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ToolsEbpVideoDeletePostRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsEbpVideoDeletePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsEbpVideoDeletePostRequest) WithLog(enable bool) *ApiOpenApiV30ToolsEbpVideoDeletePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsEbpVideoDeletePost Method for OpenApiV30ToolsEbpVideoDeletePost

批量删除EBP视频

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsEbpVideoDeletePostRequest
*/
func (a *ToolsEbpVideoDeleteV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ToolsEbpVideoDeletePostRequest {
	return &ApiOpenApiV30ToolsEbpVideoDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsEbpVideoDeleteV30Response
func (a *ToolsEbpVideoDeleteV30ApiService) postExecute(r *ApiOpenApiV30ToolsEbpVideoDeletePostRequest) (*ToolsEbpVideoDeleteV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsEbpVideoDeleteV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/ebp/video/delete/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsEbpVideoDeleteV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
