/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ReportAudienceGenderV2ApiService ReportAudienceGenderV2Api service
type ReportAudienceGenderV2ApiService service

type ApiOpenApi2ReportAudienceGenderGetRequest struct {
	ctx          context.Context
	ApiService   *ReportAudienceGenderV2ApiService
	advertiserId *int64
	endDate      **string
	idType       *ReportAudienceGenderV2IdType
	ids          *[]int64
	metrics      *[]string
	startDate    **string
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApi2ReportAudienceGenderGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) EndDate(endDate *string) *ApiOpenApi2ReportAudienceGenderGetRequest {
	r.endDate = &endDate
	return r
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) IdType(idType ReportAudienceGenderV2IdType) *ApiOpenApi2ReportAudienceGenderGetRequest {
	r.idType = &idType
	return r
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) Ids(ids []int64) *ApiOpenApi2ReportAudienceGenderGetRequest {
	r.ids = &ids
	return r
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) Metrics(metrics []string) *ApiOpenApi2ReportAudienceGenderGetRequest {
	r.metrics = &metrics
	return r
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) StartDate(startDate *string) *ApiOpenApi2ReportAudienceGenderGetRequest {
	r.startDate = &startDate
	return r
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) Execute() (*ReportAudienceGenderV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) AccessToken(accessToken string) *ApiOpenApi2ReportAudienceGenderGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ReportAudienceGenderGetRequest) WithLog(enable bool) *ApiOpenApi2ReportAudienceGenderGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ReportAudienceGenderGet Method for OpenApi2ReportAudienceGenderGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ReportAudienceGenderGetRequest
*/
func (a *ReportAudienceGenderV2ApiService) Get(ctx context.Context) *ApiOpenApi2ReportAudienceGenderGetRequest {
	return &ApiOpenApi2ReportAudienceGenderGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReportAudienceGenderV2Response
func (a *ReportAudienceGenderV2ApiService) getExecute(r *ApiOpenApi2ReportAudienceGenderGetRequest) (*ReportAudienceGenderV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ReportAudienceGenderV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/report/audience/gender/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	}
	if r.idType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_type", r.idType)
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids)
	}
	if r.metrics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metrics", r.metrics)
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
