/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanQianchuanVideoStarGetV10ApiService QianchuanQianchuanVideoStarGetV10Api service
type QianchuanQianchuanVideoStarGetV10ApiService service

type ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest struct {
	ctx          context.Context
	ApiService   *QianchuanQianchuanVideoStarGetV10ApiService
	advertiserId *int64
	filtering    *QianchuanQianchuanVideoStarGetV10Filtering
	orderField   *QianchuanQianchuanVideoStarGetV10OrderField
	cursor       *int64
	count        *int64
}

func (r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 视频过滤条件
func (r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) Filtering(filtering QianchuanQianchuanVideoStarGetV10Filtering) *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest {
	r.filtering = &filtering
	return r
}

// 排序字段。默认根据创建时间排序排序 - 按创建时间从近到远：creat_time - 按整体消耗从高到低:stat_cost - 按整体点击率从高到低:ctr - 按整体转化率从高到低:convert_rate - 按整体支付ROI从高到低:total_prepay_and_pay_order_roi2 - 按整体成交金额从高到低:total_pay_order_gmv_for_roi2 - 按播放数从高到低:view_cnt - 按点赞数从高到低:like_cnt - 按评论数从高到低:comment_cnt - 按分享数从高到低:share_cnt
func (r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) OrderField(orderField QianchuanQianchuanVideoStarGetV10OrderField) *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest {
	r.orderField = &orderField
	return r
}

// 页码游标值，第一次拉取，无需入参
func (r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) Cursor(cursor int64) *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest {
	r.cursor = &cursor
	return r
}

// 页面大小，默认值20，限制100
func (r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) Count(count int64) *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest {
	r.count = &count
	return r
}

func (r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) Execute() (*QianchuanQianchuanVideoStarGetV10Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanQianchuanVideoStarGetGet Method for OpenApiV10QianchuanQianchuanVideoStarGetGet

获取星图达人视频
https://bytedance.larkoffice.com/wiki/DMjkwqmcOi4SlHkj9EVckgOGnxf

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest
*/
func (a *QianchuanQianchuanVideoStarGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest {
	return &ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanQianchuanVideoStarGetV10Response
func (a *QianchuanQianchuanVideoStarGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanQianchuanVideoStarGetGetRequest) (*QianchuanQianchuanVideoStarGetV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *QianchuanQianchuanVideoStarGetV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan/qianchuan/video/star/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.filtering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filtering", r.filtering)
	}
	if r.orderField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_field", r.orderField)
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor)
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
