/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AicMixcutTaskSaveV30ApiService AicMixcutTaskSaveV30Api service
type AicMixcutTaskSaveV30ApiService service

type ApiOpenApiV30AicMixcutTaskSavePostRequest struct {
	ctx                         context.Context
	ApiService                  *AicMixcutTaskSaveV30ApiService
	aicMixcutTaskSaveV30Request *AicMixcutTaskSaveV30Request
}

func (r *ApiOpenApiV30AicMixcutTaskSavePostRequest) AicMixcutTaskSaveV30Request(aicMixcutTaskSaveV30Request AicMixcutTaskSaveV30Request) *ApiOpenApiV30AicMixcutTaskSavePostRequest {
	r.aicMixcutTaskSaveV30Request = &aicMixcutTaskSaveV30Request
	return r
}

func (r *ApiOpenApiV30AicMixcutTaskSavePostRequest) Execute() (*AicMixcutTaskSaveV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30AicMixcutTaskSavePostRequest) AccessToken(accessToken string) *ApiOpenApiV30AicMixcutTaskSavePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30AicMixcutTaskSavePostRequest) WithLog(enable bool) *ApiOpenApiV30AicMixcutTaskSavePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30AicMixcutTaskSavePost Method for OpenApiV30AicMixcutTaskSavePost

保存任务生成的视频到即创的视频库（即组织或者是代理账号下面的视频库）。可以使用同组织账号登录即创，进到即创素材库，进行成片审核。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30AicMixcutTaskSavePostRequest
*/
func (a *AicMixcutTaskSaveV30ApiService) Post(ctx context.Context) *ApiOpenApiV30AicMixcutTaskSavePostRequest {
	return &ApiOpenApiV30AicMixcutTaskSavePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AicMixcutTaskSaveV30Response
func (a *AicMixcutTaskSaveV30ApiService) postExecute(r *ApiOpenApiV30AicMixcutTaskSavePostRequest) (*AicMixcutTaskSaveV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AicMixcutTaskSaveV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/aic/mixcut_task/save/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.aicMixcutTaskSaveV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
