/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandCreativeUpdateV30ApiService BrandCreativeUpdateV30Api service
type BrandCreativeUpdateV30ApiService service

type ApiOpenApiV30BrandCreativeUpdatePostRequest struct {
	ctx                           context.Context
	ApiService                    *BrandCreativeUpdateV30ApiService
	brandCreativeUpdateV30Request *BrandCreativeUpdateV30Request
}

func (r *ApiOpenApiV30BrandCreativeUpdatePostRequest) BrandCreativeUpdateV30Request(brandCreativeUpdateV30Request BrandCreativeUpdateV30Request) *ApiOpenApiV30BrandCreativeUpdatePostRequest {
	r.brandCreativeUpdateV30Request = &brandCreativeUpdateV30Request
	return r
}

func (r *ApiOpenApiV30BrandCreativeUpdatePostRequest) Execute() (*BrandCreativeUpdateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30BrandCreativeUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandCreativeUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandCreativeUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV30BrandCreativeUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandCreativeUpdatePost Method for OpenApiV30BrandCreativeUpdatePost

创意编辑

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandCreativeUpdatePostRequest
*/
func (a *BrandCreativeUpdateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30BrandCreativeUpdatePostRequest {
	return &ApiOpenApiV30BrandCreativeUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandCreativeUpdateV30Response
func (a *BrandCreativeUpdateV30ApiService) postExecute(r *ApiOpenApiV30BrandCreativeUpdatePostRequest) (*BrandCreativeUpdateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandCreativeUpdateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/creative/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.brandCreativeUpdateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
