/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsKeyActionGetV2ApiService ToolsKeyActionGetV2Api service
type ToolsKeyActionGetV2ApiService service

type ApiOpenApi2ToolsKeyActionGetGetRequest struct {
	ctx           context.Context
	ApiService    *ToolsKeyActionGetV2ApiService
	advertiserIds *[]int64
	endTime       *string
	page          *int64
	pageSize      *int64
	startTime     *string
}

func (r *ApiOpenApi2ToolsKeyActionGetGetRequest) AdvertiserIds(advertiserIds []int64) *ApiOpenApi2ToolsKeyActionGetGetRequest {
	r.advertiserIds = &advertiserIds
	return r
}

func (r *ApiOpenApi2ToolsKeyActionGetGetRequest) EndTime(endTime string) *ApiOpenApi2ToolsKeyActionGetGetRequest {
	r.endTime = &endTime
	return r
}

func (r *ApiOpenApi2ToolsKeyActionGetGetRequest) Page(page int64) *ApiOpenApi2ToolsKeyActionGetGetRequest {
	r.page = &page
	return r
}

func (r *ApiOpenApi2ToolsKeyActionGetGetRequest) PageSize(pageSize int64) *ApiOpenApi2ToolsKeyActionGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApi2ToolsKeyActionGetGetRequest) StartTime(startTime string) *ApiOpenApi2ToolsKeyActionGetGetRequest {
	r.startTime = &startTime
	return r
}

func (r *ApiOpenApi2ToolsKeyActionGetGetRequest) Execute() (*ToolsKeyActionGetV2Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApi2ToolsKeyActionGetGetRequest) AccessToken(accessToken string) *ApiOpenApi2ToolsKeyActionGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ToolsKeyActionGetGetRequest) WithLog(enable bool) *ApiOpenApi2ToolsKeyActionGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ToolsKeyActionGetGet Method for OpenApi2ToolsKeyActionGetGet

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ToolsKeyActionGetGetRequest
*/
func (a *ToolsKeyActionGetV2ApiService) Get(ctx context.Context) *ApiOpenApi2ToolsKeyActionGetGetRequest {
	return &ApiOpenApi2ToolsKeyActionGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsKeyActionGetV2Response
func (a *ToolsKeyActionGetV2ApiService) getExecute(r *ApiOpenApi2ToolsKeyActionGetGetRequest) (*ToolsKeyActionGetV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsKeyActionGetV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/tools/key_action/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.advertiserIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_ids", r.advertiserIds)
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
