/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ClueFormCreateV2ApiService ClueFormCreateV2Api service
type ClueFormCreateV2ApiService service

type ApiOpenApi2ClueFormCreatePostRequest struct {
	ctx                     context.Context
	ApiService              *ClueFormCreateV2ApiService
	clueFormCreateV2Request *ClueFormCreateV2Request
}

func (r *ApiOpenApi2ClueFormCreatePostRequest) ClueFormCreateV2Request(clueFormCreateV2Request ClueFormCreateV2Request) *ApiOpenApi2ClueFormCreatePostRequest {
	r.clueFormCreateV2Request = &clueFormCreateV2Request
	return r
}

func (r *ApiOpenApi2ClueFormCreatePostRequest) Execute() (*ClueFormCreateV2Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApi2ClueFormCreatePostRequest) AccessToken(accessToken string) *ApiOpenApi2ClueFormCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApi2ClueFormCreatePostRequest) WithLog(enable bool) *ApiOpenApi2ClueFormCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApi2ClueFormCreatePost Method for OpenApi2ClueFormCreatePost

API Description

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApi2ClueFormCreatePostRequest
*/
func (a *ClueFormCreateV2ApiService) Post(ctx context.Context) *ApiOpenApi2ClueFormCreatePostRequest {
	return &ApiOpenApi2ClueFormCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ClueFormCreateV2Response
func (a *ClueFormCreateV2ApiService) postExecute(r *ApiOpenApi2ClueFormCreatePostRequest) (*ClueFormCreateV2Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ClueFormCreateV2Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/2/clue/form/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.clueFormCreateV2Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
