/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsCommentReplyV30ApiService ToolsCommentReplyV30Api service
type ToolsCommentReplyV30ApiService service

type ApiOpenApiV30ToolsCommentReplyPostRequest struct {
	ctx                         context.Context
	ApiService                  *ToolsCommentReplyV30ApiService
	toolsCommentReplyV30Request *ToolsCommentReplyV30Request
}

func (r *ApiOpenApiV30ToolsCommentReplyPostRequest) ToolsCommentReplyV30Request(toolsCommentReplyV30Request ToolsCommentReplyV30Request) *ApiOpenApiV30ToolsCommentReplyPostRequest {
	r.toolsCommentReplyV30Request = &toolsCommentReplyV30Request
	return r
}

func (r *ApiOpenApiV30ToolsCommentReplyPostRequest) Execute() (*ToolsCommentReplyV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30ToolsCommentReplyPostRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsCommentReplyPostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsCommentReplyPostRequest) WithLog(enable bool) *ApiOpenApiV30ToolsCommentReplyPostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsCommentReplyPost Method for OpenApiV30ToolsCommentReplyPost

@PM2

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsCommentReplyPostRequest
*/
func (a *ToolsCommentReplyV30ApiService) Post(ctx context.Context) *ApiOpenApiV30ToolsCommentReplyPostRequest {
	return &ApiOpenApiV30ToolsCommentReplyPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsCommentReplyV30Response
func (a *ToolsCommentReplyV30ApiService) postExecute(r *ApiOpenApiV30ToolsCommentReplyPostRequest) (*ToolsCommentReplyV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsCommentReplyV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/comment/reply/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.toolsCommentReplyV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
