/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// AdvertiserVerifyInfoGetV30ApiService AdvertiserVerifyInfoGetV30Api service
type AdvertiserVerifyInfoGetV30ApiService service

type ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest struct {
	ctx          context.Context
	ApiService   *AdvertiserVerifyInfoGetV30ApiService
	advertiserId *int64
}

func (r *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

func (r *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest) Execute() (*AdvertiserVerifyInfoGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest) WithLog(enable bool) *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30AdvertiserVerifyInfoGetGet Method for OpenApiV30AdvertiserVerifyInfoGetGet

根据账户ID、平台，批量查询对公验证信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest
*/
func (a *AdvertiserVerifyInfoGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest {
	return &ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdvertiserVerifyInfoGetV30Response
func (a *AdvertiserVerifyInfoGetV30ApiService) getExecute(r *ApiOpenApiV30AdvertiserVerifyInfoGetGetRequest) (*AdvertiserVerifyInfoGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *AdvertiserVerifyInfoGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/advertiser/verify_info/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
